
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">ACCOUNTS<a href="https://grapi.slack.com/" target="_blank">Accounts Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/accounts/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('mxapi-mx-apis-products-accounts')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-products-accounts" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-products-accounts</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/mxapi/repos/mxapi-mx-apis-products-accounts/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of accounts.  

An account is an arranged financial product between a bank and a user, where a user may deposit and withdraw money and, in some cases, be paid interest.

There are several types of accounts based on various parameters such as the origin of the balance (current account or credit account), currency (foreign currency account), functionality (savings), etc.
</p>
    <h2>RESOURCES</h2>
    <div id="/itemized-balances" class="resource-table">
      <div ng-click="api.hide('/itemized-balances')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/itemized-balances</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/itemized-balances'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the itemized balance of a specific account from a  date range.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: itemizedbalancesActiveButton === 'get'}" ng-click="api.showMethod($event, 'itemizedbalances', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="itemizedbalances = 'get'; itemizedbalancesActiveButton = 'get'" ng-show="itemizedbalances === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/itemized-balances'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to retrieve the itemized balance of the an existing account.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">fromDate</span><span class="type">date-only</span>
                        </td>
                        <td>
                          <p>String based on ISO-8601 to filter the balances by the initial date of a period.
                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-06-01</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">toDate</span><span class="type">date-only</span>
                        </td>
                        <td>
                          <p>String based on ISO-8601 to filter the balances by the final date of a period.
                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-06-30</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="initialBalance display-name">initialBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The initial balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="finalBalance display-name">finalBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The final balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="incomeBalance display-name">incomeBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The incomes balance  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expenseBalance display-name">expenseBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The expenses balance  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creditLoansPaymentBalance display-name">creditLoansPaymentBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The balance payments credit card and loans  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="depositBalance display-name">depositBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The balance investment deposit of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="insuranceBalance display-name">insuranceBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The insurance balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;initialBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;finalBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;incomeBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;expenseBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;creditLoansPaymentBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;depositBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;insuranceBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;initialBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;finalBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;incomeBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;expenseBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;creditLoansPaymentBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;depositBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        },
        &quot;insuranceBalance&quot;: {
            &quot;amount&quot;: 15300,
            &quot;currency&quot;: &quot;MXN&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/financial-health-data" class="resource-table">
      <div ng-click="api.hide('/financial-health-data')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/financial-health-data</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/financial-health-data'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service that consists of showing the customer the financial status of their accounts.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: financialhealthdataActiveButton === 'get'}" ng-click="api.showMethod($event, 'financialhealthdata', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="financialhealthdata = 'get'; financialhealthdataActiveButton = 'get'" ng-show="financialhealthdata === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/financial-health-data'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to calculate the financial health of a client.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">fromDate</span><span class="type">date-only</span>
                        </td>
                        <td>
                          <p>String based on ISO-8601 to filter the balances by the initial date of a period.
                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-06-01</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">toDate</span><span class="type">date-only</span>
                        </td>
                        <td>
                          <p>String based on ISO-8601 to filter the balances by the final date of a period.
                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-06-30</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus display-name">healthStatus</span><span class="type">healthStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Service for retrieving the client\'s financial status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.id display-name">healthStatus.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the financial health data status.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">EXCELLENT: It indicates the financial health of excellent status customer.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">HEALTHY: It indicates the financial health of healthy status customer.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">STABLE: It indicates the financial health of stable status customer.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CRITICAL: It indicates the financial health of critical status customer.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.name display-name">healthStatus.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to the financial health data status. This name is used to describe the financial health data status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.healthTip display-name">healthStatus.healthTip</span><span class="type">healthTip</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Suggestion shown by each health data status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.healthTip display-name">healthStatus.healthTip.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the suggestion associated to the health data status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.healthTip display-name">healthStatus.healthTip.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the suggestion from the health data status. This name is used to describe the suggestion associated to health data status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.offer display-name">healthStatus.offer</span><span class="type">offer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Offer associated for each health data status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.offer display-name">healthStatus.offer.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique offer identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="healthStatus.offer display-name">healthStatus.offer.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name associated with the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance display-name">itemizedBalance</span><span class="type">itemizedBalance</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Service for retrieving the itemized balance of a specific account from a date range.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.initialBalance display-name">itemizedBalance.initialBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The initial balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.finalBalance display-name">itemizedBalance.finalBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The final balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.incomeBalance display-name">itemizedBalance.incomeBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The incomes balance  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.expenseBalance display-name">itemizedBalance.expenseBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The expenses balance  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.creditLoansPaymentBalance display-name">itemizedBalance.creditLoansPaymentBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The balance payments credit card and loans  of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.depositBalance display-name">itemizedBalance.depositBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The balance investment deposit of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="itemizedBalance.insuranceBalance display-name">itemizedBalance.insuranceBalance</span><span class="type">import</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The insurance balance of a consulted period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;healthStatus&quot;: {
            &quot;id&quot;: &quot;HEALTHY&quot;,
            &quot;name&quot;: &quot;HEALTHY&quot;,
            &quot;healthTip&quot;: {
                &quot;id&quot;: &quot;123&quot;,
                &quot;name&quot;: &quot;Saludable estado de cuentas.&quot;
            },
            &quot;offer&quot;: {
                &quot;id&quot;: &quot;2345&quot;,
                &quot;name&quot;: &quot;Puedes solicitar un aumento de crédito.&quot;
            }
        },
        &quot;itemizedBalance&quot;: {
            &quot;initialBalance&quot;: {
                &quot;amount&quot;: 9000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;finalBalance&quot;: {
                &quot;amount&quot;: 6000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;incomeBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;expenseBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;creditLoansPaymentBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;depositBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;insuranceBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            }
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;healthStatus&quot;: {
            &quot;id&quot;: &quot;HEALTHY&quot;,
            &quot;name&quot;: &quot;HEALTHY&quot;,
            &quot;healthTip&quot;: {
                &quot;id&quot;: &quot;123&quot;,
                &quot;name&quot;: &quot;Saludable estado de cuentas.&quot;
            },
            &quot;offer&quot;: {
                &quot;id&quot;: &quot;2345&quot;,
                &quot;name&quot;: &quot;Puedes solicitar un aumento de crédito.&quot;
            }
        },
        &quot;itemizedBalance&quot;: {
            &quot;initialBalance&quot;: {
                &quot;amount&quot;: 9000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;finalBalance&quot;: {
                &quot;amount&quot;: 6000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;incomeBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;expenseBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;creditLoansPaymentBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;depositBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            },
            &quot;insuranceBalance&quot;: {
                &quot;amount&quot;: 3000,
                &quot;currency&quot;: &quot;MXN&quot;
            }
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/accounts/{account-id}/financial-statements" class="resource-table">
      <div ng-click="api.hide('/accounts/{account-id}/financial-statements')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/accounts/{account-id}/financial-statements</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/accounts/{account-id}/financial-statements'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing all the financial statements related to a specific account. VirtualService: - API: Financial Statements - MasterService: GET /financial-statements - Linked by: accountId.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: accountsaccountidfinancialstatementsActiveButton === 'get'}" ng-click="api.showMethod($event, 'accountsaccountidfinancialstatements', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="accountsaccountidfinancialstatements = 'get'; accountsaccountidfinancialstatementsActiveButton = 'get'" ng-show="accountsaccountidfinancialstatements === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/accounts/{account-id}/financial-statements'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of periods related to financial statements documents  for determined product type.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">isActive</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>Filters the periods  of financial statements list by  active or historic.
                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>true</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">account-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique account identifier</p>
                        </td>
                        <td><span>1234</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="cutOffDate display-name">cutOffDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cut off date the period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isActive display-name">isActive</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this the periods  of account statements list by  active or historic.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="cutOffDate display-name">cutOffDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cut off date the period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isActive display-name">isActive</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this the periods  of account statements list by  active or historic.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards/{card-id}/statements&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 2
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards/{card-id}/statements&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/cards/v0/cards?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 2
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/accounts/{account-id}/financial-statements/{financial-statement-id}" class="resource-table">
      <div ng-click="api.hide('/accounts/{account-id}/financial-statements/{financial-statement-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/accounts/{account-id}/financial-statements/{financial-statement-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/accounts/{account-id}/financial-statements/{financial-statement-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for downloading the file of financial statement related to a specific account. VirtualService: - API: Financial Statements - MasterService: GET /financial-statements - Linked by: accountId.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: accountsaccountidfinancialstatementsfinancialstatementidActiveButton === 'get'}" ng-click="api.showMethod($event, 'accountsaccountidfinancialstatementsfinancialstatementid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="accountsaccountidfinancialstatementsfinancialstatementid = 'get'; accountsaccountidfinancialstatementsfinancialstatementidActiveButton = 'get'" ng-show="accountsaccountidfinancialstatementsfinancialstatementid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/accounts/{account-id}/financial-statements/{financial-statement-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for downloading the file of financial statement for determined product type.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">Content-type</span></td>
                        <td>
                          <pre>This header must provide the type the created resource.</pre>
                        </td>
                        <td>true</td>
                        <td>application/pdf</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">account-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique account identifier</p>
                        </td>
                        <td><span>1234</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">financial-statement-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique statement identifier</p>
                        </td>
                        <td><span>201507EWEDSDSDSOO232390230284HNCXMCNXC</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Binary File</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>