
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">LOYALTY<a href="https://grapi.slack.com/" target="_blank">Loyalty Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/loyalty/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-loyalty')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-loyalty" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-loyalty</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-loyalty/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of customer's loyalty programs.
 
These programs are mechanisms driven to maintain customer satisfaction and promoting his loyalty by making him engage in attractive and personalized offers and promotions through features such as: lotteries, special auctions, discounts, coupons, rewards, benefits, flight miles, points redemtion and other. Main goal is to make it easy for applications to track the progress of the activity of customers as participants of those progrmas.

Units accumulated in loyalty programs are the result of the participation of the customer as a part of the bank or as result of the use of his/her contracted products. Such units can be redeemed later in some way. Rules governing accumulation or consumption of such units may be diverse, orchestrated between bank's back-end systems and other thirdparties and business partners which may involve conversion into equivalent money, exchange for goods, preferential participation in other programs, discounts, and other types of benefits in the acquisition of some item by the customer.</p>
    <h2>RESOURCES</h2>
    <div id="/points/balances" class="resource-table">
      <div ng-click="api.hide('/points/balances')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/points/balances</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/points/balances'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the balance of points obtained or consumed by the customer as a result of his/her participation in some loyalty program. These balances represents all those points gathered or redeemed by the client and grouped independently of the financial product that has used, or the mechanism by which they has been accumulated/redeemed. Rules governing points accumulation or consumption may be diverse, orchestrated in back-end systems and may involve conversion into equivalent money, exchange for goods, preferential participation in other programs, discounts, and other types of benefits in the acquisition of some item by the customer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: pointsbalancesActiveButton === 'get'}" ng-click="api.showMethod($event, 'pointsbalances', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="pointsbalances = 'get'; pointsbalancesActiveButton = 'get'" ng-show="pointsbalances === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/points/balances'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving a detailed balance of accumulated and redeemed loyalty points of the customer.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accumulatedPoints display-name">accumulatedPoints</span><span class="type">accumulatedPoints</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Points accumulated as result of customer participation in some loyalty program. These points summarize those gathered by the client in independence of the financial product that has used, or the mechanism by which it has accumulated such points and represent the available total to be redeemed. Rules governing points accumulation or consumption may be diverse, orchestrated in back-end systems and may involve conversion into equivalent money, exchange for goods, preferential participation in other programs, discounts, and other types of benefits in the acquisition of some item by the customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accumulatedPoints.amount display-name">accumulatedPoints.amount</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total accumulated points. Such accumulated points may or may not have some monetary equivalent.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accumulatedPoints.exchangeUnit display-name">accumulatedPoints.exchangeUnit</span><span class="type">exchangeUnit</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Unit of exchange of points. It represents the relative equivalence between the set of accumulated points and a monetary unit in order to determine the conversion that would be applied to these points to make them consumable as money represented in a specific currency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accumulatedPoints.exchangeUnit display-name">accumulatedPoints.exchangeUnit.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of money equivalent for the accumulated points.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accumulatedPoints.exchangeUnit display-name">accumulatedPoints.exchangeUnit.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency in which the amount of money equivalent for the points accumulated is expressed.  
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="pointsToBeExpired display-name">pointsToBeExpired</span><span class="type">pointsToBeExpired</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accumulated of points that are close to expire. Accumulated points have an expiration date, period during which they must be redeemed in some way. In case of not being consumed in this period the points expire and therefore can not be used in any way. If such date is reached, said points will be excluded from the accumulated available to be redeemed by the client. The determination of the validity of the points may vary according to the conditions in which they were obtained, business rules or characteristics of the client and/or contracted products participating in the loyalty program.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="pointsToBeExpired.amount display-name">pointsToBeExpired.amount</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total accumulated points due to expire. Such accumulated points may or may not have some monetary equivalent.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="pointsToBeExpired.expirationDate display-name">pointsToBeExpired.expirationDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the date on which the points will expire.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expiredPoints display-name">expiredPoints</span><span class="type">expiredPoints</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accumulated points that have already expired. As accumulated points have an expiration date and this period has already been reached without having been consumed, these points can no longer be used in any way and therefore have been excluded from the accumulated available points to be redeemed by the client.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="expiredPoints.amount display-name">expiredPoints.amount</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total expired points.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalSaved display-name">totalSaved</span><span class="type">import</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Money that has been saved by the customer for the redemption of the points consumed. This attribute comes to mean the amount that the customer did not have to pay, using cash, for having used the accumulated points as a form of partial or total payment of the acquired good or exchange made. This calculation is made based on the conversion was applied, according to the current exchange units associated with the points in question, to the date on which the points used were redeemed. 
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalSaved.amount display-name">totalSaved.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of money saved as equivalent by the points redeemed by the client.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalSaved.currency display-name">totalSaved.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency in which the amount of money saved is expressed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="areRedeemable display-name">areRedeemable</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicator that determines if the total available points are redeemable in some way. The rules that govern the redemption of points can be diverse and since it resides in the bank\'s backend systems could vary from moment to moment causing that at certain timeline, the accumulated points may or may not be redeemable as part of some purchase or exchange that the customer have done or plan to do. If this indicator is true, it indicates that a total or partial redemption of the points can be made according to one of the available redemption modalities. Otherwise it indicates that temporary redemptions can not be made until the business rules that determine the possibility of redemption are satisfied.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Retrieving loyalty points balance - Full data'">Retrieving loyalty points balance - Full data</md-option>
                              <md-option ng-value="'Retrieving loyalty points balance - Minimal data'">Retrieving loyalty points balance - Minimal data</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieving loyalty points balance - Full data'">JSON output example for the full GET call over /points/balances</p>
                              <section ng-show="selectedExample === 'Retrieving loyalty points balance - Full data'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieving loyalty points balance - Full data'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieving loyalty points balance - Full data'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieving loyalty points balance - Full data' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieving loyalty points balance - Full data'" json="{
    &quot;data&quot;: {
        &quot;accumulatedPoints&quot;: {
            &quot;amount&quot;: 9335,
            &quot;exchangeUnit&quot;: {
                &quot;amount&quot;: 70938.33,
                &quot;currency&quot;: &quot;COP&quot;
            }
        },
        &quot;pointsToBeExpired&quot;: {
            &quot;amount&quot;: 7561,
            &quot;expirationDate&quot;: &quot;2017-10-02&quot;
        },
        &quot;expiredPoints&quot;: {
            &quot;amount&quot;: 4974
        },
        &quot;totalSaved&quot;: {
            &quot;amount&quot;: 180955.42,
            &quot;currency&quot;: &quot;COP&quot;
        },
        &quot;areRedeemable&quot;: false
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieving loyalty points balance - Full data' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;accumulatedPoints&quot;: {
            &quot;amount&quot;: 9335,
            &quot;exchangeUnit&quot;: {
                &quot;amount&quot;: 70938.33,
                &quot;currency&quot;: &quot;COP&quot;
            }
        },
        &quot;pointsToBeExpired&quot;: {
            &quot;amount&quot;: 7561,
            &quot;expirationDate&quot;: &quot;2017-10-02&quot;
        },
        &quot;expiredPoints&quot;: {
            &quot;amount&quot;: 4974
        },
        &quot;totalSaved&quot;: {
            &quot;amount&quot;: 180955.42,
            &quot;currency&quot;: &quot;COP&quot;
        },
        &quot;areRedeemable&quot;: false
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data'">JSON output example for the minimal GET call over /points/balances</p>
                              <section ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data'" json="{
    &quot;data&quot;: {
        &quot;accumulatedPoints&quot;: {
            &quot;amount&quot;: 9335
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieving loyalty points balance - Minimal data' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;accumulatedPoints&quot;: {
            &quot;amount&quot;: 9335
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Conflict</p>
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Customer not registered'">Customer not registered</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Customer not registered'">The request could not be completed due to customer has not been registered in the loyalty program.</p>
                              <section ng-show="selectedExample === 'Customer not registered'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Customer not registered'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Customer not registered'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Customer not registered' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Customer not registered'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;CUSTOMER_NOT_REGISTERED&quot;,
            &quot;message&quot;: &quot;The customer has not been registered in the loyalty program.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Customer not registered' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;CUSTOMER_NOT_REGISTERED&quot;,
            &quot;message&quot;: &quot;The customer has not been registered in the loyalty program.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>