
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CATALOGS<a href="https://grapi.slack.com/" target="_blank">Catalogs Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/catalogs/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-data-catalogs')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-catalogs" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-catalogs</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-data-catalogs/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service for managing data catalogs.

A data catalog is a closed list of possible values for a specific functional data type. Each catalog entry is provided within a key-value pair structure, where key is the identifier of the entry and value is the user-friendly label, description or name.

Catalogs will provide the same values for different APIs and customers, therefore, these values must be business-agnostic, i.e. states' 2-letter names or phone codes, file types, legal marital statuses, etc. For business-related values like card indicators and account types, the respective API's documentation or proper catalog endpoint must be consulted.

Catalogs are country-specific i.e. each country will provide a list of catalogs within a list of key-value pairs regardless of other countries' catalogs.
Both catalogs and key-value pairs can be different from one country to another.
The usual scenario for using a catalog is to provide the content of a dropdown list.</p>
    <h2>RESOURCES</h2>
    <div id="/catalogs" class="resource-table">
      <div ng-click="api.hide('/catalogs')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/catalogs</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/catalogs'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the available catalogs.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: catalogsActiveButton === 'get'}" ng-click="api.showMethod($event, 'catalogs', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="catalogs = 'get'; catalogsActiveButton = 'get'" ng-show="catalogs === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/catalogs'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving all the available data catalogs.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the results by id
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>locations</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">name</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the results by name
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>Job</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields: id of the catalog
                            <p> <i>Default value: id</i></p>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.
                            <p> <i>Default value: desc</i></p>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Catalog identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Catalog name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'List of catalogs'">List of catalogs</md-option>
                              <md-option ng-value="'List filtered by id'">List filtered by id</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'List of catalogs'">List of GET /catalogs</p>
                              <section ng-show="selectedExample === 'List of catalogs'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'List of catalogs'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'List of catalogs'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'List of catalogs' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'List of catalogs'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;JOBS&quot;,
            &quot;name&quot;: &quot;List of jobs&quot;
        },
        {
            &quot;id&quot;: &quot;CURRENCIES&quot;,
            &quot;name&quot;: &quot;List of currencies&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'List of catalogs' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;JOBS&quot;,
            &quot;name&quot;: &quot;List of jobs&quot;
        },
        {
            &quot;id&quot;: &quot;CURRENCIES&quot;,
            &quot;name&quot;: &quot;List of currencies&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'List filtered by id'">List filtered by id GET /catalogs?id=LOCATION</p>
                              <section ng-show="selectedExample === 'List filtered by id'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'List filtered by id'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'List filtered by id'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'List filtered by id' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'List filtered by id'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;LOCATIONSREGION&quot;,
            &quot;name&quot;: &quot;List of locations region&quot;
        },
        {
            &quot;id&quot;: &quot;LOCATIONSCOUNTRY&quot;,
            &quot;name&quot;: &quot;List of locations country&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'List filtered by id' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;LOCATIONSREGION&quot;,
            &quot;name&quot;: &quot;List of locations region&quot;
        },
        {
            &quot;id&quot;: &quot;LOCATIONSCOUNTRY&quot;,
            &quot;name&quot;: &quot;List of locations country&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/catalogs/{catalog-id}/records" class="resource-table">
      <div ng-click="api.hide('/catalogs/{catalog-id}/records')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/catalogs/{catalog-id}/records</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/catalogs/{catalog-id}/records'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the records of a given catalog.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: catalogscatalogidrecordsActiveButton === 'get'}" ng-click="api.showMethod($event, 'catalogscatalogidrecords', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="catalogscatalogidrecords = 'get'; catalogscatalogidrecordsActiveButton = 'get'" ng-show="catalogscatalogidrecords === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/catalogs/{catalog-id}/records'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of records of a given catalog.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">isActive</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>Filters the records by active status
                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>true</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields: id of the record
                            <p> <i>Default value: id</i></p>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.
                            <p> <i>Default value: desc</i></p>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">catalog-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique catalog identifier</p>
                        </td>
                        <td><span>JOBS</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Record identifier. This is the keyname of the catalog entry.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="descriptions display-name">descriptions</span><span class="type">description [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of available descriptions of the record. This list may include more than an entry depending on the number of provided languages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="descriptions.description display-name">descriptions.description.language</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Language of the description based in ISO 639-2/T.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">SPA: Spanish language.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ENG: English language.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CAT: Catalan language.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">FRA: French language.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="descriptions.description display-name">descriptions.description.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description text.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ABO&quot;,
            &quot;descriptions&quot;: [
                {
                    &quot;language&quot;: &quot;SPA&quot;,
                    &quot;value&quot;: &quot;ABOGADO&quot;
                },
                {
                    &quot;language&quot;: &quot;ENG&quot;,
                    &quot;value&quot;: &quot;LAWYER&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;ADM&quot;,
            &quot;descriptions&quot;: [
                {
                    &quot;language&quot;: &quot;SPA&quot;,
                    &quot;value&quot;: &quot;ADMINISTRATIVO/OPERATIVO/SECRETARIA&quot;
                },
                {
                    &quot;language&quot;: &quot;ENG&quot;,
                    &quot;value&quot;: &quot;ADMINISTRATIVE / EXECUTIVE / SECRETARY&quot;
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ABO&quot;,
            &quot;descriptions&quot;: [
                {
                    &quot;language&quot;: &quot;SPA&quot;,
                    &quot;value&quot;: &quot;ABOGADO&quot;
                },
                {
                    &quot;language&quot;: &quot;ENG&quot;,
                    &quot;value&quot;: &quot;LAWYER&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;ADM&quot;,
            &quot;descriptions&quot;: [
                {
                    &quot;language&quot;: &quot;SPA&quot;,
                    &quot;value&quot;: &quot;ADMINISTRATIVO/OPERATIVO/SECRETARIA&quot;
                },
                {
                    &quot;language&quot;: &quot;ENG&quot;,
                    &quot;value&quot;: &quot;ADMINISTRATIVE / EXECUTIVE / SECRETARY&quot;
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not found.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>