
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">NOTIFICATIONS<a href="https://grapi.slack.com/" target="_blank">Notifications Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/notifications/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('veapi-ve-apis-products-notifications')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/veapi/repos/veapi-ve-apis-products-notifications" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/veapi/repos/veapi-ve-apis-products-notifications</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/veapi/repos/veapi-ve-apis-products-notifications/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>Management of the necessary information for the financial products associated to the subscription of a client. Financial products are those offered by a company aiming to provide a service to meet a need.
</p>
    <h2>RESOURCES</h2>
    <div id="/subscriptions/{subscription-id}/products" class="resource-table">
      <div ng-click="api.hide('/subscriptions/{subscription-id}/products')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/subscriptions/{subscription-id}/products</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/products'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the products of a subscription.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: subscriptionssubscriptionidproductsActiveButton === 'get'}" ng-click="api.showMethod($event, 'subscriptionssubscriptionidproducts', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="subscriptionssubscriptionidproducts = 'get'; subscriptionssubscriptionidproductsActiveButton = 'get'" ng-show="subscriptionssubscriptionidproducts === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/products'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the products of a subscription.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">subscription-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique subscription identifier</p>
                        </td>
                        <td><span>04521234567</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="number display-name">number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product number. This number consists in an alpha-numerical sequence to identify a specific hired product.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType display-name">numberType</span><span class="type">productNumberTypes</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of product number.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.id display-name">numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the type of product number.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PAN: Primary Account Number. It consists of 14, 15 or 16 digit numbers that are embossed and/or encoded on a plastic card that identifies the issuer and the particular cardholder account</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SIMPLE_ACCOUNT: This attribute is used to manage the Simple Account number value.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LIC: Local Internal Code. This code is a BBVA internal code generated by those countries where there's no official regulation for numbering bank accounts</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SPEI: Electronic Payments Interbanking System (Sistema de Pagos Electrónicos Interbancarios). This format is used for making transfers easily by only knowing the phone number of the transferee</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CLABE: Clave Bancaria Estandarizada, Spanish for 'Standardized Banking Cipher'. It is a banking standard for the numbering of bank accounts in Mexico</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SWIFT: Society for Worldwide Interbank Financial Telecommunication. Provides the Bank Identifier Code (BIC) that identifies financial institutions, without going into the specific account</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">IBAN: Internacional Bank Account Number. Is the standard 'EBS204', also according to the ISO 13616, of the European Committee for Banking Standards for identify Bank Accounts</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CCC: Código Cuenta Cliente, Spanish for 'Customer Account Code'. It is a name given in Spain to a standard Bank Account</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.name display-name">numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'name of type product associated to the subscription.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType display-name">productType</span><span class="type">productType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType.id display-name">productType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type identifier.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARD: Product type is a card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ACCOUNT: Product type is an account.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType.name display-name">productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type description associated to the subscription.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation display-name">affiliation</span><span class="type">affiliation</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product affiliation.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation.creationDate display-name">affiliation.creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Affiliation date.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation.status display-name">affiliation.status</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product affiliation status.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;45236987451236985&quot;,
            &quot;number&quot;: &quot;45236987451236985&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;PAN&quot;,
                &quot;name&quot;: &quot;Permanent Account Number&quot;
            },
            &quot;productType&quot;: {
                &quot;id&quot;: &quot;CARD&quot;,
                &quot;name&quot;: &quot;Credit Card&quot;
            },
            &quot;affiliation&quot;: {
                &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
                &quot;status&quot;: &quot;01&quot;
            }
        },
        {
            &quot;id&quot;: &quot;45236987451236976&quot;,
            &quot;number&quot;: &quot;45236987451236976&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;LIC&quot;,
                &quot;name&quot;: &quot;Local Internal Code&quot;
            },
            &quot;productType&quot;: {
                &quot;id&quot;: &quot;ACCOUNT&quot;,
                &quot;name&quot;: &quot;Account&quot;
            },
            &quot;affiliation&quot;: {
                &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
                &quot;status&quot;: &quot;00&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;45236987451236985&quot;,
            &quot;number&quot;: &quot;45236987451236985&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;PAN&quot;,
                &quot;name&quot;: &quot;Permanent Account Number&quot;
            },
            &quot;productType&quot;: {
                &quot;id&quot;: &quot;CARD&quot;,
                &quot;name&quot;: &quot;Credit Card&quot;
            },
            &quot;affiliation&quot;: {
                &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
                &quot;status&quot;: &quot;01&quot;
            }
        },
        {
            &quot;id&quot;: &quot;45236987451236976&quot;,
            &quot;number&quot;: &quot;45236987451236976&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;LIC&quot;,
                &quot;name&quot;: &quot;Local Internal Code&quot;
            },
            &quot;productType&quot;: {
                &quot;id&quot;: &quot;ACCOUNT&quot;,
                &quot;name&quot;: &quot;Account&quot;
            },
            &quot;affiliation&quot;: {
                &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
                &quot;status&quot;: &quot;00&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/subscriptions/{subscription-id}/products/{product-id}" class="resource-table">
      <div ng-click="api.hide('/subscriptions/{subscription-id}/products/{product-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/subscriptions/{subscription-id}/products/{product-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/products/{product-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the information of a specific product
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: subscriptionssubscriptionidproductsproductidActiveButton === 'get'}" ng-click="api.showMethod($event, 'subscriptionssubscriptionidproductsproductid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="subscriptionssubscriptionidproductsproductid = 'get'; subscriptionssubscriptionidproductsproductidActiveButton = 'get'" ng-show="subscriptionssubscriptionidproductsproductid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/products/{product-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the information associated to specific product.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">subscription-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique subscription identifier</p>
                        </td>
                        <td><span>04521234567</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">product-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique product identifier</p>
                        </td>
                        <td><span>CC07</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="number display-name">number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product number. This number consists in an alpha-numerical sequence to identify a specific hired product.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType display-name">numberType</span><span class="type">productNumberTypes</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of product number.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.id display-name">numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the type of product number.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PAN: Primary Account Number. It consists of 14, 15 or 16 digit numbers that are embossed and/or encoded on a plastic card that identifies the issuer and the particular cardholder account</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SIMPLE_ACCOUNT: This attribute is used to manage the Simple Account number value.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LIC: Local Internal Code. This code is a BBVA internal code generated by those countries where there's no official regulation for numbering bank accounts</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SPEI: Electronic Payments Interbanking System (Sistema de Pagos Electrónicos Interbancarios). This format is used for making transfers easily by only knowing the phone number of the transferee</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CLABE: Clave Bancaria Estandarizada, Spanish for 'Standardized Banking Cipher'. It is a banking standard for the numbering of bank accounts in Mexico</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SWIFT: Society for Worldwide Interbank Financial Telecommunication. Provides the Bank Identifier Code (BIC) that identifies financial institutions, without going into the specific account</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">IBAN: Internacional Bank Account Number. Is the standard 'EBS204', also according to the ISO 13616, of the European Committee for Banking Standards for identify Bank Accounts</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CCC: Código Cuenta Cliente, Spanish for 'Customer Account Code'. It is a name given in Spain to a standard Bank Account</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.name display-name">numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'name of type product associated to the subscription.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType display-name">productType</span><span class="type">productType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType.id display-name">productType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type identifier.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARD: Product type is a card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ACCOUNT: Product type is an account.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productType.name display-name">productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type description associated to the subscription.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation display-name">affiliation</span><span class="type">affiliation</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product affiliation.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation.creationDate display-name">affiliation.creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Affiliation date.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="affiliation.status display-name">affiliation.status</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product affiliation status.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;45236987451236985&quot;,
        &quot;number&quot;: &quot;45236987451236985&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;PAN&quot;,
            &quot;name&quot;: &quot;Permanent Account Number&quot;
        },
        &quot;productType&quot;: {
            &quot;id&quot;: &quot;CARD&quot;,
            &quot;name&quot;: &quot;Credit Card&quot;
        },
        &quot;affiliation&quot;: {
            &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
            &quot;status&quot;: &quot;01&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;45236987451236985&quot;,
        &quot;number&quot;: &quot;45236987451236985&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;PAN&quot;,
            &quot;name&quot;: &quot;Permanent Account Number&quot;
        },
        &quot;productType&quot;: {
            &quot;id&quot;: &quot;CARD&quot;,
            &quot;name&quot;: &quot;Credit Card&quot;
        },
        &quot;affiliation&quot;: {
            &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
            &quot;status&quot;: &quot;01&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/subscriptions/{subscription-id}/affiliations" class="resource-table">
      <div ng-click="api.hide('/subscriptions/{subscription-id}/affiliations')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/subscriptions/{subscription-id}/affiliations</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/affiliations'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service to affiliate products to a subscription.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: subscriptionssubscriptionidaffiliationsActiveButton === 'post'}" ng-click="api.showMethod($event, 'subscriptionssubscriptionidaffiliations', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="subscriptionssubscriptionidaffiliations = 'post'; subscriptionssubscriptionidaffiliationsActiveButton = 'post'" ng-show="subscriptionssubscriptionidaffiliations === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/affiliations'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to affiliate products to a subscription.</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">expand</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Expand the selected subresource of each affiliation. Possible values for this parameter are: product.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>product</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">subscription-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p></p>
                        </td>
                        <td><span></span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product identifier.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="number display-name">number</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product number. This number consists in an alpha-numerical sequence to identify a specific hired product.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="numberType display-name">numberType</span><span class="type">productNumberTypes</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Type of product number.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="numberType.id display-name">numberType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier associated to the type of product number.'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PAN: Primary Account Number. It consists of 14, 15 or 16 digit numbers that are embossed and/or encoded on a plastic card that identifies the issuer and the particular cardholder account</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SIMPLE_ACCOUNT: This attribute is used to manage the Simple Account number value.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">LIC: Local Internal Code. This code is a BBVA internal code generated by those countries where there's no official regulation for numbering bank accounts</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SPEI: Electronic Payments Interbanking System (Sistema de Pagos Electrónicos Interbancarios). This format is used for making transfers easily by only knowing the phone number of the transferee</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CLABE: Clave Bancaria Estandarizada, Spanish for 'Standardized Banking Cipher'. It is a banking standard for the numbering of bank accounts in Mexico</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SWIFT: Society for Worldwide Interbank Financial Telecommunication. Provides the Bank Identifier Code (BIC) that identifies financial institutions, without going into the specific account</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">IBAN: Internacional Bank Account Number. Is the standard 'EBS204', also according to the ISO 13616, of the European Committee for Banking Standards for identify Bank Accounts</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CCC: Código Cuenta Cliente, Spanish for 'Customer Account Code'. It is a name given in Spain to a standard Bank Account</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="numberType.name display-name">numberType.name</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'name of type product associated to the subscription.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="productType display-name">productType</span><span class="type">productType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product type.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="productType.id display-name">productType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product type identifier.'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">CARD: Product type is a card.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">ACCOUNT: Product type is an account.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="productType.name display-name">productType.name</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Financial product type description associated to the subscription.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;id&quot;: &quot;45236987451236985&quot;,
    &quot;number&quot;: &quot;45236987451236985&quot;,
    &quot;numberType&quot;: {
        &quot;id&quot;: &quot;PAN&quot;,
        &quot;name&quot;: &quot;Permanent Account Number&quot;
    },
    &quot;productType&quot;: {
        &quot;id&quot;: &quot;CARD&quot;,
        &quot;name&quot;: &quot;Credit Card&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;id&quot;: &quot;45236987451236985&quot;,
    &quot;number&quot;: &quot;45236987451236985&quot;,
    &quot;numberType&quot;: {
        &quot;id&quot;: &quot;PAN&quot;,
        &quot;name&quot;: &quot;Permanent Account Number&quot;
    },
    &quot;productType&quot;: {
        &quot;id&quot;: &quot;CARD&quot;,
        &quot;name&quot;: &quot;Credit Card&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to get the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/subscriptions/0104525621452CC07/affiliations</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Affiliation identifier.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="code display-name">code</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Affiliation code.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Affiliation date.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product affiliation status.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;16&quot;,
        &quot;code&quot;: &quot;TV01&quot;,
        &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
        &quot;status&quot;: &quot;01&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;16&quot;,
        &quot;code&quot;: &quot;TV01&quot;,
        &quot;creationDate&quot;: &quot;2017-02-28T17:41:41.090Z&quot;,
        &quot;status&quot;: &quot;01&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/subscriptions/{subscription-id}/affiliations/{affiliation-id}" class="resource-table">
      <div ng-click="api.hide('/subscriptions/{subscription-id}/affiliations/{affiliation-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/subscriptions/{subscription-id}/affiliations/{affiliation-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services patch">PATCH</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/affiliations/{affiliation-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service to affiliate a product to a subscription.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="patch" ng-class="{active: subscriptionssubscriptionidaffiliationsaffiliationidActiveButton === 'patch'}" ng-click="api.showMethod($event, 'subscriptionssubscriptionidaffiliationsaffiliationid', 'patch')" class="md-primary button-menu">patch</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="patch" ng-init="subscriptionssubscriptionidaffiliationsaffiliationid = 'patch'; subscriptionssubscriptionidaffiliationsaffiliationidActiveButton = 'patch'" ng-show="subscriptionssubscriptionidaffiliationsaffiliationid === 'patch'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/subscriptions/{subscription-id}/affiliations/{affiliation-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='patch'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to update status a specific product.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">subscription-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p></p>
                        </td>
                        <td><span></span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">affiliation-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p></p>
                        </td>
                        <td><span></span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Affiliation identifier.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="status display-name">status</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product affiliation status.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;id&quot;: &quot;16&quot;,
    &quot;status&quot;: &quot;01&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;id&quot;: &quot;16&quot;,
    &quot;status&quot;: &quot;01&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>