.develop
  h1 Versioned
  h3 Select a repository
  md-select(ng-model="versioned.repoName" ng-change="versioned.getInfoRepoVersion()" placeholder="Repository name")
    md-option(ng-repeat="nameRepo in versioned.repositories track by $index" value="{{nameRepo}}") {{nameRepo}}
  h3 Select a resource
  md-select(ng-model="versioned.resource"  placeholder="Resource name")
    md-option(ng-repeat="(key, resource) in versioned.infoVersions" value="{{key}}") {{key}}