
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CRYPTOGRAPHY<a href="https://grapi.slack.com/" target="_blank">Cryptography Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/cryptography/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-cryptography-apis-cryptoaas')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-cryptoaas" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-cryptoaas</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-cryptography-apis-cryptoaas/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services for transforming documents using cryptographic algorithms as a service.

Many bank departments are using cryptographic algorithms to encrypt, decrypt, tokenize, mask, ... and most of them are using third party applications or a SDK in local. The goal is to reduce costs and have better maintenance of critical operations.

In one hand, there are many cryptographic algorithms used by most of departments to do several critical operations, and in the other hand, this world, Cryptography, is in continuous change. This system has been created to cover these two needs. Users can do operations like encrypt, decrypt, tokenize, mask, unmask, hash, ... with all the algorithms demanded.
</p>
    <h2>RESOURCES</h2>
    <div id="/crypto-documents" class="resource-table">
      <div ng-click="api.hide('/crypto-documents')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/crypto-documents</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/crypto-documents'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service to apply cryptography algorithms in documents to encrypt, decrypt, tokenize, ... .This transformation must be transparent for the user.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: cryptodocumentsActiveButton === 'post'}" ng-click="api.showMethod($event, 'cryptodocuments', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="cryptodocuments = 'post'; cryptodocumentsActiveButton = 'post'" ng-show="cryptodocuments === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/crypto-documents'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieve the result of applying cryptographic algorithms into a document. For example, encrypt a sentence, decrypt a sentence, mask a card number, ....
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contexts display-name">contexts</span><span class="type">context [ ]</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Context to each operation. It\'s dynamic because, it\'s depending on determined operations is invoke by the policy associated to the application. You can see more about context in directory docs in the repository.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contexts.context display-name">contexts.context.name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Context field identifier. It\'s the key of the object key-value in the context subdocument.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="contexts.context display-name">contexts.context.value</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Context field value. It\'s the value of the object key-value in the context subdocument.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="stream display-name">stream</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Stream to apply the cryptographic algorithm. It is the input document to be modified.'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="codec display-name">codec</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Input format algorithm used'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PLAIN: Textplain</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">B64: Base 64</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">HEX: Hexadecimal</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;stream&quot;: &quot;Stream to be apply to the algorithm&quot;,
    &quot;contexts&quot;: [
        {
            &quot;name&quot;: &quot;operation&quot;,
            &quot;value&quot;: &quot;do&quot;
        },
        {
            &quot;name&quot;: &quot;security&quot;,
            &quot;value&quot;: &quot;4&quot;
        },
        {
            &quot;name&quot;: &quot;any&quot;,
            &quot;value&quot;: &quot;any&quot;
        }
    ],
    &quot;codec&quot;: &quot;PLAIN&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;stream&quot;: &quot;Stream to be apply to the algorithm&quot;,
    &quot;contexts&quot;: [
        {
            &quot;name&quot;: &quot;operation&quot;,
            &quot;value&quot;: &quot;do&quot;
        },
        {
            &quot;name&quot;: &quot;security&quot;,
            &quot;value&quot;: &quot;4&quot;
        },
        {
            &quot;name&quot;: &quot;any&quot;,
            &quot;value&quot;: &quot;any&quot;
        }
    ],
    &quot;codec&quot;: &quot;PLAIN&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>The document transformation has been done successfully.
</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="document display-name">document</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Result of the tranformation by cryptographic algorithm.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;document&quot;: &quot;5031d7bccdd503a72977d34d403715fc7aa6391f41aaac3177a4df8862471f40&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;document&quot;: &quot;5031d7bccdd503a72977d34d403715fc7aa6391f41aaac3177a4df8862471f40&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>