
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">RECOMMENDATIONS<a href="https://grapi.slack.com/" target="_blank">Recommendations Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/recommendations/0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-dataanalytics-recommendations')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-dataanalytics-recommendations" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-dataanalytics-recommendations</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-dataanalytics-recommendations/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services to manage recommedations.

A recommendation is a triplet consisting of a customer, merchant and a score.
</p>
    <h2>RESOURCES</h2>
    <div id="/customer-recommendations" class="resource-table">
      <div ng-click="api.hide('/customer-recommendations')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/customer-recommendations</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/customer-recommendations'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for giving a recommedation specification generate a recommendation request
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: customerrecommendationsActiveButton === 'post'}" ng-click="api.showMethod($event, 'customerrecommendations', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="customerrecommendations = 'post'; customerrecommendationsActiveButton = 'post'" ng-show="customerrecommendations === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/customer-recommendations'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new recommedation request
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="mode display-name">mode</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It defines if the request recommendation while execute on a GRAPH or GENERIC mode'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">GRAPH: The recommendations have been calculated based on a similarity graph mode</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">GENERIC: The recommendations have been calculated based on a generic mode</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="merchant display-name">merchant</span><span class="type">merchant</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It defines how the merchant is going to be defined, whether it only has a name or also a list of number identifiers associated or both'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="merchant.name display-name">merchant.name</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Merchant name'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="merchant.numbers display-name">merchant.numbers</span><span class="type">string[]</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Commerce identifier list
'"></span>
                          <div class="enum">
                          </div>
                          <div layout="row" class="annotation">
                            <div flex="10" class="country-flag"><img src="assets/flags/es.png"/></div>
                            <div flex="90" class="annotation-description">
                              <p>This identifier refers to FUCS list</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="params display-name">params</span><span class="type">params</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'It defines specification params'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="params.minimumDate display-name">params.minimumDate</span><span class="type">date-only</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-8601 date format when the recommendation system starts'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="params.maximumDate display-name">params.maximumDate</span><span class="type">date-only</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-8601 date format when the recommendation system ends'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="params.maximumCommerces display-name">params.maximumCommerces</span><span class="type">integer</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Max number of commerces that are defined in the recommendation
'"></span>
                          <div class="enum">
                          </div>
                          <div layout="row" class="annotation">
                            <div flex="10" class="country-flag"><img src="assets/flags/es.png"/></div>
                            <div flex="90" class="annotation-description">
                              <p>This identifier refers to a maximum number of &quot;FUCS&quot;</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="params.maximumFixedCustomers display-name">params.maximumFixedCustomers</span><span class="type">integer</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Maximum total fixed number of customers'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'JSON for a graph mode request'">JSON for a graph mode request</md-option>
                      <md-option ng-value="'JSON for a graph mode with only name merchant request'">JSON for a graph mode with only name merchant request</md-option>
                      <md-option ng-value="'JSON for a graph mode with only FUCS merchant request'">JSON for a graph mode with only FUCS merchant request</md-option>
                      <md-option ng-value="'JSON for a generic mode request'">JSON for a generic mode request</md-option>
                    </md-select>
                    <div class="example">
                      <p ng-show="selectedExample === 'JSON for a graph mode request'">JSON input example for a POST /customer-recommendations for a graph mode</p>
                      <section ng-show="selectedExample === 'JSON for a graph mode request'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'JSON for a graph mode request'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'JSON for a graph mode request'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'JSON for a graph mode request' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;,
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'JSON for a graph mode request' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;,
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'JSON for a graph mode with only name merchant request'">JSON input example for a POST /customer-recommendations for a graph mode with only name merchant</p>
                      <section ng-show="selectedExample === 'JSON for a graph mode with only name merchant request'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'JSON for a graph mode with only name merchant request'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'JSON for a graph mode with only name merchant request'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'JSON for a graph mode with only name merchant request' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'JSON for a graph mode with only name merchant request' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request'">JSON input example for a POST /customer-recommendations for a graph mode with only FUCS merchant</p>
                      <section ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'JSON for a graph mode with only FUCS merchant request' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;mode&quot;: &quot;GRAPH&quot;,
    &quot;merchant&quot;: {
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'JSON for a generic mode request'">JSON input example for a POST /customer-recommendations for a generic mode</p>
                      <section ng-show="selectedExample === 'JSON for a generic mode request'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'JSON for a generic mode request'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'JSON for a generic mode request'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'JSON for a generic mode request' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;mode&quot;: &quot;GENERIC&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;,
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'JSON for a generic mode request' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;mode&quot;: &quot;GENERIC&quot;,
    &quot;merchant&quot;: {
        &quot;name&quot;: &quot;zalando&quot;,
        &quot;numbers&quot;: [
            &quot;1111&quot;,
            &quot;2222&quot;
        ]
    },
    &quot;params&quot;: {
        &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
        &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
        &quot;maximumCommerces&quot;: 200,
        &quot;maximumFixedCustomers&quot;: 25
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Created</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>customer-recommendations/1ae4822wsss2</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'undefined'"></md-option>
                              <md-option ng-value="'JSON for a bad interval dates request'">JSON for a bad interval dates request</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'undefined'"></p>
                              <section ng-show="selectedExample === 'undefined'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'undefined'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'undefined'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'undefined' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'undefined'" json="&quot;errors.errors&quot;" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'undefined' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>&quot;errors.errors&quot;</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'JSON for a bad interval dates request'">JSON output example for a POST /customer-recommendations for a bad interval dates request</p>
                              <section ng-show="selectedExample === 'JSON for a bad interval dates request'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'JSON for a bad interval dates request'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'JSON for a bad interval dates request'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'JSON for a bad interval dates request' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'JSON for a bad interval dates request'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;intervaloDeFechasNoValido&quot;,
            &quot;message&quot;: &quot;El intervalo de fechas no es valido&quot;,
            &quot;parameters&quot;: [
                {
                    &quot;minimumDate&quot;: &quot;2015-01-21&quot;
                },
                {
                    &quot;maximumDate&quot;: &quot;2017-01-21&quot;
                }
            ],
            &quot;type&quot;: &quot;FATAL&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'JSON for a bad interval dates request' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;intervaloDeFechasNoValido&quot;,
            &quot;message&quot;: &quot;El intervalo de fechas no es valido&quot;,
            &quot;parameters&quot;: [
                {
                    &quot;minimumDate&quot;: &quot;2015-01-21&quot;
                },
                {
                    &quot;maximumDate&quot;: &quot;2017-01-21&quot;
                }
            ],
            &quot;type&quot;: &quot;FATAL&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/customer-recommendations/{customer-recommendation-id}" class="resource-table">
      <div ng-click="api.hide('/customer-recommendations/{customer-recommendation-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/customer-recommendations/{customer-recommendation-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/customer-recommendations/{customer-recommendation-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for requesting the customer recommendation
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: customerrecommendationscustomerrecommendationidActiveButton === 'get'}" ng-click="api.showMethod($event, 'customerrecommendationscustomerrecommendationid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="customerrecommendationscustomerrecommendationid = 'get'; customerrecommendationscustomerrecommendationidActiveButton = 'get'" ng-show="customerrecommendationscustomerrecommendationid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/customer-recommendations/{customer-recommendation-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting the recommendation result, i.e, the status, recommendation specification and the presigned url if created for a specific recommendation identifier
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customer-recommendation-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>customer recommendation identifier provided by the ApiRec backend</p>
                        </td>
                        <td><span>1ae4822wsss2</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Recommendation identifier'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="mode display-name">mode</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It defines if the request recommendation while execute on a GRAPH or GENERIC mode'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">GRAPH: The recommendations have been calculated based on a similarity graph mode</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GENERIC: The recommendations have been calculated based on a generic mode</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="merchant display-name">merchant</span><span class="type">merchant</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It defines how the merchant is going to be defined, whether it only has a name or also a list of number identifiers associated or both'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="merchant.name display-name">merchant.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Merchant name'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="merchant.numbers display-name">merchant.numbers</span><span class="type">string[]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Commerce identifier list
'"></span>
                                  <div class="enum">
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/es.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>This identifier refers to FUCS list</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="params display-name">params</span><span class="type">params</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'It defines specification params'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="params.minimumDate display-name">params.minimumDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format when the recommendation system starts'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="params.maximumDate display-name">params.maximumDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format when the recommendation system ends'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="params.maximumCommerces display-name">params.maximumCommerces</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Max number of commerces that are defined in the recommendation
'"></span>
                                  <div class="enum">
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/es.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>This identifier refers to a maximum number of &quot;FUCS&quot;</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="params.maximumFixedCustomers display-name">params.maximumFixedCustomers</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Maximum total fixed number of customers'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="customers display-name">customers</span><span class="type">customers</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Detail of the customers recommendation and its status'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="customers.href display-name">customers.href</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Presigned URL to the resource'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="customers.status display-name">customers.status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Pending or done depending if the detail of the recommendation is ready'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">DONE: The recommendation has already finished.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: The recommendation has not finished yet.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'JSON for a request with detial in PENDING status'">JSON for a request with detial in PENDING status</md-option>
                              <md-option ng-value="'JSON for a request with detial in PENDING status and only merchant name'">JSON for a request with detial in PENDING status and only merchant name</md-option>
                              <md-option ng-value="'JSON for a request with detial in DONE status'">JSON for a request with detial in DONE status</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'JSON for a request with detial in PENDING status'">JSON out example for a GET /customer-recommendations/{customer-recommendation-id} for a pending request</p>
                              <section ng-show="selectedExample === 'JSON for a request with detial in PENDING status'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'JSON for a request with detial in PENDING status'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'JSON for a request with detial in PENDING status'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'JSON for a request with detial in PENDING status' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'JSON for a request with detial in PENDING status'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;,
            &quot;numbers&quot;: [
                &quot;1111&quot;,
                &quot;2222&quot;
            ]
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;PENDING&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'JSON for a request with detial in PENDING status' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;,
            &quot;numbers&quot;: [
                &quot;1111&quot;,
                &quot;2222&quot;
            ]
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;PENDING&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name'">JSON out example for a GET /customer-recommendations/{customer-recommendation-id} for a pending just merchant name request</p>
                              <section ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;PENDING&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'JSON for a request with detial in PENDING status and only merchant name' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;PENDING&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'JSON for a request with detial in DONE status'">JSON out example for a GET /customer-recommendations/{customer-recommendation-id} for a done request</p>
                              <section ng-show="selectedExample === 'JSON for a request with detial in DONE status'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'JSON for a request with detial in DONE status'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'JSON for a request with detial in DONE status'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'JSON for a request with detial in DONE status' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'JSON for a request with detial in DONE status'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;,
            &quot;numbers&quot;: [
                &quot;1111&quot;,
                &quot;2222&quot;
            ]
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;DONE&quot;,
            &quot;href&quot;: &quot;https://recomendation.s3.amazonaws.com/1ae4822wsss2?AWSAccessKeyId=AKIAIVYJKEHHNSI2MAA&amp;Expires=1485863848&amp;Signature=5Rw%2FHj1CDagHNVG8GNojx8rB8s0%3D&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'JSON for a request with detial in DONE status' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;1&quot;,
        &quot;mode&quot;: &quot;GRAPH&quot;,
        &quot;merchant&quot;: {
            &quot;name&quot;: &quot;zalando&quot;,
            &quot;numbers&quot;: [
                &quot;1111&quot;,
                &quot;2222&quot;
            ]
        },
        &quot;params&quot;: {
            &quot;minimumDate&quot;: &quot;2017-01-01&quot;,
            &quot;maximumDate&quot;: &quot;2017-01-31&quot;,
            &quot;maximumCommerces&quot;: 200,
            &quot;maximumFixedCustomers&quot;: 25
        },
        &quot;customers&quot;: {
            &quot;status&quot;: &quot;DONE&quot;,
            &quot;href&quot;: &quot;https://recomendation.s3.amazonaws.com/1ae4822wsss2?AWSAccessKeyId=AKIAIVYJKEHHNSI2MAA&amp;Expires=1485863848&amp;Signature=5Rw%2FHj1CDagHNVG8GNojx8rB8s0%3D&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>