
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">IMAGES<a href="https://grapi.slack.com/" target="_blank">Images Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/images/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-data-images')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-images" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-images</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-data-images/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API returns specific business related images for an application, for instance: cover card images.
</p>
    <h2>RESOURCES</h2>
    <div id="/covers" class="resource-table">
      <div ng-click="api.hide('/covers')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/covers</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/covers'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for gettings the cover of the image.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: coversActiveButton === 'get'}" ng-click="api.showMethod($event, 'covers', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="covers = 'get'; coversActiveButton = 'get'" ng-show="covers === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/covers'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the cover.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">If-None-Match</span></td>
                        <td>
                          <pre>Cached value received from the server in an 'ETag' header the last time a 'GET' on this succeeded. The server will use this to determine if the resource has changed and decide whether to respond with '304'.
</pre>
                        </td>
                        <td>false</td>
                        <td>686897696a7c876b7e</td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pg</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>PG code of the card, it allows to identify card's product type. It's a 10 size element obtained from bbva card identifier, if its size is lower than 10 it must left padded with zeroes.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>3412341234</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">bin</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>BIN code of the card. More info 'ISO / IEC 7812'

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>123412</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">type.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Identifier of the type associated with the image of the card.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>LigaBBVA</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">type.name</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Name of the type associated with the image of the card.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>LigaBBVA Image</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">issueDate</span><span class="type">date-only</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>It filters by the string based on ISO-8601 for specifying date of issue of the card.

                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-08-16</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">width</span><span class="type">number</span>
                        </td>
                        <td>
                          <p>Width(pixels) of the card image.

                          </p>
                        </td>
                        <td><i>Any number</i>
                        </td>
                        <td><span>400</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">height</span><span class="type">number</span>
                        </td>
                        <td>
                          <p>Height(pixels) of the card image.

                          </p>
                        </td>
                        <td><i>Any number</i>
                        </td>
                        <td><span>200</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">isDefaultImage</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>If not indicated, its value takes false. In case the requested image does not exist, an http code 404 is provided.
If true, if the requested page is not present, a default image will be returned.

                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>true</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">isBackImage</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>If not indicated, its value takes false. In case the requested image does not exist, an http code 404 is provided.
If true, the back image of the card is provided.

                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>false</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Binary File.
</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Etag</span><span class="type string">string</span></td>
                                <td>
                                  <pre>An opaque identifier assigned by the server to the specific version of the resource contained in this response. The client can cache it for inclusion in a future conditional 'GET' on this resource.
</pre>
                                </td>
                                <td>false</td>
                                <td>686897696a7c876b7e</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="304">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Modified.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>