
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">APP SETTINGS<a href="https://grapi.slack.com/" target="_blank">App Settings Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/app-settings/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-data-appsettings')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-appsettings" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-appsettings</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-data-appsettings/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API returns the settings, both public and private, and the operations of a specific application.
</p>
    <h2>RESOURCES</h2>
    <div id="/public-settings/{public-settings-id}" class="resource-table">
      <div ng-click="api.hide('/public-settings/{public-settings-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/public-settings/{public-settings-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/public-settings/{public-settings-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for getting the public settings of a specific application.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: publicsettingspublicsettingsidActiveButton === 'get'}" ng-click="api.showMethod($event, 'publicsettingspublicsettingsid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="publicsettingspublicsettingsid = 'get'; publicsettingspublicsettingsidActiveButton = 'get'" ng-show="publicsettingspublicsettingsid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/public-settings/{public-settings-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the app public settings. These should be retrieved before starting a session into the application.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">If-None-Match</span></td>
                        <td>
                          <pre>Cached value received from the server in an 'ETag' header the last time a 'GET' on this succeeded. The server will use this to determine if the resource has changed and decide whether to respond with '304'.
</pre>
                        </td>
                        <td>false</td>
                        <td>686897696a7c876b7e</td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">key</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Key map.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>app_settings</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">public-settings-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier of the json that you want to recover. It is recommended that it be version-env, where:
Version: specific version to download (the format of this field depends on the app)
Env: environment for which configuration is desired
</p>
                        </td>
                        <td><span>0.0.1-prd</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Etag</span><span class="type string">string</span></td>
                                <td>
                                  <pre>An opaque identifier assigned by the server to the specific version of the resource contained in this response. The client can cache it for inclusion in a future conditional 'GET' on this resource.
</pre>
                                </td>
                                <td>false</td>
                                <td>686897696a7c876b7e</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="key display-name">key</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This value will be the key of the map. In this key will come the settings and the operations of the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value display-name">value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value associated to the key. This value will be a string with jSon format with escaped quotes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;key&quot;: &quot;app_settings&quot;,
            &quot;value&quot;: &quot;{\&quot;assistance\&quot;: {\&quot;general\&quot;: \&quot;600 600 11 00\&quot;},\&quot;maintenance\&quot;: {\&quot;value\&quot;: false,\&quot;message\&quot;: \&quot;En estos momentos la aplicación no se encuentra disponible.\&quot;},\&quot;minimum_version\&quot;: {\&quot;version\&quot;: \&quot;1.0.1016\&quot;,\&quot;message\&quot;: \&quot;Hay una nueva versión disponible. Por favor, actualiza BBVA GloMo para continuar.\&quot;,\&quot;url\&quot;: \&quot;https://itunes.apple.com/es/app/bbva-glomo/id736084767?ls=1&amp;mt=8\&quot;},\&quot;bbva_app\&quot;: {\&quot;schema\&quot;: \&quot;bbvanxtcl://\&quot;,\&quot;url\&quot;: \&quot;https://itunes.apple.com/cl/app/bbva-chile/id514590589?mt=8\&quot;},\&quot;termsConditions\&quot;: {\&quot;document-id\&quot;: \&quot;CL_GLOMO_APPLEGALTERMS_V1\&quot;,\&quot;feature-id\&quot;: \&quot;DIGITAL_ACTIVATION\&quot;}}&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;key&quot;: &quot;app_settings&quot;,
            &quot;value&quot;: &quot;{\&quot;assistance\&quot;: {\&quot;general\&quot;: \&quot;600 600 11 00\&quot;},\&quot;maintenance\&quot;: {\&quot;value\&quot;: false,\&quot;message\&quot;: \&quot;En estos momentos la aplicación no se encuentra disponible.\&quot;},\&quot;minimum_version\&quot;: {\&quot;version\&quot;: \&quot;1.0.1016\&quot;,\&quot;message\&quot;: \&quot;Hay una nueva versión disponible. Por favor, actualiza BBVA GloMo para continuar.\&quot;,\&quot;url\&quot;: \&quot;https://itunes.apple.com/es/app/bbva-glomo/id736084767?ls=1&amp;mt=8\&quot;},\&quot;bbva_app\&quot;: {\&quot;schema\&quot;: \&quot;bbvanxtcl://\&quot;,\&quot;url\&quot;: \&quot;https://itunes.apple.com/cl/app/bbva-chile/id514590589?mt=8\&quot;},\&quot;termsConditions\&quot;: {\&quot;document-id\&quot;: \&quot;CL_GLOMO_APPLEGALTERMS_V1\&quot;,\&quot;feature-id\&quot;: \&quot;DIGITAL_ACTIVATION\&quot;}}&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="304">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Modified.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/private-settings/{private-settings-id}" class="resource-table">
      <div ng-click="api.hide('/private-settings/{private-settings-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/private-settings/{private-settings-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/private-settings/{private-settings-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for gettings the private settings of a specific application. These should be retrieved once there is a started session into the application.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: privatesettingsprivatesettingsidActiveButton === 'get'}" ng-click="api.showMethod($event, 'privatesettingsprivatesettingsid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="privatesettingsprivatesettingsid = 'get'; privatesettingsprivatesettingsidActiveButton = 'get'" ng-show="privatesettingsprivatesettingsid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/private-settings/{private-settings-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the app settings.</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">If-None-Match</span></td>
                        <td>
                          <pre>Cached value received from the server in an 'ETag' header the last time a 'GET' on this succeeded. The server will use this to determine if the resource has changed and decide whether to respond with '304'.
</pre>
                        </td>
                        <td>false</td>
                        <td>686897696a7c876b7e</td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">key</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Key map.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>app_settings</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">private-settings-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier of the json that you want to recover. It is recommended that it be version-env, where:
Version: specific version to download (the format of this field depends on the app)
Env: environment for which configuration is desired
</p>
                        </td>
                        <td><span>0.0.1-prd</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Etag</span><span class="type string">string</span></td>
                                <td>
                                  <pre>An opaque identifier assigned by the server to the specific version of the resource contained in this response. The client can cache it for inclusion in a future conditional 'GET' on this resource.
</pre>
                                </td>
                                <td>false</td>
                                <td>686897696a7c876b7e</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="key display-name">key</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This value will be the key of the map. In this key will come the settings and the operations of the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value display-name">value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value associated to the key. This value will be a string with jSon format with escaped quotes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;key&quot;: &quot;app_settings&quot;,
            &quot;value&quot;: &quot;{\&quot;local_currency\&quot;: \&quot;MXN\&quot;,\&quot;STS_bloquer\&quot;: false,\&quot;cards\&quot;: {\&quot;product_id\&quot;: \&quot;1234\&quot;,\&quot;bin\&quot;: \&quot;547751\&quot;,\&quot;background_color\&quot;: \&quot;#FFFFFF\&quot;,\&quot;font_color\&quot;: \&quot;#80BFFF\&quot;},\&quot;customSeasons\&quot;: {\&quot;key\&quot;: \&quot;all\&quot;,\&quot;start_date\&quot;: \&quot;01-01\&quot;,\&quot;end_date\&quot;: \&quot;12-31\&quot;,\&quot;morning\&quot;: \&quot;06:00:00\&quot;,\&quot;afternoon\&quot;: \&quot;12:00:00\&quot;,\&quot;evening\&quot;: \&quot;20:00:00\&quot;},\&quot;assistance\&quot;: {\&quot;mortgage\&quot;: \&quot;01800-2280040\&quot;,\&quot;consumer_loan\&quot;: \&quot;01800-1226632\&quot;},\&quot;termsConditions\&quot;: {\&quot;document-id\&quot;: \&quot;APPLEGALTERMS_V1\&quot;,\&quot;feature-id\&quot;: \&quot;DIGITAL_ACTIVATION\&quot;}&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;key&quot;: &quot;app_settings&quot;,
            &quot;value&quot;: &quot;{\&quot;local_currency\&quot;: \&quot;MXN\&quot;,\&quot;STS_bloquer\&quot;: false,\&quot;cards\&quot;: {\&quot;product_id\&quot;: \&quot;1234\&quot;,\&quot;bin\&quot;: \&quot;547751\&quot;,\&quot;background_color\&quot;: \&quot;#FFFFFF\&quot;,\&quot;font_color\&quot;: \&quot;#80BFFF\&quot;},\&quot;customSeasons\&quot;: {\&quot;key\&quot;: \&quot;all\&quot;,\&quot;start_date\&quot;: \&quot;01-01\&quot;,\&quot;end_date\&quot;: \&quot;12-31\&quot;,\&quot;morning\&quot;: \&quot;06:00:00\&quot;,\&quot;afternoon\&quot;: \&quot;12:00:00\&quot;,\&quot;evening\&quot;: \&quot;20:00:00\&quot;},\&quot;assistance\&quot;: {\&quot;mortgage\&quot;: \&quot;01800-2280040\&quot;,\&quot;consumer_loan\&quot;: \&quot;01800-1226632\&quot;},\&quot;termsConditions\&quot;: {\&quot;document-id\&quot;: \&quot;APPLEGALTERMS_V1\&quot;,\&quot;feature-id\&quot;: \&quot;DIGITAL_ACTIVATION\&quot;}&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="304">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Modified.
</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>