.background-paper
  .activity-section(layout="row" layout-align="center center")
    .container
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
          li(data-target='#myCarousel', data-slide-to='3')
          li(data-target='#myCarousel', data-slide-to='4')
          li(data-target='#myCarousel', data-slide-to='5')
          
        // Wrapper for slides
        .carousel-inner(role='listbox')
          #item1.item.active
            div
              h1(style='color:#000000; text-align:center;') What are we doing?
              p(style='color:#000000; text-align:center; padding-left:15px; padding-right:15px;') Let's measure ourselves.
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#000000;')
                a(style='color:#000000;', href='https://bbva-apicatalog.appspot.com/#/dashboard') Visit the API Catalog Dashboard
          #item2.item
            div
              h1(style='color:#FAFAFA; text-align:center;') New API Mobiles
              p(style='color:#FAFAFA; text-align:center;') This API includes all the needed functionalities for performing top ups over prepaid mobile phones.
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#FAFAFA;')
                | You can see the detail of new version on our 
                a(style='color:#FAFAFA;', href='https://bbva-apicatalog.appspot.com/#/global/apis/mobile/mobiles') API mobiles
          #item3.item
            div
              h1(style='color:#FAFAFA; text-align:center;') New API Payments
              p(style='color:#FAFAFA; text-align:center;') This API offers a collection of resources and methods to perform useful operations related to the payment of services.
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#FAFAFA;')
                | You can see the detail of new version on our 
                a(style='color:#FAFAFA;', href='https://bbva-apicatalog.appspot.com/#/global/apis/paymentMethods/payments') API payments
          #item4.item
            div
              h1(style='color:#FAFAFA; text-align:center;') New API Geographic-places
              p(style='color:#FAFAFA; text-align:center;') This API allows the consumption of geographic data based on different axes: states, cities or specific urban locations like districts or neighborhoods.
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#FAFAFA;')
                | You can see the detail of new version on our 
                a(style='color:#FAFAFA;', href='https://bbva-apicatalog.appspot.com/#/global/apis/data/geographicplaces') API geographic-places
          #item5.item
            div
              h1(style='color:#FAFAFA; text-align:center;') New API Stores
              p(style='color:#FAFAFA; text-align:center;') This API includes all the available services to manage information about stores
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#FAFAFA;')
                | You can see the detail of new version on our 
                a(style='color:#FAFAFA;', href='https://bbva-apicatalog.appspot.com/#/global/apis/enterprises/stores') API stores
          #item6.item
            div
              h1(style='color:#FAFAFA; text-align:center;') New API Exchange Rates
              p(style='color:#FAFAFA; text-align:center;') This API includes any service related to exchange rate.
              hr.page-mark(style='border-top-color:#FAFAFA;')
              p(style='color:#FAFAFA;')
                | You can see the detail of new version on our 
                a(style='color:#FAFAFA;', href='https://bbva-apicatalog.appspot.com/#/global/apis/products/exchangeRates') API exchangeRateVouchers 
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          i.material-icons(style='margin-top:100%; font-size:80px;') keyboard_arrow_left
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          i.material-icons(style='margin-top:100%; font-size:80px;') keyboard_arrow_right          
    
    
    div.more-button
      div.button
        i.material-icons(ng-click="home.scrollTo('banner-info')") play_circle_outline
div.banner-info(id="banner-info" layout="row" layout-sm="column")
  div.banner-section(flex="33" flex-sm="100")
    i.material-icons description
    h2 Learn
    p.section-description PaaS (Platform as a Service) is a multi-country initiative to define a common API for business operations. The goal is to provide a uniform consumers access across countries. Do you have questions like: What is an API? How to contribute or request a feature? Design principles?
    md-button(class='md-raised md-primary btn-large' ng-href='/#/learn') Learn
  div.banner-section(flex="33" flex-sm="100")
    i.material-icons book
    h2 API Catalog
    p.section-description The API is also complex and extense so it is organized in Domains. Each domain has its own documentation and repository. This section lists classifications and domains and let explore the API universe.
    md-button(class='md-raised md-primary btn-large' ng-href='/#/api') Browse the API
  div.banner-section(flex="33" flex-sm="100")
    i.material-icons folder_open
    h2 Support
    p.section-description Know about us, how to contact and ask for support, frequently answered questions and links to documents on processes definitions, tutorials, etc.
    md-button(class='md-raised md-primary btn-large' ng-href='/#/support') Get support
