
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CONTRACTS<a href="https://grapi.slack.com/" target="_blank">Contracts Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/contracts/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-contracts')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-contracts" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-contracts</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-contracts/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of the products contracted by the client, to obtain an overview of them.

</p>
    <h2>RESOURCES</h2>
    <div id="/contracts-overview" class="resource-table">
      <div ng-click="api.hide('/contracts-overview')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/contracts-overview</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/contracts-overview'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for consulting the list of products that the customer has contracted.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: contractsoverviewActiveButton === 'get'}" ng-click="api.showMethod($event, 'contractsoverview', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="contractsoverview = 'get'; contractsoverviewActiveButton = 'get'" ng-show="contractsoverview === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/contracts-overview'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting the list of customer products.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product Identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="quantity display-name">quantity</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Quantity of products that the customer has within a specific product group.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productTypes display-name">productTypes</span><span class="type">productTypes [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of product type details.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productTypes.id display-name">productTypes.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique code associated with the type of product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productTypes.name display-name">productTypes.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated with the type of product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productTypes.quantity display-name">productTypes.quantity</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Quantity associated to the product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ACCOUNTS&quot;,
            &quot;quantity&quot;: 5,
            &quot;productTypes&quot;: [
                {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;,
                    &quot;quantity&quot;: 3
                },
                {
                    &quot;id&quot;: &quot;CUENTA_VISTA&quot;,
                    &quot;name&quot;: &quot;Cuenta Vista&quot;,
                    &quot;quantity&quot;: 1
                },
                {
                    &quot;id&quot;: &quot;LINEA_CREDITO&quot;,
                    &quot;name&quot;: &quot;Linea de Credito&quot;,
                    &quot;quantity&quot;: 1
                }
            ]
        },
        {
            &quot;id&quot;: &quot;CARDS&quot;,
            &quot;quantity&quot;: 2,
            &quot;productTypes&quot;: [
                {
                    &quot;id&quot;: &quot;CREDIT_CARD&quot;,
                    &quot;name&quot;: &quot;Tarjeta de Credito&quot;,
                    &quot;quantity&quot;: 1
                },
                {
                    &quot;id&quot;: &quot;DEBIT_CARD&quot;,
                    &quot;name&quot;: &quot;Tarjeta de Debito&quot;,
                    &quot;quantity&quot;: 1
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;ACCOUNTS&quot;,
            &quot;quantity&quot;: 5,
            &quot;productTypes&quot;: [
                {
                    &quot;id&quot;: &quot;CUENTA_CORRIENTE&quot;,
                    &quot;name&quot;: &quot;Cuenta Corriente&quot;,
                    &quot;quantity&quot;: 3
                },
                {
                    &quot;id&quot;: &quot;CUENTA_VISTA&quot;,
                    &quot;name&quot;: &quot;Cuenta Vista&quot;,
                    &quot;quantity&quot;: 1
                },
                {
                    &quot;id&quot;: &quot;LINEA_CREDITO&quot;,
                    &quot;name&quot;: &quot;Linea de Credito&quot;,
                    &quot;quantity&quot;: 1
                }
            ]
        },
        {
            &quot;id&quot;: &quot;CARDS&quot;,
            &quot;quantity&quot;: 2,
            &quot;productTypes&quot;: [
                {
                    &quot;id&quot;: &quot;CREDIT_CARD&quot;,
                    &quot;name&quot;: &quot;Tarjeta de Credito&quot;,
                    &quot;quantity&quot;: 1
                },
                {
                    &quot;id&quot;: &quot;DEBIT_CARD&quot;,
                    &quot;name&quot;: &quot;Tarjeta de Debito&quot;,
                    &quot;quantity&quot;: 1
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>