.annotation {
  .country-flag {
    img {
      top: 9px;
      left: 15px;
      position: relative;
    }
  }
  .annotation-description {
    p {
      font-size: 13px;
      margin: 12px 20px;
    }
  }
}
