.api-documentation {
  padding: 0px;
  h1, h2, h3 {
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
    text-align: initial;
    padding: 0px;
  }
  .api-head {
    background: #00AEEB;
    margin-top: 32px;
    padding: 40px 100px;
    .slack {
      text-align: right;
      font-size: 10px;
    }
    .api-name {
      color: #FAFAFA;
      font-size: 38px;
      a {
        float: right;
        color: #FAFAFA;
        font-size: 15px;
        text-transform: capitalize;
        text-decoration: none;
        img {
          width: 30px;
          float: left;
          margin-right: 10px;
        }
      }
    }
    .base-uri, .version {
      color: #E0E0E0;
      span, a {
        color: #FAFAFA;
      }
      -webkit-margin-after: 0.33em;
      -webkit-margin-before: 0.33em;
     }
     .version {
       md-select {
         display: inline-block;
         margin: -9px 0px;
         md-select-value {
           top: -3px;
           border: none;
         }
       }
     }
     .status {
       color: #E0E0E0;
       -webkit-margin-after: 0.33em;
       -webkit-margin-before: 0.33em;
       span {
        color: #212121;
        font-size: 12px;
        margin: 0px 10px;
        padding: 0px 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #FAFAFA;
        &.country {
            padding-right: 0px;
            background: #FAFAFA;
        }
        &.yellow {
          background: #FFF9C4;
          margin: 0px 0px 0px 5px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        &.green {
          background: #C8E6C9;
          margin: 0px 0px 0px 5px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        &.red {
          background: #FFCDD2;
          margin: 0px 0px 0px 5px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        .percent {
          margin: 0px -10px 0px 10px;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          background: #FAFAFA;
          color: #212121;
        }
       }
     }
  }
}
