.example {
    section {
        height: 50px;
        button {
            font-size: 16px;
            margin: 0;
            padding: 3px 15px;
            color: #312e2e;
            background-color: rgba(224, 224, 224, 0.96);
            text-transform: none;
            font-weight: 400;
            min-width: 100px;
            border-radius: 0;
            border: 0;
            height: 100%;
            outline: none;
            &.active {
                background: #333;
                color: #FAFAFA;
                box-shadow: none;
            }
        }
    }
    .example-viewer {
        background: #333;
        margin-bottom: 25px;
        padding: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        &.json {
            color: #FAFAFA;
        }
    }
}
