.table-resource-types {
    padding: 64px 100px;
    .resource-table {
        border: 2px solid #0065B7;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-bottom: 30px;
        .table-head {
            background: #0065B7;
            padding: 20px;
            outline: none;
            cursor: pointer;
            h3 {
                display: inline-block;
                margin: 0;
                color: #FAFAFA;
                font-weight: 400;
                text-transform: capitalize;
            }
            i {
                color: #FAFAFA;
                float: right;
                transform: rotate(90deg);
                cursor: pointer;
                outline: none;
            }
        }
        .table-body {
            padding: 0;
            display: none;
            .button-container {
                height: 50px;
                border-bottom: 1px solid #DDDDDD;
                button {
                    border: none;
                    background: none;
                    color: #16366F;
                    height: 50px;
                    min-width: 100px;
                    outline: none;
                    &.active {
                        border: 4px solid #ECEFF1;
                        border-left: none;
                        border-right: none;
                        border-bottom: 4px solid #0065B7;
                        background: #ECEFF1;
                    }
                }
            }
            .content-method {
                padding: 16px 20px 20px;
            }
        }
        &.hide-body {
            .table-body {
                display: block;
            }
        }
    }
}
