
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">EMPLOYEES<a href="https://grapi.slack.com/" target="_blank">employees Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/employees/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-employees')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-employees" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-employees</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-employees/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services to manage information about BBVA Group employees.

An employee is an individual who works under a contract of employment for BBVA Group. Outsourced personnel is not included.
</p>
    <h2>RESOURCES</h2>
    <div id="/employees" class="resource-table">
      <div ng-click="api.hide('/employees')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/employees</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/employees'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing contextual information related to the employees of BBVA Group.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: employeesActiveButton === 'get'}" ng-click="api.showMethod($event, 'employees', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="employees = 'get'; employeesActiveButton = 'get'" ng-show="employees === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/employees'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of employees of BBVA Group.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields: firstName, lastName, registrationIdentifier of the employee
                            <p> <i>Default value: lastName</i></p>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.
                            <p> <i>Default value: desc</i></p>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="employeeId display-name">employeeId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="registrationIdentifier display-name">registrationIdentifier</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'BBVA identifier. This identifier is used for HR and authentication purposes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="firstName display-name">firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastName display-name">lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee last name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;employeeId&quot;: &quot;1234123275&quot;,
            &quot;registrationIdentifier&quot;: &quot;E000001&quot;,
            &quot;firstName&quot;: &quot;John&quot;,
            &quot;lastName&quot;: &quot;Dou&quot;
        },
        {
            &quot;employeeId&quot;: &quot;1234123277&quot;,
            &quot;registrationIdentifier&quot;: &quot;U000001&quot;,
            &quot;firstName&quot;: &quot;Jane&quot;,
            &quot;lastName&quot;: &quot;Smith&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;employeeId&quot;: &quot;1234123275&quot;,
            &quot;registrationIdentifier&quot;: &quot;E000001&quot;,
            &quot;firstName&quot;: &quot;John&quot;,
            &quot;lastName&quot;: &quot;Dou&quot;
        },
        {
            &quot;employeeId&quot;: &quot;1234123277&quot;,
            &quot;registrationIdentifier&quot;: &quot;U000001&quot;,
            &quot;firstName&quot;: &quot;Jane&quot;,
            &quot;lastName&quot;: &quot;Smith&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/employees/{employee-id}" class="resource-table">
      <div ng-click="api.hide('/employees/{employee-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/employees/{employee-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/employees/{employee-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing information of a specified employee.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: employeesemployeeidActiveButton === 'get'}" ng-click="api.showMethod($event, 'employeesemployeeid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="employeesemployeeid = 'get'; employeesemployeeidActiveButton = 'get'" ng-show="employeesemployeeid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/employees/{employee-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the information of an employee.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">employee-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Employee identifier</p>
                        </td>
                        <td><span>1234123275</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="employeeId display-name">employeeId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="registrationIdentifier display-name">registrationIdentifier</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'BBVA identifier. This identifier is used for HR and authentication purposes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="firstName display-name">firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastName display-name">lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee last name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications display-name">classifications</span><span class="type">classification [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Classification employee. For example, the classification of an employee may be by rank (Manager Director) or position (Director).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications.classification display-name">classifications.classification.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the classification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications.classification display-name">classifications.classification.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the classification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications.classification display-name">classifications.classification.currentClassification</span><span class="type">currentClassification</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Classification value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications.classification display-name">classifications.classification.currentClassification.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to current classification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="classifications.classification display-name">classifications.classification.currentClassification.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of current classification.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails display-name">contactDetails</span><span class="type">contactDetail [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of different contact information related to the employee.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contact information identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.contact</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contact information value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.contactType</span><span class="type">contactType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contact information type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.contactType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contact information type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">EMAIL</span></li>
                                      <li><span class="value">PHONE_NUMBER</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.contactType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Contact information type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.isPreferential</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether this contact information is the preferred one related by the customer for the current contact information type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactDetails.contactDetail display-name">contactDetails.contactDetail.isChecked</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether the contact information has been verified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="personInCharge display-name">personInCharge</span><span class="type">personInCharge</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Person in charge or supervisor of the employee.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="personInCharge.employeeId display-name">personInCharge.employeeId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to person in charge.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="personInCharge.registrationIdentifier display-name">personInCharge.registrationIdentifier</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'BBVA identifier associated to the person in charge.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="personInCharge.firstName display-name">personInCharge.firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Fist name of person in charge.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="personInCharge.lastName display-name">personInCharge.lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Last name of person in charge.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="department display-name">department</span><span class="type">department</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Employee\'s department.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="department.id display-name">department.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Department identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="department.name display-name">department.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Department name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="costCenter display-name">costCenter</span><span class="type">costCenter</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Budgetary group to which the employee is assigned.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="costCenter.id display-name">costCenter.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of cost center.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="costCenter.name display-name">costCenter.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of cost center.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace display-name">workPlace</span><span class="type">workPlace</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information about the location of the building where the employee works.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.id display-name">workPlace.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of work place.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.name display-name">workPlace.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description work place.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address</span><span class="type">address</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Physical location of the building.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.addressName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Complete address of the building.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.city</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'City where the building is placed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.state</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State, Province or Region where the building is placed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.country</span><span class="type">country</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Country where the building is placed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.country.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Country identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.country.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Country name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.zipCode</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Address ZIP code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="workPlace.address display-name">workPlace.address.alias</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Complete address of the building.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;employeeId&quot;: &quot;1234123275&quot;,
        &quot;registrationIdentifier&quot;: &quot;E000001&quot;,
        &quot;firstName&quot;: &quot;John&quot;,
        &quot;lastName&quot;: &quot;Dou&quot;,
        &quot;classifications&quot;: [
            {
                &quot;id&quot;: &quot;RANK&quot;,
                &quot;name&quot;: &quot;Classification by rank&quot;,
                &quot;currentClassification&quot;: {
                    &quot;id&quot;: &quot;MANAGER_DIRECTOR&quot;,
                    &quot;name&quot;: &quot;Manager Director&quot;
                }
            },
            {
                &quot;id&quot;: &quot;POSITION&quot;,
                &quot;name&quot;: &quot;Classification by position&quot;,
                &quot;currentClassification&quot;: {
                    &quot;id&quot;: &quot;DIRECTOR&quot;,
                    &quot;name&quot;: &quot;Director&quot;
                }
            }
        ],
        &quot;contactDetails&quot;: [
            {
                &quot;id&quot;: &quot;1234&quot;,
                &quot;contact&quot;: &quot;john.dou@gmail.com&quot;,
                &quot;contactType&quot;: {
                    &quot;id&quot;: &quot;EMAIL&quot;,
                    &quot;name&quot;: &quot;email&quot;
                },
                &quot;isPreferential&quot;: true,
                &quot;isChecked&quot;: true
            },
            {
                &quot;id&quot;: &quot;1235&quot;,
                &quot;contact&quot;: &quot;612345678&quot;,
                &quot;contactType&quot;: {
                    &quot;id&quot;: &quot;PHONE_NUMBER&quot;,
                    &quot;name&quot;: &quot;phone&quot;
                },
                &quot;isPreferential&quot;: true,
                &quot;isChecked&quot;: true
            }
        ],
        &quot;personInCharge&quot;: {
            &quot;employeeId&quot;: &quot;1234123277&quot;,
            &quot;registrationIdentifier&quot;: &quot;U000001&quot;,
            &quot;firstName&quot;: &quot;Jane&quot;,
            &quot;lastName&quot;: &quot;Smith&quot;
        },
        &quot;department&quot;: {
            &quot;id&quot;: &quot;PLATFORM_AS_A_SERVICE&quot;,
            &quot;name&quot;: &quot;Platform as a Service&quot;
        },
        &quot;costCenter&quot;: {
            &quot;id&quot;: &quot;2888&quot;,
            &quot;name&quot;: &quot;Paas architecture&quot;
        },
        &quot;workPlace&quot;: {
            &quot;id&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;Edificio Vaguada&quot;,
            &quot;address&quot;: {
                &quot;addressName&quot;: &quot;Av. Monforte de Lemos S/N&quot;,
                &quot;city&quot;: &quot;Madrid&quot;,
                &quot;state&quot;: &quot;Madrid&quot;,
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;ES&quot;,
                    &quot;name&quot;: &quot;Spain&quot;
                },
                &quot;zipCode&quot;: &quot;28029&quot;
            }
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;employeeId&quot;: &quot;1234123275&quot;,
        &quot;registrationIdentifier&quot;: &quot;E000001&quot;,
        &quot;firstName&quot;: &quot;John&quot;,
        &quot;lastName&quot;: &quot;Dou&quot;,
        &quot;classifications&quot;: [
            {
                &quot;id&quot;: &quot;RANK&quot;,
                &quot;name&quot;: &quot;Classification by rank&quot;,
                &quot;currentClassification&quot;: {
                    &quot;id&quot;: &quot;MANAGER_DIRECTOR&quot;,
                    &quot;name&quot;: &quot;Manager Director&quot;
                }
            },
            {
                &quot;id&quot;: &quot;POSITION&quot;,
                &quot;name&quot;: &quot;Classification by position&quot;,
                &quot;currentClassification&quot;: {
                    &quot;id&quot;: &quot;DIRECTOR&quot;,
                    &quot;name&quot;: &quot;Director&quot;
                }
            }
        ],
        &quot;contactDetails&quot;: [
            {
                &quot;id&quot;: &quot;1234&quot;,
                &quot;contact&quot;: &quot;john.dou@gmail.com&quot;,
                &quot;contactType&quot;: {
                    &quot;id&quot;: &quot;EMAIL&quot;,
                    &quot;name&quot;: &quot;email&quot;
                },
                &quot;isPreferential&quot;: true,
                &quot;isChecked&quot;: true
            },
            {
                &quot;id&quot;: &quot;1235&quot;,
                &quot;contact&quot;: &quot;612345678&quot;,
                &quot;contactType&quot;: {
                    &quot;id&quot;: &quot;PHONE_NUMBER&quot;,
                    &quot;name&quot;: &quot;phone&quot;
                },
                &quot;isPreferential&quot;: true,
                &quot;isChecked&quot;: true
            }
        ],
        &quot;personInCharge&quot;: {
            &quot;employeeId&quot;: &quot;1234123277&quot;,
            &quot;registrationIdentifier&quot;: &quot;U000001&quot;,
            &quot;firstName&quot;: &quot;Jane&quot;,
            &quot;lastName&quot;: &quot;Smith&quot;
        },
        &quot;department&quot;: {
            &quot;id&quot;: &quot;PLATFORM_AS_A_SERVICE&quot;,
            &quot;name&quot;: &quot;Platform as a Service&quot;
        },
        &quot;costCenter&quot;: {
            &quot;id&quot;: &quot;2888&quot;,
            &quot;name&quot;: &quot;Paas architecture&quot;
        },
        &quot;workPlace&quot;: {
            &quot;id&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;Edificio Vaguada&quot;,
            &quot;address&quot;: {
                &quot;addressName&quot;: &quot;Av. Monforte de Lemos S/N&quot;,
                &quot;city&quot;: &quot;Madrid&quot;,
                &quot;state&quot;: &quot;Madrid&quot;,
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;ES&quot;,
                    &quot;name&quot;: &quot;Spain&quot;
                },
                &quot;zipCode&quot;: &quot;28029&quot;
            }
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>