
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">MKSAAS<a href="https://grapi.slack.com/" target="_blank">MKSaaS Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/mksaas/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-cryptography-apis-mksaas')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-mksaas" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-cryptography-apis-mksaas</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-cryptography-apis-mksaas/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>Mobile Keys S as a Service API provides services for devices/applications/users to obtain and renew a unique set of private keys. That allows a flexible, secure and isolated system for make cryptographic operations.
</p>
    <h2>RESOURCES</h2>
    <div id="/create" class="resource-table">
      <div ng-click="api.hide('/create')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/create</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/create'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for creating new key. Key mangement process starts from a basic scenario, device has no valid key stored. Device creates ramdomly a new RSA key and calls this service, sending the new RSA public info and retrieves a secret keys set via encripted message.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: createActiveButton === 'post'}" ng-click="api.showMethod($event, 'create', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="create = 'post'; createActiveButton = 'post'" ng-show="create === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/create'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating new key. Service derives a set of keys which will be sent to the device.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId display-name">derivationId</span><span class="type">derivationId</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Value which identifies an unique element ( device based,device-user based, device-user-app based depend on the case we want).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.deviceId display-name">derivationId.deviceId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifies a device, this value is a immutable universally unique identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.appId display-name">derivationId.appId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an application + version running in the device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.userId display-name">derivationId.userId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an user in the device. Secure client library developed to use this API, could work with different combinations of deviceId + appId + userId values at the same time. Secure client library has been developed to consume this API in multiple/others environments/servers. If the value userId is informed, it must be validated matching the user obtained in headers.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="publicKey display-name">publicKey</span><span class="type">publicKey</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Cryptographic Public Key representation, **using JSON Web Key (JWK)** standard on [RFC 7517](https://tools.ietf.org/html/rfc7517).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="publicKey.kid display-name">publicKey.kid</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Used to set a unique reference for the key.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="publicKey.kty display-name">publicKey.kty</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifies the cryptographic algorithm family used with the key.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">RSA: RSA algorithm.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">EC: Elliptic Curve algorithm.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="publicKey.e display-name">publicKey.e</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Cryptographic public key representation part **e**, commonly named **public value exponent**.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="publicKey.n display-name">publicKey.n</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Cryptographic public key representation part **n**, commonly named **modulus**.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;f6f2062617220636&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;publicKey&quot;: {
        &quot;kid&quot;: &quot;4e069450-3e79-42f1-9239-37525aaeafea&quot;,
        &quot;kty&quot;: &quot;RSA&quot;,
        &quot;e&quot;: &quot;AQAB&quot;,
        &quot;n&quot;: &quot;qlcBIb395OZFjvcjEehDsLFwFPDLmpI9r2Uunn3wH6nz4_pqs_gk-QAcOCurKXGSrbT6tDEx7utmCb6ItznILCPcTDMlDiXrQRpcVG-eIexdbpwAVO0Id9Xe5Ts7lSiZiokJmx_wEQKdGy1TbJXeNAMAYtCHBmwpawxi476o-2U&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;f6f2062617220636&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;publicKey&quot;: {
        &quot;kid&quot;: &quot;4e069450-3e79-42f1-9239-37525aaeafea&quot;,
        &quot;kty&quot;: &quot;RSA&quot;,
        &quot;e&quot;: &quot;AQAB&quot;,
        &quot;n&quot;: &quot;qlcBIb395OZFjvcjEehDsLFwFPDLmpI9r2Uunn3wH6nz4_pqs_gk-QAcOCurKXGSrbT6tDEx7utmCb6ItznILCPcTDMlDiXrQRpcVG-eIexdbpwAVO0Id9Xe5Ts7lSiZiokJmx_wEQKdGy1TbJXeNAMAYtCHBmwpawxi476o-2U&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message display-name">message</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cryptographic message, using **JSON Web Encryption (JWE)** standard on [RFC 7516](https://tools.ietf.org/html/rfc7516).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJlbmMiOiJBMTI4R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.lCAJmjn7hbGUQM4Cv3PmAjCRVh_yQ7hmh0a91x8xbiqWM3pmTZP4FNshwjjEf48HJbv6m2-qG5XzhAz0OozzW3LbR8BzGNaU8sqvVisKMVFqtsyb8cHz-kQFKukhXPF5i5GCzNiYEnq8ONlpoQcBsH2ZwoqX3eH15N5lFKuhLWE.Leajto63NUC-Um7v.L4u8AoRgqe9_YIPmBo07SAMNTfsTtUO44heZHGS2ZlsBHKjokzdBdOsSHmkGGWPLozQlpm9ZEojvEq9ZAMeQhMICl7FhrzNw17aBLhlNC2urfiCOcemwZrnAKyVvcyi_ZaFH9AKxsx7LubVd6dvbU8tErHaV4nqNXhFkp4e19PWT54HCoVpRIhuVUwp_hylaxu6uWW6rjzQdROND2iXjvsSga24uaiWNqccwfUgudhqLBXy2t910Dg0ygdH_luudMNc0UBkFR9LdXNaLtg-2W9xi8e2QovCqd0fjozKDZ6E81SZV6Ls7QU9W0OrFvhxAJVgEqltloA9gtHcfTvpmfRn6vfqjKRr7JHnH8-n7rtInYguU5yqEkxYvsrEdifXrcF_Hsv6AkG0UyRal-7ixhj6oXW88Qfmzs8Gn9wRcbqymvRccyjulnGj4VU5uOvzU8FTvWUZ2fTXp2jxO-XsRt6YvdwbnOL9VEU4WhI-6tACym1b3rDormZ8bJBgST5xjO03Fnp41pNs-VABHZ-YNpFsXza66axa1DUgiD0NnlaVN96Te3KPNEi4HWTvN0ZFcgDHi-vXS2MRuWX5w9fRD9sn2QgF0Vh6rMM-VcB6zLP_5KWLA5rPnaGD8CeED35Y7eHJp3Q-wlrA0vJ8kKryN2BWOwRCdcRp3BqjOy9bjLtA89SQtoLH0ZTQLBiy_nRT5p8zfY80lR9Uw-x1nsgcwdDAiFUfTC4xJszp3g25gJKb0l7YexO0S6nyBN92dW-A_2poz-PcsnYnmLxy80tJ3zoRX_I7dBfdeNkJen_MooiCBYdve4UK9NDcZsVrnGxPA8z6dVnFAYq1JaFBx9UpvgIcx8uyeQaKXfCqN2pYHDaz7Bdh_51aCgT5_z7aDcLtB1Jgvy_IYEkzyJo7GGfRCAnlN-vi4LexM2cmg8eHBSgkfHNfua0aSJwbCZ3AAtMWJ3Tf42tvMOUmozAWGy9nMHYlTJALWMhi7d4u5fuEqqzqTCAQYBXNVRiIS_duHcMVq2wb5p8Ezru5UNjmcsk4gxkraZqoW9MNatA4yt8t2xByZj8Zv7D-xQSzrzOmhHw9qLqmcjo24FLGxZgZZVre1mraOesSyAoWw030b3fOndKAa5PL62uGLaO0W-39fB9uY5pep6S61vxQBNnOLmRYCSjgi74R9PgYQFEHaDpT31li-HIUmAzM2vzZlYGjj4iF37f28fQUmj_GB40Q99w3XGNZXJaRAk6p8bmTPLCFw_BmWR7_pIy1kAcdXKTvHsbP26mWoASMKBvYjAmM5vS_9bT65_HNGkEF-xDF_V7W0nG6WZ-L1JnP-jC2lQ_9JEeGZx52pk0amJd4eAKjCPo2uoUwluFcHqTC-XRKTVyaGqnCM-pbX_WHQYUxKA6naUd9uPgzsIKMCcuZgf9UGwqr3279uPZNegcQdyhIOU838V4EWd7Tl1MxduDxxKCUZVPLX9BnN1mRMbSR8oZgj8h9uUMldlg8ipBvAn2wT-apIgkiSAILJeZGhZPXCz5OKKNoyOdeTBXri6wpUOP6IjXN6MXI1o-Kg5tMsFlAeZ3945DPM3XhrXAtQeuxOJ6wQ821R5kCp-tJ9k6SVcjEx2phprDV_xNoAVQ8HfBEGL2klBqYvdXCeUlC9rAxaVu9FN5MC0C3UbDTMGz5cHihjLP1mOFmL-7lNfVvNYY6s36zpumjOX1-njvOWXJNHuip-goTwxQGg77JFnFxK-YhFhippBaNzlV_VZZqofiDMumHXwCTfVJhXBuJPqC1GGSp4Lp-iz4Ej20P_Q39VWI-Ecu4pkKvU3bGWzacxhdiOPXiGlaJsDLue2VFe0X91TSeNA3KtRREBtooK7CyIXTeHwk51hxVNndFMTO_3n7e5N0d4h-x8WRCMA8IxTXfVbUyc5MG-TdIWUfqTRO83V50lkNP0Usj1YLnRlx6AUlqUbGMHJz3iaGKzRQfMGL5JJvkIeu86zONOPHAVw11IRPv2hW4kQlJMpzP6ShST9xaB7uU7BV4MB1lHLmZQa1wNiidBQMkk0lrBYnAj8sSvxqaPbpZKMmFA8-_XyxKBpVEY40RGIcoMA-vdGFQ3MVyCYMMZTDbcKUsTPmmsVqMlGQJYfpuLYVOkoMP2pEQvD-ovT9CkVgm-0QeqqSsXj-g7zIf8gEc5IVkRFL6U6-KxAPjMnL2ysc7d_t7exxKz6sR5Hy5MVdcNIKHKXECnU1BtXU73S-S2w7r7ojNjQvq7XR3B0qzeIlpsQg88A5PqsnO3H5GYBvmPX93JiW-2QdmGyeEZWQTXiTwLiqlHrlqdz9NmDb_HEJPKm_rT8Ebzl_CTGkziTiQVOVlhgsggL6xEHGUI2e4PSvWcSG66Dze2-nAqk1Oq-xQKQdnSVOhgUWH0XEM3JMWqmvXcivHpJIG7r0tqWsfBdzW8bdo11GklfP9sD-a9MlJlQrVp1I3VfvchqwBrZ1kNfzi50S3X2E8Byn4gdFnmQzS8t-F1jh0t5qwzC8vc7aWJuUMqLEimiPVmtLhw5l522Dceo0nR5RQ6CBVGlgZ6RklWKZBptsgfncq6fTUcCJJC19Po4_-HzaBqiY01RxScA70bVB7X2Qk.AvE5RGJ9cYrk15A4sR0-Qg&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJlbmMiOiJBMTI4R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.lCAJmjn7hbGUQM4Cv3PmAjCRVh_yQ7hmh0a91x8xbiqWM3pmTZP4FNshwjjEf48HJbv6m2-qG5XzhAz0OozzW3LbR8BzGNaU8sqvVisKMVFqtsyb8cHz-kQFKukhXPF5i5GCzNiYEnq8ONlpoQcBsH2ZwoqX3eH15N5lFKuhLWE.Leajto63NUC-Um7v.L4u8AoRgqe9_YIPmBo07SAMNTfsTtUO44heZHGS2ZlsBHKjokzdBdOsSHmkGGWPLozQlpm9ZEojvEq9ZAMeQhMICl7FhrzNw17aBLhlNC2urfiCOcemwZrnAKyVvcyi_ZaFH9AKxsx7LubVd6dvbU8tErHaV4nqNXhFkp4e19PWT54HCoVpRIhuVUwp_hylaxu6uWW6rjzQdROND2iXjvsSga24uaiWNqccwfUgudhqLBXy2t910Dg0ygdH_luudMNc0UBkFR9LdXNaLtg-2W9xi8e2QovCqd0fjozKDZ6E81SZV6Ls7QU9W0OrFvhxAJVgEqltloA9gtHcfTvpmfRn6vfqjKRr7JHnH8-n7rtInYguU5yqEkxYvsrEdifXrcF_Hsv6AkG0UyRal-7ixhj6oXW88Qfmzs8Gn9wRcbqymvRccyjulnGj4VU5uOvzU8FTvWUZ2fTXp2jxO-XsRt6YvdwbnOL9VEU4WhI-6tACym1b3rDormZ8bJBgST5xjO03Fnp41pNs-VABHZ-YNpFsXza66axa1DUgiD0NnlaVN96Te3KPNEi4HWTvN0ZFcgDHi-vXS2MRuWX5w9fRD9sn2QgF0Vh6rMM-VcB6zLP_5KWLA5rPnaGD8CeED35Y7eHJp3Q-wlrA0vJ8kKryN2BWOwRCdcRp3BqjOy9bjLtA89SQtoLH0ZTQLBiy_nRT5p8zfY80lR9Uw-x1nsgcwdDAiFUfTC4xJszp3g25gJKb0l7YexO0S6nyBN92dW-A_2poz-PcsnYnmLxy80tJ3zoRX_I7dBfdeNkJen_MooiCBYdve4UK9NDcZsVrnGxPA8z6dVnFAYq1JaFBx9UpvgIcx8uyeQaKXfCqN2pYHDaz7Bdh_51aCgT5_z7aDcLtB1Jgvy_IYEkzyJo7GGfRCAnlN-vi4LexM2cmg8eHBSgkfHNfua0aSJwbCZ3AAtMWJ3Tf42tvMOUmozAWGy9nMHYlTJALWMhi7d4u5fuEqqzqTCAQYBXNVRiIS_duHcMVq2wb5p8Ezru5UNjmcsk4gxkraZqoW9MNatA4yt8t2xByZj8Zv7D-xQSzrzOmhHw9qLqmcjo24FLGxZgZZVre1mraOesSyAoWw030b3fOndKAa5PL62uGLaO0W-39fB9uY5pep6S61vxQBNnOLmRYCSjgi74R9PgYQFEHaDpT31li-HIUmAzM2vzZlYGjj4iF37f28fQUmj_GB40Q99w3XGNZXJaRAk6p8bmTPLCFw_BmWR7_pIy1kAcdXKTvHsbP26mWoASMKBvYjAmM5vS_9bT65_HNGkEF-xDF_V7W0nG6WZ-L1JnP-jC2lQ_9JEeGZx52pk0amJd4eAKjCPo2uoUwluFcHqTC-XRKTVyaGqnCM-pbX_WHQYUxKA6naUd9uPgzsIKMCcuZgf9UGwqr3279uPZNegcQdyhIOU838V4EWd7Tl1MxduDxxKCUZVPLX9BnN1mRMbSR8oZgj8h9uUMldlg8ipBvAn2wT-apIgkiSAILJeZGhZPXCz5OKKNoyOdeTBXri6wpUOP6IjXN6MXI1o-Kg5tMsFlAeZ3945DPM3XhrXAtQeuxOJ6wQ821R5kCp-tJ9k6SVcjEx2phprDV_xNoAVQ8HfBEGL2klBqYvdXCeUlC9rAxaVu9FN5MC0C3UbDTMGz5cHihjLP1mOFmL-7lNfVvNYY6s36zpumjOX1-njvOWXJNHuip-goTwxQGg77JFnFxK-YhFhippBaNzlV_VZZqofiDMumHXwCTfVJhXBuJPqC1GGSp4Lp-iz4Ej20P_Q39VWI-Ecu4pkKvU3bGWzacxhdiOPXiGlaJsDLue2VFe0X91TSeNA3KtRREBtooK7CyIXTeHwk51hxVNndFMTO_3n7e5N0d4h-x8WRCMA8IxTXfVbUyc5MG-TdIWUfqTRO83V50lkNP0Usj1YLnRlx6AUlqUbGMHJz3iaGKzRQfMGL5JJvkIeu86zONOPHAVw11IRPv2hW4kQlJMpzP6ShST9xaB7uU7BV4MB1lHLmZQa1wNiidBQMkk0lrBYnAj8sSvxqaPbpZKMmFA8-_XyxKBpVEY40RGIcoMA-vdGFQ3MVyCYMMZTDbcKUsTPmmsVqMlGQJYfpuLYVOkoMP2pEQvD-ovT9CkVgm-0QeqqSsXj-g7zIf8gEc5IVkRFL6U6-KxAPjMnL2ysc7d_t7exxKz6sR5Hy5MVdcNIKHKXECnU1BtXU73S-S2w7r7ojNjQvq7XR3B0qzeIlpsQg88A5PqsnO3H5GYBvmPX93JiW-2QdmGyeEZWQTXiTwLiqlHrlqdz9NmDb_HEJPKm_rT8Ebzl_CTGkziTiQVOVlhgsggL6xEHGUI2e4PSvWcSG66Dze2-nAqk1Oq-xQKQdnSVOhgUWH0XEM3JMWqmvXcivHpJIG7r0tqWsfBdzW8bdo11GklfP9sD-a9MlJlQrVp1I3VfvchqwBrZ1kNfzi50S3X2E8Byn4gdFnmQzS8t-F1jh0t5qwzC8vc7aWJuUMqLEimiPVmtLhw5l522Dceo0nR5RQ6CBVGlgZ6RklWKZBptsgfncq6fTUcCJJC19Po4_-HzaBqiY01RxScA70bVB7X2Qk.AvE5RGJ9cYrk15A4sR0-Qg&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Invalid appId.'">Invalid appId.</md-option>
                              <md-option ng-value="'AppId not found'">AppId not found</md-option>
                              <md-option ng-value="'Error on appId'">Error on appId</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid appId.'">Param appId is not a valid value</p>
                              <section ng-show="selectedExample === 'Invalid appId.'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid appId.'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid appId.'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid appId.' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid appId.'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid appId.' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'AppId not found'">AppId is not managed.</p>
                              <section ng-show="selectedExample === 'AppId not found'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'AppId not found'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Error on appId'">Error getting appId value.</p>
                              <section ng-show="selectedExample === 'Error on appId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Error on appId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR LOAD PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR LOAD PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/renew" class="resource-table">
      <div ng-click="api.hide('/renew')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/renew</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/renew'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for renewing a set of keys. Device must periodically renew the secret keys set, a new secret keys set is retrieved.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: renewActiveButton === 'post'}" ng-click="api.showMethod($event, 'renew', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="renew = 'post'; renewActiveButton = 'post'" ng-show="renew === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/renew'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for renewing a set of keys. Service derives a set of keys which will be sent to the device.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId display-name">derivationId</span><span class="type">derivationId</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Value which identifies an unique element ( device based,device-user based, device-user-app based depend on the case we want).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.deviceId display-name">derivationId.deviceId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifies a device, this value is a immutable universally unique identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.appId display-name">derivationId.appId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an application + version running in the device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.userId display-name">derivationId.userId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an user in the device. Secure client library developed to use this API, could work with different combinations of deviceId + appId + userId values at the same time. Secure client library has been developed to consume this API in multiple/others environments/servers. If the value userId is informed, it must be validated matching the user obtained in headers.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationComplement display-name">derivationComplement</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'DerivationComplement combined with derivationId value identifies the valid data needed to establish an encrypted communication between device and backend.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="message display-name">message</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Cryptographic message, using **JSON Web Encryption (JWE)** standard on [RFC 7516](https://tools.ietf.org/html/rfc7516).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;A8364B53CF736472345&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;derivationComplement&quot;: &quot;1&quot;,
    &quot;message&quot;: &quot;eyJ2ZXIiOiIwIiwiZGtpIjoiMDEiLCJlbmMiOiJBMTI4R0NNIiwidGFnIjoieVFpYnpNdzRTVHJyLXZ1ZFZqc0xMZyIsImFsZyI6IkExMjhHQ01LVyIsIml2IjoiVlBwR1dmdUhPdzhrcHZrOCJ9.RVe52hx88QccCi5tMl-CMQ.Ud7DRmK_hWqCunDR.8GfId0RiRLvA1o_VdSV0mcOcPbtoiKSh4aNiWdXknQTWy7KeZjCLL6SQm-jdRBoH9Y8QMX2QSR-XYdOP_EXRBuZHbw4FCRBAGaIU5O9J4W1_gGHTh0CUJnkQPhNMmb4R-qWxWj7SncMrmm3RJszCZt_GHmOPE4yx_enDcg.Ku1jeyqB7VCABm_2RcQ32Q&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;A8364B53CF736472345&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;derivationComplement&quot;: &quot;1&quot;,
    &quot;message&quot;: &quot;eyJ2ZXIiOiIwIiwiZGtpIjoiMDEiLCJlbmMiOiJBMTI4R0NNIiwidGFnIjoieVFpYnpNdzRTVHJyLXZ1ZFZqc0xMZyIsImFsZyI6IkExMjhHQ01LVyIsIml2IjoiVlBwR1dmdUhPdzhrcHZrOCJ9.RVe52hx88QccCi5tMl-CMQ.Ud7DRmK_hWqCunDR.8GfId0RiRLvA1o_VdSV0mcOcPbtoiKSh4aNiWdXknQTWy7KeZjCLL6SQm-jdRBoH9Y8QMX2QSR-XYdOP_EXRBuZHbw4FCRBAGaIU5O9J4W1_gGHTh0CUJnkQPhNMmb4R-qWxWj7SncMrmm3RJszCZt_GHmOPE4yx_enDcg.Ku1jeyqB7VCABm_2RcQ32Q&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message display-name">message</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cryptographic message, using **JSON Web Encryption (JWE)** standard on [RFC 7516](https://tools.ietf.org/html/rfc7516).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.VOKXfNAwxDWNANIvfCtkCg0QgROx5mrUWGM-AEz2THWvU0yd4XrMa- zWuM_19oIYRIFz8WlFb3-vCVAk_QqHX5Hb9zCdQsIT.CDfEgHBNYulhLBgdBxwSJg.Xb7A-cQfPc5DMvpUhTZJjq2e1amqAWXtK4MByn7gIf3XaLbrDK111PKiEsBl9tBJfbUa4X_JvJRCSkOw1aNZI5zv9nAj9W_RNrOEScRi9SJobsTzCaLppK-6gmiv7QD59znaMKhQDwUFuhCIx9NFvqt-AANjtwxAU9UT_qMHqwg.P7zBNedcZ4MQMGTURj_D6xYEgU3369hBwmDaBltw9Q8&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.VOKXfNAwxDWNANIvfCtkCg0QgROx5mrUWGM-AEz2THWvU0yd4XrMa- zWuM_19oIYRIFz8WlFb3-vCVAk_QqHX5Hb9zCdQsIT.CDfEgHBNYulhLBgdBxwSJg.Xb7A-cQfPc5DMvpUhTZJjq2e1amqAWXtK4MByn7gIf3XaLbrDK111PKiEsBl9tBJfbUa4X_JvJRCSkOw1aNZI5zv9nAj9W_RNrOEScRi9SJobsTzCaLppK-6gmiv7QD59znaMKhQDwUFuhCIx9NFvqt-AANjtwxAU9UT_qMHqwg.P7zBNedcZ4MQMGTURj_D6xYEgU3369hBwmDaBltw9Q8&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Invalid appId'">Invalid appId</md-option>
                              <md-option ng-value="'AppId not found'">AppId not found</md-option>
                              <md-option ng-value="'Error on appId'">Error on appId</md-option>
                              <md-option ng-value="'derivationComplement expired'">derivationComplement expired</md-option>
                              <md-option ng-value="'derivationComplement not matches with derivationId'">derivationComplement not matches with derivationId</md-option>
                              <md-option ng-value="'derivationComplement not matches with messages'">derivationComplement not matches with messages</md-option>
                              <md-option ng-value="'derivationId in derivationComplement not matches with derivationId'">derivationId in derivationComplement not matches with derivationId</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid appId'">Param appId is not a valid value</p>
                              <section ng-show="selectedExample === 'Invalid appId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid appId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid appId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid appId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid appId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid appId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'AppId not found'">AppId is not managed.</p>
                              <section ng-show="selectedExample === 'AppId not found'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'AppId not found'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Error on appId'">Error getting appId value.</p>
                              <section ng-show="selectedExample === 'Error on appId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Error on appId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR RENEW PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR RENEW PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationComplement expired'">DerivationComplement value is already expired.</p>
                              <section ng-show="selectedExample === 'derivationComplement expired'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationComplement expired'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationComplement expired'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationComplement expired' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationComplement expired'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_EXPIRED&quot;,
            &quot;message&quot;: &quot;ERROR RENEW DC EXPIRED&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationComplement expired' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_EXPIRED&quot;,
            &quot;message&quot;: &quot;ERROR RENEW DC EXPIRED&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationComplement not matches with derivationId'">Data in derivationComplement value not matches with derivationId.</p>
                              <section ng-show="selectedExample === 'derivationComplement not matches with derivationId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationComplement not matches with derivationId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MATCH_DID&quot;,
            &quot;message&quot;: &quot;ERROR RENEW DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MATCH_DID&quot;,
            &quot;message&quot;: &quot;ERROR RENEW DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationComplement not matches with messages'">Data in derivationComplement value not matches with data in messages value.</p>
                              <section ng-show="selectedExample === 'derivationComplement not matches with messages'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationComplement not matches with messages'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationComplement not matches with messages'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationComplement not matches with messages' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationComplement not matches with messages'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MACH_MESSAGE&quot;,
            &quot;message&quot;: &quot;ERROR RENEW ENC DC NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationComplement not matches with messages' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MACH_MESSAGE&quot;,
            &quot;message&quot;: &quot;ERROR RENEW ENC DC NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'">DerivationId in derivationComplement value not matches with data in messages value.</p>
                              <section ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DID_IN_DC_NOT_MACH_DID&quot;,
            &quot;message&quot;: &quot;ERROR RENEW ENC DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DID_IN_DC_NOT_MACH_DID&quot;,
            &quot;message&quot;: &quot;ERROR RENEW ENC DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/confirm" class="resource-table">
      <div ng-click="api.hide('/confirm')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/confirm</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/confirm'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for confirming a create or renew operation. The device must confirm to the server that calls to **/create** or **/renew** have been processed correctly.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: confirmActiveButton === 'post'}" ng-click="api.showMethod($event, 'confirm', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="confirm = 'post'; confirmActiveButton = 'post'" ng-show="confirm === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/confirm'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for confirming a create or renew operation. Service to confirm that the processes **/create** or **/renew** are finally correct.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId display-name">derivationId</span><span class="type">derivationId</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Value which identifies an unique element ( device based,device-user based, device-user-app based depend on the case we want).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.deviceId display-name">derivationId.deviceId</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifies a device, this value is a immutable universally unique identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.appId display-name">derivationId.appId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an application + version running in the device.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationId.userId display-name">derivationId.userId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identifies an user in the device. Secure client library developed to use this API, could work with different combinations of deviceId + appId + userId values at the same time. Secure client library has been developed to consume this API in multiple/others environments/servers. If the value userId is informed, it must be validated matching the user obtained in headers.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="derivationComplement display-name">derivationComplement</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'DerivationComplement combined with derivationId value identifies the valid data needed to establish an encrypted communication between device and backend.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="message display-name">message</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Cryptographic message, using **JSON Web Encryption (JWE)** standard on [RFC 7516](https://tools.ietf.org/html/rfc7516).
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;A8364B53CF736472345&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;derivationComplement&quot;: &quot;1&quot;,
    &quot;message&quot;: &quot;eyJ2ZXIiOiIwIiwiZGtpIjoiMDEiLCJlbmMiOiJBMTI4R0NNIiwidGFnIjoieVFpYnpNdzRTVHJyLXZ1ZFZqc0xMZyIsImFsZyI6IkExMjhHQ01LVyIsIml2IjoiVlBwR1dmdUhPdzhrcHZrOCJ9.RVe52hx88QccCi5tMl-CMQ.Ud7DRmK_hWqCunDR.8GfId0RiRLvA1o_VdSV0mcOcPbtoiKSh4aNiWdXknQTWy7KeZjCLL6SQm-jdRBoH9Y8QMX2QSR-XYdOP_EXRBuZHbw4FCRBAGaIU5O9J4W1_gGHTh0CUJnkQPhNMmb4R-qWxWj7SncMrmm3RJszCZt_GHmOPE4yx_enDcg.Ku1jeyqB7VCABm_2RcQ32Q&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;derivationId&quot;: {
        &quot;deviceId&quot;: &quot;A8364B53CF736472345&quot;,
        &quot;appId&quot;: &quot;com.bbva.bbvatohu.1&quot;
    },
    &quot;derivationComplement&quot;: &quot;1&quot;,
    &quot;message&quot;: &quot;eyJ2ZXIiOiIwIiwiZGtpIjoiMDEiLCJlbmMiOiJBMTI4R0NNIiwidGFnIjoieVFpYnpNdzRTVHJyLXZ1ZFZqc0xMZyIsImFsZyI6IkExMjhHQ01LVyIsIml2IjoiVlBwR1dmdUhPdzhrcHZrOCJ9.RVe52hx88QccCi5tMl-CMQ.Ud7DRmK_hWqCunDR.8GfId0RiRLvA1o_VdSV0mcOcPbtoiKSh4aNiWdXknQTWy7KeZjCLL6SQm-jdRBoH9Y8QMX2QSR-XYdOP_EXRBuZHbw4FCRBAGaIU5O9J4W1_gGHTh0CUJnkQPhNMmb4R-qWxWj7SncMrmm3RJszCZt_GHmOPE4yx_enDcg.Ku1jeyqB7VCABm_2RcQ32Q&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="message display-name">message</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cryptographic message, using **JSON Web Encryption (JWE)** standard on [RFC 7516](https://tools.ietf.org/html/rfc7516).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.VOKXfNAwxDWNANIvfCtkCg0QgROx5mrUWGM-AEz2THWvU0yd4XrMa- zWuM_19oIYRIFz8WlFb3-vCVAk_QqHX5Hb9zCdQsIT.CDfEgHBNYulhLBgdBxwSJg.Xb7A-cQfPc5DMvpUhTZJjq2e1amqAWXtK4MByn7gIf3XaLbrDK111PKiEsBl9tBJfbUa4X_JvJRCSkOw1aNZI5zv9nAj9W_RNrOEScRi9SJobsTzCaLppK-6gmiv7QD59znaMKhQDwUFuhCIx9NFvqt-AANjtwxAU9UT_qMHqwg.P7zBNedcZ4MQMGTURj_D6xYEgU3369hBwmDaBltw9Q8&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;message&quot;: &quot;eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.VOKXfNAwxDWNANIvfCtkCg0QgROx5mrUWGM-AEz2THWvU0yd4XrMa- zWuM_19oIYRIFz8WlFb3-vCVAk_QqHX5Hb9zCdQsIT.CDfEgHBNYulhLBgdBxwSJg.Xb7A-cQfPc5DMvpUhTZJjq2e1amqAWXtK4MByn7gIf3XaLbrDK111PKiEsBl9tBJfbUa4X_JvJRCSkOw1aNZI5zv9nAj9W_RNrOEScRi9SJobsTzCaLppK-6gmiv7QD59znaMKhQDwUFuhCIx9NFvqt-AANjtwxAU9UT_qMHqwg.P7zBNedcZ4MQMGTURj_D6xYEgU3369hBwmDaBltw9Q8&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Invalid appId'">Invalid appId</md-option>
                              <md-option ng-value="'AppId not found'">AppId not found</md-option>
                              <md-option ng-value="'Error on appId'">Error on appId</md-option>
                              <md-option ng-value="'derivationComplement not matches with derivationId'">derivationComplement not matches with derivationId</md-option>
                              <md-option ng-value="'derivationComplement not matches with messages'">derivationComplement not matches with messages</md-option>
                              <md-option ng-value="'derivationId in derivationComplement not matches with derivationId'">derivationId in derivationComplement not matches with derivationId</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid appId'">Param appId is not a valid value.</p>
                              <section ng-show="selectedExample === 'Invalid appId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid appId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid appId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid appId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid appId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid appId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;INVALID_APPID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIG PARAM APPID INVALID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'AppId not found'">AppId is not managed.</p>
                              <section ng-show="selectedExample === 'AppId not found'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'AppId not found'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'AppId not found'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'AppId not found' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_NOT_FOUND&quot;,
            &quot;message&quot;: &quot;ERROR APPID NOT FOUND&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Error on appId'">Error getting appId value</p>
                              <section ng-show="selectedExample === 'Error on appId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Error on appId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Error on appId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Error on appId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;APPID_ERROR&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM PARAM DID APPID&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationComplement not matches with derivationId'">Data in derivationComplement value not matches with derivationId.</p>
                              <section ng-show="selectedExample === 'derivationComplement not matches with derivationId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationComplement not matches with derivationId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MATCH_DID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MATCH_DID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationComplement not matches with messages'">Data in derivationComplement value not matches with data in messages value.</p>
                              <section ng-show="selectedExample === 'derivationComplement not matches with messages'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationComplement not matches with messages'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationComplement not matches with messages'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationComplement not matches with messages' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationComplement not matches with messages'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MACH_MESSAGE&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM ENC DC NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationComplement not matches with messages' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DC_NOT_MACH_MESSAGE&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM ENC DC NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'">DerivationId in derivationComplement value not matches with data in messages value.</p>
                              <section ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DID_IN_DC_NOT_MACH_DID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM ENC DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'derivationId in derivationComplement not matches with derivationId' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;DID_IN_DC_NOT_MACH_DID&quot;,
            &quot;message&quot;: &quot;ERROR CONFIRM ENC DID NOT EQUALS&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>