
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">FACIAL BIOMETRICS<a href="https://grapi.slack.com/" target="_blank">Facial Biometrics Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/facial-biometrics/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-security-apis-facialbiometrics')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-security-apis-facialbiometrics" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-security-apis-facialbiometrics</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-security-apis-facialbiometrics/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API allows you to make facial verifications comparing two selfies. Also
it allows you to make a biometric proof of life based on a video selfie.
</p>
    <h2>RESOURCES</h2>
    <div id="/verifications" class="resource-table">
      <div ng-click="api.hide('/verifications')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing facial verifications.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: verificationsActiveButton === 'post'}" ng-click="api.showMethod($event, 'verifications', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="verifications = 'post'; verificationsActiveButton = 'post'" ng-show="verifications === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a new verification. Security service for Business.</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Created.</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/verifications/550e8400-1ee7-beea-f0f4-446655440000</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">verificationStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors. In this case attibute 'internalCode' should be informed with information about this error.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">EXECUTION_PENDING: The verification is being processed. It occurs when werification process is being executed and it hasn't ended.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The date of creation of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage display-name">targetImage</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target image.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage.href display-name">targetImage.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target image can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo display-name">targetVideo</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target video.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo.href display-name">targetVideo.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target video can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife display-name">proofOfLife</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the proof of life. If the verification has a video attached, the system performs a proof of life on the video.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife.score display-name">proofOfLife.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the proof of life (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics display-name">facialBiometrics</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the facial matching between target image and anchor
image. The system performs a biometric comparison between anchor and
target images that will end in a numeric score.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics.score display-name">facialBiometrics.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the facial biometrics verification (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;Verification pending to be executed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;Verification pending to be executed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Invalid image mime-type'">Invalid image mime-type</md-option>
                              <md-option ng-value="'Invalid video mime-type'">Invalid video mime-type</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid image mime-type'">The image of the verification is not recognized as an image.</p>
                              <section ng-show="selectedExample === 'Invalid image mime-type'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid image mime-type'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid image mime-type'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid image mime-type' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid image mime-type'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidImage&quot;,
            &quot;message&quot;: &quot;Invalid image mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid image mime-type' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidImage&quot;,
            &quot;message&quot;: &quot;Invalid image mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid video mime-type'">The image of the verification is not recognized as a video.</p>
                              <section ng-show="selectedExample === 'Invalid video mime-type'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid video mime-type'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid video mime-type'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid video mime-type' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid video mime-type'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidVideo&quot;,
            &quot;message&quot;: &quot;Invalid video mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid video mime-type' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidVideo&quot;,
            &quot;message&quot;: &quot;Invalid video mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving information from facial verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: verificationsverificationidActiveButton === 'get'}" ng-click="api.showMethod($event, 'verificationsverificationid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="verificationsverificationid = 'get'; verificationsverificationidActiveButton = 'get'" ng-show="verificationsverificationid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the information of the verification.  Internal platform service.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>verification id.</p>
                        </td>
                        <td><span>0d44a983-3ae6-4827-a6aa-bac10d69f713</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">verificationStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors. In this case attibute 'internalCode' should be informed with information about this error.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">EXECUTION_PENDING: The verification is being processed. It occurs when werification process is being executed and it hasn't ended.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.internalCode display-name">status.internalCode</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Internal Code to identify to the ERROR obtained during a failed verification. Only applies if the verification is in ERROR status.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The date of creation of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage display-name">targetImage</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target image.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage.href display-name">targetImage.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target image can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo display-name">targetVideo</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target video.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo.href display-name">targetVideo.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target video can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife display-name">proofOfLife</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the proof of life. If the verification has a video attached, the system performs a proof of life on the video.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife.score display-name">proofOfLife.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the proof of life (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics display-name">facialBiometrics</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the facial matching between target image and anchor
image. The system performs a biometric comparison between anchor and
target images that will end in a numeric score.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics.score display-name">facialBiometrics.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the facial biometrics verification (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Verification Pending'">Verification Pending</md-option>
                              <md-option ng-value="'Verification Open'">Verification Open</md-option>
                              <md-option ng-value="'Verification Unsuccesful'">Verification Unsuccesful</md-option>
                              <md-option ng-value="'Verification Done'">Verification Done</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Verification Pending'">The verification is executing and pending to be completed.</p>
                              <section ng-show="selectedExample === 'Verification Pending'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Verification Pending'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Verification Pending'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Verification Pending' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Verification Pending'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;EXECUTION_PENDING&quot;,
            &quot;description&quot;: &quot;Verification pending to be completed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Verification Pending' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;EXECUTION_PENDING&quot;,
            &quot;description&quot;: &quot;Verification pending to be completed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Verification Open'">The verification is open and pending to be executed.</p>
                              <section ng-show="selectedExample === 'Verification Open'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Verification Open'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Verification Open'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Verification Open' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Verification Open'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;Verification pending to be executed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Verification Open' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;OPEN&quot;,
            &quot;description&quot;: &quot;Verification pending to be executed&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Verification Unsuccesful'">The verification is completed unsuccesfully.</p>
                              <section ng-show="selectedExample === 'Verification Unsuccesful'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Verification Unsuccesful'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Verification Unsuccesful'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Verification Unsuccesful' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Verification Unsuccesful'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ERROR&quot;,
            &quot;description&quot;: &quot;Verification executed with errors. Face not found on image.&quot;,
            &quot;internalCode&quot;: &quot;faceNotFound&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Verification Unsuccesful' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;ERROR&quot;,
            &quot;description&quot;: &quot;Verification executed with errors. Face not found on image.&quot;,
            &quot;internalCode&quot;: &quot;faceNotFound&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Verification Done'">The verification is completed succesfully.</p>
                              <section ng-show="selectedExample === 'Verification Done'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Verification Done'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Verification Done'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Verification Done' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Verification Done'" json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;Verification executed without errors&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Verification Done' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;Verification executed without errors&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}/execute" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}/execute')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}/execute</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/execute'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for starting the execution of the verification process.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: verificationsverificationidexecuteActiveButton === 'post'}" ng-click="api.showMethod($event, 'verificationsverificationidexecute', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="verificationsverificationidexecute = 'post'; verificationsverificationidexecuteActiveButton = 'post'" ng-show="verificationsverificationidexecute === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/execute'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for starting the execution of a verification. Internal platform service.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>verification id.</p>
                        </td>
                        <td><span>0d44a983-3ae6-4827-a6aa-bac10d69f713</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>OK.</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The identifier of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">verificationStatus</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'State of the verification.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">OPEN: The verification has been created but needs more data to be processed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ERROR: The verifications has been processed with errors. In this case attibute 'internalCode' should be informed with information about this error.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">EXECUTION_PENDING: The verification is being processed. It occurs when werification process is being executed and it hasn't ended.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DONE: The verification has been processed successfully.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.description display-name">status.description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the state of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The date of creation of the verification.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage display-name">targetImage</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target image.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetImage.href display-name">targetImage.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target image can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo display-name">targetVideo</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Object with information of the target video.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="targetVideo.href display-name">targetVideo.href</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Url where the target video can be downloaded.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife display-name">proofOfLife</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the proof of life. If the verification has a video attached, the system performs a proof of life on the video.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="proofOfLife.score display-name">proofOfLife.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the proof of life (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics display-name">facialBiometrics</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Results of the facial matching between target image and anchor
image. The system performs a biometric comparison between anchor and
target images that will end in a numeric score.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="facialBiometrics.score display-name">facialBiometrics.score</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The score of the facial biometrics verification (min. 0.0, max. 1.0).'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;Verification executed without errors&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;0d44a983-3ae6-4827-a6aa-bac10d69f713&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;DONE&quot;,
            &quot;description&quot;: &quot;Verification executed without errors&quot;
        },
        &quot;creationDate&quot;: &quot;2017-01-01T12:00:27.52Z&quot;,
        &quot;targetImage&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetImage&quot;
        },
        &quot;targetVideo&quot;: {
            &quot;href&quot;: &quot;/facial-biometrics-verifications/v0/verifications/0d44a983-3ae6-4827-a6aa-bac10d69f713/targetVideo&quot;
        },
        &quot;proofOfLife&quot;: {
            &quot;score&quot;: 0.9999911226625033
        },
        &quot;facialBiometrics&quot;: {
            &quot;score&quot;: 0.9999911226625033
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="409">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Can not found face on images'">Can not found face on images</md-option>
                              <md-option ng-value="'Can not modify not opened validation'">Can not modify not opened validation</md-option>
                              <md-option ng-value="'Invalid image mime-type'">Invalid image mime-type</md-option>
                              <md-option ng-value="'Invalid video mime-type'">Invalid video mime-type</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Can not found face on images'">The image of the verification is not recognized as a face.</p>
                              <section ng-show="selectedExample === 'Can not found face on images'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Can not found face on images'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Can not found face on images'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Can not found face on images' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Can not found face on images'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;faceNotFound&quot;,
            &quot;message&quot;: &quot;Face not found on image.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Can not found face on images' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;faceNotFound&quot;,
            &quot;message&quot;: &quot;Face not found on image.&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Can not modify not opened validation'">The validation is not opened so it can not be modified.</p>
                              <section ng-show="selectedExample === 'Can not modify not opened validation'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Can not modify not opened validation'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Can not modify not opened validation'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Can not modify not opened validation' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Can not modify not opened validation'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;notModify&quot;,
            &quot;message&quot;: &quot;Can not modify not opened validations&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Can not modify not opened validation' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;notModify&quot;,
            &quot;message&quot;: &quot;Can not modify not opened validations&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid image mime-type'">The image of the verification is not recognized as an image.</p>
                              <section ng-show="selectedExample === 'Invalid image mime-type'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid image mime-type'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid image mime-type'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid image mime-type' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid image mime-type'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidImage&quot;,
            &quot;message&quot;: &quot;Invalid image mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid image mime-type' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidImage&quot;,
            &quot;message&quot;: &quot;Invalid image mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Invalid video mime-type'">The image of the verification is not recognized as a video.</p>
                              <section ng-show="selectedExample === 'Invalid video mime-type'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Invalid video mime-type'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Invalid video mime-type'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Invalid video mime-type' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Invalid video mime-type'" json="{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidVideo&quot;,
            &quot;message&quot;: &quot;Invalid video mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Invalid video mime-type' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;messages&quot;: [
        {
            &quot;code&quot;: &quot;invalidVideo&quot;,
            &quot;message&quot;: &quot;Invalid video mime-type&quot;,
            &quot;type&quot;: &quot;ERROR&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}/target-image" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}/target-image')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}/target-image</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/target-image'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the target image of the verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: verificationsverificationidtargetimageActiveButton === 'get'}" ng-click="api.showMethod($event, 'verificationsverificationidtargetimage', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="verificationsverificationidtargetimage = 'get'; verificationsverificationidtargetimageActiveButton = 'get'" ng-show="verificationsverificationidtargetimage === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/target-image'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for downloading the target image of a verification. Internal platform service.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>verification id.</p>
                        </td>
                        <td><span>0d44a983-3ae6-4827-a6aa-bac10d69f713</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Content-Type</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the type of object, it can be a (image/jpeg, image/png).</pre>
                                </td>
                                <td>true</td>
                                <td>image/jpeg</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not found.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/verifications/{verification-id}/target-video" class="resource-table">
      <div ng-click="api.hide('/verifications/{verification-id}/target-video')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/verifications/{verification-id}/target-video</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/target-video'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the target video of the verification.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: verificationsverificationidtargetvideoActiveButton === 'get'}" ng-click="api.showMethod($event, 'verificationsverificationidtargetvideo', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="verificationsverificationidtargetvideo = 'get'; verificationsverificationidtargetvideoActiveButton = 'get'" ng-show="verificationsverificationidtargetvideo === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/verifications/{verification-id}/target-video'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for downloading the target video of a verification. Internal platform service.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">verification-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>verification id.</p>
                        </td>
                        <td><span>0d44a983-3ae6-4827-a6aa-bac10d69f713</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">Content-Type</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the type of object, it can be a (video/mp4).</pre>
                                </td>
                                <td>true</td>
                                <td>video/mp4</td>
                              </tr>
                            </table>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not found.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>