
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">FINANTIAL STATEMENTS<a href="https://grapi.slack.com/" target="_blank">Finantial Statements Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/finantial-statements/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-financialstatements')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-financialstatements" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-financialstatements</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-financialstatements/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services related to financial statements.

Financial statements are a structured representation of the financial position and financial performance of natural person or an entity.
They are the most important documents that collect information on the economic health and which aims to give an overview.
</p>
    <h2>RESOURCES</h2>
    <div id="/financial-statements" class="resource-table">
      <div ng-click="api.hide('/financial-statements')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/financial-statements</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing financial statements of the legal customers.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: financialstatementsActiveButton === 'get'}" ng-click="api.showMethod($event, 'financialstatements', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="financialstatements = 'get'; financialstatementsActiveButton = 'get'" ng-show="financialstatements === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting  financial statements of the bank's legal customers.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customerId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Unique customer identifier.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>52364</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">startDate</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Month and year initial search.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2016-02</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">endDate</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Month and year end search.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2016-10</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialStatementId display-name">financialStatementId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement Id.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalMonths display-name">totalMonths</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total month months between initial and final financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Start and end date of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.startDate display-name">period.startDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Initial date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.endDate display-name">period.endDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'End date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity display-name">certifyingEntity</span><span class="type">certifyingEntity</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Entity that certifies the financial statement.        
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType</span><span class="type">entityType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The type of entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FISCAL: Entity type fiscal.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SITUATIONAL: Entity type situational.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">AUDITED: Entity type audited.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the type of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType display-name">situationType</span><span class="type">situationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It indicates the status of the financial statements.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.id display-name">situationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'ID situation of the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CLOSED: Situation type closed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: Situation type pending.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.name display-name">situationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description situation of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
            &quot;description&quot;: &quot;Web Pymes Visita&quot;,
            &quot;totalMonths&quot;: &quot;10&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-12&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;FISCAL&quot;,
                    &quot;name&quot;: &quot;Fiscal&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;CLOSED&quot;,
                &quot;name&quot;: &quot;Closed&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;3212016033004&quot;,
            &quot;description&quot;: &quot;Web Pymes Ajustado&quot;,
            &quot;totalMonths&quot;: &quot;8&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-08&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;AUDITED&quot;,
                    &quot;name&quot;: &quot;Audited&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;2132016043020&quot;,
            &quot;description&quot;: &quot;Modelo Scorating Web&quot;,
            &quot;totalMonths&quot;: &quot;7&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-07&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;SITUATIONAL&quot;,
                    &quot;name&quot;: &quot;Situational&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
            &quot;description&quot;: &quot;Web Pymes Visita&quot;,
            &quot;totalMonths&quot;: &quot;10&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-12&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;FISCAL&quot;,
                    &quot;name&quot;: &quot;Fiscal&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;CLOSED&quot;,
                &quot;name&quot;: &quot;Closed&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;3212016033004&quot;,
            &quot;description&quot;: &quot;Web Pymes Ajustado&quot;,
            &quot;totalMonths&quot;: &quot;8&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-08&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;AUDITED&quot;,
                    &quot;name&quot;: &quot;Audited&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;2132016043020&quot;,
            &quot;description&quot;: &quot;Modelo Scorating Web&quot;,
            &quot;totalMonths&quot;: &quot;7&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-07&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;SITUATIONAL&quot;,
                    &quot;name&quot;: &quot;Situational&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialStatementId display-name">financialStatementId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement Id.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalMonths display-name">totalMonths</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total month months between initial and final financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Start and end date of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.startDate display-name">period.startDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Initial date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.endDate display-name">period.endDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'End date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity display-name">certifyingEntity</span><span class="type">certifyingEntity</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Entity that certifies the financial statement.        
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType</span><span class="type">entityType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The type of entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FISCAL: Entity type fiscal.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SITUATIONAL: Entity type situational.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">AUDITED: Entity type audited.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the type of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType display-name">situationType</span><span class="type">situationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It indicates the status of the financial statements.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.id display-name">situationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'ID situation of the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CLOSED: Situation type closed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: Situation type pending.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.name display-name">situationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description situation of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
            &quot;description&quot;: &quot;Web Pymes Visita&quot;,
            &quot;totalMonths&quot;: &quot;10&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-12&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;FISCAL&quot;,
                    &quot;name&quot;: &quot;Fiscal&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;CLOSED&quot;,
                &quot;name&quot;: &quot;Closed&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;3212016033004&quot;,
            &quot;description&quot;: &quot;Web Pymes Ajustado&quot;,
            &quot;totalMonths&quot;: &quot;8&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-08&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;AUDITED&quot;,
                    &quot;name&quot;: &quot;Audited&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;2132016043020&quot;,
            &quot;description&quot;: &quot;Modelo Scorating Web&quot;,
            &quot;totalMonths&quot;: &quot;7&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-07&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;SITUATIONAL&quot;,
                    &quot;name&quot;: &quot;Situational&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 4,
        &quot;totalElements&quot;: 4,
        &quot;pageSize&quot;: 1
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
            &quot;description&quot;: &quot;Web Pymes Visita&quot;,
            &quot;totalMonths&quot;: &quot;10&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-12&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;FISCAL&quot;,
                    &quot;name&quot;: &quot;Fiscal&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;CLOSED&quot;,
                &quot;name&quot;: &quot;Closed&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;3212016033004&quot;,
            &quot;description&quot;: &quot;Web Pymes Ajustado&quot;,
            &quot;totalMonths&quot;: &quot;8&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-08&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;AUDITED&quot;,
                    &quot;name&quot;: &quot;Audited&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        },
        {
            &quot;financialStatementId&quot;: &quot;2132016043020&quot;,
            &quot;description&quot;: &quot;Modelo Scorating Web&quot;,
            &quot;totalMonths&quot;: &quot;7&quot;,
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2015-01&quot;,
                &quot;endDate&quot;: &quot;2015-07&quot;
            },
            &quot;certifyingEntity&quot;: {
                &quot;entityType&quot;: {
                    &quot;id&quot;: &quot;SITUATIONAL&quot;,
                    &quot;name&quot;: &quot;Situational&quot;
                }
            },
            &quot;situationType&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/financial-statements/v0?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 4,
        &quot;totalElements&quot;: 4,
        &quot;pageSize&quot;: 1
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/financial-statements/{financial-statement-id}" class="resource-table">
      <div ng-click="api.hide('/financial-statements/{financial-statement-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/financial-statements/{financial-statement-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements/{financial-statement-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for manage financial statement of a legal customer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: financialstatementsfinancialstatementidActiveButton === 'get'}" ng-click="api.showMethod($event, 'financialstatementsfinancialstatementid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="financialstatementsfinancialstatementid = 'get'; financialstatementsfinancialstatementidActiveButton = 'get'" ng-show="financialstatementsfinancialstatementid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements/{financial-statement-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting financial statement of the bank's of a legal customer
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">financial-statement-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique financial statement identifier</p>
                        </td>
                        <td><span>123</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialStatementId display-name">financialStatementId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement Id.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The financial statement description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalMonths display-name">totalMonths</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total month months between initial and final financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Start and end date of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.startDate display-name">period.startDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Initial date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.endDate display-name">period.endDate</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'End date of financial statement, the format of this date is: YYYY-MM.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity display-name">certifyingEntity</span><span class="type">certifyingEntity</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType</span><span class="type">entityType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The type of entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FISCAL: Entity type fiscal.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SITUATIONAL: Entity type situational.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">AUDITED: Entity type audited.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="certifyingEntity.entityType display-name">certifyingEntity.entityType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the type of the entity that certifies the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType display-name">situationType</span><span class="type">situationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'It indicates the status of the financial statements.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.id display-name">situationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'ID situation of the financial statement.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CLOSED: Situation type closed.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: Situation type pending.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="situationType.name display-name">situationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description situation of the financial statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
        &quot;description&quot;: &quot;Web Pymes Visita&quot;,
        &quot;totalMonths&quot;: &quot;10&quot;,
        &quot;period&quot;: {
            &quot;startDate&quot;: &quot;2015-01&quot;,
            &quot;endDate&quot;: &quot;2015-12&quot;
        },
        &quot;certifyingEntity&quot;: {
            &quot;entityType&quot;: {
                &quot;id&quot;: &quot;FISCAL&quot;,
                &quot;name&quot;: &quot;Fiscal&quot;
            }
        },
        &quot;situationType&quot;: {
            &quot;id&quot;: &quot;CLOSED&quot;,
            &quot;name&quot;: &quot;Closed&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;financialStatementId&quot;: &quot;1232016023004&quot;,
        &quot;description&quot;: &quot;Web Pymes Visita&quot;,
        &quot;totalMonths&quot;: &quot;10&quot;,
        &quot;period&quot;: {
            &quot;startDate&quot;: &quot;2015-01&quot;,
            &quot;endDate&quot;: &quot;2015-12&quot;
        },
        &quot;certifyingEntity&quot;: {
            &quot;entityType&quot;: {
                &quot;id&quot;: &quot;FISCAL&quot;,
                &quot;name&quot;: &quot;Fiscal&quot;
            }
        },
        &quot;situationType&quot;: {
            &quot;id&quot;: &quot;CLOSED&quot;,
            &quot;name&quot;: &quot;Closed&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/financial-statements/{financial-statement-id}/accounting-accounts" class="resource-table">
      <div ng-click="api.hide('/financial-statements/{financial-statement-id}/accounting-accounts')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/financial-statements/{financial-statement-id}/accounting-accounts</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements/{financial-statement-id}/accounting-accounts'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing accounting accounts in the financial statements of the legal customers.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: financialstatementsfinancialstatementidaccountingaccountsActiveButton === 'get'}" ng-click="api.showMethod($event, 'financialstatementsfinancialstatementidaccountingaccounts', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="financialstatementsfinancialstatementidaccountingaccounts = 'get'; financialstatementsfinancialstatementidaccountingaccountsActiveButton = 'get'" ng-show="financialstatementsfinancialstatementidaccountingaccounts === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/financial-statements/{financial-statement-id}/accounting-accounts'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting accounting accounts in the financial statements.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">financial-statement-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique financial statement identifier</p>
                        </td>
                        <td><span>123</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accounting account number Id.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accounting account description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="level display-name">level</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accounting account level.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="behavior display-name">behavior</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accounting account behavior.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">POSITIVE: Accounting accounts positive.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">NEGATIVE: Accounting accounts negative.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value display-name">value</span><span class="type">value [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Accounting account value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value.currency display-name">value.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to account value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="value.amount display-name">value.amount</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Amount account value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1234567890&quot;,
            &quot;description&quot;: &quot;Pago Proveedores&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;800&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;300&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567891&quot;,
            &quot;description&quot;: &quot;Otras Inversiones&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;200&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567892&quot;,
            &quot;description&quot;: &quot;Caja y Bancos&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;NEGATIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;15000&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;4800&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567893&quot;,
            &quot;description&quot;: &quot;Otras Existencias&quot;,
            &quot;level&quot;: &quot;1&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;1200&quot;
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1234567890&quot;,
            &quot;description&quot;: &quot;Pago Proveedores&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;800&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;300&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567891&quot;,
            &quot;description&quot;: &quot;Otras Inversiones&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;200&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567892&quot;,
            &quot;description&quot;: &quot;Caja y Bancos&quot;,
            &quot;level&quot;: &quot;0&quot;,
            &quot;behavior&quot;: &quot;NEGATIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;15000&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;4800&quot;
                }
            ]
        },
        {
            &quot;id&quot;: &quot;1234567893&quot;,
            &quot;description&quot;: &quot;Otras Existencias&quot;,
            &quot;level&quot;: &quot;1&quot;,
            &quot;behavior&quot;: &quot;POSITIVE&quot;,
            &quot;value&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;1200&quot;
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>