
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">SECURITY<a href="https://guapaas.slack.com/messages/api-security/" target="_blank">Security Slack Chanel<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI: <span>/security/v0</span></h4>
    <h4 class="version">Version: <span>v0</span>
    </h4>
    <h4 class="version">GIT Repository:<a href="https://bitbucket.org/apisbbva/security-v0">Security-v0</a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to security management.
</p>
    <h2>RESOURCES</h2>
    <div id="/token" class="resource-table">
      <div ng-click="api.hide('/token')" class="table-head">
        <h3 class="resource-uri">/token</h3><i class="material-icons">play_circle_outline</i>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing OAuth Access Tokens.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: tokenActiveButton === 'post'}" ng-click="api.showMethod($event, 'token', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="token = 'post'; tokenActiveButton = 'post'" ng-show="token === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" class="title">Request</h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting and, if provided, for refreshing the right Access Token.

- If grantType is client_credentials this endpoint returns a Security Token (2 Legged) that allows to invoke services on behalf of an application.

- If grantType is authorization_code this endpoint returns a Security Token (3 Legged) &amp; Security Refresh Token that allows to invoke services on behalf of an end user.

- If grantType is refresh_token this endpoint returns a new Security Token &amp; Security Refresh Token that allows to invoke services on behalf of an end user. This endpoint can be used even if the Security Token hasn't expired, but always revokes the previous Security Token and Security Refresh Token. Security Refresh Token just works with a 3 Legged scheme.

If there is not any scope specified in the request, the scope of this Security_Token will be the default scope or scopes for each application.

Application credentials must be sent always by HTTP Basic Authorization header using the following format: clientId:clientSecret encoded in Base64.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">Authorization</span></td>
                        <td>
                          <pre>Basic Authorization Header with user credentials using the following format userId:userPassword enconded in Base64.</pre>
                        </td>
                        <td>true</td>
                        <td>Basic c3kd02lzkd0</td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">grantType</span><span class="type">enum</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Type of authentication granting. In Oauth2 there are four grant types: client_credentials, authorization_code, implicit and password. Grant type depends on how the application provides the authentication. For 2-legged token it must be client_credentials. For 3-legged token it must be authorization_code. For refresh, it must be refresh_token.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">CLIENT_CREDENTIALS</span></li>
                            <li><span class="value">AUTHORIZATION_CODE</span></li>
                            <li><span class="value">IMPLICT</span></li>
                            <li><span class="value">PASSWORD</span></li>
                          </ul>
                        </td>
                        <td><span>CLIENT_CREDENTIALS</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">scope</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Access token scope (which services application wants to consume). Scopes are defined by authorization server and they are just strings that represents a group of resources.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>me_basic_01</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">code</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Authorization code received by the application on the redirect_uri after authorization step.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>wnPFle</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">thirdPartyUserId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Application user ID e.g Dwolla user ID. If it is provided in this call, security will store it in the token, and it will be sent to all calls in the vnd.bbva.third-party-user-id.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>1234</span>
                        </td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">refreshToken</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Refresh token to refresh the access token in x-www-form-urlencoded format. Applies only to 3-legged tokens when refreshing the token.
'"></span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">username</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'User identifier. Required when using password granting type.
'"></span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">password</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Password for the provided user. Required when using password granting type.
'"></span>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'Password granting type'">Password granting type</md-option>
                      <md-option ng-value="'Refreshing a token'">Refreshing a token</md-option>
                    </md-select>
                    <md-radio-group ng-show="selectedExample === 'Password granting type'" ng-model="api.showTypeExample">
                      <md-radio-button value="object" class="md-primary">Object</md-radio-button>
                      <md-radio-button value="json" class="md-primary">JSON</md-radio-button>
                    </md-radio-group>
                    <p ng-show="selectedExample === 'Password granting type'">JSON example for Password grating type</p>
                    <div ng-show="selectedExample === 'Password granting type' &amp;&amp; api.showTypeExample === 'object'" class="example">
                      <json-formatter json="{
  &quot;username&quot;: &quot;1234&quot;,
  &quot;password&quot;: &quot;MyP4ssw0rd&quot;
}
" open="3"></json-formatter>
                    </div>
                    <div ng-show="selectedExample === 'Password granting type' &amp;&amp; api.showTypeExample === 'json'" class="example">
                      <pre>{
  &quot;username&quot;: &quot;1234&quot;,
  &quot;password&quot;: &quot;MyP4ssw0rd&quot;
}
</pre>
                    </div>
                    <md-radio-group ng-show="selectedExample === 'Refreshing a token'" ng-model="api.showTypeExample">
                      <md-radio-button value="object" class="md-primary">Object</md-radio-button>
                      <md-radio-button value="json" class="md-primary">JSON</md-radio-button>
                    </md-radio-group>
                    <p ng-show="selectedExample === 'Refreshing a token'">JSON example for refreshing a token.</p>
                    <div ng-show="selectedExample === 'Refreshing a token' &amp;&amp; api.showTypeExample === 'object'" class="example">
                      <json-formatter json="{
  &quot;refreshToken&quot;: &quot;hnxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDdd...&quot;
}
" open="3"></json-formatter>
                    </div>
                    <div ng-show="selectedExample === 'Refreshing a token' &amp;&amp; api.showTypeExample === 'json'" class="example">
                      <pre>{
  &quot;refreshToken&quot;: &quot;hnxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDdd...&quot;
}
</pre>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource</pre>
                                </td>
                                <td>true</td>
                                <td>/token?grantType=client_credentials</td>
                              </tr>
                              <tr>
                                <td><span class="display-name">content-location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource</pre>
                                </td>
                                <td>true</td>
                                <td>/token?grantType=client_credentials</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">accessToken</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Security Token to call API services.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">expiresIn</span><span class="type">number</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'TTL for this access token in seconds.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">refreshToken</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Refresh token to refresh the access token in x-www-form-urlencoded format. Applies only to 3-legged tokens when refreshing the token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">refreshExpiresIn</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'TTL for this refresh token in seconds. Applies only to 3-legged tokens when refreshing the token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">tokenType</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Type of Security Token desired.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td><span class="display-name">scope</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Scopes granted for this access token.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <md-radio-group ng-model="api.showTypeExample">
                              <md-radio-button value="object" class="md-primary">Object</md-radio-button>
                              <md-radio-button value="json" class="md-primary">JSON</md-radio-button>
                            </md-radio-group>
                            <div ng-show="api.showTypeExample === 'object'" class="example">
                              <json-formatter json="{
  &quot;data&quot;: {
    &quot;accessToken&quot;: &quot;eJxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDddv...&quot;,
    &quot;expiresIn&quot;: 1999,
    &quot;refreshToken&quot;: &quot;hnxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDdd...&quot;,
    &quot;refreshExpiresIn&quot;: 360000,
    &quot;tokenType&quot;: &quot;jwt&quot;,
    &quot;scope&quot;: &quot;read write&quot;
  }
}
" open="3"></json-formatter>
                            </div>
                            <div ng-show="api.showTypeExample === 'json'" class="example">
                              <pre>{
  &quot;data&quot;: {
    &quot;accessToken&quot;: &quot;eJxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDddv...&quot;,
    &quot;expiresIn&quot;: 1999,
    &quot;refreshToken&quot;: &quot;hnxt1MeOq1gUBdBfKXmKqshJctUTsUwwYBPNpHWBS7AxmBy+vutJ3U896Pk+OtLW1jr+Wp/12wz7oWqbzwP+gR3eYJO2WdUUnwffU9+5w9swgiYDdd...&quot;,
    &quot;refreshExpiresIn&quot;: 360000,
    &quot;tokenType&quot;: &quot;jwt&quot;,
    &quot;scope&quot;: &quot;read write&quot;
  }
}
</pre>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/authorize" class="resource-table">
      <div ng-click="api.hide('/authorize')" class="table-head">
        <h3 class="resource-uri">/authorize</h3><i class="material-icons">play_circle_outline</i>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing Oauth Authorization.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: authorizeActiveButton === 'get'}" ng-click="api.showMethod($event, 'authorize', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="authorize = 'get'; authorizeActiveButton = 'get'" ng-show="authorize === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" class="title">Request</h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the required information to access to a specified application.

This endpoint is invoked by a web browser redirection (it requires user interaction). It redirects to the login page, and then shows the scopes' approval page. At the end of this flow, this endpoint returns to the redirect_url configured for the associated application, with an authorization_code attached.

With that authorization_code and application's credentials ( appid + client_secret ), the application must invoke the token endpoint to obtain a valid Security_Token.

If there is no scope specified in the request, the scope of this Security_Token will be the default scope or scopes for each application.

This endpoint returns the access tokens for grant types client_credentials, authorization_code and refresh_token.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">responseType</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>The value must be code for this grant type.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>code</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">clientId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Application ID to verify that this application can get this type of tokens.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>app.bbva.clientapi</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">state</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Parameter to carry through any server-specific state you need to, for example, protect against CSRF issues.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>3cskc9023k18xcmkd02189D</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">scope</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Scope requested by the application. User must approve it after login. Scopes are defined by authorization server and they are just strings that represents a group of resources. It can be any scope that has been granted to the application and user must accept. The value of the scope parameter is expressed as a list of space-delimited, case-sensitive strings.  The strings are defined by the authorization server.  If the value contains multiple space-delimited strings, their order does not matter, and each string adds an additional access range to the requested scope.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>me_basic_1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="display-name">redirectUri</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>The client MUST include a redirection URI with the authorization request using the redirect_uri request parameter. The authorization server will compare and match the value received against at least one of the registered redirection URIs.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>https://www.bbvaapimarket.com/group/bbva/console/authentication/oauth2.html</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name"></span><span class="type undefined"></span></td>
                                <td>
                                  <pre></pre>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                          </md-content>
                        </md-tab>
                        <md-tab label="302">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Moved Temporarily</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/reset" class="resource-table">
      <div ng-click="api.hide('/reset')" class="table-head">
        <h3 class="resource-uri">/reset</h3><i class="material-icons">play_circle_outline</i>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for resetting the password of the user.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: resetActiveButton === 'post'}" ng-click="api.showMethod($event, 'reset', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="reset = 'post'; resetActiveButton = 'post'" ng-show="reset === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" class="title">Request</h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting to reset the user's password.

This service sends a new password to the email associated to the customer or prospect.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource</pre>
                                </td>
                                <td>true</td>
                                <td>/reset</td>
                              </tr>
                              <tr>
                                <td><span class="display-name">content-location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource</pre>
                                </td>
                                <td>true</td>
                                <td>/reset</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <md-radio-group ng-model="api.showTypeExample">
                              <md-radio-button value="object" class="md-primary">Object</md-radio-button>
                              <md-radio-button value="json" class="md-primary">JSON</md-radio-button>
                            </md-radio-group>
                            <div ng-show="api.showTypeExample === 'object'" class="example">
                              <json-formatter json="{
  &quot;data&quot;: {
    &quot;message&quot;: &quot;The password has been successfully reset.&quot;
  }
}
" open="3"></json-formatter>
                            </div>
                            <div ng-show="api.showTypeExample === 'json'" class="example">
                              <pre>{
  &quot;data&quot;: {
    &quot;message&quot;: &quot;The password has been successfully reset.&quot;
  }
}
</pre>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>