
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">RISKS<a href="https://grapi.slack.com/" target="_blank">Risks Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/risks/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('esapi-es-apis-risks-risks')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/esapi/repos/esapi-es-apis-risks-risks" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/esapi/repos/esapi-es-apis-risks-risks</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/esapi/repos/esapi-es-apis-risks-risks/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services related to recover the necessary data to calculate de scoring of a user (to decide if the loan is aproved or denied). This data will be request to a external bureau. The user could be a customer or a non-customer.</p>
    <h2>RESOURCES</h2>
    <div id="/external-filters/request" class="resource-table">
      <div ng-click="api.hide('/external-filters/request')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/external-filters/request</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/external-filters/request'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for requesting the necessary information for non-customers (or customers) to external bureaus.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: externalfiltersrequestActiveButton === 'post'}" ng-click="api.showMethod($event, 'externalfiltersrequest', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="externalfiltersrequest = 'post'; externalfiltersrequestActiveButton = 'post'" ng-show="externalfiltersrequest === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/external-filters/request'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting the necessary information for non-customers (or customers) to external bureaus. Will be mandatory
the personal information of the non-customers (name, middle name and identity document). If the user was client
the information required will be the customer identificator. 
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="customerId display-name">customerId</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Customer identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="firstName display-name">firstName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of the person.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="middleName display-name">middleName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of the person occurring between the first and family names, as a second given name or a maternal surname.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="lastName display-name">lastName</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name(s) written after the &quot;given names&quot; and could be the main name.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument display-name">identityDocument</span><span class="type">identityDocument</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Identity document information related to the customer.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType</span><span class="type">documentType</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Document identity type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentType display-name">identityDocument.documentType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier document type identity.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">PASSPORT: Identifier document passport.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">NIF: Identifier document fiscal identification number.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">RESIDENTIAL_PASS: Identifier document residence.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DNI: Identifier national identity document.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">RUC: Identifier document single tax registration.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">NIT: Identifier document tax identification number.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CURP: Unique Population Registry Code.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">INE: National Electoral Institute Code.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DL: Drivers License Number.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">STATE_ID: State Issued Identification.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DIPLOMATIC: Identifier document issued to members of diplomatic missions residing in.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">FOREIGNERS: Identifier card for foreign residents.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">MILITARY: Identifier document that accredits the military situation.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">POLICE: Police Identification Card Identifier.</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">RUT: Identifier national identity document.</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.country display-name">identityDocument.country</span><span class="type">country</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Country of origin of the document.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.country display-name">identityDocument.country.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Country identifier by an ISO 3166-1 with two-digits code.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="identityDocument.documentNumber display-name">identityDocument.documentNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'Non-customer JSON input'">Non-customer JSON input</md-option>
                      <md-option ng-value="'Customer JSON input'">Customer JSON input</md-option>
                    </md-select>
                    <div class="example">
                      <p ng-show="selectedExample === 'Non-customer JSON input'">JSON input example when request information about external filters of a non-customer</p>
                      <section ng-show="selectedExample === 'Non-customer JSON input'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'Non-customer JSON input'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'Non-customer JSON input'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'Non-customer JSON input' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;firstName&quot;: &quot;Pedro&quot;,
    &quot;middleName&quot;: &quot;Ramirez&quot;,
    &quot;lastName&quot;: &quot;Pérez&quot;,
    &quot;identityDocument&quot;: {
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;DNI&quot;
        },
        &quot;country&quot;: {
            &quot;id&quot;: &quot;ES&quot;
        },
        &quot;documentNumber&quot;: &quot;758396724D&quot;
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'Non-customer JSON input' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;firstName&quot;: &quot;Pedro&quot;,
    &quot;middleName&quot;: &quot;Ramirez&quot;,
    &quot;lastName&quot;: &quot;Pérez&quot;,
    &quot;identityDocument&quot;: {
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;DNI&quot;
        },
        &quot;country&quot;: {
            &quot;id&quot;: &quot;ES&quot;
        },
        &quot;documentNumber&quot;: &quot;758396724D&quot;
    }
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'Customer JSON input'">JSON input example when request information about external filters of a Customer</p>
                      <section ng-show="selectedExample === 'Customer JSON input'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'Customer JSON input'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'Customer JSON input'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'Customer JSON input' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;customerId&quot;: &quot;ES0182079374234C&quot;
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'Customer JSON input' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;customerId&quot;: &quot;ES0182079374234C&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>