
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CARDS<a href="https://grapi.slack.com/" target="_blank">Cards Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/cards/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-cards')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-cards" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-cards</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-cards/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API offers services related to the cards of a customer for the business of Perú
</p>
    <h2>RESOURCES</h2>
    <div id="/cards/{card-id}/transactions/{transaction-id}/installments-plan" class="resource-table">
      <div ng-click="api.hide('/cards/{card-id}/transactions/{transaction-id}/installments-plan')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/cards/{card-id}/transactions/{transaction-id}/installments-plan</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/cards/{card-id}/transactions/{transaction-id}/installments-plan'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for perfoming an installment plan. System for purchases merchandise or services at credit, by which payment is made in installments over a fixed period of time.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: cardscardidtransactionstransactionidinstallmentsplanActiveButton === 'post'}" ng-click="api.showMethod($event, 'cardscardidtransactionstransactionidinstallmentsplan', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="cardscardidtransactionstransactionidinstallmentsplan = 'post'; cardscardidtransactionstransactionidinstallmentsplanActiveButton = 'post'" ng-show="cardscardidtransactionstransactionidinstallmentsplan === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/cards/{card-id}/transactions/{transaction-id}/installments-plan'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating the purchase installment plan with a Credit Card.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">simulated</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>It indicates that the operation to try to perform around the entity installments-plan is a simulation and therefore it does not represent a change in the state of it. Each value returned by a simulated operation reflect the possible state of the entity in the hypothetical case that had actually been executed the operation itself.
                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>true</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">card-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique card identifier</p>
                        </td>
                        <td><span>421278965330369</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">transaction-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique transaction identifier</p>
                        </td>
                        <td><span>113396</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="amount display-name">amount</span><span class="type">number</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Amount of the simulation. Indicated only when it is a simulation. This amount is the monetary value that the client want to simulated if he will realize the purchase.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="currency display-name">currency</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency of the simulation. Indicated only when it is a simulation.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="terms display-name">terms</span><span class="type">terms</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Deadlines to complete the credit payment.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="terms.totalNumber display-name">terms.totalNumber</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Total number of terms of the credit.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Examples</h3>
                    <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                      <md-option ng-value="'Simulate JSON example for /installments-plan'">Simulate JSON example for /installments-plan</md-option>
                      <md-option ng-value="'Create JSON example for /installments-plan'">Create JSON example for /installments-plan</md-option>
                    </md-select>
                    <div class="example">
                      <p ng-show="selectedExample === 'Simulate JSON example for /installments-plan'">Simulate JSON example to perfom a purchase installment plan.</p>
                      <section ng-show="selectedExample === 'Simulate JSON example for /installments-plan'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'Simulate JSON example for /installments-plan'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'Simulate JSON example for /installments-plan'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'Simulate JSON example for /installments-plan' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;amount&quot;: 5000,
    &quot;currency&quot;: &quot;PEN&quot;,
    &quot;terms&quot;: {
        &quot;totalNumber&quot;: 3
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'Simulate JSON example for /installments-plan' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;amount&quot;: 5000,
    &quot;currency&quot;: &quot;PEN&quot;,
    &quot;terms&quot;: {
        &quot;totalNumber&quot;: 3
    }
}</pre>
                      </div>
                    </div>
                    <div class="example">
                      <p ng-show="selectedExample === 'Create JSON example for /installments-plan'">Create JSON example to perfom a purchase installment plan.</p>
                      <section ng-show="selectedExample === 'Create JSON example for /installments-plan'" layout="row" layout-align="left center" class="container-buttons">
                        <button ng-show="selectedExample === 'Create JSON example for /installments-plan'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-show="selectedExample === 'Create JSON example for /installments-plan'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="selectedExample === 'Create JSON example for /installments-plan' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;terms&quot;: {
        &quot;totalNumber&quot;: 6
    }
}" open="3" class="json-formatter-dark">               </json-formatter>
                      </div>
                      <div ng-show="selectedExample === 'Create JSON example for /installments-plan' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;terms&quot;: {
        &quot;totalNumber&quot;: 6
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/cards/421278965330369/transactions/113396/installments-plan/11ed2e7f-66cb-68ef-99d9-2291cf9c3233</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of purchase installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total display-name">total</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total amount of the installment plan considering interest and commissions.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total.amount display-name">total.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total.currency display-name">total.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital display-name">capital</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total capital of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital.amount display-name">capital.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital.currency display-name">capital.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest display-name">interest</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total interest of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest.amount display-name">interest.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest.currency display-name">interest.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates display-name">rates</span><span class="type">rates [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total rates of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType</span><span class="type">rateType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Types of rates on credit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of rates on credit.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">TEA: Rate that calculates the cost or expected interest value within one year.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TCEA: Summary of interest, expenses and commissions that are used to calculate the Monthly Payment Fee.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of rates on credit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.percentage display-name">rates.percentage</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Percentage of rate
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments display-name">scheduledPayments</span><span class="type">scheduledPayments [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of total scheduled payments in a period of time.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.maturityDate display-name">scheduledPayments.maturityDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format (DD/MM/YYYY) for the date of expiration on which the current installment can be paid.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Current installment monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the installment capital. The capital of the quota does not include interest or commissions.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount of the Interests of each quota.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee</span><span class="type">money</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the fee on each quota.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;11ed2e7f-66cb-68ef-99d9-2291cf9c3233&quot;,
        &quot;total&quot;: {
            &quot;amount&quot;: 500,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;capital&quot;: {
            &quot;amount&quot;: 1000,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;interest&quot;: {
            &quot;amount&quot;: 130,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;rates&quot;: [
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TEA&quot;,
                    &quot;name&quot;: &quot;Tasa Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            },
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TCEA&quot;,
                    &quot;name&quot;: &quot;Tasa Costo Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            }
        ],
        &quot;scheduledPayments&quot;: [
            {
                &quot;maturityDate&quot;: &quot;2017-05-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            {
                &quot;maturityDate&quot;: &quot;2017-06-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;11ed2e7f-66cb-68ef-99d9-2291cf9c3233&quot;,
        &quot;total&quot;: {
            &quot;amount&quot;: 500,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;capital&quot;: {
            &quot;amount&quot;: 1000,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;interest&quot;: {
            &quot;amount&quot;: 130,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;rates&quot;: [
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TEA&quot;,
                    &quot;name&quot;: &quot;Tasa Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            },
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TCEA&quot;,
                    &quot;name&quot;: &quot;Tasa Costo Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            }
        ],
        &quot;scheduledPayments&quot;: [
            {
                &quot;maturityDate&quot;: &quot;2017-05-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            {
                &quot;maturityDate&quot;: &quot;2017-06-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="215">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Simulated</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total display-name">total</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total amount of the installment plan considering interest and commissions.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total.amount display-name">total.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="total.currency display-name">total.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital display-name">capital</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total capital of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital.amount display-name">capital.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="capital.currency display-name">capital.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest display-name">interest</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total interest of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest.amount display-name">interest.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="interest.currency display-name">interest.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates display-name">rates</span><span class="type">rates [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Total rates of the installment plan.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType</span><span class="type">rateType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Types of rates on credit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of rates on credit.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">TEA: Rate that calculates the cost or expected interest value within one year.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">TCEA: Summary of interest, expenses and commissions that are used to calculate the Monthly Payment Fee.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.rateType display-name">rates.rateType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of rates on credit.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="rates.percentage display-name">rates.percentage</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Percentage of rate
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments display-name">scheduledPayments</span><span class="type">scheduledPayments [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of total scheduled payments in a period of time.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.maturityDate display-name">scheduledPayments.maturityDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format (DD/MM/YYYY) for the date of expiration on which the current installment can be paid.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Current installment monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.total display-name">scheduledPayments.total.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the installment capital. The capital of the quota does not include interest or commissions.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.capital display-name">scheduledPayments.capital.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest</span><span class="type">money</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount of the Interests of each quota.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.interest display-name">scheduledPayments.interest.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee</span><span class="type">money</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the fee on each quota.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="scheduledPayments.fee display-name">scheduledPayments.fee.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;total&quot;: {
            &quot;amount&quot;: 500,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;capital&quot;: {
            &quot;amount&quot;: 1000,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;interest&quot;: {
            &quot;amount&quot;: 130,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;rates&quot;: [
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TEA&quot;,
                    &quot;name&quot;: &quot;Tasa Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            },
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TCEA&quot;,
                    &quot;name&quot;: &quot;Tasa Costo Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            }
        ],
        &quot;scheduledPayments&quot;: [
            {
                &quot;maturityDate&quot;: &quot;2017-05-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            {
                &quot;maturityDate&quot;: &quot;2017-06-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;total&quot;: {
            &quot;amount&quot;: 500,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;capital&quot;: {
            &quot;amount&quot;: 1000,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;interest&quot;: {
            &quot;amount&quot;: 130,
            &quot;currency&quot;: &quot;PEN&quot;
        },
        &quot;rates&quot;: [
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TEA&quot;,
                    &quot;name&quot;: &quot;Tasa Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            },
            {
                &quot;rateType&quot;: {
                    &quot;id&quot;: &quot;TCEA&quot;,
                    &quot;name&quot;: &quot;Tasa Costo Efectivo Anual&quot;
                },
                &quot;percentage&quot;: &quot;2.5&quot;
            }
        ],
        &quot;scheduledPayments&quot;: [
            {
                &quot;maturityDate&quot;: &quot;2017-05-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            },
            {
                &quot;maturityDate&quot;: &quot;2017-06-24&quot;,
                &quot;total&quot;: {
                    &quot;amount&quot;: 250,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;capital&quot;: {
                    &quot;amount&quot;: 300,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;interest&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                },
                &quot;fee&quot;: {
                    &quot;amount&quot;: 12,
                    &quot;currency&quot;: &quot;PEN&quot;
                }
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>