header-toolbox {
    background: #FFFFFF;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 64px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    img.logo-header {
        float: left;
        width: 200px;
        margin-right: 50px;
        padding: 10px 15px;
    }
}