
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">PROTESTS<a href="https://grapi.slack.com/" target="_blank">Protests Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/protests/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-protests')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-protests" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-protests</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-protests/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services related to protest.

A Protest is a figure peculiar to of title-value, which is of vital importance because being generally a prerequisite for the holder can exercise the exchange action, the same that will allow recovery of the amount be contained in the title.

Examples of title-value: letter, promissory note, check, guarantee.
</p>
    <h2>RESOURCES</h2>
    <div id="/protests" class="resource-table">
      <div ng-click="api.hide('/protests')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/protests</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/protests'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing protests.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: protestsActiveButton === 'get'}" ng-click="api.showMethod($event, 'protests', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="protests = 'get'; protestsActiveButton = 'get'" ng-show="protests === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/protests'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of protests related to a specific user.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customerId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique customer identifier

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>123456</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentNumber</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Document number.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>45635269</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentTypeId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Document Type. If provided, documentNumber must be also provided.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>DNI</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">participantTypeId</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Participant Type Identifier

                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">PARTICIPANT_ACCEPTOR: Participant Type Acceptor.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">PARTICIPANT_DRAWER: Participant Type Drawer.</span></li>
                          </ul>
                        </td>
                        <td><span>PARTICIPANT_DRAWER</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">expand</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Expand the selected subresource of each protest. Possible values for this parameter are: participants.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>participants</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestId display-name">protestId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Protesto identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType display-name">securityType</span><span class="type">securityType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Protested type information value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType.id display-name">securityType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Security Type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">LETTER: Security Type Letter.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROMISSORY_NOTE: Security Type Promissory Note.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CHECK: Security Type Check.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GUARANTEE: Security Type Guarantee.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType.name display-name">securityType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Security Type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="openingDate display-name">openingDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the opening date of protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'State that is the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier current status.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FIXED_UP: Identifier Fixed up.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: Identifier Pending.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description current status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType display-name">processType</span><span class="type">processType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information on the type of process that causes the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType.id display-name">processType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Process type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">REGISTER: Process Tye Register.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MODIFICATION: Process Tye Modification.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ELIMINATION: Process Tye Elimination.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REGULARIZATION: Process Tye Regularization [Fix].</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOSS_EFFECTIVENESS: Process Tye Loss of Effectiveness [Delete].</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType.name display-name">processType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Process type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType display-name">recordType</span><span class="type">recordType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information record type that causes the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType.id display-name">recordType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Record type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PROTEST: Record Tye Protest.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEFAULT: Record Tye Default.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CRIMINAL_PROCEEDINGS: Record Tye Criminal proceedings.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">JUDICIAL_COLLECTION: Record Tye Judicial Collection.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType.name display-name">recordType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Record type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue display-name">protestValue</span><span class="type">protestValue [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information protested value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue.currency display-name">protestValue.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to income protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue.amount display-name">protestValue.amount</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Amount protested.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;protestId&quot;: &quot;1234&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;LETTER&quot;,
                &quot;name&quot;: &quot;Letter&quot;
            },
            &quot;openingDate&quot;: &quot;2016-04-13&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FIXED_UP&quot;,
                &quot;name&quot;: &quot;Fixed Up&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;MODIFICATION&quot;,
                &quot;name&quot;: &quot;Modification&quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;PROTEST&quot;,
                &quot;name&quot;: &quot;Protest&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;800&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;300&quot;
                }
            ]
        },
        {
            &quot;protestId&quot;: &quot;1235&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;PROMISSORY_NOTE&quot;,
                &quot;name&quot;: &quot;Promissory Note&quot;
            },
            &quot;openingDate&quot;: &quot;2016-02-02&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;REGULARIZATION&quot;,
                &quot;name&quot;: &quot;Regularization &quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;PROTEST&quot;,
                &quot;name&quot;: &quot;Protest&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;1500&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;450&quot;
                }
            ]
        },
        {
            &quot;protestId&quot;: &quot;1236&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;CHECK&quot;,
                &quot;name&quot;: &quot;Check&quot;
            },
            &quot;openingDate&quot;: &quot;2016-01-25&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FIXED_UP&quot;,
                &quot;name&quot;: &quot;Fixed Up&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;LOSS_EFFECTIVENESS&quot;,
                &quot;name&quot;: &quot;Loss of Effectiveness&quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;DEFAULT&quot;,
                &quot;name&quot;: &quot;Default&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;10000&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;3000&quot;
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;protestId&quot;: &quot;1234&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;LETTER&quot;,
                &quot;name&quot;: &quot;Letter&quot;
            },
            &quot;openingDate&quot;: &quot;2016-04-13&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FIXED_UP&quot;,
                &quot;name&quot;: &quot;Fixed Up&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;MODIFICATION&quot;,
                &quot;name&quot;: &quot;Modification&quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;PROTEST&quot;,
                &quot;name&quot;: &quot;Protest&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;800&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;300&quot;
                }
            ]
        },
        {
            &quot;protestId&quot;: &quot;1235&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;PROMISSORY_NOTE&quot;,
                &quot;name&quot;: &quot;Promissory Note&quot;
            },
            &quot;openingDate&quot;: &quot;2016-02-02&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;PENDING&quot;,
                &quot;name&quot;: &quot;Pending&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;REGULARIZATION&quot;,
                &quot;name&quot;: &quot;Regularization &quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;PROTEST&quot;,
                &quot;name&quot;: &quot;Protest&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;1500&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;450&quot;
                }
            ]
        },
        {
            &quot;protestId&quot;: &quot;1236&quot;,
            &quot;securityType&quot;: {
                &quot;id&quot;: &quot;CHECK&quot;,
                &quot;name&quot;: &quot;Check&quot;
            },
            &quot;openingDate&quot;: &quot;2016-01-25&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FIXED_UP&quot;,
                &quot;name&quot;: &quot;Fixed Up&quot;
            },
            &quot;processType&quot;: {
                &quot;id&quot;: &quot;LOSS_EFFECTIVENESS&quot;,
                &quot;name&quot;: &quot;Loss of Effectiveness&quot;
            },
            &quot;recordType&quot;: {
                &quot;id&quot;: &quot;DEFAULT&quot;,
                &quot;name&quot;: &quot;Default&quot;
            },
            &quot;protestValue&quot;: [
                {
                    &quot;currency&quot;: &quot;PEN&quot;,
                    &quot;amount&quot;: &quot;10000&quot;
                },
                {
                    &quot;currency&quot;: &quot;USD&quot;,
                    &quot;amount&quot;: &quot;3000&quot;
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/protests/{protest-id}" class="resource-table">
      <div ng-click="api.hide('/protests/{protest-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/protests/{protest-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/protests/{protest-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the details of a protest specified.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: protestsprotestidActiveButton === 'get'}" ng-click="api.showMethod($event, 'protestsprotestid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="protestsprotestid = 'get'; protestsprotestidActiveButton = 'get'" ng-show="protestsprotestid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/protests/{protest-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the details of a protest.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">expand</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Expand the selected subresource of each protest. Possible values for this parameter are: participants.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>participants</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">protest-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique protest identifier</p>
                        </td>
                        <td><span>123</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestId display-name">protestId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Protesto identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType display-name">securityType</span><span class="type">securityType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Protested type information value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType.id display-name">securityType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Security Type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">LETTER: Security Type Letter.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PROMISSORY_NOTE: Security Type Promissory Note.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CHECK: Security Type Check.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">GUARANTEE: Security Type Guarantee.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="securityType.name display-name">securityType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Security Type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="openingDate display-name">openingDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the opening date of protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'State that is the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier current status.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FIXED_UP: Identifier Fixed up.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PENDING: Identifier Pending.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description current status.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType display-name">processType</span><span class="type">processType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information on the type of process that causes the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType.id display-name">processType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Process type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">REGISTER: Process Tye Register.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">MODIFICATION: Process Tye Modification.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ELIMINATION: Process Tye Elimination.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">REGULARIZATION: Process Tye Regularization [Fix].</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOSS_EFFECTIVENESS: Process Tye Loss of Effectiveness [Delete].</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType.name display-name">processType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Process type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType display-name">recordType</span><span class="type">recordType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information record type that causes the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType.id display-name">recordType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Record type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PROTEST: Record Tye Protest.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEFAULT: Record Tye Default.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CRIMINAL_PROCEEDINGS: Record Tye Criminal proceedings.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">JUDICIAL_COLLECTION: Record Tye Judicial Collection.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="recordType.name display-name">recordType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Record type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue display-name">protestValue</span><span class="type">protestValue [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Information protested value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue.currency display-name">protestValue.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to income protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protestValue.amount display-name">protestValue.amount</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Amount protested.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;protestId&quot;: &quot;1234&quot;,
        &quot;securityType&quot;: {
            &quot;id&quot;: &quot;LETTER&quot;,
            &quot;name&quot;: &quot;Letter&quot;
        },
        &quot;openingDate&quot;: &quot;2016-04-13&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;FIXED_UP&quot;,
            &quot;name&quot;: &quot;Fixed Up&quot;
        },
        &quot;processType&quot;: {
            &quot;id&quot;: &quot;MODIFICATION&quot;,
            &quot;name&quot;: &quot;Modification&quot;
        },
        &quot;recordType&quot;: {
            &quot;id&quot;: &quot;PROTEST&quot;,
            &quot;name&quot;: &quot;Protest&quot;
        },
        &quot;protestValue&quot;: [
            {
                &quot;currency&quot;: &quot;PEN&quot;,
                &quot;amount&quot;: &quot;800&quot;
            },
            {
                &quot;currency&quot;: &quot;USD&quot;,
                &quot;amount&quot;: &quot;300&quot;
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;protestId&quot;: &quot;1234&quot;,
        &quot;securityType&quot;: {
            &quot;id&quot;: &quot;LETTER&quot;,
            &quot;name&quot;: &quot;Letter&quot;
        },
        &quot;openingDate&quot;: &quot;2016-04-13&quot;,
        &quot;status&quot;: {
            &quot;id&quot;: &quot;FIXED_UP&quot;,
            &quot;name&quot;: &quot;Fixed Up&quot;
        },
        &quot;processType&quot;: {
            &quot;id&quot;: &quot;MODIFICATION&quot;,
            &quot;name&quot;: &quot;Modification&quot;
        },
        &quot;recordType&quot;: {
            &quot;id&quot;: &quot;PROTEST&quot;,
            &quot;name&quot;: &quot;Protest&quot;
        },
        &quot;protestValue&quot;: [
            {
                &quot;currency&quot;: &quot;PEN&quot;,
                &quot;amount&quot;: &quot;800&quot;
            },
            {
                &quot;currency&quot;: &quot;USD&quot;,
                &quot;amount&quot;: &quot;300&quot;
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/protests/{protest-id}/participants" class="resource-table">
      <div ng-click="api.hide('/protests/{protest-id}/participants')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/protests/{protest-id}/participants</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/protests/{protest-id}/participants'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the details of participants of a protest.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: protestsprotestidparticipantsActiveButton === 'get'}" ng-click="api.showMethod($event, 'protestsprotestidparticipants', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="protestsprotestidparticipants = 'get'; protestsprotestidparticipantsActiveButton = 'get'" ng-show="protestsprotestidparticipants === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/protests/{protest-id}/participants'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of participant of a protest.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">protest-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique protest identifier</p>
                        </td>
                        <td><span>123</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="participantId display-name">participantId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Participant identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="participantType display-name">participantType</span><span class="type">participantType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Role of the participant in the protest.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="participantType.id display-name">participantType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type identifier participant.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PARTICIPANT_ACCEPTOR: Participant Type Acceptor.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PARTICIPANT_DRAWER: Participant Type Drawer.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="participantType.name display-name">participantType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description type of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="fullName display-name">fullName</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Full name of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="firstName display-name">firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'First name of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastName display-name">lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Last name of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="surnames display-name">surnames</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Surname of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocuments display-name">identityDocuments</span><span class="type">identityDocument [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of identity document information related to the participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocuments.identityDocument display-name">identityDocuments.identityDocument.documentType</span><span class="type">documentType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Document identity type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocuments.identityDocument display-name">identityDocuments.identityDocument.documentType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier document type identity.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">PASSPORT: Identifier document passport.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">NIF: Identifier document fiscal identification number.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">RESIDENTIAL_PASS: Identifier document residence.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DNI: Identifier national identity document.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">RUC: Identifier document single tax registration.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">NIT: Identifier document tax identification number.</span></li>
                                    </ul>
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/pe.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>RUC only applies to Perú</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocuments.identityDocument display-name">identityDocuments.identityDocument.documentType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description document type identity.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="identityDocuments.identityDocument display-name">identityDocuments.identityDocument.documentNumber</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identity document number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address display-name">address</span><span class="type">address</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Address of participant.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.addressName display-name">address.addressName</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Complete address of the building.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.city display-name">address.city</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'City where the building is placed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.country display-name">address.country</span><span class="type">country</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Country where the building is placed.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.country display-name">address.country.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Country identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.country display-name">address.country.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Country name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="address.zipCode display-name">address.zipCode</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Address ZIP code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;participantId&quot;: &quot;123&quot;,
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;PARTICIPANT_ACCEPTOR&quot;,
                &quot;name&quot;: &quot;Acceptor&quot;
            },
            &quot;fullName&quot;: &quot;PEREZ RODRIGUEZ JUAN&quot;,
            &quot;firstName&quot;: &quot;JUAN&quot;,
            &quot;lastName&quot;: &quot;PEREZ&quot;,
            &quot;surnames&quot;: &quot;RODRIGUEZ&quot;,
            &quot;identityDocuments&quot;: [
                {
                    &quot;documentType&quot;: {
                        &quot;id&quot;: &quot;DNI&quot;,
                        &quot;name&quot;: &quot;Documento Nacional de Identidad&quot;
                    },
                    &quot;documentNumber&quot;: &quot;45891223&quot;
                },
                {
                    &quot;documentType&quot;: {
                        &quot;id&quot;: &quot;RUC&quot;,
                        &quot;name&quot;: &quot;Registro Único de Contribuyente&quot;
                    },
                    &quot;documentNumber&quot;: &quot;10458912231&quot;
                }
            ],
            &quot;address&quot;: {
                &quot;addressName&quot;: &quot;Av. Paseo de la Republica 3301&quot;,
                &quot;city&quot;: &quot;Lima&quot;,
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;,
                    &quot;name&quot;: &quot;Peru&quot;
                },
                &quot;zipCode&quot;: &quot;051&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;participantId&quot;: &quot;123&quot;,
            &quot;participantType&quot;: {
                &quot;id&quot;: &quot;PARTICIPANT_ACCEPTOR&quot;,
                &quot;name&quot;: &quot;Acceptor&quot;
            },
            &quot;fullName&quot;: &quot;PEREZ RODRIGUEZ JUAN&quot;,
            &quot;firstName&quot;: &quot;JUAN&quot;,
            &quot;lastName&quot;: &quot;PEREZ&quot;,
            &quot;surnames&quot;: &quot;RODRIGUEZ&quot;,
            &quot;identityDocuments&quot;: [
                {
                    &quot;documentType&quot;: {
                        &quot;id&quot;: &quot;DNI&quot;,
                        &quot;name&quot;: &quot;Documento Nacional de Identidad&quot;
                    },
                    &quot;documentNumber&quot;: &quot;45891223&quot;
                },
                {
                    &quot;documentType&quot;: {
                        &quot;id&quot;: &quot;RUC&quot;,
                        &quot;name&quot;: &quot;Registro Único de Contribuyente&quot;
                    },
                    &quot;documentNumber&quot;: &quot;10458912231&quot;
                }
            ],
            &quot;address&quot;: {
                &quot;addressName&quot;: &quot;Av. Paseo de la Republica 3301&quot;,
                &quot;city&quot;: &quot;Lima&quot;,
                &quot;country&quot;: {
                    &quot;id&quot;: &quot;PE&quot;,
                    &quot;name&quot;: &quot;Peru&quot;
                },
                &quot;zipCode&quot;: &quot;051&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>