
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">INVESTMENT FUNDS<a href="https://grapi.slack.com/" target="_blank">Investment funds Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/investment-funds/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('mxapi-mx-apis-products-investmentfunds')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-products-investmentfunds" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/mxapi/repos/mxapi-mx-apis-products-investmentfunds</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/mxapi/repos/mxapi-mx-apis-products-investmentfunds/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services to manage a user's investment funds.
An investment fund is a contract between a bank and a user based on one or several fund products.
This contract will register all the trades done by the user related to those fund products.
</p>
    <h2>RESOURCES</h2>
    <div id="/investment-funds/{investment-fund-id}/financial-statements" class="resource-table">
      <div ng-click="api.hide('/investment-funds/{investment-fund-id}/financial-statements')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/investment-funds/{investment-fund-id}/financial-statements</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/investment-funds/{investment-fund-id}/financial-statements'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing all the financial statements related to a specific investment fund. VirtualService: - API: Financial Statements - MasterService: GET /financial-statements - Linked by: investmentFundId.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: investmentfundsinvestmentfundidfinancialstatementsActiveButton === 'get'}" ng-click="api.showMethod($event, 'investmentfundsinvestmentfundidfinancialstatements', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="investmentfundsinvestmentfundidfinancialstatements = 'get'; investmentfundsinvestmentfundidfinancialstatementsActiveButton = 'get'" ng-show="investmentfundsinvestmentfundidfinancialstatements === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/investment-funds/{investment-fund-id}/financial-statements'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of periods related to financial statements documents for determined product type.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">isActive</span><span class="type">boolean</span>
                        </td>
                        <td>
                          <p>Filters the periods of financial statements list by  active or historic.
                          </p>
                        </td>
                        <td><i>Any boolean</i>
                        </td>
                        <td><span>true</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">investment-fund-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p></p>
                        </td>
                        <td><span></span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="cutOffDate display-name">cutOffDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cut off date the period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isActive display-name">isActive</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this the periods  of account statements list by  active or historic.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of the statement.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="cutOffDate display-name">cutOffDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Cut off date the period.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isActive display-name">isActive</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this the periods  of account statements list by  active or historic.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/cards/v0/deposits/{investment-fund-id}/statements&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 2
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-09-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-08-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepaq44gxzxzq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-07-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;xzxjjdsds-23232nkdjs&quot;,
            &quot;cutOffDate&quot;: &quot;2017-06-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hsankjsds-cxxcwwwqq&quot;,
            &quot;cutOffDate&quot;: &quot;2017-05-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-sasas13456gfg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-04-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepa34343244g&quot;,
            &quot;cutOffDate&quot;: &quot;2017-03-28&quot;,
            &quot;isActive&quot;: true
        },
        {
            &quot;id&quot;: &quot;1hhn22-wepfsdfds4wwg&quot;,
            &quot;cutOffDate&quot;: &quot;2017-02-28&quot;,
            &quot;isActive&quot;: true
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/cards/v0/deposits/{investment-fund-id}/statements&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/cards/v0/investment-funds?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 2
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/investment-funds/{investment-fund-id}/financial-statements/{financial-statement-id}" class="resource-table">
      <div ng-click="api.hide('/investment-funds/{investment-fund-id}/financial-statements/{financial-statement-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/investment-funds/{investment-fund-id}/financial-statements/{financial-statement-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/investment-funds/{investment-fund-id}/financial-statements/{financial-statement-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for downloading the file of financial statement related to a investment funds. VirtualService: - API: Financial Statements - MasterService: GET /financial-statements - Linked by: investmentFundId.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: investmentfundsinvestmentfundidfinancialstatementsfinancialstatementidActiveButton === 'get'}" ng-click="api.showMethod($event, 'investmentfundsinvestmentfundidfinancialstatementsfinancialstatementid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="investmentfundsinvestmentfundidfinancialstatementsfinancialstatementid = 'get'; investmentfundsinvestmentfundidfinancialstatementsfinancialstatementidActiveButton = 'get'" ng-show="investmentfundsinvestmentfundidfinancialstatementsfinancialstatementid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/investment-funds/{investment-fund-id}/financial-statements/{financial-statement-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for downloading the file of financial statement for determined product type.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">Content-type</span></td>
                        <td>
                          <pre>This header must provide the type the created resource.</pre>
                        </td>
                        <td>true</td>
                        <td>application/pdf</td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">investment-fund-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p></p>
                        </td>
                        <td><span></span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">financial-statement-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique statement identifier</p>
                        </td>
                        <td><span>201507EWEDSDSDSOO232390230284HNCXMCNXC</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Binary File</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>