.api-documentation
    .api-head
        h1.api-name Resource Types
        h4.version These is an resource types inventory extracted from all API domains
    .table-resource-types
        .resource-table(id="Read-Collection")
            .table-head(ng-click="api.hide('Read-Collection')")
                h3.resource-uri Read-Collection
                i.material-icons play_circle_outline
            .table-body
              .button-container(ng-init="api.showReadCollectionRT = 'get'")
                button(ng-click="api.showReadCollectionRT = 'get'" ng-class="{active: api.showReadCollectionRT === 'get'}") GET
              .content-method(ng-show="api.showReadCollectionRT === 'get'")
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
        .resource-table(id="Collection")
            .table-head(ng-click="api.hide('Collection')")
                h3.resource-uri Collection
                i.material-icons play_circle_outline
            .table-body
              .button-container(ng-init="api.CollectionRT = 'get'")
                button(ng-click="api.CollectionRT = 'get'" ng-class="{active: api.CollectionRT === 'get'}") GET
                button(ng-click="api.CollectionRT = 'post'" ng-class="{active: api.CollectionRT === 'post'}") POST
                button(ng-click="api.CollectionRT = 'delete'" ng-class="{active: api.CollectionRT === 'delete'}") DELETE
              .content-method(ng-show="api.CollectionRT === 'get'")
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
              .content-method(ng-show="api.CollectionRT === 'post'")
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location; Location
                    td application/json
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
              .content-method(ng-show="api.CollectionRT === 'delete'")
                h2 Request
                table
                  caption Headers
                  tr
                    th Name
                    th Description
                    th Example
                  tr
                    td X-HTTP-Method-Override
                    td Use DELETE when delete http method is used
                    td DELETE
                h2 Response
                table
                  caption 202
                  tr
                    th Description
                  tr
                    td Accepted. Pending to execute.
                table
                  caption 301
                  tr
                    th Header
                    th Description
                  tr
                    td Location
                    td Moved permanently
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
        .resource-table(id="Collection-Item")
            .table-head(ng-click="api.hide('Collection-Item')")
                h3.resource-uri Collection-Item
                i.material-icons play_circle_outline
            .table-body
              .button-container(ng-init="api.CollectionItemRT = 'get'")
                button(ng-click="api.CollectionItemRT = 'get'" ng-class="{active: api.CollectionItemRT === 'get'}") GET
                button(ng-click="api.CollectionItemRT = 'put'" ng-class="{active: api.CollectionItemRT === 'put'}") PUT
                button(ng-click="api.CollectionItemRT = 'patch'" ng-class="{active: api.CollectionItemRT === 'patch'}") PATCH
                button(ng-click="api.CollectionItemRT = 'delete'" ng-class="{active: api.CollectionItemRT === 'delete'}") DELETE
              .content-method(ng-show="api.CollectionItemRT === 'get'")
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
              .content-method(ng-show="api.CollectionItemRT === 'put'")
                h2 Request
                table
                  caption Headers
                  tr
                    th Name
                    th Description
                    th Example
                  tr
                    td X-HTTP-Method-Override
                    td Use PUT when delete http method is used
                    td PUT
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 301
                  tr
                    th Header
                    th Description
                  tr
                    td Location
                    td Moved permanently
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
              .content-method(ng-show="api.CollectionItemRT === 'patch'")
                h2 Request
                table
                  caption Headers
                  tr
                    th Name
                    th Description
                    th Example
                  tr
                    td X-HTTP-Method-Override
                    td Use PATCH when delete http method is used
                    td PATCH
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 301
                  tr
                    th Header
                    th Description
                  tr
                    td Location
                    td Moved permanently
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
              .content-method(ng-show="api.CollectionItemRT === 'delete'")
                h2 Request
                table
                  caption Headers
                  tr
                    th Name
                    th Description
                    th Example
                  tr
                    td X-HTTP-Method-Override
                    td Use DELETE when delete http method is used
                    td DELETE
                h2 Response
                table
                  caption 202
                  tr
                    th Description
                  tr
                    td Accepted. Pending to execute.
                table
                  caption 301
                  tr
                    th Header
                    th Description
                  tr
                    td Location
                    td Moved permanently
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error
        .resource-table(id="Read-Collection-Item")
            .table-head(ng-click="api.hide('Read-Collection-Item')")
                h3.resource-uri Read-Collection-Item
                i.material-icons play_circle_outline
            .table-body
              .button-container(ng-init="api.ReadCollectionItemRT = 'get'")
                button(ng-click="api.ReadCollectionItemRT = 'get'" ng-class="{active: api.ReadCollectionItemRT === 'get'}") GET
              .content-method(ng-show="api.ReadCollectionItemRT === 'get'")
                h2 Response
                table
                  caption 200
                  tr
                    th Header
                    th Body Type
                  tr
                    td Content-Location
                    td application/json
                table
                  caption 400
                  tr
                    th Description
                  tr
                    td Bad Request
                table
                  caption 401
                  tr
                    th Description
                  tr
                    td Unauthorized
                table
                  caption 403
                  tr
                    th Description
                  tr
                    td Forbidden
                table
                  caption 404
                  tr
                    th Description
                  tr
                    td Not Found
                table
                  caption 409
                  tr
                    th Description
                    th Body Type
                  tr
                    td Functional Error. User for functional errors in application.
                    td application/json
                table
                  caption 422
                  tr
                    th Description
                    th Body Type
                  tr
                    td The input is unprocessable
                    td application/json
                table
                  caption 500
                  tr
                    th Description
                  tr
                    td Server Error