//- resource referenced in resource.jade
if (typeof(resource.queryParameters) !== 'undefined')
    .input
        table.table-uri-parameters
            caption.caption Query Parameters
            tr
                th.param Param
                th Details
                th Example
            each queryParameter, index in resource.queryParameters
                tr
                    td= index
                        each value, index in queryParameter
                            if (index === 'type')
                                span(class="#{value}")= value
                    each value, index in queryParameter
                        if (index !== 'type')
                            td= value
