.resource
    h2 DESCRIPTION
    p= description
    if (typeof(annotations) !== 'undefined')
        each annotation, index in annotations
            include ../annotations/countrySpecific
    h2 RESOURCES
    each resource, index in resources
        .resource-table(id="#{resource.uriResource}")
            .table-head(ng-click="api.hide('#{resource.uriResource}')" layout="row")
                div(flex="50")
                    h3.resource-uri= resource.uriResource
                div(flex="50")
                    i.material-icons play_circle_outline
                    each method in resource.methods
                        label.type-of-services(class="#{method.name.toLowerCase()}") #{method.name.toUpperCase()}
                    div(ng-repeat="i in api.flags")
                        div(ng-repeat="(key, value) in i" ng-if="key=='#{resource.uriResource}'")
                            div(ng-repeat="ii in value")
                                .conteiner-flag
                                    img(ng-src="/assets/flags/{{ ii.country | lowercase}}.png")
            .table-body
                include description
                if (typeof(resource.annotations) !== 'undefined')
                    each annotation, index in resource.annotations 
                        include ../annotations/countrySpecific
                        include ../annotations/countryException
                include input
                include ../methods/method

