//- if (typeof(resource.type) !== 'undefined')
//-     .resource-type(ng-click="api.scrollToDataType('data-type')")
//-         span.type-title Type:
//-         span.type-link= resource.type
//-             i.material-icons link
