
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">ATLAS<a href="https://grapi.slack.com/" target="_blank">Atlas Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/atlas/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-paas-apis-atlas')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-paas-apis-atlas" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-paas-apis-atlas</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-paas-apis-atlas/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to uuaas.

The uuaas are categorized in the functional map. When creating a uuaa it must be categorized by hanging from the fourth level of the functional map. Sometimes the fourth level does not exist and it is necessary to create it.

The api offers the navigation on functional map, creation of uuaas and creation of applications (fourth level of the functional map ).

</p>
    <h2>RESOURCES</h2>
    <div id="/levels" class="resource-table">
      <div ng-click="api.hide('/levels')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/levels</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/levels'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the list of functional map levels (scope, domain, subdomain, application).
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: levelsActiveButton === 'get'}" ng-click="api.showMethod($event, 'levels', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="levels = 'get'; levelsActiveButton = 'get'" ng-show="levels === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of functional map levels.
</p>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key of the levels entity. Each entity record has a predefined value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the level code (Scope, Domain, Subdomain, Application)
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">SCOPE: First level of the functional map.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DOMAIN: Second level of the functional map. Each node at this level has a parent node that belongs to the 'SCOPE' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SUBDOMAIN: Third level of the functional map. Each node at this level has a parent node that belongs to the 'DOMAIN' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APPLICATION: Fourth level of the functional map. Each node at this level has a parent node that belongs to the 'SUBDOMAIN' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">UUAA: Fifth level of the functional map. Each node at this level has a parent node that belongs to the 'APPLICATION' level.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: 0,
            &quot;name&quot;: &quot;SCOPE&quot;
        },
        {
            &quot;id&quot;: 1,
            &quot;name&quot;: &quot;DOMAIN&quot;
        },
        {
            &quot;id&quot;: 2,
            &quot;name&quot;: &quot;SUBDOMAIN&quot;
        },
        {
            &quot;id&quot;: 3,
            &quot;name&quot;: &quot;APPLICATION&quot;
        },
        {
            &quot;id&quot;: 99,
            &quot;name&quot;: &quot;UUAA&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: 0,
            &quot;name&quot;: &quot;SCOPE&quot;
        },
        {
            &quot;id&quot;: 1,
            &quot;name&quot;: &quot;DOMAIN&quot;
        },
        {
            &quot;id&quot;: 2,
            &quot;name&quot;: &quot;SUBDOMAIN&quot;
        },
        {
            &quot;id&quot;: 3,
            &quot;name&quot;: &quot;APPLICATION&quot;
        },
        {
            &quot;id&quot;: 99,
            &quot;name&quot;: &quot;UUAA&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/levels/{level-id}" class="resource-table">
      <div ng-click="api.hide('/levels/{level-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/levels/{level-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the code of a level necessary to know where we are within the functional map.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: levelslevelidActiveButton === 'get'}" ng-click="api.showMethod($event, 'levelslevelid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="levelslevelid = 'get'; levelslevelidActiveButton = 'get'" ng-show="levelslevelid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the detail of a level.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">level-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the level from which the detail is to be retrieved.</p>
                        </td>
                        <td><span>1</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key of the levels entity. Each entity record has a predefined value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the level code (Scope, Domain, Subdomain, Application)
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">SCOPE: First level of the functional map.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DOMAIN: Second level of the functional map. Each node at this level has a parent node that belongs to the 'SCOPE' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SUBDOMAIN: Third level of the functional map. Each node at this level has a parent node that belongs to the 'DOMAIN' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">APPLICATION: Fourth level of the functional map. Each node at this level has a parent node that belongs to the 'SUBDOMAIN' level.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">UUAA: Fifth level of the functional map. Each node at this level has a parent node that belongs to the 'APPLICATION' level.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: 1,
        &quot;name&quot;: &quot;DOMAIN&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: 1,
        &quot;name&quot;: &quot;DOMAIN&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/levels/{level-id}/nodes" class="resource-table">
      <div ng-click="api.hide('/levels/{level-id}/nodes')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/levels/{level-id}/nodes</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the list of nodes of a level from a parent node.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: levelslevelidnodesActiveButton === 'get'}" ng-click="api.showMethod($event, 'levelslevelidnodes', 'get')" class="md-primary button-menu">get</button>
                <button id="post" ng-class="{active: levelslevelidnodesActiveButton === 'post'}" ng-click="api.showMethod($event, 'levelslevelidnodes', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="levelslevelidnodes = 'get'; levelslevelidnodesActiveButton = 'get'" ng-show="levelslevelidnodes === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the nodes of a level from a parent node.</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">parentId</span><span class="type">integer</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Code of the parent node from which the child nodes are to be retrieved. In case we want to retrieve the nodes of the scope level we will not have to report this field. If we want to retrieve all the nodes of a level we will not inform the parameter parent-id.
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>87456987456</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">country</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>In case we want to recover the list of applications or uuaas it will be necessary to inform the country to which they belong. In case we want to recover the list of domains, domains or subdomains do not have to be informed. The value is ISO 3166-1.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>ES</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">level-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the level from which the detail is to be retrieved.</p>
                        </td>
                        <td><span>1</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key of the application.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the application will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="countries display-name">countries</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Countries to which the application belongs.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="levelId display-name">levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level to which the node belongs.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: 4749890231992320,
            &quot;parentId&quot;: 6298002603900928,
            &quot;name&quot;: &quot;Financiación&quot;,
            &quot;levelId&quot;: 3,
            &quot;countries&quot;: [
                &quot;ES&quot;
            ]
        },
        {
            &quot;id&quot;: 5789890231992321,
            &quot;parentId&quot;: 6298002603900928,
            &quot;name&quot;: &quot;Estructurales&quot;,
            &quot;levelId&quot;: 3,
            &quot;countries&quot;: [
                &quot;ES&quot;
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: 4749890231992320,
            &quot;parentId&quot;: 6298002603900928,
            &quot;name&quot;: &quot;Financiación&quot;,
            &quot;levelId&quot;: 3,
            &quot;countries&quot;: [
                &quot;ES&quot;
            ]
        },
        {
            &quot;id&quot;: 5789890231992321,
            &quot;parentId&quot;: 6298002603900928,
            &quot;name&quot;: &quot;Estructurales&quot;,
            &quot;levelId&quot;: 3,
            &quot;countries&quot;: [
                &quot;ES&quot;
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="post" ng-show="levelslevelidnodes === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a node within the application level of the functional map. To do this it is necessary to know the subdomain on which the application will depend.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">level-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the level from which the detail is to be retrieved.</p>
                        </td>
                        <td><span>1</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Name of the application.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier of the parent node where the application will be created.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="country display-name">country</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Country of the functional map. The value is ISO 3166-1. If the value of the levelId is 3 or 99 the country must be inform.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;name&quot;: &quot;Nueva aplicacion&quot;,
    &quot;parentId&quot;: 5031365208702976,
    &quot;country&quot;: &quot;ES&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;name&quot;: &quot;Nueva aplicacion&quot;,
    &quot;parentId&quot;: 5031365208702976,
    &quot;country&quot;: &quot;ES&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Created</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>The uri of the detail of the node</pre>
                                </td>
                                <td>true</td>
                                <td>/levels/3/nodes/4749890231992320</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key of the application.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the application will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="countries display-name">countries</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Countries to which the application belongs.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="levelId display-name">levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level to which the node belongs.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: 9854785214,
        &quot;name&quot;: &quot;Nueva aplicacion&quot;,
        &quot;parentId&quot;: 5031365208702976,
        &quot;levelId&quot;: 3,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: 9854785214,
        &quot;name&quot;: &quot;Nueva aplicacion&quot;,
        &quot;parentId&quot;: 5031365208702976,
        &quot;levelId&quot;: 3,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}" class="resource-table">
      <div ng-click="api.hide('/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <label class="type-of-services put">PUT</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving the detail of un uuaa.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: levelslevelidnodesnodeiduuaasuuaaidActiveButton === 'get'}" ng-click="api.showMethod($event, 'levelslevelidnodesnodeiduuaasuuaaid', 'get')" class="md-primary button-menu">get</button>
                <button id="put" ng-class="{active: levelslevelidnodesnodeiduuaasuuaaidActiveButton === 'put'}" ng-click="api.showMethod($event, 'levelslevelidnodesnodeiduuaasuuaaid', 'put')" class="md-primary button-menu">put</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="levelslevelidnodesnodeiduuaasuuaaid = 'get'; levelslevelidnodesnodeiduuaasuuaaidActiveButton = 'get'" ng-show="levelslevelidnodesnodeiduuaasuuaaid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the detail of an uuaa and the category of the uuaa in the funcional map. Depending on the value of the parameter 'views', the service will return more or less information.
Basic: Returns the detail of the uuaa without the information about its categorization.
Full: Returns the full details of the uuaa with the information about its categorization within the functional map
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">views</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Retrieves the selected view of each element in the result list.
Possible values for this parameter are: basic, full

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>full</span>
                        </td>
                      </tr>
                    </table>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">level-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the level from which the detail is to be retrieved.</p>
                        </td>
                        <td><span>1</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">node-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the parent node of uuaa.</p>
                        </td>
                        <td><span>4785074604081152</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">uuaa-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Code of the uuaa.</p>
                        </td>
                        <td><span>AAAA</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'UUAA code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the uuaa will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="levelId display-name">levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level in the functional map.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="userWorking display-name">userWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Email of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="nameWorking display-name">nameWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status of the uuaa. This parameter will be informed by the application.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">A: Indicates that uuaa is active.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">B: Indicates that the uuaa has been withdrawn.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paas display-name">paas</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicate if the uuaa has bean created in PaaS. This parameter will be informed by the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="countries display-name">countries</span><span class="type">string[]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of countries where the uuaa has bean created. The value is ISO 3166-1.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories display-name">categories</span><span class="type">nodes</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Categorization of uuaa. List of parent nodes of uuaa within the functional map.
The application only needs to know the parentId to categorize the uuaa within the functional map.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories.id display-name">categories.id</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Key of the application.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories.name display-name">categories.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories.parentId display-name">categories.parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the application will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories.countries display-name">categories.countries</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Countries to which the application belongs.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="categories.levelId display-name">categories.levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level to which the node belongs.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;UUAA&quot;,
        &quot;name&quot;: &quot;XXXXX&quot;,
        &quot;description&quot;: &quot;XXXXXXXXXXXX&quot;,
        &quot;parentId&quot;: 6377167441100800,
        &quot;levelId&quot;: 99,
        &quot;status&quot;: &quot;A&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;categories&quot;: [
            {
                &quot;id&quot;: 4890627720347648,
                &quot;name&quot;: &quot;Riesgos&quot;,
                &quot;levelId&quot;: 0
            },
            {
                &quot;id&quot;: 5453577673768960,
                &quot;parentId&quot;: 4890627720347648,
                &quot;name&quot;: &quot;Control y Seguimiento&quot;,
                &quot;levelId&quot;: 1
            },
            {
                &quot;id&quot;: 5031365208702976,
                &quot;parentId&quot;: 5453577673768960,
                &quot;name&quot;: &quot;Seguimiento y Control de Procesos de Riesgos&quot;,
                &quot;levelId&quot;: 2
            },
            {
                &quot;id&quot;: 6377167441100800,
                &quot;parentId&quot;: 5031365208702976,
                &quot;name&quot;: &quot;aplicacion nueva&quot;,
                &quot;levelId&quot;: 3,
                &quot;countries&quot;: [
                    &quot;ES&quot;
                ]
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;id&quot;: &quot;UUAA&quot;,
        &quot;name&quot;: &quot;XXXXX&quot;,
        &quot;description&quot;: &quot;XXXXXXXXXXXX&quot;,
        &quot;parentId&quot;: 6377167441100800,
        &quot;levelId&quot;: 99,
        &quot;status&quot;: &quot;A&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;categories&quot;: [
            {
                &quot;id&quot;: 4890627720347648,
                &quot;name&quot;: &quot;Riesgos&quot;,
                &quot;levelId&quot;: 0
            },
            {
                &quot;id&quot;: 5453577673768960,
                &quot;parentId&quot;: 4890627720347648,
                &quot;name&quot;: &quot;Control y Seguimiento&quot;,
                &quot;levelId&quot;: 1
            },
            {
                &quot;id&quot;: 5031365208702976,
                &quot;parentId&quot;: 5453577673768960,
                &quot;name&quot;: &quot;Seguimiento y Control de Procesos de Riesgos&quot;,
                &quot;levelId&quot;: 2
            },
            {
                &quot;id&quot;: 6377167441100800,
                &quot;parentId&quot;: 5031365208702976,
                &quot;name&quot;: &quot;aplicacion nueva&quot;,
                &quot;levelId&quot;: 3,
                &quot;countries&quot;: [
                    &quot;ES&quot;
                ]
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
              <div id="put" ng-show="levelslevelidnodesnodeiduuaasuuaaid === 'put'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/levels/{level-id}/nodes/{node-id}/uuaas/{uuaa-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='put'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <console {{ii.version}}="{{ii.version}}" class="log"></console>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for creating a node within the uuaa level of the functional map. To do this it is necessary to know the application where the uuaa will be placed.</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">level-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the level from which the detail is to be retrieved.</p>
                        </td>
                        <td><span>1</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">node-id</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Code of the parent node of uuaa.</p>
                        </td>
                        <td><span>4785074604081152</span></td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">uuaa-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Code of the uuaa.</p>
                        </td>
                        <td><span>AAAA</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier of the parent node where the uuaa will be created.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Name of the uuaa.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Description of the uuaa.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="userWorking display-name">userWorking</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Email of the user working.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="nameWorking display-name">nameWorking</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Name of the user working.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="country display-name">country</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Country to which the uuaa belongs. The value is ISO 3166-1.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;parentId&quot;: 6377167441100800,
    &quot;name&quot;: &quot;Nueva uuaa&quot;,
    &quot;description&quot;: &quot;Prueba uuaa&quot;,
    &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@bbva.com&quot;,
    &quot;nameWorking&quot;: &quot;Ana Belén&quot;,
    &quot;country&quot;: &quot;ES&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;parentId&quot;: 6377167441100800,
    &quot;name&quot;: &quot;Nueva uuaa&quot;,
    &quot;description&quot;: &quot;Prueba uuaa&quot;,
    &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@bbva.com&quot;,
    &quot;nameWorking&quot;: &quot;Ana Belén&quot;,
    &quot;country&quot;: &quot;ES&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>The uuaa has been modified successfully.</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'UUAA code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the uuaa will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="levelId display-name">levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level in the functional map.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="userWorking display-name">userWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Email of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="nameWorking display-name">nameWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status of the uuaa. This parameter will be informed by the application.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">A: Indicates that uuaa is active.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">B: Indicates that the uuaa has been withdrawn.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paas display-name">paas</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicate if the uuaa has bean created in PaaS. This parameter will be informed by the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="countries display-name">countries</span><span class="type">string[]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of countries where the uuaa has bean created. The value is ISO 3166-1.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;parentId&quot;: 6377167441100800,
        &quot;id&quot;: &quot;AAAA&quot;,
        &quot;name&quot;: &quot;Nueva uuaa&quot;,
        &quot;description&quot;: &quot;Prueba uuaa&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;status&quot;: &quot;A&quot;,
        &quot;levelId&quot;: 99,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;paas&quot;: true
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;parentId&quot;: 6377167441100800,
        &quot;id&quot;: &quot;AAAA&quot;,
        &quot;name&quot;: &quot;Nueva uuaa&quot;,
        &quot;description&quot;: &quot;Prueba uuaa&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;status&quot;: &quot;A&quot;,
        &quot;levelId&quot;: 99,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;paas&quot;: true
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>New uuaa has been added successfully.</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>Detail of the uuaa.</pre>
                                </td>
                                <td>true</td>
                                <td>/levels/99/nodes/4749890231992320/uuaas/AAAA</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'UUAA code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="parentId display-name">parentId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the parent node where the uuaa will be created.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the uuaa.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="levelId display-name">levelId</span><span class="type">integer</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Level in the functional map.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="userWorking display-name">userWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Email of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="nameWorking display-name">nameWorking</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the user working.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status of the uuaa. This parameter will be informed by the application.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">A: Indicates that uuaa is active.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">B: Indicates that the uuaa has been withdrawn.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="paas display-name">paas</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicate if the uuaa has bean created in PaaS. This parameter will be informed by the application.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="countries display-name">countries</span><span class="type">string[]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of countries where the uuaa has bean created. The value is ISO 3166-1.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;parentId&quot;: 6377167441100800,
        &quot;id&quot;: &quot;AAAA&quot;,
        &quot;name&quot;: &quot;Nueva uuaa&quot;,
        &quot;description&quot;: &quot;Prueba uuaa&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;status&quot;: &quot;A&quot;,
        &quot;levelId&quot;: 99,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;paas&quot;: true
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;parentId&quot;: 6377167441100800,
        &quot;id&quot;: &quot;AAAA&quot;,
        &quot;name&quot;: &quot;Nueva uuaa&quot;,
        &quot;description&quot;: &quot;Prueba uuaa&quot;,
        &quot;userWorking&quot;: &quot;anabelen.carracedo.contractor@dev.bbva.com&quot;,
        &quot;status&quot;: &quot;A&quot;,
        &quot;levelId&quot;: 99,
        &quot;countries&quot;: [
            &quot;ES&quot;
        ],
        &quot;paas&quot;: true
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>