
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">QUOTATIONS<a href="https://grapi.slack.com/" target="_blank">Quotations Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/quotations/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-quotations-quotations')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-quotations-quotations" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-quotations-quotations</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-quotations-quotations/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of quotations. A quotation allows to obtain marketable products for the customer.
</p>
    <h2>RESOURCES</h2>
    <div id="/analyze-rate" class="resource-table">
      <div ng-click="api.hide('/analyze-rate')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/analyze-rate</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/analyze-rate'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>This controller is for analyzing the rate of a quotation. It would re-calculate the rate and the factors that compose it if the participant
disagrees with the original given rate for the quotation.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: analyzerateActiveButton === 'post'}" ng-click="api.showMethod($event, 'analyzerate', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="analyzerate = 'post'; analyzerateActiveButton = 'post'" ng-show="analyzerate === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/analyze-rate'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Service for analyzing the rate of a quotation.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product display-name">product</span><span class="type">product</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product information.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.id display-name">product.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Product unique identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.requestedAmount display-name">product.requestedAmount</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Requested amount of the product.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.requestedAmount display-name">product.requestedAmount.amount</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Amount value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="product.requestedAmount display-name">product.requestedAmount.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the requested amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="interestRates display-name">interestRates</span><span class="type">interestRates</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Interest rates on the quote along the flow.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="interestRates.effectiveRates display-name">interestRates.effectiveRates</span><span class="type">effectiveRates</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Effectives rates information.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="interestRates.effectiveRates display-name">interestRates.effectiveRates.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Effective rate detail identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="interestRates.effectiveRates display-name">interestRates.effectiveRates.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Percentage of the effective rate detail.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="financialIndicators display-name">financialIndicators</span><span class="type">financialIndicators</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Financial indicators information.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="financialIndicators.id display-name">financialIndicators.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Financial indicator identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="financialIndicators.value display-name">financialIndicators.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Financial indicator value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="liquidityIndicators display-name">liquidityIndicators</span><span class="type">liquidityIndicators</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'List of margins to measure liquidity.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="liquidityIndicators.id display-name">liquidityIndicators.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Liquidity unique identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="liquidityIndicators.value display-name">liquidityIndicators.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Liquidity value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="fees display-name">fees</span><span class="type">fees</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Costs of quotation.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="fees.id display-name">fees.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Fee identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="fees.value display-name">fees.value</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Fee value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;product&quot;: {
        &quot;id&quot;: &quot;123&quot;,
        &quot;requestedAmount&quot;: {
            &quot;amount&quot;: 1200,
            &quot;currency&quot;: &quot;PEN&quot;
        }
    },
    &quot;interestRates&quot;: {
        &quot;effectiveRates&quot;: [
            {
                &quot;id&quot;: &quot;TEA_REQUESTED&quot;,
                &quot;value&quot;: 12.5
            }
        ]
    },
    &quot;financialIndicators&quot;: [
        {
            &quot;id&quot;: &quot;RAR_REQUESTED&quot;,
            &quot;value&quot;: 12.3
        },
        {
            &quot;id&quot;: &quot;ADJUSTED_TEA_REQUESTED&quot;,
            &quot;value&quot;: 12.5
        }
    ],
    &quot;liquidityIndicators&quot;: [
        {
            &quot;id&quot;: &quot;SPREAD_ADDITIONAL_REQUESTED&quot;,
            &quot;value&quot;: 1.7
        },
        {
            &quot;id&quot;: &quot;SPREAD_COM_REQUESTED&quot;,
            &quot;value&quot;: 1.4
        }
    ],
    &quot;fees&quot;: [
        {
            &quot;id&quot;: &quot;FUNDING_COST_ADJUSTED_ESPECIAL&quot;,
            &quot;value&quot;: 1400
        },
        {
            &quot;id&quot;: &quot;BENEFIT_BEFORE_TAX&quot;,
            &quot;value&quot;: 270
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;product&quot;: {
        &quot;id&quot;: &quot;123&quot;,
        &quot;requestedAmount&quot;: {
            &quot;amount&quot;: 1200,
            &quot;currency&quot;: &quot;PEN&quot;
        }
    },
    &quot;interestRates&quot;: {
        &quot;effectiveRates&quot;: [
            {
                &quot;id&quot;: &quot;TEA_REQUESTED&quot;,
                &quot;value&quot;: 12.5
            }
        ]
    },
    &quot;financialIndicators&quot;: [
        {
            &quot;id&quot;: &quot;RAR_REQUESTED&quot;,
            &quot;value&quot;: 12.3
        },
        {
            &quot;id&quot;: &quot;ADJUSTED_TEA_REQUESTED&quot;,
            &quot;value&quot;: 12.5
        }
    ],
    &quot;liquidityIndicators&quot;: [
        {
            &quot;id&quot;: &quot;SPREAD_ADDITIONAL_REQUESTED&quot;,
            &quot;value&quot;: 1.7
        },
        {
            &quot;id&quot;: &quot;SPREAD_COM_REQUESTED&quot;,
            &quot;value&quot;: 1.4
        }
    ],
    &quot;fees&quot;: [
        {
            &quot;id&quot;: &quot;FUNDING_COST_ADJUSTED_ESPECIAL&quot;,
            &quot;value&quot;: 1400
        },
        {
            &quot;id&quot;: &quot;BENEFIT_BEFORE_TAX&quot;,
            &quot;value&quot;: 270
        }
    ]
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialIndicators display-name">financialIndicators</span><span class="type">financialIndicators</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial indicators information.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialIndicators.id display-name">financialIndicators.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial indicator identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="financialIndicators.value display-name">financialIndicators.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial indicator value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityIndicators display-name">liquidityIndicators</span><span class="type">liquidityIndicators</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of margins to measure liquidity.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityIndicators.id display-name">liquidityIndicators.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Liquidity unique identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityIndicators.value display-name">liquidityIndicators.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Liquidity value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="fees display-name">fees</span><span class="type">fees</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Costs of quotation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="fees.id display-name">fees.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Fee identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="fees.value display-name">fees.value</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Fee value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;financialIndicators&quot;: [
            {
                &quot;id&quot;: &quot;RAR_REQUESTED&quot;,
                &quot;value&quot;: 12.5
            },
            {
                &quot;id&quot;: &quot;ADJUSTED_TEA_REQUESTED&quot;,
                &quot;value&quot;: 12.2
            }
        ],
        &quot;liquidityIndicators&quot;: [
            {
                &quot;id&quot;: &quot;SPREAD_ADDITIONAL_REQUESTED&quot;,
                &quot;value&quot;: 1.5
            },
            {
                &quot;id&quot;: &quot;SPREAD_COM_REQUESTED&quot;,
                &quot;value&quot;: 1.6
            }
        ],
        &quot;fees&quot;: [
            {
                &quot;id&quot;: &quot;FUNDING_COST_ADJUSTED_ESPECIAL&quot;,
                &quot;value&quot;: 1500
            },
            {
                &quot;id&quot;: &quot;BENEFIT_BEFORE_TAX&quot;,
                &quot;value&quot;: 250
            }
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;financialIndicators&quot;: [
            {
                &quot;id&quot;: &quot;RAR_REQUESTED&quot;,
                &quot;value&quot;: 12.5
            },
            {
                &quot;id&quot;: &quot;ADJUSTED_TEA_REQUESTED&quot;,
                &quot;value&quot;: 12.2
            }
        ],
        &quot;liquidityIndicators&quot;: [
            {
                &quot;id&quot;: &quot;SPREAD_ADDITIONAL_REQUESTED&quot;,
                &quot;value&quot;: 1.5
            },
            {
                &quot;id&quot;: &quot;SPREAD_COM_REQUESTED&quot;,
                &quot;value&quot;: 1.6
            }
        ],
        &quot;fees&quot;: [
            {
                &quot;id&quot;: &quot;FUNDING_COST_ADJUSTED_ESPECIAL&quot;,
                &quot;value&quot;: 1500
            },
            {
                &quot;id&quot;: &quot;BENEFIT_BEFORE_TAX&quot;,
                &quot;value&quot;: 250
            }
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>