
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">RECEIVERS<a href="https://grapi.slack.com/" target="_blank">Receivers Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/receivers/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-people-receivers')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-receivers" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-people-receivers</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-people-receivers/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services for managing receivers belonging to a transfer.

A receiver is an entity representing data that contains information about a transfer destination. A receiver can be BBVA's internal customer or can be external to BBVA, in this second case the service only can manage limited data related to the receiver as the bank receiver and product type (account or card).

The receiver recovered could be used later to be storage in the Contacts Book or could be used to perform a bank transfer.
</p>
    <h2>RESOURCES</h2>
    <div id="/receivers" class="resource-table">
      <div ng-click="api.hide('/receivers')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/receivers</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/receivers'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing receivers. A receiver could be used later to be stored in Contacts Book or to eventually perform a bank transfer
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: receiversActiveButton === 'get'}" ng-click="api.showMethod($event, 'receivers', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="receivers = 'get'; receiversActiveButton = 'get'" ng-show="receivers === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/receivers'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving a list of receivers matching search criteria.
Product number is necessary to perform searching because the query always returns information about only one receiver's product
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">product.number</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Filters the receivers's list by product number (tipically a product belongs to only one receiver). The mandatory field is due to the fact that we always want to get information from one receiver at a time
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>5434567890987654</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">product.productType.id</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Filters the receivers's list by product type.
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">ACCOUNT</span></li>
                            <li><span class="value">CARD</span></li>
                          </ul>
                        </td>
                        <td><span>ACCOUNT</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>OK</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the receiver.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product display-name">product</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Recipient product. It refers to the product info that belongs to receiver.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.number display-name">product.number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product number. This number consists in an alpha-numerical sequence to identify a specific hired product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.numberType display-name">product.numberType</span><span class="type">productNumberFormat</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of product number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.numberType display-name">product.numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product number type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CCC: Código Cuenta Cliente. This code is based on a name given in Spain to a standard Bank Account. It consists of 20 digit numbers</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CLABE: Clave Bancaria Estandarizada, Spanish for &quot;Standardized Banking Cipher&quot;. It is a banking standard for the numbering of bank accounts in Mexico.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SPEI: Electronic Payments Interbanking System (Sistema de Pagos Electrónicos Interbancarios). This format is used for making transfers easily by only knowing the phone number of the transferee.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LIC: Local Internal Code. This code is a BBVA internal code. It consists of 10 digit numbers</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PAN: Primary Account Number. It consists of 14, 15 or 16 digit numbers that are embossed and/or encoded on a plastic card that identifies the issuer and the particular cardholder account.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.numberType display-name">product.numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product number type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType</span><span class="type">productType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ACCOUNT: Product type is an account.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CARD: Product type is a card.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.specificProductType display-name">product.specificProductType</span><span class="type">specificProductType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Specific product type. This attribute refers to accountType, cardType.
'"></span>
                                  <div class="enum">
                                  </div>
                                  <div layout="row" class="annotation">
                                    <div flex="10" class="country-flag"><img src="assets/flags/cl.png"/></div>
                                    <div flex="90" class="annotation-description">
                                      <p>Mandatory to Chile.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.specificProductType display-name">product.specificProductType.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the specific financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.specificProductType display-name">product.specificProductType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the specific financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.bank display-name">product.bank</span><span class="type">bank</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Entity associated to the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.bank display-name">product.bank.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique bank identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.bank display-name">product.bank.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Bank name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="person display-name">person</span><span class="type">person</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Holder of the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="person.firstName display-name">person.firstName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the person.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="person.lastName display-name">person.lastName</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name(s) written after the &quot;given names&quot; and could be the main name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="person.middleName display-name">person.middleName</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of a person\'s name occurring between the first and family names, as a second given name or a maternal surname.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Retrieve BBVA Account by LIC'">Retrieve BBVA Account by LIC</md-option>
                              <md-option ng-value="'Retrieve BBVA Account by CCC'">Retrieve BBVA Account by CCC</md-option>
                              <md-option ng-value="'Retrieve BBVA Card by PAN'">Retrieve BBVA Card by PAN</md-option>
                              <md-option ng-value="'Retrieve BBVA Debit Card by PAN'">Retrieve BBVA Debit Card by PAN</md-option>
                              <md-option ng-value="'Retrieve BBVA Express Account by SPEI'">Retrieve BBVA Express Account by SPEI</md-option>
                              <md-option ng-value="'Retrieve external Account by CLABE'">Retrieve external Account by CLABE</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve BBVA Account by LIC'">Retrieve BBVA Account info by LIC (Local Internal Code) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve BBVA Account by LIC'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve BBVA Account by LIC'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve BBVA Account by LIC'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve BBVA Account by LIC' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve BBVA Account by LIC'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSSDDFFFSKSL43&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5523456780&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Daniela&quot;,
                &quot;lastName&quot;: &quot;Perez&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve BBVA Account by LIC' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSSDDFFFSKSL43&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5523456780&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;LIC&quot;,
                    &quot;name&quot;: &quot;Local Internal Code&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Daniela&quot;,
                &quot;lastName&quot;: &quot;Perez&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve BBVA Account by CCC'">Retrieve BBVA Account info by CCC (Local Internal Code) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve BBVA Account by CCC'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve BBVA Account by CCC'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve BBVA Account by CCC'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve BBVA Account by CCC' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve BBVA Account by CCC'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSKSLSK09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;00740001000104903242&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;CCC&quot;,
                    &quot;name&quot;: &quot;Customer Account Code&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Katia&quot;,
                &quot;lastName&quot;: &quot;Marin&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve BBVA Account by CCC' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSKSLSK09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;00740001000104903242&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;CCC&quot;,
                    &quot;name&quot;: &quot;Customer Account Code&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Katia&quot;,
                &quot;lastName&quot;: &quot;Marin&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve BBVA Card by PAN'">Retrieve BBVA Card info by PAN (Primary Account Number) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve BBVA Card by PAN'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve BBVA Card by PAN'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve BBVA Card by PAN'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve BBVA Card by PAN' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve BBVA Card by PAN'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSKSDDD09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5833733456786954&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;PAN&quot;,
                    &quot;name&quot;: &quot;Primary Account Number&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;CARD&quot;,
                    &quot;name&quot;: &quot;Card type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Carlos&quot;,
                &quot;lastName&quot;: &quot;Torres&quot;,
                &quot;middleName&quot;: &quot;Marin&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve BBVA Card by PAN' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSKSDDD09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5833733456786954&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;PAN&quot;,
                    &quot;name&quot;: &quot;Primary Account Number&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;CARD&quot;,
                    &quot;name&quot;: &quot;Card type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Carlos&quot;,
                &quot;lastName&quot;: &quot;Torres&quot;,
                &quot;middleName&quot;: &quot;Marin&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN'">Retrieve BBVA Debit Card info by PAN (Primary Account Number) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLASSSLSKSLSK08&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5873733456786954&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;PAN&quot;,
                    &quot;name&quot;: &quot;Primary Account Number&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Carlos&quot;,
                &quot;lastName&quot;: &quot;Torres&quot;,
                &quot;middleName&quot;: &quot;Marin&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve BBVA Debit Card by PAN' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLASSSLSKSLSK08&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;5873733456786954&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;PAN&quot;,
                    &quot;name&quot;: &quot;Primary Account Number&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;Carlos&quot;,
                &quot;lastName&quot;: &quot;Torres&quot;,
                &quot;middleName&quot;: &quot;Marin&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI'">Retrieve BBVA Express Account info by SPEI (Electronic Payments Interbanking System) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSDE344K09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;566776666&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;SPEI&quot;,
                    &quot;name&quot;: &quot;Electronic Payments Interbanking System&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;John&quot;,
                &quot;lastName&quot;: &quot;Perez&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve BBVA Express Account by SPEI' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSDE344K09&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;566776666&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;SPEI&quot;,
                    &quot;name&quot;: &quot;Electronic Payments Interbanking System&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0101&quot;,
                    &quot;name&quot;: &quot;BBVA Bancomer&quot;
                }
            },
            &quot;person&quot;: {
                &quot;firstName&quot;: &quot;John&quot;,
                &quot;lastName&quot;: &quot;Perez&quot;,
                &quot;middleName&quot;: &quot;Sanchez&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Retrieve external Account by CLABE'">Retrieve external Account info by CLABE (Standardized Banking Cipher) identifier</p>
                              <section ng-show="selectedExample === 'Retrieve external Account by CLABE'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Retrieve external Account by CLABE'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Retrieve external Account by CLABE'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Retrieve external Account by CLABE' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Retrieve external Account by CLABE'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSdTTTK00&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;032180000118359719&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;CLABE&quot;,
                    &quot;name&quot;: &quot;Standardized Banking Cipher&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0104&quot;,
                    &quot;name&quot;: &quot;Banorte&quot;
                }
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Retrieve external Account by CLABE' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;AHHT06HGLKLSSSLSdTTTK00&quot;,
            &quot;product&quot;: {
                &quot;number&quot;: &quot;032180000118359719&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;CLABE&quot;,
                    &quot;name&quot;: &quot;Standardized Banking Cipher&quot;
                },
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;ACCOUNT&quot;,
                    &quot;name&quot;: &quot;Account type&quot;
                },
                &quot;bank&quot;: {
                    &quot;id&quot;: &quot;0104&quot;,
                    &quot;name&quot;: &quot;Banorte&quot;
                }
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>