section.api-developer
  p.slack <a href="">#starting-consumer <img src="/assets/images/slack.png" height="16"/></a>
  h1.title Getting started
  h3.sub-title From developers to developers
  div.api-developer-container(layout="row" layout-sm="column")
    div.api-developer-section.align-left(flex="100" flex-sm="100")
      div.icon-container
        i.material-icons play_circle_outline
        h2 Let's build an API implementation
      h3 TL;DR
      p These are the basic steps to start implementing BBVA's API
      ol
        li 
          a(ng-click="apiDeveloper.scrollTo('starting-1')") Find an API you’d like to try
        li 
          a(ng-click="apiDeveloper.scrollTo('starting-2')") Browse your artifact repository to find the interface artifact
        li 
          a(ng-click="apiDeveloper.scrollTo('starting-3')") Include the dependency in your project
        li 
          a(ng-click="apiDeveloper.scrollTo('starting-4')") Start coding!
      
      span.badge 1
      h3.badge-title(id='starting-1') Find an API you’d like to try
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-catalog.png" flex="50")
        p(flex="50") Go to "API Catalog" section and browse through the categories to find the API you want to implement.
      span.badge 2
      h3.badge-title(id='starting-2') Browse your artifact repository to find the interface artifact.
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-impl-nexus.png" flex='50')
        p(flex='50') Each implementation platform has its own repo for artifacts: nexus in java, npm in nodeJs, etc. Each tool has its own user interface to browse artifacts. You need to locate the artifact to get the attributes to be used on your dependency manager (group, name, version, etc).
      span.badge 3
      h3.badge-title(id='starting-3') Include the dependency in your project
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-impl-pom.png" flex='50')
        p(flex='50') Each implementation platform has its own dependency management: maven in java, sbt in scala, package.json in nodeJs, etc.
      span.badge 4
      h3.badge-title(id='starting-4') Start coding!
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-impl-ide.jpeg" flex='50')
        p(flex='50') Once you have included the dependency, the interfaces are available in your development environment. At this point you can start coding the implementation.
