
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">INTERNAL PAYMENTS<a href="https://grapi.slack.com/" target="_blank">Internal Payments Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/internal-payments/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-paymentmethods-internalpayments')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-paymentmethods-internalpayments" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-paymentmethods-internalpayments</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-paymentmethods-internalpayments/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to internal payments. An internal payment is when a person do a payment for a service offered by the bank.
</p>
    <h2>RESOURCES</h2>
    <div id="/internal-payments" class="resource-table">
      <div ng-click="api.hide('/internal-payments')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/internal-payments</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/internal-payments'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the payments of the services offered by the bank.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: internalpaymentsActiveButton === 'get'}" ng-click="api.showMethod($event, 'internalpayments', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="internalpayments = 'get'; internalpaymentsActiveButton = 'get'" ng-show="internalpayments === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/internal-payments'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of payments for a specific service offered by the bank in a specific date and made in a specific branch.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the list of payments by the identifier.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>20100000156</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">operationDate</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the list of payments by the date when it  was made (ISO-8601 date format).
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2017-05-02</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">branch.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the list of payments by the branch identifier.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>0130</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">service.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the list of payments by the service identifier.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>00305</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment display-name">payment</span><span class="type">payment</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment.amount display-name">payment.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment.currency display-name">payment.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the paid amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operationDate display-name">operationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601(2017-03-17T13:18:05Z) for specifying the date and time when the payment was made.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="reference display-name">reference</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Referential information about the payment.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;20100000156&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20170000178&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T09:08:11Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20160000170&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T15:08:23Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20150000008&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T20:08:31Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;20100000156&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20170000178&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T09:08:11Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20160000170&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T15:08:23Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        },
        {
            &quot;id&quot;: &quot;20150000008&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T20:08:31Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment display-name">payment</span><span class="type">payment</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment.amount display-name">payment.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payment amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="payment.currency display-name">payment.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the paid amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operationDate display-name">operationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601(2017-03-17T13:18:05Z) for specifying the date and time when the payment was made.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="reference display-name">reference</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Referential information about the payment.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;20100000156&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 5
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;20100000156&quot;,
            &quot;payment&quot;: {
                &quot;amount&quot;: 200,
                &quot;currency&quot;: &quot;PEN&quot;
            },
            &quot;operationDate&quot;: &quot;2017-03-03T22:08:41Z&quot;,
            &quot;reference&quot;: &quot;Visado teleproceso&quot;
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/internal-payments/v0?service.id=2&amp;branch.id=154&amp;operationdate=2015-02-15&amp;paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 5
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>