
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CONTEXTUAL INFORMATION GENERATOR<a href="https://grapi.slack.com/" target="_blank">Contextual Information Generator Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/contextual-information-generator/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-paas-apis-gic')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-paas-apis-gic" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-paas-apis-gic</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-paas-apis-gic/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API provides the context information containing values needed for backend headers.

This API will be invoked by any runtime.

The API receives a series of HTTP headers, much of them optional.
The optional headers are set by the front applications that make invocations to a runtime. Wich headers will be informed depends on the front application, and the runtime that consumes this API must invoke including all the headers informed by the front application.
</p>
    <h2>RESOURCES</h2>
    <div id="backend-contexts" class="resource-table">
      <div ng-click="api.hide('backend-contexts')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">backend-contexts</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='backend-contexts'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for generating context information to call backend.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: backendcontextsActiveButton === 'get'}" ng-click="api.showMethod($event, 'backendcontexts', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="backendcontexts = 'get'; backendcontextsActiveButton = 'get'" ng-show="backendcontexts === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='backend-contexts'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the context information containing values needed for backend headers.
</p>
                    <h3>Headers</h3>
                    <table class="table-headers">
                      <tr>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td><span class="display-name">user-id-elements</span></td>
                        <td>
                          <pre>The elements of the user id returned by Armadillo. Separated by commas.</pre>
                        </td>
                        <td>true</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">transactional-user</span></td>
                        <td>
                          <pre>The transactional user returned by Armadillo.</pre>
                        </td>
                        <td>true</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-accountingterminal</span></td>
                        <td>
                          <pre>The accounting terminal. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-backendsessionid</span></td>
                        <td>
                          <pre>The ASTA session id. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-branchcode</span></td>
                        <td>
                          <pre>The physical branch. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-channelcode</span></td>
                        <td>
                          <pre>The channel of the consumer application. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-clientdocument</span></td>
                        <td>
                          <pre>The client identification document. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-clientidentificationtype</span></td>
                        <td>
                          <pre>The client identification type. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-contactidentifier</span></td>
                        <td>
                          <pre>The contact identifier. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-countrycode</span></td>
                        <td>
                          <pre>The country. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-currencycode</span></td>
                        <td>
                          <pre>The base currency. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-entitycode</span></td>
                        <td>
                          <pre>The physical bank. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-environcode</span></td>
                        <td>
                          <pre>The medium of the consumer application. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-ipaddress</span></td>
                        <td>
                          <pre>The origin ip address. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-logicalterminal</span></td>
                        <td>
                          <pre>The logical terminal. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-operativebranchcode</span></td>
                        <td>
                          <pre>The operational branch. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-operativeentitycode</span></td>
                        <td>
                          <pre>The operational bank. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-productcode</span></td>
                        <td>
                          <pre>The service of the consumer application. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-secondarycurrencycode</span></td>
                        <td>
                          <pre>The secondary currency. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-usercode</span></td>
                        <td>
                          <pre>The user id to call the backend. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">back-workstationcode</span></td>
                        <td>
                          <pre>The code of the physical terminal. Can be informed by reliable consumers (interbackend)</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">backendSessionId</span></td>
                        <td>
                          <pre>The ASTA session id. Can be informed by the consumer application for ASTA sessions</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">channelDialogId</span></td>
                        <td>
                          <pre>The ASTA conversation id. Can be informed by the consumer application for ASTA sessions</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">clientId</span></td>
                        <td>
                          <pre>The ASTA client. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">consumerapplicationid</span></td>
                        <td>
                          <pre>The consumer application id. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">consumeruuid</span></td>
                        <td>
                          <pre>The consumer uuid. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">contactid</span></td>
                        <td>
                          <pre>The contact identifier. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-accountterm</span></td>
                        <td>
                          <pre>The accounting terminal. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-authorization</span></td>
                        <td>
                          <pre>The authorization code. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-authorizationVersion</span></td>
                        <td>
                          <pre>The authorization version. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-identityDocumentNumber</span></td>
                        <td>
                          <pre>The client identification document. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-identityDocumentType</span></td>
                        <td>
                          <pre>The client identification type. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-logicalterm</span></td>
                        <td>
                          <pre>The logical terminal. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-operationalBank</span></td>
                        <td>
                          <pre>The operational bank. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-operationalBranch</span></td>
                        <td>
                          <pre>The operational branch. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-physicalBank</span></td>
                        <td>
                          <pre>The physical bank. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-physicalBranch</span></td>
                        <td>
                          <pre>The physical branch. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">onsite-terminalID</span></td>
                        <td>
                          <pre>The code of the physical terminal. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">currencyCode</span></td>
                        <td>
                          <pre>The base currency. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">secondaryCurrencyCode</span></td>
                        <td>
                          <pre>The secondary currency. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">userCountryCode</span></td>
                        <td>
                          <pre>The country. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">userLanguageId</span></td>
                        <td>
                          <pre>The language. Can be informed by attended consumers</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">user-agent</span></td>
                        <td>
                          <pre>The user agent. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">x-forwarded-for</span></td>
                        <td>
                          <pre>The origin ip address. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="display-name">accept-language</span></td>
                        <td>
                          <pre>The language. Can be informed by the consumer application</pre>
                        </td>
                        <td>false</td>
                        <td></td>
                      </tr>
                    </table>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">backendProtocol</span><span class="type">enum</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>The type of backend protocol for what information is required
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">AA03: AA03 protocol</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">PS9: PS9 protocol</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">QP05: QP05 protocol</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">QP06: QP06 protocol</span></li>
                          </ul>
                        </td>
                        <td><span>QP06</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">applicationId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>The id of the consumer application or the AAP
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>00000001</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">countryId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>The country of the consumption
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>ES</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="backendProtocol display-name">backendProtocol</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The type of backend protocol for what information is required.'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">AA03: AA03 protocol</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">PS9: PS9 protocol</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QP05: QP05 protocol</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QP06: QP06 protocol</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="aap display-name">aap</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The application access point (Identifies the consumer application). (QP06). This field has a length of 12.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accessMedium display-name">accessMedium</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The medium of the consumer application. Must be one of the values ​​of the architecture media repository and must correspond to the channel. (AA03, QP05, QP06). This field has a length of 2 for QP05 and QP06; and 4 for AA03.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="authorization display-name">authorization</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The authorization code number. (AA03, QP05, QP06). This field has a length of 9.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="authorizationVersion display-name">authorizationVersion</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Version of the authorization message. (AA03, QP05, QP06). This field has a length of 2.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="baseForeingCurrency display-name">baseForeingCurrency</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The ISO code of the associated base currency. (QP05, QP06). This field has a length of 3.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="callingChannel display-name">callingChannel</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The channel of the consumer application. It must be one of the architecture channel repository values. (ALL). This field has a length of 2 for QP05, QP06 and PS9; and 4 for AA03.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="clientId display-name">clientId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The client identification document. (AA03, QP05, QP06). This field has a length of 25.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="clientTypeId display-name">clientTypeId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The client identification type. (AA03, QP05, QP06). This field has a length of 1.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="consumerApplicationId display-name">consumerApplicationId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the finalist application that consumes services through an AAP. (QP06). This field has a length of 12.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="consumerUuid display-name">consumerUuid</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'To identify how the user interacts with the AAP for informational purposes. (QP06). This field has a length of 12.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="contactId display-name">contactId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The identifier of the current contact. (AA03, QP05, QP06). This field has a length of 40.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="country display-name">country</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The ISO code of the associated country. (QP05, QP06). This field has a length of 2.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="language display-name">language</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The user language. (QP05, QP06, PS9). This field has a length of 2 for QP05 and QP06, and 1 for PS9.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operationalBank display-name">operationalBank</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code of the bank on behalf of which the operation is made. (QP05, QP06). This field has a length of 4.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="operationalBranch display-name">operationalBranch</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code of the branch on behalf of which the operation is made. (QP05, QP06). This field has a length of 4.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="physicalBank display-name">physicalBank</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code of he physical bank on which the operation was launched. (AA03, QP05, QP06). This field has a length of 4.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="physicalBranch display-name">physicalBranch</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code of the physical branch on which the operation was launched. (AA03, QP05, QP06). This field has a length of 4.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="physicalOrigin display-name">physicalOrigin</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The ip address of the terminal from which the operation was launched. (QP05, QP06). This field has a length of 16.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="position display-name">position</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The code of the physical terminal on which the operation was launched. (AA03, QP05, QP06). This field has a length of 4 for QP05 and QP06; and 2 for AA03.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="productService display-name">productService</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Product / Service / Application related to channel and medium. It must be one of the values ​​of the repository of architectural products / services and must correspond to the channel and medium. (AA03, QP05, QP06). This field has a length of 4.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="secondForeingCurrency display-name">secondForeingCurrency</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The ISO code of the associated secondary currency. (QP05, QP06). This field has a length of 3.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="transactionalUser display-name">transactionalUser</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'The user id for calling the backend. (ALL). This field has a length of 8.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="loggedUser display-name">loggedUser</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The logged user. In operations performed on behalf of another person, it is the manager user. (QP06). This field has a length of 25.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="userAgent display-name">userAgent</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Computer application that works as client in WWW. (QP06). This field has a length of 200.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="accountingTerminal display-name">accountingTerminal</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The name of the accounting terminal used to call PS9 backend. (PS9). This field has a length of 8.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="backendSessionID display-name">backendSessionID</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The identifier of the ASTA session managed by the backend. (PS9). This field has a length of 8.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="logicalTerminal display-name">logicalTerminal</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The name of the logical terminal used to call PS9 backend. (PS9). This field has a length of 8.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="commit display-name">commit</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The commit indicator. Indicates whether the backend will handle resources commit. (PS9). This field has a length of 1.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="messageType display-name">messageType</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether it is a new request, a continuation of conversation, etc. (PS9). This field has a length of 1.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="optionCode display-name">optionCode</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The option (function key) chosen by application user. (PS9). This field has a length of 2.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="preformat display-name">preformat</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether the architecture should preformat the data. (PS9). This field has a length of 1.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="processType display-name">processType</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether the process is online or offline. (PS9). This field has a length of 1.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="protocolId display-name">protocolId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether the protocol is interbackend. (PS9). This field has a length of 2.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'AA03 JSON output example'">AA03 JSON output example</md-option>
                              <md-option ng-value="'PS9 JSON output example'">PS9 JSON output example</md-option>
                              <md-option ng-value="'QP05 JSON output example'">QP05 JSON output example</md-option>
                              <md-option ng-value="'QP06  JSON output example'">QP06  JSON output example</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'AA03 JSON output example'">JSON output example for AA03 headers</p>
                              <section ng-show="selectedExample === 'AA03 JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'AA03 JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'AA03 JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'AA03 JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'AA03 JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;AA03&quot;,
            &quot;accessMedium&quot;: &quot;0001&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;callingChannel&quot;: &quot;0001&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;position&quot;: &quot;00&quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'AA03 JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;AA03&quot;,
            &quot;accessMedium&quot;: &quot;0001&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;callingChannel&quot;: &quot;0001&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;position&quot;: &quot;00&quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'PS9 JSON output example'">JSON output example for AA03 headers</p>
                              <section ng-show="selectedExample === 'PS9 JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'PS9 JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'PS9 JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'PS9 JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'PS9 JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;PS9&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;language&quot;: &quot;E&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;,
            &quot;accountingTerminal&quot;: &quot;TERM    &quot;,
            &quot;backendSessionID&quot;: &quot;00000001&quot;,
            &quot;logicalTerminal&quot;: &quot;VIRT    &quot;,
            &quot;commit&quot;: &quot;1&quot;,
            &quot;optionCode&quot;: &quot;00&quot;,
            &quot;preformat&quot;: &quot;N&quot;,
            &quot;messageType&quot;: &quot;1&quot;,
            &quot;processType&quot;: &quot;0&quot;,
            &quot;protocolId&quot;: &quot;26&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'PS9 JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;PS9&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;language&quot;: &quot;E&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;,
            &quot;accountingTerminal&quot;: &quot;TERM    &quot;,
            &quot;backendSessionID&quot;: &quot;00000001&quot;,
            &quot;logicalTerminal&quot;: &quot;VIRT    &quot;,
            &quot;commit&quot;: &quot;1&quot;,
            &quot;optionCode&quot;: &quot;00&quot;,
            &quot;preformat&quot;: &quot;N&quot;,
            &quot;messageType&quot;: &quot;1&quot;,
            &quot;processType&quot;: &quot;0&quot;,
            &quot;protocolId&quot;: &quot;26&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'QP05 JSON output example'">JSON output example for AA03 headers</p>
                              <section ng-show="selectedExample === 'QP05 JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'QP05 JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'QP05 JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'QP05 JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'QP05 JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;QP05&quot;,
            &quot;accessMedium&quot;: &quot;01&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;baseForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;country&quot;: &quot;ES&quot;,
            &quot;language&quot;: &quot;es&quot;,
            &quot;operationalBank&quot;: &quot;0182&quot;,
            &quot;operationalBranch&quot;: &quot;1128&quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;physicalOrigin&quot;: &quot;192.168.1.1     &quot;,
            &quot;position&quot;: &quot;00  &quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;secondForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'QP05 JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;QP05&quot;,
            &quot;accessMedium&quot;: &quot;01&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;baseForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;country&quot;: &quot;ES&quot;,
            &quot;language&quot;: &quot;es&quot;,
            &quot;operationalBank&quot;: &quot;0182&quot;,
            &quot;operationalBranch&quot;: &quot;1128&quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;physicalOrigin&quot;: &quot;192.168.1.1     &quot;,
            &quot;position&quot;: &quot;00  &quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;secondForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'QP06  JSON output example'">JSON output example for AA03 headers</p>
                              <section ng-show="selectedExample === 'QP06  JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'QP06  JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'QP06  JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'QP06  JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'QP06  JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;QP06&quot;,
            &quot;aap&quot;: &quot;00000001    &quot;,
            &quot;accessMedium&quot;: &quot;01&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;baseForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;consumerApplicationId&quot;: &quot;ZZZZZZZZZZZZ&quot;,
            &quot;consumerUuid&quot;: &quot;ZZZZZZZZZZZZ&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;country&quot;: &quot;ES&quot;,
            &quot;language&quot;: &quot;es&quot;,
            &quot;operationalBank&quot;: &quot;0182&quot;,
            &quot;operationalBranch&quot;: &quot;1128&quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;physicalOrigin&quot;: &quot;192.168.1.1     &quot;,
            &quot;position&quot;: &quot;00  &quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;secondForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;,
            &quot;loggedUser&quot;: &quot;E000001                  &quot;,
            &quot;userAgent&quot;: &quot;Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36                                                                                               &quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'QP06  JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;backendProtocol&quot;: &quot;QP06&quot;,
            &quot;aap&quot;: &quot;00000001    &quot;,
            &quot;accessMedium&quot;: &quot;01&quot;,
            &quot;authorization&quot;: &quot;000000000&quot;,
            &quot;authorizationVersion&quot;: &quot;00&quot;,
            &quot;baseForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;callingChannel&quot;: &quot;01&quot;,
            &quot;clientId&quot;: &quot;19-00000001A             &quot;,
            &quot;clientTypeId&quot;: &quot;6&quot;,
            &quot;consumerApplicationId&quot;: &quot;ZZZZZZZZZZZZ&quot;,
            &quot;consumerUuid&quot;: &quot;ZZZZZZZZZZZZ&quot;,
            &quot;contactId&quot;: &quot;f6f38b83-7d74                           &quot;,
            &quot;country&quot;: &quot;ES&quot;,
            &quot;language&quot;: &quot;es&quot;,
            &quot;operationalBank&quot;: &quot;0182&quot;,
            &quot;operationalBranch&quot;: &quot;1128&quot;,
            &quot;physicalBank&quot;: &quot;0182&quot;,
            &quot;physicalBranch&quot;: &quot;1128&quot;,
            &quot;physicalOrigin&quot;: &quot;192.168.1.1     &quot;,
            &quot;position&quot;: &quot;00  &quot;,
            &quot;productService&quot;: &quot;0001&quot;,
            &quot;secondForeingCurrency&quot;: &quot;EUR&quot;,
            &quot;transactionalUser&quot;: &quot;E000001 &quot;,
            &quot;loggedUser&quot;: &quot;E000001                  &quot;,
            &quot;userAgent&quot;: &quot;Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36                                                                                               &quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>