.api-bookmark-container(ng-repeat="api in api.apiCatalog")
  h1.title {{api.title}}
  ng-switch(on="api.title")
    h3.sub-title(ng-switch-when="global-apis") Explore our global API and discover how you can use them. Look below for local APIs.
    h3.sub-title(ng-switch-when="local-apis") The following APIs are country specific and supported by each local PaaS team.
    h3.sub-title(ng-switch-when="global-events") Explore our events API and discover how you can use them. Look below for local APIs.
    h3.sub-title(ng-switch-when="global-mike") Explore our MIKE API and discover how you can use our product.
    h3.sub-title(ng-switch-when="global-channels") The following APIs are Channel Extended Services.
    h3.sub-title(ng-switch-when="global-cryptography") The following APIs are Cryptography Extended Services.
    h3.sub-title(ng-switch-when="global-paas") The following APIs are Paas Extended Services.
    h3.sub-title(ng-switch-when="global-platform") The following APIs are Platform Extended Services.
    h3.sub-title(ng-switch-when="global-processes") The following APIs are Processes Extended Services.
    h3.sub-title(ng-switch-when="global-security") The following APIs are Security Extended Services.
    h3.sub-title(ng-switch-when="global-seiri") The following APIs are Seiri Extended Services.
    h3.sub-title(ng-switch-when="global-ai") The following APIs are AI Extended Services.
  md-content(layout="row")
    md-input-container(ng-class="{'search-hidden': section.domains.length <= 4, 'flex-50': api.title === 'local-apis', 'flex-100': api.title !== 'local-apis'}")
      label Name
        i.material-icons search
      input(ng-model="searchName")
    md-input-container.flex-50(ng-show="api.title === 'local-apis'" ng-class="{'search-hidden': section.domains.length <= 4}")
      label Country
        i.material-icons search
      input(ng-model="searchCountry")
  .api-bookmark(layout="row" layout-padding layout-wrap layout-fill)
    .api-section(ng-repeat="section in api.sections" ng-if="section.name !== 'commons'" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout="column" ng-class="{'small': section.domains.length <= 2 , 'overflow-hidden': section.domains.length <= 4 , 'hide': section.title === 'Commons', 'commons': api.title === 'Common Components'}")
      h2 {{section.name}}
        img(ng-src="/assets/flags/grapi.png")
      div.domain  
        ul
          li(ng-repeat="domain in section.domains  | filter:searchName | filterByCountry:searchCountry | orderAlpha:'display-name' ")
            md-button(id="{{domain['display-name']}}" ng-class="{'local': api.title === 'local-apis'}" ng-href="{{api.title === 'local-apis' ? '/#/'+api.title.replace('-', '/')+'/'+(domain.country|lowercase)+'/'+section.name+'/'+domain['display-name'] : '/#/'+api.title.replace('-', '/')+'/'+section.name+'/'+domain['display-name']}}" ng-disabled="!domain.tag.length > 0") {{domain['display-name']}}
              img(ng-if="api.title === 'local-apis'" ng-src="/assets/flags/{{ domain.country | lowercase}}.png")
.api-bookmark-container
  h1.title Common Components
  h3.sub-title The following components are extracted from all domains and consolidated as a single catalog.
  .api-bookmark(layout="row" layout-padding layout-wrap layout-fill)
    .api-section(flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout="column" ng-class="{'small': section.domains.length <= 2 , 'overflow-hidden': section.domains.length <= 4 , 'hide': section.title === 'Commons', 'commons': api.title === 'Common Components'}")
      h2.commons Status Codes
        i.material-icons http
      .domain
        ul
          li
            md-button(ng-href="/#/api/statusCodes") Status Codes
    .api-section
      h2.commons Errors
        i.material-icons error_outline
      .domain
        ul
          li
            md-button(ng-href="/#/api/errors") Errors
    .api-section
      h2.commons Traits
        i.material-icons title
      .domain
        ul
          li
            md-button(ng-href="/#/api/traits") Traits
    .api-section
      h2.commons Resource Types
        i.material-icons extension
      .domain
        ul
          li
            md-button(ng-href="/#/api/resourceTypes") Resource Types
