.title {
    padding: 90px 90px 0;
    text-align: center;
    margin: 0;
}
.sub-title {
    text-align: center;
    color: #616161;
    font-size: 14px;
}
.api-bookmark-container {
    padding: 0 100px;
    .title {
        padding: 0;
        text-align: center;
        color: #16366F;
        text-transform: capitalize;
    }
    .first-tittle {
        padding: 90px 90px 0;
    }
    .sub-title {
        text-align: center;
        color: #616161;
        font-size: 14px;
    }
    md-input-container {
        text-align: left;
        padding: 0;
        label {
            i {
                float: left;
                font-size: 23px;
                color: #BEBEBE;
            }
        }
        &.md-input-focused {
            label {
                i {
                    color: #6371C3;
                }
            }
        }
        &.search-hidden {
            display: none;
        }
        &.margin {
            margin-right: 30px;
        }
    }
    .api-bookmark {
        padding: 0 0 0 15px;
        .api-section {
            text-align: center;
            margin: 20px 15px 0;
            max-height: 150px;
            min-height: 100px;
            height: 150px;
            &.small {
                text-align: center;
                margin: 40px;
                ul {
                    overflow: none;
                }
            }
            &.overflow-hidden {
                text-align: center;
                margin: 20px 15px 0;
            }
            &.commons {
                height: 150px;
            }
            h2 {
                margin-top: 0;
                text-align: left;
                margin-bottom: 0;
                border-bottom: 1px solid #E0E0E0;
                font-size: 20px;
                text-transform: capitalize;
                img {
                    width: 26px;
                    float: left;
                }
                i {
                    font-size: 26px;
                    float: left;
                    color: #16366f;
                }
                &.commons {
                    width: 213px;
                }
            }
            .domain {
                overflow: auto;
                input {
                    width: 98%;
                    outline: none;
                    background-color: transparent;
                    text-transform: uppercase;
                    border: none;
                    border-bottom: 1px solid #DDDDDD;
                }
                ul {
                    li {
                        a.md-button[disabled] {
                            color: rgba(0, 0, 0, 0.1);
                            img {
                                opacity: 0.2;
                            }
                        }
                        img {
                            width: 26px;
                            display: inline-block;
                            position: relative;
                            top: 7px;
                            float: left;
                        }
                    }
                }
            }
            ul {
                margin: 0;
                padding: 0;
                overflow: auto;
                li {
                    button {
                        margin: 0;
                        width: 100%;
                        border-radius: 0;
                        .md-ripple-container {
                            border-radius: 0 !important;
                        }
                    }
                    a {
                        padding-left: 5px;
                        color: inherit;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                        font-size: 13px;
                        font-weight: bold;
                        &.filter {
                            color: #FAFAFA;
                            background: #0065B7;
                            border-radius: 5px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    &:first-child {
        padding: 45px 100px 0;
        .title {
            padding: 45px 90px 0;
            text-align: center;
            margin: 20px;
            text-transform: capitalize;
        }
    }
}
.iconCloud{
    position: relative;
    top: 5px;
    left: 5px;
}
