#login-container {
    .login-card {
        width: 540px;
        height: 430px;
        position: absolute;
        left: 50%;
        top: 40%;
        margin-left: -260px;
        margin-top: -166px;
        background: rgba(255, 255, 255, 0.4);
        .header {
            height: 95px;
            h1 {
                margin: 0;
                font-size: 25px;
                padding: 55px;
                color: #0065B7;
                text-align: center;
            }
            img {
                width: 250px;
                top: 30px;
                position: relative;
                left: -35px;
            }
        }
        .body {
            height: 175px;
            padding: 0px 60px;
            .message {
                position: relative;
                margin-top: 10px;
                height: 70px;
                width: 80%;
                margin-left: 50px;
            }
            md-input-container {
                label {
                    color: #FAFAFA;
                    font-weight: bold;
                }
                input {
                    border-bottom-color: #FAFAFA;
                    color: #FAFAFA;
                }
            }
        }
        .mail {
            text-align: center;
            margin: 10px 0 20px;
            cursor: pointer;
            #text-message {
                color: #FFFFFF;
                text-align: center;
                font-weight: bold;
                text-decoration: none;
            }
        }
        .message {
            display: none;
            padding: 0 40px;
            cursor: default;
            &.show {
                display: inherit;
                #text-message {
                    text-align: center;
                    padding: 13px;
                    background: rgba(255, 255, 255, 0.3);
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
                    &.error {
                        color: #dd2c00;
                        border: 1px solid #D33814;
                    }
                    &.help {
                        color: #407BC1;
                        border: 1px solid #407BC1;
                    }
                }
            }
        }
        .footer-login {
            position: relative;
            top: 30px;
            text-align: center;
            button {
                width: 150px;
                height: 45px;
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.4);
                font-weight: bold;
                border: 2px solid #FFFFFF;
                &:hover {
                    border: 2px solid #3B76BC;
                    color: #3B76BC;
                }
            }
        }
    }
}