
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">RATINGS<a href="https://grapi.slack.com/" target="_blank">Ratings Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/ratings/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-ratings')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-ratings" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-ratings</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-ratings/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the ratings.

A rating gives a classification of a customer based on a comparative assessment.
</p>
    <h2>RESOURCES</h2>
    <div id="/ratings" class="resource-table">
      <div ng-click="api.hide('/ratings')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/ratings</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/ratings'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving ratings of customer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: ratingsActiveButton === 'get'}" ng-click="api.showMethod($event, 'ratings', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="ratings = 'get'; ratingsActiveButton = 'get'" ng-show="ratings === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/ratings'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting ratings information customer
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customerId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Unique customer identifier

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>123456</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingId display-name">ratingId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel display-name">ratingModel</span><span class="type">ratingModel</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.id display-name">ratingModel.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.name display-name">ratingModel.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="evaluationDate display-name">evaluationDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the date on which the rating assessment was conducted.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This identifier is the standard code to identify a rating period. Value of period that uses YYYY-MM format.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations display-name">punctuations</span><span class="type">punctuation [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Punctuations of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType</span><span class="type">punctuationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of rating punctuation. This type identifies the universal standard of a rating punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to rating punctuation. This identifier is the standard code to identify a punctuation.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">QUANTITATIVE: Quantitative punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QUALITATIVE: Qualitatie punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BUREAU_MODEL: Bureau model punctuation of a rating</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to rating punctuation. This name represents the full name of a rating punctuation type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables display-name">variables</span><span class="type">variable [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Variables of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType</span><span class="type">variableType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of variable. This type identifies the universal standard of a variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to variable. This identifier is the standard code to identify a variable.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">EXPLANATORIES: Contestant explanatories of a variable</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CONDITIONS: Contestant conditions of a variable</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to variable. This name represents the full name of a variable type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FINISHED: Finished status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">VALIDATED: Validated status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INCOMPLETE: Incomplete status</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-10-20&quot;,
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;1.32&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.53&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;4.99&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;33&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;23&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;VALIDATED&quot;,
                &quot;name&quot;: &quot;Validated status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000220160230XX&quot;,
            &quot;description&quot;: &quot;Bad qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
                &quot;name&quot;: &quot;Consolidated companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-25&quot;,
            &quot;period&quot;: &quot;2016-08&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.25&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;4.23&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.77&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;55&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;INCOMPLETE&quot;,
                &quot;name&quot;: &quot;Incomplete status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000320160330XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-22&quot;,
            &quot;period&quot;: &quot;2016-09&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;7.34&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;5.22&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.11&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;22&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FINISHED&quot;,
                &quot;name&quot;: &quot;Finished status.&quot;
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-10-20&quot;,
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;1.32&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.53&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;4.99&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;33&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;23&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;VALIDATED&quot;,
                &quot;name&quot;: &quot;Validated status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000220160230XX&quot;,
            &quot;description&quot;: &quot;Bad qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
                &quot;name&quot;: &quot;Consolidated companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-25&quot;,
            &quot;period&quot;: &quot;2016-08&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.25&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;4.23&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.77&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;55&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;INCOMPLETE&quot;,
                &quot;name&quot;: &quot;Incomplete status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000320160330XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-22&quot;,
            &quot;period&quot;: &quot;2016-09&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;7.34&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;5.22&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.11&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;22&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FINISHED&quot;,
                &quot;name&quot;: &quot;Finished status.&quot;
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingId display-name">ratingId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel display-name">ratingModel</span><span class="type">ratingModel</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.id display-name">ratingModel.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.name display-name">ratingModel.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="evaluationDate display-name">evaluationDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the date on which the rating assessment was conducted.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This identifier is the standard code to identify a rating period. Value of period that uses YYYY-MM format.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations display-name">punctuations</span><span class="type">punctuation [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Punctuations of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType</span><span class="type">punctuationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of rating punctuation. This type identifies the universal standard of a rating punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to rating punctuation. This identifier is the standard code to identify a punctuation.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">QUANTITATIVE: Quantitative punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QUALITATIVE: Qualitatie punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BUREAU_MODEL: Bureau model punctuation of a rating</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to rating punctuation. This name represents the full name of a rating punctuation type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables display-name">variables</span><span class="type">variable [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Variables of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType</span><span class="type">variableType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of variable. This type identifies the universal standard of a variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to variable. This identifier is the standard code to identify a variable.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">EXPLANATORIES: Contestant explanatories of a variable</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CONDITIONS: Contestant conditions of a variable</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to variable. This name represents the full name of a variable type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FINISHED: Finished status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">VALIDATED: Validated status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INCOMPLETE: Incomplete status</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-10-20&quot;,
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;1.32&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.53&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;4.99&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;33&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;23&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;VALIDATED&quot;,
                &quot;name&quot;: &quot;Validated status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000220160230XX&quot;,
            &quot;description&quot;: &quot;Bad qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
                &quot;name&quot;: &quot;Consolidated companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-25&quot;,
            &quot;period&quot;: &quot;2016-08&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.25&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;4.23&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.77&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;55&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;INCOMPLETE&quot;,
                &quot;name&quot;: &quot;Incomplete status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000320160330XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-22&quot;,
            &quot;period&quot;: &quot;2016-09&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;7.34&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;5.22&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.11&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;22&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FINISHED&quot;,
                &quot;name&quot;: &quot;Finished status.&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/ratings/v0&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 6,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 1
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-10-20&quot;,
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;1.32&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.53&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;4.99&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;33&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;23&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;VALIDATED&quot;,
                &quot;name&quot;: &quot;Validated status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000220160230XX&quot;,
            &quot;description&quot;: &quot;Bad qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
                &quot;name&quot;: &quot;Consolidated companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-25&quot;,
            &quot;period&quot;: &quot;2016-08&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;2.25&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;4.23&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.77&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;55&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;INCOMPLETE&quot;,
                &quot;name&quot;: &quot;Incomplete status.&quot;
            }
        },
        {
            &quot;ratingId&quot;: &quot;0000000320160330XX&quot;,
            &quot;description&quot;: &quot;Good qualification&quot;,
            &quot;ratingModel&quot;: {
                &quot;id&quot;: &quot;INDIVIDUALCOMPANY&quot;,
                &quot;name&quot;: &quot;Individual companies.&quot;
            },
            &quot;evaluationDate&quot;: &quot;2016-11-22&quot;,
            &quot;period&quot;: &quot;2016-09&quot;,
            &quot;punctuations&quot;: [
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                        &quot;name&quot;: &quot;QUANTITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;7.34&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;QUALITATIVE&quot;,
                        &quot;name&quot;: &quot;QUALITATIVE&quot;
                    },
                    &quot;value&quot;: &quot;5.22&quot;
                },
                {
                    &quot;punctuationType&quot;: {
                        &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                        &quot;name&quot;: &quot;BUREAU MODEL&quot;
                    },
                    &quot;value&quot;: &quot;8.11&quot;
                }
            ],
            &quot;variables&quot;: [
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                        &quot;name&quot;: &quot;EXPLANATORIES&quot;
                    },
                    &quot;value&quot;: &quot;45&quot;
                },
                {
                    &quot;variableType&quot;: {
                        &quot;id&quot;: &quot;CONDITIONS&quot;,
                        &quot;name&quot;: &quot;CONDITIONS&quot;
                    },
                    &quot;value&quot;: &quot;22&quot;
                }
            ],
            &quot;status&quot;: {
                &quot;id&quot;: &quot;FINISHED&quot;,
                &quot;name&quot;: &quot;Finished status.&quot;
            }
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/ratings/v0&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/ratings/v0?paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 6,
        &quot;totalElements&quot;: 6,
        &quot;pageSize&quot;: 1
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/ratings/{rating-id}" class="resource-table">
      <div ng-click="api.hide('/ratings/{rating-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/ratings/{rating-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/ratings/{rating-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving a rating of customer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: ratingsratingidActiveButton === 'get'}" ng-click="api.showMethod($event, 'ratingsratingid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="ratingsratingid = 'get'; ratingsratingidActiveButton = 'get'" ng-show="ratingsratingid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/ratings/{rating-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting a rating information of customer.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">rating-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique rating identifier</p>
                        </td>
                        <td><span>123</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingId display-name">ratingId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the qualification of a customer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel display-name">ratingModel</span><span class="type">ratingModel</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.id display-name">ratingModel.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ratingModel.name display-name">ratingModel.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Rating model name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="evaluationDate display-name">evaluationDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 for specifying the date on which the rating assessment was conducted.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This identifier is the standard code to identify a rating period. Value of period that uses YYYY-MM format.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations display-name">punctuations</span><span class="type">punctuation [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Punctuations of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType</span><span class="type">punctuationType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of rating punctuation. This type identifies the universal standard of a rating punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to rating punctuation. This identifier is the standard code to identify a punctuation.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">QUANTITATIVE: Quantitative punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">QUALITATIVE: Qualitatie punctuation of a rating</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BUREAU_MODEL: Bureau model punctuation of a rating</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.punctuationType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to rating punctuation. This name represents the full name of a rating punctuation type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="punctuations.punctuation display-name">punctuations.punctuation.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of punctuation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables display-name">variables</span><span class="type">variable [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Variables of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType</span><span class="type">variableType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of variable. This type identifies the universal standard of a variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to variable. This identifier is the standard code to identify a variable.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">EXPLANATORIES: Contestant explanatories of a variable</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CONDITIONS: Contestant conditions of a variable</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.variableType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to variable. This name represents the full name of a variable type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="variables.variable display-name">variables.variable.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of variable.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">FINISHED: Finished status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">VALIDATED: Validated status</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INCOMPLETE: Incomplete status</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Description of the status of a rating.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
        &quot;description&quot;: &quot;Bad qualification&quot;,
        &quot;ratingModel&quot;: {
            &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
            &quot;name&quot;: &quot;Consolidated companies.&quot;
        },
        &quot;evaluationDate&quot;: &quot;2016-06-12&quot;,
        &quot;period&quot;: &quot;2016-10&quot;,
        &quot;punctuations&quot;: [
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                    &quot;name&quot;: &quot;QUANTITATIVE&quot;
                },
                &quot;value&quot;: &quot;2.25&quot;
            },
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;QUALITATIVE&quot;,
                    &quot;name&quot;: &quot;QUALITATIVE&quot;
                },
                &quot;value&quot;: &quot;4.23&quot;
            },
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                    &quot;name&quot;: &quot;BUREAU MODEL&quot;
                },
                &quot;value&quot;: &quot;8.77&quot;
            }
        ],
        &quot;variables&quot;: [
            {
                &quot;variableType&quot;: {
                    &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                    &quot;name&quot;: &quot;EXPLANATORIES&quot;
                },
                &quot;value&quot;: &quot;55&quot;
            },
            {
                &quot;variableType&quot;: {
                    &quot;id&quot;: &quot;CONDITIONS&quot;,
                    &quot;name&quot;: &quot;CONDITIONS&quot;
                },
                &quot;value&quot;: &quot;45&quot;
            }
        ],
        &quot;status&quot;: {
            &quot;id&quot;: &quot;VALIDATED&quot;,
            &quot;name&quot;: &quot;Validated status.&quot;
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;ratingId&quot;: &quot;0000000120160130XX&quot;,
        &quot;description&quot;: &quot;Bad qualification&quot;,
        &quot;ratingModel&quot;: {
            &quot;id&quot;: &quot;CONSOLIDATEDCOMPANY&quot;,
            &quot;name&quot;: &quot;Consolidated companies.&quot;
        },
        &quot;evaluationDate&quot;: &quot;2016-06-12&quot;,
        &quot;period&quot;: &quot;2016-10&quot;,
        &quot;punctuations&quot;: [
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;QUANTITATIVE&quot;,
                    &quot;name&quot;: &quot;QUANTITATIVE&quot;
                },
                &quot;value&quot;: &quot;2.25&quot;
            },
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;QUALITATIVE&quot;,
                    &quot;name&quot;: &quot;QUALITATIVE&quot;
                },
                &quot;value&quot;: &quot;4.23&quot;
            },
            {
                &quot;punctuationType&quot;: {
                    &quot;id&quot;: &quot;BUREAU_MODEL&quot;,
                    &quot;name&quot;: &quot;BUREAU MODEL&quot;
                },
                &quot;value&quot;: &quot;8.77&quot;
            }
        ],
        &quot;variables&quot;: [
            {
                &quot;variableType&quot;: {
                    &quot;id&quot;: &quot;EXPLANATORIES&quot;,
                    &quot;name&quot;: &quot;EXPLANATORIES&quot;
                },
                &quot;value&quot;: &quot;55&quot;
            },
            {
                &quot;variableType&quot;: {
                    &quot;id&quot;: &quot;CONDITIONS&quot;,
                    &quot;name&quot;: &quot;CONDITIONS&quot;
                },
                &quot;value&quot;: &quot;45&quot;
            }
        ],
        &quot;status&quot;: {
            &quot;id&quot;: &quot;VALIDATED&quot;,
            &quot;name&quot;: &quot;Validated status.&quot;
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>