//- resource referenced in resource.jade
.methods
    h3 Methods
    section.methods-table(layout="column" flex)
        .nav-method.md-whiteframe-z1(layout="row" flex)
            div.nav-title(flex="20")
                h3 Method
            div.button-method-container(flex="80")
                - var activeMethod = resource.uriResource.replace(/[/{}-]+/g, '')
                - var activeButton = resource.uriResource.replace(/[/{}-]+/g, '') + 'ActiveButton'
                each method in resource.methods
                    button.md-primary.button-menu(id="#{method.name}" ng-class="{active: #{activeButton} === '#{method.name}'}" ng-click="api.showMethod($event, '#{activeMethod}', '#{method.name}')")= method.name
        md-content.md-whiteframe-z1(flex)
            - var iterator = 0;
            each method, index in resource.methods
                if (iterator === 0)
                    - ++iterator
                    .method-wrapper(id="#{method.name}" ng-init="#{activeMethod} = '#{method.name}'; #{activeButton} = '#{method.name}'" ng-show="#{activeMethod} === '#{method.name}'")
                        h1.title(style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row") Request
                            div(ng-repeat="i in api.flagsMethod")
                                div(ng-repeat="(key, value) in i" ng-if="key=='#{resource.uriResource}'")
                                    div(ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;")
                                        .conteiner-flag
                                            img(ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='#{method.name}'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}")
                                            md-tooltip(md-direction="top" md-delay="0" ng-if="ii.version") {{ii.version}} 
                        .request
                            .content
                                if (typeof(method.description) !== 'undefined')
                                    include request/description
                                if (typeof(method.annotations) !== 'undefined')
                                    each annotation, index in method.annotations
                                        include ../annotations/countrySpecific
                                        include ../annotations/countryException
                                if (typeof(method.headers) !== 'undefined')
                                    include request/headers
                                if (typeof(method.queryParameters) !== 'undefined')
                                    include request/queryParameters
                                if (typeof(resource.uriParameters) !== 'undefined')
                                    include request/uriParameters
                                if (typeof(method.body) !== 'undefined')
                                    h3 Body
                                    - var key = ''
                                    - if (method.body['application/json']) {
                                        - key = 'application/json';
                                    - } else if (method.body['multipart/form-data']) {
                                        - key = 'multipart/form-data';
                                    - } else {
                                        - console.log("error")
                                    - }
                                    if (typeof(method.body[key].properties) !== 'undefined')
                                        include request/requestProperties
                                    if (typeof(method.body[key].example) !== 'undefined')
                                        include request/example
                                    if (typeof(method.body[key].examples) !== 'undefined')
                                        include request/examples
                        h1.title(style="padding: 16px;background: #BBDEFB;margin: 0px;") Response
                        .response
                            .content
                                div.method-container
                                    md-tabs(md-dynamic-height md-border-bottom)
                                        each response, index in method.responses
                                            md-tab(label="#{index}")
                                                md-content.md-padding.tab-content
                                                    if (index !== '200' && index !== '201' && index !== '202' && index !== '204' && index !== '206' && index !== '207' && index !== '215' && index !== '301' && index !== '302' && index !== '409' && index !== '422')
                                                        h3 Description
                                                        p= response.description
                                                    else
                                                        if (typeof(response.description) !== 'undefined')
                                                            h3 Description
                                                            p= response.description
                                                        if (typeof(response.headers) !== 'undefined')
                                                            include response/headers
                                                        if (typeof(response.body) !== 'undefined')
                                                            if (typeof(response.body['application/json']) !== 'undefined')
                                                                h3 Body
                                                                if (typeof(response.body['application/json'].properties) !== 'undefined')
                                                                    include response/responseProperties
                                                                if (typeof(response.body['application/json'].properties) !== 'undefined')
                                                                    if (typeof(response.body['application/json'].properties.pagination) !== 'undefined')
                                                                        h3 Pagination
                                                                        include response/responsePropertiesPagination
                                                                if (typeof(response.body['application/json'].example) !== 'undefined')
                                                                    include response/example
                                                                if (typeof(response.body['application/json'].examples) !== 'undefined')
                                                                    include response/examples
                else
                    .method-wrapper(id="#{method.name}" ng-show="#{activeMethod} === '#{method.name}'")
                        h1.title(style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row") Request
                          div(ng-repeat="i in api.flagsMethod")
                              div(ng-repeat="(key, value) in i" ng-if="key=='#{resource.uriResource}'")
                                  div(ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;")
                                      .conteiner-flag
                                          img(ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='#{method.name}'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}")
                                          console.log({{ii.version}})
                                          md-tooltip(md-direction="top" md-delay="0" ng-if="ii.version") {{ii.version}} 
                        .request
                            .content
                                if (typeof(method.description) !== 'undefined')
                                    include request/description
                                if (typeof(method.annotations) !== 'undefined')
                                    each annotation, index in method.annotations
                                        include ../annotations/countrySpecific
                                        include ../annotations/countryException
                                if (typeof(method.headers) !== 'undefined')
                                    include request/headers
                                if (typeof(method.queryParameters) !== 'undefined')
                                    include request/queryParameters
                                if (typeof(resource.uriParameters) !== 'undefined')
                                    include request/uriParameters
                                if (typeof(method.body) !== 'undefined')
                                    h3 Body
                                    - var key = ''
                                    - if (method.body['application/json']) {
                                        - key = 'application/json';
                                    - } else if (method.body['multipart/form-data']) {
                                        - key = 'multipart/form-data';
                                    - } else {
                                        - console.log("error")
                                    - }
                                    if (typeof(method.body[key].properties) !== 'undefined')
                                        include request/requestProperties
                                    if (typeof(method.body[key].example) !== 'undefined')
                                        include request/example
                                    if (typeof(method.body[key].examples) !== 'undefined')
                                        include request/examples
                        h1.title(style="padding: 16px;background: #BBDEFB;margin: 0px;") Response
                        .response
                            .content
                                div.method-container
                                    md-tabs(md-dynamic-height md-border-bottom)
                                        each response, index in method.responses
                                            md-tab(label="#{index}")
                                                md-content.md-padding.tab-content
                                                    if (index !== '200' && index !== '201' && index !== '202' && index !== '204' && index !== '206' && index !== '207' && index !== '215' && index !== '301' && index !== '302' && index !== '409' && index !== '422')
                                                        h3 Description
                                                        p= response.description
                                                    else
                                                        if (typeof(response.description) !== 'undefined')
                                                            h3 Description
                                                            p= response.description
                                                        if (typeof(response.headers) !== 'undefined')
                                                            include response/headers
                                                        if (typeof(response.body) !== 'undefined')
                                                            if (typeof(response.body['application/json']) !== 'undefined')
                                                                h3 Body
                                                                if (typeof(response.body['application/json'].properties) !== 'undefined')
                                                                    include response/responseProperties
                                                                if (typeof(response.body['application/json'].properties) !== 'undefined')
                                                                    if (typeof(response.body['application/json'].properties.pagination) !== 'undefined')
                                                                        h3 Pagination
                                                                        include response/responsePropertiesPagination
                                                                if (typeof(response.body['application/json'].example) !== 'undefined')
                                                                    include response/example
                                                                if (typeof(response.body['application/json'].examples) !== 'undefined')
                                                                    include response/examples
