- var propertyName = property.displayName.replace(/^(\w+)./g, "")
- var displayStatus = ''
- var parentUnionType = globalUnionTypes.filter(unionType => propertyName.startsWith(unionType))
if(parentUnionType.length > 0)
    - displayStatus = 'none'
tr(style="display:#{displayStatus}")
    td.mono
        if (parentUnionType.length > 0)
            - var propertyNameArray = propertyName.split('.')
            - propertyNameArray.splice(propertyNameArray.indexOf(parentUnionType[0]) + 1, 1)
            - var propertyNameToDisplay = propertyNameArray.join('.')
            if (propertyNameToDisplay.substring(0,1) === '.')
                - propertyNameToDisplay = propertyNameToDisplay.substring(1)
            span(class="#{propertyName.split('.').slice(0,2).join('.')} #{propertyName}").display-name= propertyNameToDisplay
        else
            - var classNameProperty = propertyName.split('.').slice(0,2).join('.')
            span(class="#{classNameProperty}").display-name= propertyName
        if (typeof(property.enum) !== 'undefined')
            span.type= 'enum'
        else
            if (typeof(property.displayType) !== 'undefined')
                - var unionTypes = property.displayType.split(/ (?!(\[|\]))/g)
                if (unionTypes && unionTypes.length > 1)
                    -	globalUnionTypes.push(propertyName)
                    each type, index in unionTypes
                        if (type && type.length != 0)
                            span(onclick="toggle(this, '#{propertyName}', '#{type}')" style="margin: 0px 5px 0px 0px; cursor: pointer; border-style: inherit; border-color: darkgreen;").type= type
                else
                    span.type= property.displayType
    td
        if (property.required === true)
            span Required
        else
            span Optional
    td
        if (typeof(property.description) === 'string')
            span(ng-bind-html="'#{property.description}'")
            div.enum
                if (typeof(property.annotations) !== 'undefined')
                    if (typeof(property.annotations['annotations.enumDescription']) !== 'undefined')
                        strong Possible values:
                        each typeEnum in property.annotations['annotations.enumDescription'].structuredValue
                            ul
                                each value, index in typeEnum
                                    li
                                        span.value #{index}: #{value}
                    else
                        if (typeof(property.enum) !== 'undefined')
                            ul
                                each value in property.enum
                                    li
                                        span.value= value
        else
            span= property.description
            div.enum
                if (typeof(property['(enumDescription)']) !== 'undefined')
                    strong Possible values:
                    each typeEnum in property['(enumDescription)']
                        ul
                            each value, index in typeEnum
                                li
                                    span.value #{index}: #{value}
                else
                    if (typeof(property.enum) !== 'undefined')
                        ul
                            each value in property.enum
                                li
                                    span.value= value
                                    
        if (typeof(property.annotations) !== 'undefined')
            each annotation, index in property.annotations
                include ../annotations/countrySpecific
                include ../annotations/countryException
                                    
