
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">ACCOUNTS<a href="https://grapi.slack.com/" target="_blank">Accounts Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/accounts/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('veapi-ve-apis-products-accounts')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/veapi/repos/veapi-ve-apis-products-accounts" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/veapi/repos/veapi-ve-apis-products-accounts</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/veapi/repos/veapi-ve-apis-products-accounts/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any services related to conformations of checks associated with an account.</p>
    <h2>RESOURCES</h2>
    <div id="/checks-conformation" class="resource-table">
      <div ng-click="api.hide('/checks-conformation')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/checks-conformation</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/checks-conformation'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for registration the information of the conformation of a check that belongs to accounts. The conformation of a check is the process of cashing of the check from the account of a user.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: checksconformationActiveButton === 'post'}" ng-click="api.showMethod($event, 'checksconformation', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="checksconformation = 'post'; checksconformationActiveButton = 'post'" ng-show="checksconformation === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/checks-conformation'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for registration the information of the  conformation of a check that belongs to a specific account.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="checkNumber display-name">checkNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Check number. This number consists in an alpha-numerical sequence to identify an check.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="accountNumber display-name">accountNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Account number. This number consists in an alpha-numerical sequence to identify an account.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="issueDate display-name">issueDate</span><span class="type">datetime</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'date of issuance of the check.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender display-name">sender</span><span class="type">identityDocument</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Information about the sender, commonly a customer or granted user, that performs the conformation process.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.id display-name">sender.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.name display-name">sender.name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity name identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.documentNumber display-name">sender.documentNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.documentType display-name">sender.documentType</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.documentType display-name">sender.documentType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">RIF: document control for taxes identifies the client's identity</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">IC: Nationally valid document that identifies the client's identity</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="sender.documentType display-name">sender.documentType.name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type description.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver display-name">receiver</span><span class="type">identityDocument</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Indentity document of the receiver'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.id display-name">receiver.id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.name display-name">receiver.name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity name identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.documentNumber display-name">receiver.documentNumber</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document number.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.documentType display-name">receiver.documentType</span><span class="type">object</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.documentType display-name">receiver.documentType.id</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type identifier.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">RIF: document control for taxes identifies the client's identity</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">IC: Nationally valid document that identifies the client's identity</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="receiver.documentType display-name">receiver.documentType.name</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identity document type description.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="import display-name">import</span><span class="type">import</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Transaction amount in the original currency. If the related contract is based on EUR but the transaction was done in USD, this amount will be provided in USD.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="import.amount display-name">import.amount</span><span class="type">number</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Monetary amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="import.currency display-name">import.currency</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the amount.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;accountNumber&quot;: &quot;1234564515632156&quot;,
    &quot;checkNumber&quot;: &quot;98759274496241093&quot;,
    &quot;issueDate&quot;: &quot;2015-10-25T00:00:00Z&quot;,
    &quot;import&quot;: {
        &quot;amount&quot;: 5005.22,
        &quot;currency&quot;: &quot;VEF&quot;
    },
    &quot;transactionTimestamp&quot;: &quot;2015-10-25T00:00:00Z&quot;,
    &quot;sender&quot;: {
        &quot;name&quot;: &quot;Rafael&quot;,
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;IC&quot;,
            &quot;name&quot;: &quot;IDENTITY CARD&quot;
        },
        &quot;documentNumber&quot;: &quot;13.727.948&quot;
    },
    &quot;receiver&quot;: {
        &quot;name&quot;: &quot;Lucas&quot;,
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;IC&quot;,
            &quot;name&quot;: &quot;IDENTITY CARD&quot;
        },
        &quot;documentNumber&quot;: &quot;13.727.949&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;accountNumber&quot;: &quot;1234564515632156&quot;,
    &quot;checkNumber&quot;: &quot;98759274496241093&quot;,
    &quot;issueDate&quot;: &quot;2015-10-25T00:00:00Z&quot;,
    &quot;import&quot;: {
        &quot;amount&quot;: 5005.22,
        &quot;currency&quot;: &quot;VEF&quot;
    },
    &quot;transactionTimestamp&quot;: &quot;2015-10-25T00:00:00Z&quot;,
    &quot;sender&quot;: {
        &quot;name&quot;: &quot;Rafael&quot;,
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;IC&quot;,
            &quot;name&quot;: &quot;IDENTITY CARD&quot;
        },
        &quot;documentNumber&quot;: &quot;13.727.948&quot;
    },
    &quot;receiver&quot;: {
        &quot;name&quot;: &quot;Lucas&quot;,
        &quot;documentType&quot;: {
            &quot;id&quot;: &quot;IC&quot;,
            &quot;name&quot;: &quot;IDENTITY CARD&quot;
        },
        &quot;documentNumber&quot;: &quot;13.727.949&quot;
    }
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="201">
                          <md-content class="md-padding tab-content">
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the created resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/checks-conformation/JFJE9403U29J23409403J</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="checkConformationId display-name">checkConformationId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Conformation identifier associated to the check.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="transactionTimestamp display-name">transactionTimestamp</span><span class="type">datetime</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Effective date on which the conformation has been solved.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conformationDays display-name">conformationDays</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Days available for the conformation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;checkConformationId&quot;: &quot;JFJE9403U29J23409403J&quot;,
        &quot;transactionTimestamp&quot;: &quot;2016-09-29T22:50:35-05:00&quot;,
        &quot;conformationDays&quot;: &quot;10 days avaible&quot;
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;checkConformationId&quot;: &quot;JFJE9403U29J23409403J&quot;,
        &quot;transactionTimestamp&quot;: &quot;2016-09-29T22:50:35-05:00&quot;,
        &quot;conformationDays&quot;: &quot;10 days avaible&quot;
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>