if (typeof(types) !== 'undefined')
    .data-types(id="data-type")
        h2 DATA TYPES
        section.data-types-table(layout="row" flex)
            md-sidenav.md-sidenav-left.md-whiteframe-z1(md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop)
              md-toolbar
                h3 Type
              md-content
                - var iterator = 0
                each type, index in types
                    if (type.parent === "" && iterator === 0)
                        md-button.md-primary.button-menu(id="#{index}" ng-init="type = '#{index}'" ng-click="type = '#{index}'")= index
                        - ++iterator
                    else
                        if (type.parent === "")
                            md-button.md-primary.button-menu(id="#{index}" ng-click="type = '#{index}'")= index
                            - ++iterator
            md-content.md-whiteframe-z1(flex)
                each type, index in types
                    if (index !== 'errors' && index !== 'patchs')
                        include tableTypes
                    //- if (index === 'errors')
                    //-     include errors
                    //- if (index === 'patchs')
                    //-     include patchs
