table.table-properties
    tr
        th Name
        th Description
        th Properties
    if (index === 'errors')
        include errors
    else
        if(index === 'patchs')
            include patchs
        else
            include type
