table.table-properties
    tr
        th Name
        th Description
        th Properties
    each item, index in type.items.properties
        tr
            td.type-name= index
                span.type= item.type
                if (item.required === true)
                    i.required (required)
            td.type-description= item.description
            if (typeof(item.enum) !== 'undefined')
                td.sub-properties
                    table
                        each subPro, index in item.enum
                            tr
                                td.sub-propertie-name= subPro
            else
                td -
