div.data-type-container(ng-show="type === '#{index}'")
    h1.title= index
        span= type.description
    .bread-crum(ng-init="api.properties = []" ng-show="api.properties.length > 1")
        ul
            li(ng-repeat="propertie in api.properties")
                span {{propertie}}
    md-content.md-padding.tab-content
        table.table-properties
            tr
                th Name
                th Description
                th Properties
            tr
                td
                    span= index
                    - var name = index
                if (typeof(type.description) !== 'undefined')
                    td
                        span= type.description
                else
                    td
                        i No description
                td
                    if (type.type === 'array' && type.items)
                        each item, index in type.items.properties
                            ul
                                li 
                                    span(ng-click="type = '#{name}.#{index}'; api.properties.push('#{index}')") #{index}
                                        i.material-icons pageview
                    else 
                        if (type.properties)
                            each item, index in type.properties
                                ul
                                    li
                                        span(ng-click="type = '#{name}.#{index}'; api.properties.push('#{index}')") #{index}
                                            i.material-icons pageview
                        else
                            i No properties
