
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">PARAMETERS<a href="https://grapi.slack.com/" target="_blank">Parameters Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/parameters/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-quotations-parameters')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-quotations-parameters" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-quotations-parameters</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-quotations-parameters/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>DISCLAIMER: This API will be re-published when accomplish all the standards of the API and RAML guides.

This API includes services related to the management of parameters table.

An parameter is an group of identifiers that used to render the loan and product data.

There are several types of parameters such as product (product data, modality ), loans (currency type, warranties), etc.
</p>
    <h2>RESOURCES</h2>
    <div id="/parameters" class="resource-table">
      <div ng-click="api.hide('/parameters')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/parameters</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/parameters'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing operations  on the master table parameters.</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: parametersActiveButton === 'get'}" ng-click="api.showMethod($event, 'parameters', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="parameters = 'get'; parametersActiveButton = 'get'" ng-show="parameters === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/parameters'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the parametría information based on the query data table and specific parameters.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">tableId</span><span class="type">number</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Retrieves parameters according to the table identifier.
                          </p>
                        </td>
                        <td><i>Any number</i>
                        </td>
                        <td><span>48</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">groupId</span><span class="type">number</span>
                        </td>
                        <td>
                          <p>Retrieves specific parameters of a table. This parameter should only be used in combination with Table-id.
                          </p>
                        </td>
                        <td><i>Any number</i>
                        </td>
                        <td><span>8</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Headers</h3>
                            <table class="table-headers">
                              <tr>
                                <th>DisplayName</th>
                                <th>Description</th>
                                <th>Required</th>
                                <th>Example</th>
                              </tr>
                              <tr>
                                <td><span class="display-name">content-location</span><span class="type string">string</span></td>
                                <td>
                                  <pre>This header must provide the URI to reach the resource.</pre>
                                </td>
                                <td>true</td>
                                <td>/parameters</td>
                              </tr>
                            </table>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="tableId display-name">tableId</span><span class="type">integer</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of table.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="groupId display-name">groupId</span><span class="type">integer</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'value parameter on the table.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="valueId display-name">valueId</span><span class="type">integer</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier value on table.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="code display-name">code</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter code.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="order display-name">order</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter order.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter status type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter status.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">A: Activo.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">I: Inactivo</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Parameter status type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="ranges display-name">ranges</span><span class="type">number[]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List ranges of parameter.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 47,
            &quot;valueId&quot;: 3,
            &quot;code&quot;: &quot;RANG1&quot;,
            &quot;name&quot;: &quot;RANGO 1&quot;,
            &quot;description&quot;: &quot;De 0 a 1 año&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                0.36
            ]
        },
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 48,
            &quot;valueId&quot;: 6,
            &quot;code&quot;: &quot;RANG2&quot;,
            &quot;name&quot;: &quot;RANGO 2&quot;,
            &quot;description&quot;: &quot;De 1 a 3 años&quot;,
            &quot;order&quot;: 2,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                361,
                1080
            ]
        },
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 49,
            &quot;valueId&quot;: 6,
            &quot;code&quot;: &quot;RANG3&quot;,
            &quot;name&quot;: &quot;RANGO 3&quot;,
            &quot;description&quot;: &quot;De 3 a más&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                1081,
                9999999
            ]
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 125,
            &quot;valueId&quot;: 8,
            &quot;code&quot;: &quot;ENT01&quot;,
            &quot;name&quot;: &quot;Interbank&quot;,
            &quot;description&quot;: &quot;Banco Interbank&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 126,
            &quot;valueId&quot;: 8,
            &quot;code&quot;: &quot;ENT02&quot;,
            &quot;name&quot;: &quot;BCP&quot;,
            &quot;description&quot;: &quot;Banco de Crédito del Perú&quot;,
            &quot;order&quot;: 2,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 127,
            &quot;valueId&quot;: 2,
            &quot;code&quot;: &quot;ENT03&quot;,
            &quot;name&quot;: &quot;Scotiabank&quot;,
            &quot;description&quot;: &quot;Banco Scotiabank&quot;,
            &quot;order&quot;: 3,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 47,
            &quot;valueId&quot;: 3,
            &quot;code&quot;: &quot;RANG1&quot;,
            &quot;name&quot;: &quot;RANGO 1&quot;,
            &quot;description&quot;: &quot;De 0 a 1 año&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                0.36
            ]
        },
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 48,
            &quot;valueId&quot;: 6,
            &quot;code&quot;: &quot;RANG2&quot;,
            &quot;name&quot;: &quot;RANGO 2&quot;,
            &quot;description&quot;: &quot;De 1 a 3 años&quot;,
            &quot;order&quot;: 2,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                361,
                1080
            ]
        },
        {
            &quot;tableId&quot;: 8,
            &quot;groupId&quot;: 49,
            &quot;valueId&quot;: 6,
            &quot;code&quot;: &quot;RANG3&quot;,
            &quot;name&quot;: &quot;RANGO 3&quot;,
            &quot;description&quot;: &quot;De 3 a más&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: [
                1081,
                9999999
            ]
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 125,
            &quot;valueId&quot;: 8,
            &quot;code&quot;: &quot;ENT01&quot;,
            &quot;name&quot;: &quot;Interbank&quot;,
            &quot;description&quot;: &quot;Banco Interbank&quot;,
            &quot;order&quot;: 1,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 126,
            &quot;valueId&quot;: 8,
            &quot;code&quot;: &quot;ENT02&quot;,
            &quot;name&quot;: &quot;BCP&quot;,
            &quot;description&quot;: &quot;Banco de Crédito del Perú&quot;,
            &quot;order&quot;: 2,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        },
        {
            &quot;tableId&quot;: 48,
            &quot;groupId&quot;: 127,
            &quot;valueId&quot;: 2,
            &quot;code&quot;: &quot;ENT03&quot;,
            &quot;name&quot;: &quot;Scotiabank&quot;,
            &quot;description&quot;: &quot;Banco Scotiabank&quot;,
            &quot;order&quot;: 3,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;A&quot;,
                &quot;name&quot;: &quot;Activo&quot;
            },
            &quot;ranges&quot;: []
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>