
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">INVESTMENT FUND PRODUCTS<a href="https://grapi.slack.com/" target="_blank">Investment fund products Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/investment-fund-products/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-products-investmentfundproducts')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-products-investmentfundproducts" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-products-investmentfundproducts</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-products-investmentfundproducts/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services to manage information about investment fund products offered by BBVA.

An investment fund is a supply of capital belonging to numerous investors that is used to collectively purchase securities while each investor retains ownership and control of his or her own shares.
</p>
    <h2>RESOURCES</h2>
    <div id="/investment-fund-products" class="resource-table">
      <div ng-click="api.hide('/investment-fund-products')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/investment-fund-products</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/investment-fund-products'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the list of investment fund products.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: investmentfundproductsActiveButton === 'get'}" ng-click="api.showMethod($event, 'investmentfundproducts', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="investmentfundproducts = 'get'; investmentfundproductsActiveButton = 'get'" ng-show="investmentfundproducts === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/investment-fund-products'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of investment fund products.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">orderBy</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Order by selected fields: investmentFundProductId,name of the investment-fund-product
                            <p> <i>Default value: investmentFundProductId</i></p>
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">order</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Ascending or descending order.
                            <p> <i>Default value: desc</i></p>
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">desc</span></li>
                            <li><span class="value">asc</span></li>
                          </ul>
                        </td>
                        <td><span>-</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundProductId display-name">investmentFundProductId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType display-name">investmentFundType</span><span class="type">investmentFundType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of investment fund product. Specifies the kind of investment fund product according to its composition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType.id display-name">investmentFundType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">FIXED_INCOME</span></li>
                                      <li><span class="value">EQUITY</span></li>
                                      <li><span class="value">BALANCED</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType.name display-name">investmentFundType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="number display-name">number</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code related to investment fund product. This code is settled by the corresponding national numbering agency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType display-name">numberType</span><span class="type">numberType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code type of the investment fund product. Specifies the kind of code used to identify the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.id display-name">numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Code type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">ISIN</span></li>
                                      <li><span class="value">CUSIP</span></li>
                                      <li><span class="value">SEDOL</span></li>
                                      <li><span class="value">SPANISH_CODE</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.name display-name">numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of code type associated to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails display-name">lastShareDetails</span><span class="type">lastShareDetail</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Investment fund share details. Specifies the value of a single share and the date when it was last priced.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.date display-name">lastShareDetails.date</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 timestamp format for specifying the last time when the share was priced.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Price of a single share.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount of the share price.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 format for specifying the currency associated to the share price.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions display-name">conditions</span><span class="type">condition [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This attribute provides quantitative conditions that investors must meet in order to subscribe to the fund.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Quantity-based definition related to the condition. Conditions related to the number of shares will provide this value. Either this attribute or conditions.priceCondition (or both) must be provided.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value associated to quantity condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Kind of units specified by this condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unit type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">SHARES</span></li>
                                      <li><span class="value">DAYS</span></li>
                                      <li><span class="value">MONTHS</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unit type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount related to the condition. Conditions related to monetary amounts will provide this value. Either this attribute or conditions.quantityCondition (or both) must be provided.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value of the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 format for specifying the currency associated to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate display-name">riskRate</span><span class="type">riskRate</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Risk level of the fund regarding its composition. This level must be based on a well-known risk indicator.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.value display-name">riskRate.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk level value related to the fund.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This attribute specifies the risk indicator in which the risk value is based on.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk indicator identifier.&lt;br&gt;- ES: SRRI (Synthetic Risk and Reward Indicator).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk indicator name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;investmentFundProductId&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;BBVA AHORRO EMPRESAS, FI&quot;,
            &quot;investmentFundType&quot;: {
                &quot;id&quot;: &quot;FIXED_INCOME&quot;,
                &quot;name&quot;: &quot;Fixed income&quot;
            },
            &quot;number&quot;: &quot;ES0114129036&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;ISIN&quot;,
                &quot;name&quot;: &quot;International Security Identifying Number&quot;
            },
            &quot;lastShareDetails&quot;: {
                &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
                &quot;price&quot;: {
                    &quot;amount&quot;: 19.2547,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            },
            &quot;conditions&quot;: [
                {
                    &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                    &quot;quantityCondition&quot;: {
                        &quot;value&quot;: &quot;500&quot;,
                        &quot;unitType&quot;: {
                            &quot;id&quot;: &quot;SHARES&quot;,
                            &quot;name&quot;: &quot;Shares&quot;
                        }
                    },
                    &quot;priceCondition&quot;: {
                        &quot;amount&quot;: 600,
                        &quot;currency&quot;: &quot;EUR&quot;
                    }
                }
            ],
            &quot;riskRate&quot;: {
                &quot;value&quot;: &quot;1&quot;,
                &quot;riskIndicator&quot;: {
                    &quot;id&quot;: &quot;SRRI&quot;,
                    &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
                }
            }
        },
        {
            &quot;investmentFundProductId&quot;: &quot;1235&quot;,
            &quot;name&quot;: &quot;BBVA BOLSA ASIA MF, FI&quot;,
            &quot;investmentFundType&quot;: {
                &quot;id&quot;: &quot;EQUITY&quot;,
                &quot;name&quot;: &quot;Equity&quot;
            },
            &quot;number&quot;: &quot;ES0108929037&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;ISIN&quot;,
                &quot;name&quot;: &quot;International Security Identifying Number&quot;
            },
            &quot;lastShareDetails&quot;: {
                &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
                &quot;price&quot;: {
                    &quot;amount&quot;: 45.2422,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            },
            &quot;conditions&quot;: [
                {
                    &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                    &quot;priceCondition&quot;: {
                        &quot;amount&quot;: 5000,
                        &quot;currency&quot;: &quot;EUR&quot;
                    }
                }
            ],
            &quot;riskRate&quot;: {
                &quot;value&quot;: &quot;7&quot;,
                &quot;riskIndicator&quot;: {
                    &quot;id&quot;: &quot;SRRI&quot;,
                    &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
                }
            }
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;investmentFundProductId&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;BBVA AHORRO EMPRESAS, FI&quot;,
            &quot;investmentFundType&quot;: {
                &quot;id&quot;: &quot;FIXED_INCOME&quot;,
                &quot;name&quot;: &quot;Fixed income&quot;
            },
            &quot;number&quot;: &quot;ES0114129036&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;ISIN&quot;,
                &quot;name&quot;: &quot;International Security Identifying Number&quot;
            },
            &quot;lastShareDetails&quot;: {
                &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
                &quot;price&quot;: {
                    &quot;amount&quot;: 19.2547,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            },
            &quot;conditions&quot;: [
                {
                    &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                    &quot;quantityCondition&quot;: {
                        &quot;value&quot;: &quot;500&quot;,
                        &quot;unitType&quot;: {
                            &quot;id&quot;: &quot;SHARES&quot;,
                            &quot;name&quot;: &quot;Shares&quot;
                        }
                    },
                    &quot;priceCondition&quot;: {
                        &quot;amount&quot;: 600,
                        &quot;currency&quot;: &quot;EUR&quot;
                    }
                }
            ],
            &quot;riskRate&quot;: {
                &quot;value&quot;: &quot;1&quot;,
                &quot;riskIndicator&quot;: {
                    &quot;id&quot;: &quot;SRRI&quot;,
                    &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
                }
            }
        },
        {
            &quot;investmentFundProductId&quot;: &quot;1235&quot;,
            &quot;name&quot;: &quot;BBVA BOLSA ASIA MF, FI&quot;,
            &quot;investmentFundType&quot;: {
                &quot;id&quot;: &quot;EQUITY&quot;,
                &quot;name&quot;: &quot;Equity&quot;
            },
            &quot;number&quot;: &quot;ES0108929037&quot;,
            &quot;numberType&quot;: {
                &quot;id&quot;: &quot;ISIN&quot;,
                &quot;name&quot;: &quot;International Security Identifying Number&quot;
            },
            &quot;lastShareDetails&quot;: {
                &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
                &quot;price&quot;: {
                    &quot;amount&quot;: 45.2422,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            },
            &quot;conditions&quot;: [
                {
                    &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                    &quot;priceCondition&quot;: {
                        &quot;amount&quot;: 5000,
                        &quot;currency&quot;: &quot;EUR&quot;
                    }
                }
            ],
            &quot;riskRate&quot;: {
                &quot;value&quot;: &quot;7&quot;,
                &quot;riskIndicator&quot;: {
                    &quot;id&quot;: &quot;SRRI&quot;,
                    &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
                }
            }
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/investment-fund-products/{investment-fund-product-id}" class="resource-table">
      <div ng-click="api.hide('/investment-fund-products/{investment-fund-product-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/investment-fund-products/{investment-fund-product-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/investment-fund-products/{investment-fund-product-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing a specific investment fund product.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: investmentfundproductsinvestmentfundproductidActiveButton === 'get'}" ng-click="api.showMethod($event, 'investmentfundproductsinvestmentfundproductid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="investmentfundproductsinvestmentfundproductid = 'get'; investmentfundproductsinvestmentfundproductidActiveButton = 'get'" ng-show="investmentfundproductsinvestmentfundproductid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/investment-fund-products/{investment-fund-product-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the data of a specific investment fund product.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">investment-fund-product-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique identifier of an investment fund product.</p>
                        </td>
                        <td><span>1234123275</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundProductId display-name">investmentFundProductId</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType display-name">investmentFundType</span><span class="type">investmentFundType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of investment fund product. Specifies the kind of investment fund product according to its composition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType.id display-name">investmentFundType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">FIXED_INCOME</span></li>
                                      <li><span class="value">EQUITY</span></li>
                                      <li><span class="value">BALANCED</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="investmentFundType.name display-name">investmentFundType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="number display-name">number</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code related to investment fund product. This code is settled by the corresponding national numbering agency.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType display-name">numberType</span><span class="type">numberType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Code type of the investment fund product. Specifies the kind of code used to identify the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.id display-name">numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Code type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">ISIN</span></li>
                                      <li><span class="value">CUSIP</span></li>
                                      <li><span class="value">SEDOL</span></li>
                                      <li><span class="value">SPANISH_CODE</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="numberType.name display-name">numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of code type associated to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="formats display-name">formats</span><span class="type">format [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of other possible identifier formats related to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="formats.format display-name">formats.format.number</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Code related to investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="formats.format display-name">formats.format.numberType</span><span class="type">numberType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Code type. Specifies the kind of code used to identify the product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="formats.format display-name">formats.format.numberType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Code type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">ISIN</span></li>
                                      <li><span class="value">CUSIP</span></li>
                                      <li><span class="value">SEDOL</span></li>
                                      <li><span class="value">SPANISH_CODE</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="formats.format display-name">formats.format.numberType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of code type associated to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isInternationalManaged display-name">isInternationalManaged</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Indicates whether the fund is managed and quoted out of the country in which the fund is offered.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate display-name">riskRate</span><span class="type">riskRate</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Risk level of the fund regarding its composition. This level must be based on a well-known risk indicator.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.value display-name">riskRate.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk level value related to the fund.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This attribute specifies the risk indicator in which the risk value is based on.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk indicator identifier.&lt;br&gt;- ES: SRRI (Synthetic Risk and Reward Indicator).
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="riskRate.riskIndicator display-name">riskRate.riskIndicator.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Risk indicator name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="managementEntity display-name">managementEntity</span><span class="type">managementEntity</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Investment company that manages the fund.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="managementEntity.id display-name">managementEntity.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Management entity identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="managementEntity.name display-name">managementEntity.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description of the management entity.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets display-name">factsheets</span><span class="type">factsheet [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Link to factsheets related to the investment fund product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.link</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'URL to the document.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.type</span><span class="type">factsheetType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Factsheet type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.type.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Factsheet type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">LEGAL_CONDITIONS</span></li>
                                      <li><span class="value">COMMERCIAL_INFO</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.type.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Factsheet type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.language</span><span class="type">language</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Language related to the factsheet.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.language.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-639-2 format for specifying the language.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="factsheets.factsheet display-name">factsheets.factsheet.language.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of language.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows display-name">liquidityWindows</span><span class="type">liquidityWindow [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Specifies the dates when refunding/transfering shares is free of charge.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Liquidity window identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Liquidity window description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.activationDates</span><span class="type">array</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of strings based on ISO-8601 date format for specifying a single day when a liquidity window is available.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.forewarnDays</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Minimum number of days in advance to request a refund/transfer operation.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.forewarnDays.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of forewarn days.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.forewarnDays.dayType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'This attribute specifies whether forewarn days include only working days.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.forewarnDays.dayType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Day type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">CALENDAR</span></li>
                                      <li><span class="value">WORKING</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="liquidityWindows.liquidityWindow display-name">liquidityWindows.liquidityWindow.forewarnDays.dayType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Day type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="totalShares display-name">totalShares</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of shares the fund is divided.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions display-name">conditions</span><span class="type">condition [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'List of quantitative conditions that an investor must meet in order to subscribe to the fund.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Quantity-based definition related to the condition. Conditions related to the number of shares will provide this value. Either this attribute or conditions.priceCondition (or both) must be provided.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value associated to quantity condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Kind of units specified by this condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unit type identifier.
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">SHARES</span></li>
                                      <li><span class="value">DAYS</span></li>
                                      <li><span class="value">MONTHS</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.quantityCondition.unitType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unit type description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition</span><span class="type">object</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount related to the condition. Conditions related to monetary amounts will provide this value. Either this attribute or conditions.quantityCondition (or both) must be provided.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Value of the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.priceCondition.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 format for specifying the currency associated to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails display-name">lastShareDetails</span><span class="type">lastShareDetail</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Investment fund share details. Specifies the value of a single share and the date when it was last priced.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.date display-name">lastShareDetails.date</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 timestamp format for specifying the last time when the share was priced.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price</span><span class="type">object</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Price of a single share.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount of the share price.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="lastShareDetails.price display-name">lastShareDetails.price.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 format for specifying the currency associated to the share price.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;investmentFundProductId&quot;: &quot;1234&quot;,
        &quot;name&quot;: &quot;BBVA AHORRO EMPRESAS, FI&quot;,
        &quot;investmentFundType&quot;: {
            &quot;id&quot;: &quot;FIXED_INCOME&quot;,
            &quot;name&quot;: &quot;Fixed income&quot;
        },
        &quot;number&quot;: &quot;ES0114129036&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;ISIN&quot;,
            &quot;name&quot;: &quot;International Security Identifying Number&quot;
        },
        &quot;formats&quot;: [
            {
                &quot;number&quot;: &quot;2808&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;SPANISH_CODE&quot;,
                    &quot;name&quot;: &quot;Spanish National Code&quot;
                }
            }
        ],
        &quot;isInternationalManaged&quot;: false,
        &quot;riskRate&quot;: {
            &quot;value&quot;: &quot;1&quot;,
            &quot;riskIndicator&quot;: {
                &quot;id&quot;: &quot;SRRI&quot;,
                &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
            }
        },
        &quot;managementEntity&quot;: {
            &quot;id&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;BBVA ASSET MANAGEMENT, S.A., S.G.I.I.C.&quot;
        },
        &quot;factsheets&quot;: [
            {
                &quot;link&quot;: &quot;https://.../tlwgpub/informes/ES0114129036_FI2015123101.pdf&quot;,
                &quot;type&quot;: {
                    &quot;id&quot;: &quot;LEGAL_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Legal conditions&quot;
                },
                &quot;language&quot;: {
                    &quot;id&quot;: &quot;ES&quot;,
                    &quot;name&quot;: &quot;Spanish&quot;
                }
            }
        ],
        &quot;liquidityWindows&quot;: [
            {
                &quot;id&quot;: &quot;REFUND&quot;,
                &quot;name&quot;: &quot;Refund&quot;,
                &quot;activationDates&quot;: [
                    &quot;2016-01-31&quot;,
                    &quot;2016-02-29&quot;,
                    &quot;2016-03-31&quot;
                ],
                &quot;forewarnDays&quot;: {
                    &quot;amount&quot;: 5,
                    &quot;dayType&quot;: {
                        &quot;id&quot;: &quot;CALENDAR&quot;,
                        &quot;name&quot;: &quot;Calendar days&quot;
                    }
                }
            },
            {
                &quot;id&quot;: &quot;TRANSFER&quot;,
                &quot;name&quot;: &quot;Transfer&quot;,
                &quot;activationDates&quot;: [
                    &quot;2016-01-15&quot;,
                    &quot;2016-02-14&quot;,
                    &quot;2016-03-15&quot;
                ],
                &quot;forewarnDays&quot;: {
                    &quot;amount&quot;: 1,
                    &quot;dayType&quot;: {
                        &quot;id&quot;: &quot;WORKING&quot;,
                        &quot;name&quot;: &quot;Working days&quot;
                    }
                }
            }
        ],
        &quot;totalShares&quot;: 1000000,
        &quot;conditions&quot;: [
            {
                &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                &quot;quantityCondition&quot;: {
                    &quot;value&quot;: &quot;500&quot;,
                    &quot;unitType&quot;: {
                        &quot;id&quot;: &quot;SHARES&quot;,
                        &quot;name&quot;: &quot;Shares&quot;
                    }
                },
                &quot;priceCondition&quot;: {
                    &quot;amount&quot;: 600,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            }
        ],
        &quot;lastShareDetails&quot;: {
            &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
            &quot;price&quot;: {
                &quot;amount&quot;: 19.2547,
                &quot;currency&quot;: &quot;EUR&quot;
            }
        }
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;investmentFundProductId&quot;: &quot;1234&quot;,
        &quot;name&quot;: &quot;BBVA AHORRO EMPRESAS, FI&quot;,
        &quot;investmentFundType&quot;: {
            &quot;id&quot;: &quot;FIXED_INCOME&quot;,
            &quot;name&quot;: &quot;Fixed income&quot;
        },
        &quot;number&quot;: &quot;ES0114129036&quot;,
        &quot;numberType&quot;: {
            &quot;id&quot;: &quot;ISIN&quot;,
            &quot;name&quot;: &quot;International Security Identifying Number&quot;
        },
        &quot;formats&quot;: [
            {
                &quot;number&quot;: &quot;2808&quot;,
                &quot;numberType&quot;: {
                    &quot;id&quot;: &quot;SPANISH_CODE&quot;,
                    &quot;name&quot;: &quot;Spanish National Code&quot;
                }
            }
        ],
        &quot;isInternationalManaged&quot;: false,
        &quot;riskRate&quot;: {
            &quot;value&quot;: &quot;1&quot;,
            &quot;riskIndicator&quot;: {
                &quot;id&quot;: &quot;SRRI&quot;,
                &quot;name&quot;: &quot;Synthetic Risk and Reward Indicator&quot;
            }
        },
        &quot;managementEntity&quot;: {
            &quot;id&quot;: &quot;1234&quot;,
            &quot;name&quot;: &quot;BBVA ASSET MANAGEMENT, S.A., S.G.I.I.C.&quot;
        },
        &quot;factsheets&quot;: [
            {
                &quot;link&quot;: &quot;https://.../tlwgpub/informes/ES0114129036_FI2015123101.pdf&quot;,
                &quot;type&quot;: {
                    &quot;id&quot;: &quot;LEGAL_CONDITIONS&quot;,
                    &quot;name&quot;: &quot;Legal conditions&quot;
                },
                &quot;language&quot;: {
                    &quot;id&quot;: &quot;ES&quot;,
                    &quot;name&quot;: &quot;Spanish&quot;
                }
            }
        ],
        &quot;liquidityWindows&quot;: [
            {
                &quot;id&quot;: &quot;REFUND&quot;,
                &quot;name&quot;: &quot;Refund&quot;,
                &quot;activationDates&quot;: [
                    &quot;2016-01-31&quot;,
                    &quot;2016-02-29&quot;,
                    &quot;2016-03-31&quot;
                ],
                &quot;forewarnDays&quot;: {
                    &quot;amount&quot;: 5,
                    &quot;dayType&quot;: {
                        &quot;id&quot;: &quot;CALENDAR&quot;,
                        &quot;name&quot;: &quot;Calendar days&quot;
                    }
                }
            },
            {
                &quot;id&quot;: &quot;TRANSFER&quot;,
                &quot;name&quot;: &quot;Transfer&quot;,
                &quot;activationDates&quot;: [
                    &quot;2016-01-15&quot;,
                    &quot;2016-02-14&quot;,
                    &quot;2016-03-15&quot;
                ],
                &quot;forewarnDays&quot;: {
                    &quot;amount&quot;: 1,
                    &quot;dayType&quot;: {
                        &quot;id&quot;: &quot;WORKING&quot;,
                        &quot;name&quot;: &quot;Working days&quot;
                    }
                }
            }
        ],
        &quot;totalShares&quot;: 1000000,
        &quot;conditions&quot;: [
            {
                &quot;id&quot;: &quot;MIN_SUBSCRIPTION_CONDITIONS&quot;,
                &quot;name&quot;: &quot;Minimum subscription conditions for new investors&quot;,
                &quot;quantityCondition&quot;: {
                    &quot;value&quot;: &quot;500&quot;,
                    &quot;unitType&quot;: {
                        &quot;id&quot;: &quot;SHARES&quot;,
                        &quot;name&quot;: &quot;Shares&quot;
                    }
                },
                &quot;priceCondition&quot;: {
                    &quot;amount&quot;: 600,
                    &quot;currency&quot;: &quot;EUR&quot;
                }
            }
        ],
        &quot;lastShareDetails&quot;: {
            &quot;date&quot;: &quot;2016-01-24T14:00:01Z&quot;,
            &quot;price&quot;: {
                &quot;amount&quot;: 19.2547,
                &quot;currency&quot;: &quot;EUR&quot;
            }
        }
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>