
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">BRANCHES<a href="https://grapi.slack.com/" target="_blank">Branches Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/branches/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-data-branches')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-branches" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-data-branches</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-data-branches/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any functionality related to branches.</p>
    <h2>RESOURCES</h2>
    <div id="/estimated-time-branches" class="resource-table">
      <div ng-click="api.hide('/estimated-time-branches')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/estimated-time-branches</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/estimated-time-branches'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for searching branches with their estimated waiting time and saturation level.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: estimatedtimebranchesActiveButton === 'get'}" ng-click="api.showMethod($event, 'estimatedtimebranches', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="estimatedtimebranches = 'get'; estimatedtimebranchesActiveButton = 'get'" ng-show="estimatedtimebranches === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/estimated-time-branches'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of branches obtained by the provided query params.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">branchId</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Unique identifier of a branch.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>1233</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">estimatedWaitingTime</span><span class="type">number</span>
                        </td>
                        <td>
                          <p>Estimated waiting time in minutes. Waiting time is less than or equal to that indicated by parameter.

                          </p>
                        </td>
                        <td><i>Any number</i>
                        </td>
                        <td><span>60</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank display-name">bank</span><span class="type">bank</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Full bank detail.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.id display-name">bank.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of a bank.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.name display-name">bank.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Bank name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch</span><span class="type">branch</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Branch information.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of a branch.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Branch name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="estimatedWaitingTime display-name">estimatedWaitingTime</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Estimated waiting time in minutes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Waiting level [HIGH, MEDIUM, LOW].
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">HIGH</span></li>
                                      <li><span class="value">MEDIUM</span></li>
                                      <li><span class="value">LOW</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isAppointmentAllowed display-name">isAppointmentAllowed</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Indicates if a remote appointment is allowed for this branch.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1357&quot;,
                    &quot;name&quot;: &quot;Oficina calle Sauceda.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 60,
            &quot;status&quot;: &quot;HIGH&quot;,
            &quot;isAppointmentAllowed&quot;: false
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1357&quot;,
                    &quot;name&quot;: &quot;Oficina calle Sauceda.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 60,
            &quot;status&quot;: &quot;HIGH&quot;,
            &quot;isAppointmentAllowed&quot;: false
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank display-name">bank</span><span class="type">bank</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Full bank detail.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.id display-name">bank.id</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of a bank.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.name display-name">bank.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Bank name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch</span><span class="type">branch</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Branch information.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier of a branch.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="bank.branch display-name">bank.branch.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Branch name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="estimatedWaitingTime display-name">estimatedWaitingTime</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Estimated waiting time in minutes.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Waiting level [HIGH, MEDIUM, LOW].
'"></span>
                                  <div class="enum">
                                    <ul>
                                      <li><span class="value">HIGH</span></li>
                                      <li><span class="value">MEDIUM</span></li>
                                      <li><span class="value">LOW</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isAppointmentAllowed display-name">isAppointmentAllowed</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Indicates if a remote appointment is allowed for this branch.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1357&quot;,
                    &quot;name&quot;: &quot;Oficina calle Sauceda.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 60,
            &quot;status&quot;: &quot;HIGH&quot;,
            &quot;isAppointmentAllowed&quot;: false
        },
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1358&quot;,
                    &quot;name&quot;: &quot;Oficina calle Azul.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 5,
            &quot;status&quot;: &quot;LOW&quot;,
            &quot;isAppointmentAllowed&quot;: true
        },
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1359&quot;,
                    &quot;name&quot;: &quot;Oficina calle Alcalá.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 9,
            &quot;status&quot;: &quot;MEDIUM&quot;,
            &quot;isAppointmentAllowed&quot;: false
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime?branchId=1357&amp;branchId=1358&amp;branchId=1359&amp;branchId=1360&amp;branchId=1361&amp;branchId=1362&amp;branchId=1363&amp;branchId=1364&amp;branchId=1365&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=agef3532f&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=fsdrww34y&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=mhfg64fdr&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 7,
        &quot;pageSize&quot;: 3
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1357&quot;,
                    &quot;name&quot;: &quot;Oficina calle Sauceda.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 60,
            &quot;status&quot;: &quot;HIGH&quot;,
            &quot;isAppointmentAllowed&quot;: false
        },
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1358&quot;,
                    &quot;name&quot;: &quot;Oficina calle Azul.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 5,
            &quot;status&quot;: &quot;LOW&quot;,
            &quot;isAppointmentAllowed&quot;: true
        },
        {
            &quot;bank&quot;: {
                &quot;id&quot;: &quot;0182&quot;,
                &quot;name&quot;: &quot;BBVA&quot;,
                &quot;branch&quot;: {
                    &quot;id&quot;: &quot;1359&quot;,
                    &quot;name&quot;: &quot;Oficina calle Alcalá.&quot;
                }
            },
            &quot;estimatedWaitingTime&quot;: 9,
            &quot;status&quot;: &quot;MEDIUM&quot;,
            &quot;isAppointmentAllowed&quot;: false
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime?branchId=1357&amp;branchId=1358&amp;branchId=1359&amp;branchId=1360&amp;branchId=1361&amp;branchId=1362&amp;branchId=1363&amp;branchId=1364&amp;branchId=1365&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=agef3532f&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=fsdrww34y&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/v0/estimated-WaitingTime/paginationKey=mhfg64fdr&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 3,
        &quot;totalElements&quot;: 7,
        &quot;pageSize&quot;: 3
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>