<h2 id="the-new-api-geographic-places-0-1-0-is-available-">The new API geographic-places 0.1.0 is available.</h2>
<p>This API allows the consumption of geographic data based on different axes: states, cities or specific urban locations like districts or neighborhoods.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /states</li>
<li>GET /states/{state-id}</li>
<li>GET /cities</li>
<li>GET /cities/{city-id}</li>
<li>GET /places</li>
<li>GET /places/{place-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1085">GABI1-1085</a>] - API de geographic-places para poder obtener la dirección en base a un código postal</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>raml:</strong> Enums for geographicGroupType and json examples added. (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/94a635f">94a635f</a>)</li>
<li><strong>raml:</strong> Pull request&#39;s observations for geographic places GABI1-1185 (description and ex (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/0b26f1e">0b26f1e</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>all:</strong> First version for geographic places GABI1-1253 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/9c36b35">9c36b35</a>)</li>
<li><strong>all:</strong> Refactoring post pair review for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/2b66c25">2b66c25</a>)</li>
<li><strong>all:</strong> Refactoring post pair review for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/f42def5">f42def5</a>)</li>
<li><strong>all:</strong> Refactoring post pair review for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/760bde7">760bde7</a>)</li>
<li><strong>all:</strong> Refactoring post pair review for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/28aed1b">28aed1b</a>)</li>
<li><strong>all:</strong> Refactoring post pair review for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/2b6c1a5">2b6c1a5</a>)</li>
<li><strong>all:</strong> Rename zipcodes by postalcodes for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/1788a78">1788a78</a>)</li>
<li><strong>all:</strong> Rename zipcodes by postalcodes for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/72ee8ba">72ee8ba</a>)</li>
<li><strong>all:</strong> Rename zipcodes by postalcodes for geographic places GABI1-1185 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/5441983">5441983</a>)</li>
<li><strong>all:</strong> Suggestions after team review session for geographic places GABI1-1185 (/localit (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/cec4b60">cec4b60</a>)</li>
<li><strong>all:</strong> Suggestions after team review session for geographic places GABI1-1185 (/places  (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/e3f95b6">e3f95b6</a>)</li>
<li><strong>all:</strong> Suggestions after team review session for geographic places GABI1-1185 (/states: (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/53393ca">53393ca</a>)</li>
<li><strong>all:</strong> Suggestions after team review session for geographic places GABI1-1185 (ISO 3166 (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/608bbb6">608bbb6</a>)</li>
<li><strong>api:</strong> Initial Upload (<a href="https://bitbucket.org/apisbbva/global-apis-data-geographicplaces-v0.git/commits/5dff9fe">5dff9fe</a>)</li>
</ul>
