<h2 id="the-new-version-of-api-accounts-0-5-0-is-available-">The new version of API accounts 0.5.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-525">GABI1-525</a>] - Comisión de membersía</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-547">GABI1-547</a>] - Saldo salvo buen cobro</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-561">GABI1-561</a>] - Filtrado de movimientos por divisa</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-198">GABI1-664</a>] - Incluir gasto realizado a la fecha de corte</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-206">GABI1-667</a>] - Añadir indicadores</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-669">GABI1-669</a>] -  Descripción de grantedCredits incorrecta</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>accounts:</strong> add expands and indicators GABI1-667 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/9e55e41">9e55e41</a>)</li>
<li><strong>accounts:</strong> convention types (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/bb7d208">bb7d208</a>)</li>
<li><strong>accounts:</strong> delete related contact from resource (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/be69f6c">be69f6c</a>)</li>
<li><strong>api:</strong> Changes due to validation (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/63640a4">63640a4</a>)</li>
<li><strong>refactor:</strong> types (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/bb73521">bb73521</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>accounts:</strong> membership fee #GABI1-525 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/50beb0d">50beb0d</a>)</li>
<li><strong>accounts:</strong> new indicators for account (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/2099a15">2099a15</a>)</li>
<li><strong>accounts:</strong> refactor types (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/28550ee">28550ee</a>)</li>
<li><strong>holds:</strong> Added holds as an expanble subresource in accounts list (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/d507b00">d507b00</a>)</li>
<li><strong>holds:</strong> Added holds subresource to account-id (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/2fc0d3e">2fc0d3e</a>)</li>
<li><strong>paymentMethod:</strong> Added LAST_PERIOD_AMOUNT to paymentAmounts type GABI1-664 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/e402276">e402276</a>)</li>
<li><strong>raml:</strong> new local types are added (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/07d0e06">07d0e06</a>)</li>
<li><strong>versions:</strong> CL versions (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/3b5c91e">3b5c91e</a>)</li>
<li><strong>versions:</strong> CL versions (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/c589fbf">c589fbf</a>)</li>
</ul>
