<h2 id="the-new-version-of-api-promotions-0-1-0-and-commerces-0-2-0-is-available-">The new version of API promotions 0.1.0 and commerces 0.2.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-494">GABI1-494</a>] - Consulta de promociones y campañas</li>
</ul>
