<h2 id="the-new-version-of-api-cards-0-3-0-is-available-">The new version of API cards 0.3.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h2 id="bug">Bug</h2>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-472">GABI1-472</a>] - Filtro por estado de indicador en listado de cards</li>
</ul>
<h2 id="story">Story</h2>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-93">GABI1-93</a>] - Activaciones en el extranjero</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-358">GABI1-358</a>] - Incorporar mecanismo de filtrado en Cards</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-435">GABI1-435</a>] - Fechas de una tarjeta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-465">GABI1-465</a>] - crear PATCH /cards/card-id/related-contracts/related-contract-id</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-476">GABI1-476</a>] - Creación endpoint participants</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>cards:</strong> Added the new date &quot;issueDate&quot; to GET /cards/card-id. GABI1-435</li>
<li><strong>examples:</strong> Fixed get_200.json participants indentation</li>
<li><strong>participants:</strong> Created the new endpoint. GABI1-476 </li>
<li><strong>raml:</strong> Added a new filter of indicator</li>
<li><strong>raml:</strong> Added new params to cards GABI1-140 #ready-to-verify</li>
<li><strong>raml:</strong> Added sorting queryParams to participants. ParticipantType to mandatory in GET r </li>
<li><strong>raml:</strong> Card conditions handling added GABI1-375 #ready-to-verify</li>
<li><strong>raml:</strong> Card rewards handling added GABI1-210 #ready-to-verify</li>
<li><strong>raml:</strong> Change moneyFlow description </li>
<li><strong>related-contract:</strong> Added product.id in PATCH method</li>
<li><strong>related-contracts:</strong> Change description in header</li>
<li><strong>transactions:</strong> Changes due to GABI1-385</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>raml:</strong> Added new queryParams </li>
<li><strong>relatedContract:</strong> Added method PATCH</li>
</ul>
