<h2 id="the-new-api-loans-0-1-0-is-available-">The new API loans 0.1.0 is available.</h2>
<p>An API to check the customer loans, mortgages and consumer lending.</p>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-801">GABI1-801</a>] - Consulta de los participantes de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-802">GABI1-802</a>] - Consulta de las condiciones de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-803">GABI1-803</a>] - Modificación del alias de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-804">GABI1-804</a>] - Consulta listado de préstamos</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-805">GABI1-805</a>] - Consulta de indicadores de un prestamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-806">GABI1-806</a>] - Consulta de contratos relacionados de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-807">GABI1-807</a>] - Consulta detalle de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-809">GABI1-809</a>] - Consulta al plan de amortización de un préstamo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-810">GABI1-810</a>] - Consulta de los importes agregados de un préstamo</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>change:</strong> change orderby (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/244b7f2">244b7f2</a>)</li>
<li><strong>comissions:</strong> add new comissions (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/f0d22f2">f0d22f2</a>)</li>
<li><strong>comissions:</strong> remove interest (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/ec18173">ec18173</a>)</li>
<li><strong>format:</strong> format and delete types (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/faadb5f">faadb5f</a>)</li>
<li><strong>loan:</strong> review model (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/465861c">465861c</a>)</li>
<li><strong>loans:</strong> AMM: Migration to RAML 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/86aba56">86aba56</a>)</li>
<li><strong>loans:</strong> AMM: Migration to RAML 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/ff26c63">ff26c63</a>)</li>
<li><strong>loans:</strong> AMM: Migration to RAML 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/5f837ec">5f837ec</a>)</li>
<li><strong>loans:</strong> AMM: Migration to RAML 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/3eee3dc">3eee3dc</a>)</li>
<li><strong>loans:</strong> AMM: Migration to RAML 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/125da0b">125da0b</a>)</li>
<li><strong>loans:</strong> Change word deposit for loan (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/62443e4">62443e4</a>)</li>
<li><strong>loans:</strong> review (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/58b9282">58b9282</a>)</li>
<li><strong>merge:</strong> merge develop (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/8a8d1fc">8a8d1fc</a>)</li>
<li><strong>raml:</strong> Change types on api.raml and descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/4e3aa2d">4e3aa2d</a>)</li>
<li><strong>raml:</strong> Changed loan-id type from collection to collection-item (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/4825fcd">4825fcd</a>)</li>
<li><strong>raml:</strong> changes due HQ of GABI1-209. RelatedContracts is now added (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/fe3fdad">fe3fdad</a>)</li>
<li><strong>raml:</strong> changes resourceTypes, added relatedContracts with alias (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/b11fe83">b11fe83</a>)</li>
<li><strong>renames:</strong> renames (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/a27a7db">a27a7db</a>)</li>
<li><strong>review:</strong> last review (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/374b47a">374b47a</a>)</li>
<li><strong>revision:</strong> api revision (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/642ecf9">642ecf9</a>)</li>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/cea62e6">cea62e6</a>)</li>
<li><strong>version:</strong> number version (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/5cc46d6">5cc46d6</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>alias:</strong> Added method PATCH for update alias of a loan. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/7b65d9c">7b65d9c</a>)</li>
<li><strong>detail:</strong> add participants and detail loan (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/ab21ed2">ab21ed2</a>)</li>
<li><strong>loans:</strong> 404 Error Added (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/fffe295">fffe295</a>)</li>
<li><strong>loans:</strong> Added attributes in the lastInstalment structure (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/35e8177">35e8177</a>)</li>
<li><strong>loans:</strong> Amortization created and added to the endpoint. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/b1db978">b1db978</a>)</li>
<li><strong>loans:</strong> Amortizations pagination addded (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/547031c">547031c</a>)</li>
<li><strong>loans:</strong> Analyzed the conditions of a loan and added to the detail of a loan GABI1-817 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/bef3e8c">bef3e8c</a>)</li>
<li><strong>loans:</strong> Balances with example added according to the GLOMO document. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/8e1a798">8e1a798</a>)</li>
<li><strong>loans:</strong> Change optional for mandatory value of the require attribute in currentInstalmen (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/70273c3">70273c3</a>)</li>
<li><strong>loans:</strong> Comissions modified and new added. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/6d75317">6d75317</a>)</li>
<li><strong>loans:</strong> Commissions for a loan added (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/11f0c52">11f0c52</a>)</li>
<li><strong>loans:</strong> Commissions refined (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/f3c920f">f3c920f</a>)</li>
<li><strong>loans:</strong> Example JSON for commissions added (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/cd6b18f">cd6b18f</a>)</li>
<li><strong>loans:</strong> Indent balances endpoint to root endpoint. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/a7070d6">a7070d6</a>)</li>
<li><strong>loans:</strong> Refined and analized all the loan and loans and its types. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/325b583">325b583</a>)</li>
<li><strong>loans:</strong> Refined detail of loan (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/a2702a8">a2702a8</a>)</li>
<li><strong>loans:</strong> Refined loans examples for consume and mortgage (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/ff73d03">ff73d03</a>)</li>
<li><strong>loans:</strong> Refining deatils in the loan and loans raml (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/6198315">6198315</a>)</li>
<li><strong>loans:</strong> Review all endpoints for loans and write new examples for each htttp method. (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/f22842d">f22842d</a>)</li>
<li><strong>loans:</strong> Types, Examples and Endpoints for manage of loans added (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/7932d23">7932d23</a>)</li>
<li><strong>loans:</strong> Unifiying loan&#39;s detail according to the review of endpoints: conditions and bal (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/fb2affa">fb2affa</a>)</li>
<li><strong>refactor:</strong> add examples related-contract (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/4a3b666">4a3b666</a>)</li>
<li><strong>relatedContract:</strong> change related contracto liked with (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/78aad7a">78aad7a</a>)</li>
</ul>
