<h2 id="the-new-version-of-api-deposits-0-1-0-is-available-">The new version of API deposits 0.1.0 is available.</h2>
<p>An API to manage the deposits info of a user: lists, details, related contracts, indicators, participants, conditions and deposits balances.</p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-732">GABI1-732</a>] - Modificación del alias de un depósito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-735">GABI1-735</a>] - Consulta listado de depósitos</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-739">GABI1-739</a>] - Consulta detalle de un depósito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-743">GABI1-743</a>] - Consulta de los contratos relacionados de un depósito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-746">GABI1-746</a>] - Consulta de indicadores de un depósito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-749">GABI1-749</a>] - Consulta de los importes agregados de depósitos</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-752">GABI1-752</a>] - Consulta de los participantes de un depósito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-755">GABI1-755</a>] - Consulta de las condiciones de un depósito</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> add related-contract type (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/de2d905">de2d905</a>)</li>
<li><strong>refactor:</strong> change structure of yields and conditions and add examples (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/7640050">7640050</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/05829e7">05829e7</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/f77a5ae">f77a5ae</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/9eb86d4">9eb86d4</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/c8e60d1">c8e60d1</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/9312f91">9312f91</a>)</li>
<li><strong>refactor:</strong> rename types and add descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/7941ebb">7941ebb</a>)</li>
<li><strong>rename:</strong> rename queryParam expand (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/c751b4f">c751b4f</a>)</li>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/8dc71ed">8dc71ed</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>deposits:</strong> varios issues of deposits (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/5090eff">5090eff</a>)</li>
</ul>
