<h2 id="the-new-api-payments-0-1-0-is-available-">The new API Payments 0.1.0 is available.</h2>
<p>This API offers a collection of resources and methods to perform useful operations related to the payment of services.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /services</li>
<li>GET /services/{service-id}</li>
<li>GET /services/{service-id}/additional-payment-fields</li>
<li>GET /services/{service-id}/additional-payment-fields/{additional-payment-field-id}</li>
<li>GET /services/{service-id}/bills</li>
<li>GET /stored-services</li>
<li>POST /stored-services</li>
<li>GET /stored-services/{store-service-id}</li>
<li>PATCH /stored-services/{store-service-id}</li>
<li>DELETE /stored-services/{store-service-id}</li>
<li>GET /service-payments</li>
<li>POST /service-payments</li>
<li>GET /service-types</li>
<li>GET /service-types/{service-type-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-921">GABI1-921</a>] - Pago de un servicio para el pago de servicios</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-926">GABI1-926</a>] - Operaciones con los servicios frecuentes para el pago de servicios</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-930">GABI1-930</a>] - Operaciones con los servicios disponibles para el pago de servicios</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>billId:</strong> add rename billId to id (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/870897c">870897c</a>)</li>
<li><strong>delete:</strong> simulated (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/397c416">397c416</a>)</li>
<li><strong>descriptions:</strong> add resources links (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/2b04747">2b04747</a>)</li>
<li><strong>examples:</strong> Fixed typos in examples of links (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/f66723c">f66723c</a>)</li>
<li><strong>payments:</strong> Changed type to highRanked field to boolean. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/cdf9a65">cdf9a65</a>)</li>
<li><strong>payments:</strong> Updated descriptions and resources relations on api.raml and types folder. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/516d79c">516d79c</a>)</li>
<li><strong>raml:</strong> restore isSimulated (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/42f14f7">42f14f7</a>)</li>
<li><strong>references:</strong> Added lost references to types (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/8d233de">8d233de</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>payments:</strong> Added endpoints and methods for service payments. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/4d4e348">4d4e348</a>)</li>
<li><strong>payments:</strong> Added example files for all operations. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/8fceb01">8fceb01</a>)</li>
<li><strong>payments:</strong> First commit (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/072ffb1">072ffb1</a>)</li>
<li><strong>payments:</strong> Updated additionalPaymentField resource (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/58238b9">58238b9</a>)</li>
<li><strong>payments:</strong> Updated api.raml with new operations and resources. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/067ca98">067ca98</a>)</li>
<li><strong>payments:</strong> Updated example files for service resource. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/c0f2855">c0f2855</a>)</li>
<li><strong>payments:</strong> Updated types resources to meet GloMo needs. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/27b51ee">27b51ee</a>)</li>
<li><strong>service:</strong> Added helpText attribute. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/a1bfad0">a1bfad0</a>)</li>
<li><strong>servicePayment:</strong> Added trackingReference field. It help to locate payments on provider´s payments (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/a86470c">a86470c</a>)</li>
<li><strong>servicePayments:</strong> Added filters on servicePayments GET method. Filters for creationDate and servic (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/8dc1374">8dc1374</a>)</li>
<li><strong>servicePayments:</strong> Added functionality for billAmount field. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/64ba535">64ba535</a>)</li>
<li><strong>services:</strong> Added service-types catalog. Added hypermedia. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/24c9e0a">24c9e0a</a>)</li>
<li><strong>services:</strong> Latest changes (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/7bee9ab">7bee9ab</a>)</li>
<li><strong>services:</strong> QA changes after review. (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-payments-v0.git/commits/ae936a2">ae936a2</a>)</li>
</ul>
