<h2 id="the-new-version-of-api-accounts-0-4-0-is-available-">The new version of API accounts 0.4.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-483">GABI1-483</a>] - Soporte de Bono fácil Chile</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-354">GABI1-354</a>] - Incorporar mecanismo de filtrado en Accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-475">GABI1-475</a>] - Añadir balances de crédito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-479">GABI1-479</a>] - Nuevo formato de número de cuenta Local Internal Code (LIC) en Accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-493">GABI1-493</a>] - Información de pago de deuda de crédito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-521">GABI1-521</a>] - Nuevos indicadores de comportamiento</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>accounts:</strong> added example &quot;BONO FACIL&quot; (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/f04bc40">f04bc40</a>)</li>
<li><strong>accounts:</strong> added lic in numertype (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/aabd4fd">aabd4fd</a>)</li>
<li><strong>accounts:</strong> descriptions changed for enumDescription in numberType.id (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/23ac083">23ac083</a>)</li>
<li><strong>acounts:</strong> PAN removed (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/41b7c7b">41b7c7b</a>)</li>
<li>Added the new attributes  to GET /balances. GABI1-475 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/498591a">498591a</a>)</li>
<li><strong>balances:</strong> New balances are mandatory. (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/eed916f">eed916f</a>)</li>
<li><strong>indicators:</strong> new indicators added (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/239a224">239a224</a>)</li>
<li><strong>limits:</strong> Fixed path to commons repo. (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/b5dad45">b5dad45</a>)</li>
<li><strong>raml:</strong> added expands limits (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/20860d8">20860d8</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>account-v0:</strong> Credit account modifications (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/0b9fc75">0b9fc75</a>)</li>
<li><strong>accounts-v0:</strong> Bono facil (Chile) (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/64714df">64714df</a>)</li>
<li><strong>accounts-v0:</strong> countrySpecific included (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/ece194e">ece194e</a>)</li>
<li><strong>accounts-v0:</strong> countrySpecific test (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/084a812">084a812</a>)</li>
<li><strong>countries:</strong> Added countrySpecific for CLABE and CCC account number types (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/810a49b">810a49b</a>)</li>
<li><strong>reminderCode:</strong> Added Chile specification for reminderCode (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/cf6db57">cf6db57</a>)</li>
<li>Corrected the example to /balances. GABI1-475 (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/1d1b70a">1d1b70a</a>)</li>
<li><strong>versions:</strong> Added JSON for version (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/7a8b76a">7a8b76a</a>)</li>
<li><strong>view:</strong> Dynamic routing (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/8b005bc">8b005bc</a>)</li>
</ul>
