<h2 id="the-new-version-of-api-accounts-0-7-0-is-available-">The new version of API accounts 0.7.0 is available.</h2>
<h3 id="changes-in-get-accounts">Changes in GET /accounts</h3>
<ul>
<li>New attribute balanceSummary: shows the expenses and incomes done for the current day by the customer.</li>
<li>New filter accountId.</li>
</ul>
<h3 id="changes-in-get-accounts-account-id">Changes in GET /accounts/account-id</h3>
<ul>
<li>New attribute balanceSummary: shows the expenses and incomes done for  the current day by the customer.</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-655">GABI1-655</a>] - Consulta de Saldo y Movimientos de cuentas</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>descriptions:</strong> Fixed some types (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/44ede4f">44ede4f</a>)</li>
<li><strong>summary:</strong> list (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/ac11c6e">ac11c6e</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>accounts:</strong> Added accountId queryParam (<a href="https://bitbucket.org/apisbbva/global-apis-products-accounts-v0.git/commits/b9bf1ef">b9bf1ef</a>)</li>
</ul>
