<h2 id="the-new-version-of-api-accounts-0-9-0-is-available-">The new version of API accounts 0.9.0 is available.</h2>
<h3 id="changes-in-">Changes in:</h3>
<ul>
<li>GET /loans/{loan-id}</li>
<li>GET /loans/{loan-id}/related-contracts</li>
<li>POST /loans/{loan-id}/related-contracts</li>
<li>PATCH /loans/{loan-id}/related-contracts/{related-contract-id}</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1070">GABI1-1070</a>] - Establecer cuenta SPEI</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1262">GABI1-1262</a>] - Cambio opcionales y currencies</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>array:</strong> array commercialValue (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/121bd2e">121bd2e</a>)</li>
<li><strong>currency:</strong> delete type currency (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/7ab038f">7ab038f</a>)</li>
<li><strong>format:</strong> raml (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/65fb2e8">65fb2e8</a>)</li>
<li><strong>loan-id:</strong> add new atribute (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/a08f079">a08f079</a>)</li>
<li><strong>optional:</strong> change attributes to optional (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/a410b31">a410b31</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>relatedContract:</strong> added SIMPLE_ACCOUNT to enum  GABI1-1070 (<a href="https://bitbucket.org/apisbbva/global-apis-products-loans-v0.git/commits/8cebe89">8cebe89</a>)</li>
</ul>
