<h2 id="the-new-version-of-api-cards-0-4-0-is-available-">The new version of API cards 0.4.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-140">GABI1-140</a>] - Información de tarjeta de crédito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-210">GABI1-210</a>] - Rewards (Puntos Bancomer)</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-375">GABI1-375</a>] - Consultar Comisión / Mantenimiento anual Cards</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>card:</strong> Changes in card type and get and patch response examples due to review.</li>
<li><strong>conditions:</strong> Change conditions service description to a better one.</li>
<li><strong>raml:</strong> Changes on comments GABI1-140</li>
<li><strong>raml:</strong> Holding comments applied GABI1-140</li>
<li><strong>raml:</strong> Holding comments applied GABI1-140</li>
<li><strong>raml:</strong> Unused reward types removed GABI1-210</li>
</ul>
