<h2 id="the-new-version-of-api-cards-0-8-0-is-available-">The new version of API cards 0.8.0 is available.</h2>
<h3 id="changes-in-">Changes in:</h3>
<ul>
<li>GET /cards/{card-id}/related-contracts</li>
<li>POST /cards/{card-id}/related-contracts</li>
<li>PATCH /cards/{card-id}/related-contracts/{related-contract-id}</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1070">GABI1-1070</a>] - Establecer cuenta SPEI</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>currency:</strong> delete type currency (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/b249571">b249571</a>)</li>
<li><strong>put:</strong> http 201 created (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/4848622">4848622</a>)</li>
</ul>
