<h2 id="the-new-version-of-api-devices-0-2-0-is-available-">The new version of API devices 0.2.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-282">GABI1-282</a>] - Descripción del POST /mobile-devices como string</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-143">GABI1-143</a>] - Registro de un nuevo dispositivo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-144">GABI1-144</a>] - Borrado de un dispositivos y aplicaciones</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-198">GABI1-198</a>] - Actualizar información de un dispositivo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-206">GABI1-206</a>] - Obtener y actualizar información de las aplicaciones de un dispositivo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-207">GABI1-207</a>] - Obtener y actualizar información de los servicios de las aplicaciones de un dispositivo</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-387">GABI1-387</a>] - Migración nueva candidate release RAML MOBILE-DEVICES</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>devices:</strong> changed POST method by PUT method (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/c41bd27">c41bd27</a>)</li>
<li><strong>devices:</strong> Changes in all the services (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/19554af">19554af</a>)</li>
<li><strong>devices:</strong> Changes to the whole API (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/39ab50a">39ab50a</a>)</li>
<li><strong>example:</strong> Renamed example file. (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/3c30841">3c30841</a>)</li>
<li><strong>examples:</strong> Changed gt-i9500 to Galaxy S6 Edge as indicated in model description. (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/0173772">0173772</a>)</li>
<li><strong>mobile-devices:</strong> change description for model and brand attributes (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/de3ce45">de3ce45</a>)</li>
<li><strong>mobile-devices:</strong> HQ GABI1-207 (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/4b8fda6">4b8fda6</a>)</li>
<li><strong>mobile-devies:</strong> HQ errors resolved (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/3ce0b89">3ce0b89</a>)</li>
<li><strong>mobile-devies:</strong> HQ GABI1-143 (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/ced266c">ced266c</a>)</li>
<li><strong>notifications:</strong> Added 404 description (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/d35792b">d35792b</a>)</li>
<li><strong>raml:</strong> Changes due to review (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/c8bea28">c8bea28</a>)</li>
<li><strong>raml:</strong> new enumDescriptions for serviceId are added (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/2b7619f">2b7619f</a>)</li>
<li><strong>refactor:</strong> devices to RC2 (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/d9aeb32">d9aeb32</a>)</li>
<li><strong>types:</strong> Changed path to commons-v0 in new data types. (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/552c10c">552c10c</a>)</li>
<li><strong>verision:</strong> change version (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/140959a">140959a</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>raml:</strong> Added extended description to POST mobile-device (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/f47aa61">f47aa61</a>)</li>
<li><strong>raml:</strong> Added extended description to POST mobile-device (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/adcb519">adcb519</a>)</li>
<li><strong>raml:</strong> enumDescription changed (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/a0da72a">a0da72a</a>)</li>
<li><strong>raml:</strong> Merge branch &#39;GABI1-143&#39; into GABI1-207 (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/6bf30bc">6bf30bc</a>)</li>
<li><strong>repositories:</strong> renames repositories (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/a5c5576">a5c5576</a>)</li>
<li><strong>view:</strong> Dynamic routing (<a href="https://bitbucket.org/apisbbva/global-apis-technical-devices-v0.git/commits/cd6eec1">cd6eec1</a>)</li>
</ul>
