<h2 id="the-new-version-of-api-accounts-0-3-0-is-available-">The new version of API accounts 0.3.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="bug">Bug</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-376">GABI1-376</a>] - Revisión de todos los arrays en el API de accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-430">GABI1-430</a>] - Inclusión de nuevos filtros para /accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-443">GABI1-443</a>] - Revisar los arrays del API de accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-481">GABI1-481</a>] - queryParam erróneo como required en accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-482">GABI1-482</a>] - Añadir queryParams de paginación</li>
</ul>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-126">GABI1-126</a>] - Definición y uso de Paginación en Accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-138">GABI1-138</a>] - Mostrar si la cuenta SPEI está asociada a un móvil</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-191">GABI1-191</a>] - Añadir nuevos tipos de cuenta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-196">GABI1-196</a>] - Filtrar cuentas por indicador de destino de un traspaso</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-258">GABI1-258</a>] - Indicadores comportamiento en cuenta para traspaso tarjeta-cuenta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-310">GABI1-310</a>] - Habilitar &quot;Número de Cuenta Simple&quot;</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-328">GABI1-328</a>] - Comportamiento cuentas para hacer transferencias</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-339">GABI1-339</a>] - Documentación de enumerados en Accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-385">GABI1-385</a>] - Migración nueva candidate release RAML ACCOUNTS</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-436">GABI1-436</a>] - Producto asociado a una cuenta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-438">GABI1-438</a>] - Descripciones en Accounts</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-448">GABI1-448</a>] - Creación endpoint participants</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-466">GABI1-466</a>] - Añadir atributos para tipos de cuenta crédito</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-480">GABI1-480</a>] - Indicadores para solicitar moneda extranjera y para pagar servicios</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-503">GABI1-503</a>] - Alta de Cuenta ( Cuenta Digital )</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>accounts:</strong> Adapt to the new RAML version</li>
<li><strong>accounts:</strong> Added endpoint related-contracts and trait expandable</li>
<li><strong>accounts:</strong> Added full view</li>
<li><strong>accounts:</strong> Added new queryParameters</li>
<li><strong>accounts:</strong> Added queryParameters for pagination</li>
<li><strong>accounts:</strong> Added the atrtibutes to credit accounts. GABI1-466</li>
<li><strong>accounts:</strong> Change date</li>
<li><strong>accounts:</strong> Correct datetime format</li>
<li><strong>api.raml:</strong> Added the filters to the list of /accounts and /accounts/id/transactions</li>
<li><strong>api.raml:</strong> Added the new filter to the list of GET /accounts</li>
<li><strong>example:</strong> Added reminderCode to expands example</li>
<li><strong>example:</strong> Changed accountType to a valid one.</li>
<li><strong>examples:</strong> Added multiexample to GET /accounts</li>
<li><strong>examples:</strong> Changed titular to holder in participants examples.</li>
<li><strong>examples:</strong> Changes to make examples match each other.</li>
<li><strong>examples:</strong> Fixed some errors in pagination examples.</li>
<li><strong>indicators:</strong> Added new indicator ASSOCIABLE_TO_PHONE_FOR_SPEI</li>
<li><strong>indicators:</strong> Fixed indicators list with some lost modifications.</li>
<li><strong>participants:</strong> Changed participant description to match what is already defined in account-id</li>
<li><strong>raml:</strong> A new numberType.id is added</li>
<li><strong>raml:</strong> Added a new indicator</li>
<li><strong>raml:</strong> Added indicators of GABI1-328</li>
<li><strong>raml:</strong> Change balance for balances in arrays</li>
<li><strong>raml:</strong> Change indicator in api.raml</li>
<li><strong>raml:</strong> Change indicators due Glomo specs</li>
<li><strong>raml:</strong> Changes due GABI1-258. New indicators are added</li>
<li><strong>raml:</strong> Changes for BUG GABI1-376</li>
<li><strong>raml:</strong> Example for filter added</li>
<li><strong>raml:</strong> Fixed little details in JSON example</li>
<li><strong>raml:</strong> Fixed queryparam as non required</li>
<li><strong>raml:</strong> Indentation errors.</li>
<li><strong>raml:</strong> Resolved conflicts with api.raml</li>
<li><strong>raml:</strong> Fixed some bugs</li>
<li><strong>related-contract:</strong> Added product.id in PATCH method</li>
<li><strong>related-contracts:</strong> Changed description in header</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>accounts:</strong> Endpoint /participants added</li>
<li><strong>api.raml:</strong> Added the new filters to GET /accounts. GABI1-466</li>
<li><strong>raml:</strong> New description for SIMPLE_ACCOUNT enum has been added</li>
<li><strong>raml:</strong> Added a new description for SIMPLE_ACCOUNT</li>
<li><strong>raml:</strong> Added two new indicators</li>
<li><strong>raml:</strong> Enum descriptions are now added. Not finally descriptions</li>
<li><strong>raml:</strong> Added indicatorId as a new queryParam</li>
<li><strong>types:</strong> Added the new values to the enum &quot;accountType.id&quot;. GABI1-191</li>
</ul>
