<h2 id="the-new-api-mobiles-0-1-0-is-available-">The new API Mobiles 0.1.0 is available.</h2>
<p>This API includes all the needed functionalities for performing top ups over prepaid mobile phones.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>POST /top-ups</li>
<li>GET /service-providers</li>
<li>GET /service-providers/{service-provider-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1080">GABI1-1080</a>] - Compra de tiempo aire (recarga de móvil)</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api.json:</strong> Deleted api.json (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/b2c21f7">b2c21f7</a>)</li>
<li><strong>Mobiles:</strong> Changed annotation to required on date field. (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/d9c55ce">d9c55ce</a>)</li>
<li><strong>name:</strong> api (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/fcbfdc8">fcbfdc8</a>)</li>
<li><strong>raml:</strong> delete views (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/3ee2e90">3ee2e90</a>)</li>
<li><strong>raml:</strong> examples (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/1cf2c5d">1cf2c5d</a>)</li>
<li><strong>raml:</strong> optionals (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/ce4e9fd">ce4e9fd</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>mobiles:</strong> Updated API description (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/57f9af8">57f9af8</a>)</li>
<li><strong>providers:</strong> Renamed top-up-amounts to service-providers (<a href="https://bitbucket.org/apisbbva/global-apis-mobile-mobiles-v0.git/commits/180ab91">180ab91</a>)</li>
</ul>
