<h2 id="the-new-version-of-api-contact-book-0-1-0-is-available-">The new version of API contact-book 0.1.0 is available.</h2>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li>GET /contacts</li>
<li>POST /contacts</li>
<li>GET /contacts/{contact-id}</li>
<li>POST /contacts/{contact-id}</li>
<li>PATCH /contacts/{contact-id}</li>
<li>DELETE /contacts/{contact-id}</li>
<li>GET /contacts/{contact-id}/contact-information</li>
<li>POST /contacts/{contact-id}/contact-information</li>
<li>GET /contacts/{contact-id}/contact-information/{contact-information-id}</li>
<li>POST /contacts/{contact-id}/contact-information/{contact-information-id}</li>
<li>PATCH /contacts/{contact-id}/contact-information/{contact-information-id}</li>
<li>DELETE /contacts/{contact-id}/contact-information/{contact-information-id}</li>
<li>GET /contacts/{contact-id}/products</li>
<li>POST /contacts/{contact-id}/products</li>
<li>GET /contacts/{contact-id}/products/{product-id}</li>
<li>POST /contacts/{contact-id}/products/{product-id}</li>
<li>PATCH /contacts/{contact-id}/products/{product-id}</li>
<li>DELETE /contacts/{contact-id}/products/{product-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1070">GABI1-1071</a>] - Operaciones con las cuentas de destino para transferencias</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> add view file (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/5395b82">5395b82</a>)</li>
<li><strong>atributes:</strong> add surname and birth date (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/1340475">1340475</a>)</li>
<li><strong>contact:</strong> person and contact information (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/25f4d7e">25f4d7e</a>)</li>
<li><strong>html:</strong> add view (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/82c5c15">82c5c15</a>)</li>
<li><strong>person:</strong> person in contact (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/73e767e">73e767e</a>)</li>
<li><strong>person:</strong> person in contact (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/1ddfbe1">1ddfbe1</a>)</li>
<li><strong>person:</strong> person in contact (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/d5f9082">d5f9082</a>)</li>
<li><strong>revision:</strong> ajust types (<a href="https://bitbucket.org/apisbbva/global-apis-people-contactsbook-v0.git/commits/c1d052d">c1d052d</a>)</li>
</ul>
