<h2 id="the-new-version-of-api-deposits-0-2-0-is-available-">The new version of API deposits 0.2.0 is available.</h2>
<h3 id="changes-in-">Changes in:</h3>
<ul>
<li>GET /deposits/{deposit-id}/related-contracts</li>
<li>POST /deposits/{deposit-id}/related-contracts</li>
<li>PATCH /deposits/{deposit-id}/related-contracts/{related-contract-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1070">GABI1-1070</a>] - Establecer cuenta SPEI<h2 id="changelog">CHANGELOG</h2>
</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>currency:</strong> delete type currency (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/5984338">5984338</a>)</li>
<li><strong>refactor:</strong> error name attribute (<a href="https://bitbucket.org/apisbbva/global-apis-products-deposits-v0.git/commits/ff81fd4">ff81fd4</a>)</li>
</ul>
