<h2 id="the-new-version-of-api-transactions-0-2-0-is-available-">The new version of API transactions 0.2.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-563">GABI1-563</a>] - Filtrado de movimientos por divisa</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> Changes due to validation (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/bedb9af">bedb9af</a>)</li>
<li><strong>api:</strong> minor changes (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/36c2c24">36c2c24</a>)</li>
</ul>
