<h2 id="the-new-version-of-api-transfers-0-1-0-is-available-">The new version of API transfers 0.1.0 is available.</h2>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li>GET /mobile-transfers</li>
<li>POST /mobile-transfers</li>
<li>GET /mobile-transfers/{mobile-transfer-id}</li>
<li>DELETE /mobile-transfers/{mobile-transfer-id}</li>
<li>GET /interbank-transfers</li>
<li>POST /interbank-transfers</li>
<li>GET /interbank-transfers/{interbank-transfer-id}</li>
<li>DELETE /interbank-transfers/{interbank-transfer-id}</li>
<li>GET /internal-transfers</li>
<li>POST /internal-transfers</li>
<li>GET /internal-transfers/{internal-transfer-id}</li>
<li>DELETE /internal-transfers/{internal-transfer-id}</li>
<li>GET /international-transfers</li>
<li>POST /international-transfers</li>
<li>GET /international-transfers/{international-transfer-id}</li>
<li>DELETE /international-transfers/{international-transfer-id}</li>
<li>GET /own-transfers</li>
<li>POST /own-transfers</li>
<li>GET /own-transfers/{own-transfer-id}</li>
<li>DELETE /own-transfers/{own-transfer-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-989">GABI1-989</a>] - Transferencia de cuenta a un dispositivo móvil (retirada en cajero, efectivo móvil)</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-990">GABI1-990</a>] - Transferencias entre productos de diferente divisa</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1031">GABI1-1031</a>] - Transferencias de cuenta a cuentas propias</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1032">GABI1-1032</a>] - Transferencias de cuenta a cuentas de terceros</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1033">GABI1-1033</a>] - Transferencias de cuenta a cuentas interbancarias</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1034">GABI1-1034</a>] - Transferencias de cuenta a cuentas internacionales</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1035">GABI1-1035</a>] - Transferencia de cuenta a tarjetas propias</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1036">GABI1-1036</a>] - Transferencia de cuenta a tarjetas de terceros</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1037">GABI1-1037</a>] - Transferencia de cuenta a tarjetas internacionales</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1038">GABI1-1038</a>] - Transferencia de tarjeta a cuentas propias</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1249">GABI1-1249</a>] - Revisión API transfers</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>exchange:</strong> add exchange information (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/3ef2328">3ef2328</a>)</li>
<li><strong>exchange:</strong> add exchange information (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/357c425">357c425</a>)</li>
<li><strong>international:</strong> revision of GloMo interbank transfers (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/3383266">3383266</a>)</li>
<li><strong>international:</strong> revision of GloMo international transfers (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/dc2eca0">dc2eca0</a>)</li>
<li><strong>numberContract:</strong> add number contract (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/b7328a5">b7328a5</a>)</li>
<li><strong>simulated:</strong> add behavior simulated (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/44eaa96">44eaa96</a>)</li>
<li><strong>simulated:</strong> add simulated transfers (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/51a65b4">51a65b4</a>)</li>
<li><strong>tracking:</strong> add trackings numbers (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/e57c1f0">e57c1f0</a>)</li>
<li><strong>transfers:</strong> menor fixes (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/9a85123">9a85123</a>)</li>
<li><strong>transferType:</strong> delete unnecesari transfer type (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/52859d9">52859d9</a>)</li>
<li><strong>update:</strong> mobile and own transfers (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/86b5316">86b5316</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-paymentmethods-transfers-v0.git/commits/17631e9">17631e9</a>)</li>
</ul>
