<h2 id="the-new-version-of-api-customers-0-2-0-is-available-">The new version of API customers 0.2.0 is available.</h2>
<p>Adds a few services to creates, searches, gets and updates customers info. </p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-492">GABI1-492</a>] - Consultar información básica del cliente utilizando el Documento de Identidad</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-497">GABI1-497</a>] - Listar Indicadores de Cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-501">GABI1-501</a>] - Dar de Alta a un nuevo Cliente.</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-502">GABI1-502</a>] - Modificar la información básica e indicadores de un usuario.</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-567">GABI1-567</a>] - Consultar datos económicos del cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-568">GABI1-568</a>] - Consultar contactos del cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-569">GABI1-569</a>] - Consultar direcciones del cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-587">GABI1-587</a>] - Mostrar clasificación ( segmentos cliente)</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-665">GABI1-665</a>] - Obtener los términos y condiciones del cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-666">GABI1-666</a>] - Ingresar la aprobación de los términos y condiciones por parte del cliente.<h2 id="changelog">CHANGELOG</h2>
</li>
</ul>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>address:</strong> add method GET PATCH. GABI1-569. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/2d1fb65">2d1fb65</a>)</li>
<li><strong>clasification:</strong> add method GET. GABI1-587. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/aaca15a">aaca15a</a>)</li>
<li><strong>clasification:</strong> add method GET. GABI1-587. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/072afc6">072afc6</a>)</li>
<li><strong>contactDetails:</strong> add method GET PATCH. GABI1-568. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/49070c8">49070c8</a>)</li>
<li><strong>customer:</strong> add method POST GABI1-501. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ee86849">ee86849</a>)</li>
<li><strong>customer:</strong> add method POST GABI1-501. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ec1005e">ec1005e</a>)</li>
<li><strong>customer:</strong> add method POST GABI1-501. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/94934a6">94934a6</a>)</li>
<li><strong>customer:</strong> add method POST GABI1-501. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/e161d05">e161d05</a>)</li>
<li><strong>customer:</strong> add method POST GABI1-501. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/0d873dc">0d873dc</a>)</li>
<li><strong>customer:</strong> remove field hasPassedAway customer.raml, customers.raml GABI1-492 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/8f1f137">8f1f137</a>)</li>
<li><strong>customer:</strong> update api.raml, get_200.json, country.raml, customer.raml, documentType.raml, i (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ef064f5">ef064f5</a>)</li>
<li><strong>customer:</strong> update method GET GABI1-492 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/6a166e1">6a166e1</a>)</li>
<li><strong>customer:</strong> update method GET. GABI1-492. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/5c0332e">5c0332e</a>)</li>
<li><strong>economicData:</strong> add method GET. GABI1-567. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/93e16ca">93e16ca</a>)</li>
<li><strong>indicator:</strong> add method GET, POST. GABI1-497 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/f6e3ff2">f6e3ff2</a>)</li>
<li><strong>indicator:</strong> add method GET, POST. GABI1-497 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/fa8e6a0">fa8e6a0</a>)</li>
<li><strong>indicator:</strong> add method GET, POST. GABI1-497 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/d73e499">d73e499</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/e595eca">e595eca</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/b93256a">b93256a</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ac4c23f">ac4c23f</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/fc64f2a">fc64f2a</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/08d9634">08d9634</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/c730004">c730004</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/a5ade67">a5ade67</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/95df6d3">95df6d3</a>)</li>
<li><strong>merge:</strong> merge (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/6599a3d">6599a3d</a>)</li>
<li><strong>post:</strong> delete bindingdefinition for post (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/888ca38">888ca38</a>)</li>
<li><strong>rename:</strong> renamed geographicGroupsType type by this geographicGroupType in json examples (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/8efbb84">8efbb84</a>)</li>
<li><strong>rename:</strong> renamed this type by this bgeographicGroupsType in json examples (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/c433010">c433010</a>)</li>
<li><strong>rename:</strong> renamed this type by this bgeographicGroupsType in json examples (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/94dbd77">94dbd77</a>)</li>
<li><strong>review:</strong> add expands (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/457367f">457367f</a>)</li>
<li><strong>review:</strong> minor changes descriptions (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ca7585a">ca7585a</a>)</li>
<li><strong>revision:</strong> revision pull request GABI1-492 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/620c424">620c424</a>)</li>
<li><strong>revision:</strong> revision pull request GABI1-492 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/a4cef9a">a4cef9a</a>)</li>
<li><strong>revision:</strong> revision pull request GABI1-569 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/c777f9b">c777f9b</a>)</li>
<li><strong>sortable:</strong> change name (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/fbf68d2">fbf68d2</a>)</li>
<li><strong>term:</strong> add method GET PATCH. GABI1-666. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/29b0ca0">29b0ca0</a>)</li>
<li><strong>term:</strong> add method GET, POST. GABI1-666. (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/97c6af8">97c6af8</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>address:</strong> update method GET, PATCH. GABI1-569 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/d9cbf08">d9cbf08</a>)</li>
<li><strong>contactDetails:</strong> update method GET PATCH GABI1-568 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/efa9bcb">efa9bcb</a>)</li>
<li><strong>economicData:</strong> update method GET. GABI1-567 (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/ca4e4fe">ca4e4fe</a>)</li>
<li><strong>trait:</strong> add field (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/2351a3b">2351a3b</a>)</li>
</ul>
