<h2 id="the-new-version-of-api-cards-0-6-0-is-available-">The new version of API cards 0.6.0 is available.</h2>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-668">GABI1-668</a>] - Descripción de grantedCredits incorrecta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-507">GABI1-507</a>] - Extracción de Types a commons CARDS</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-548">GABI1-548</a>] - Mejora de descripción de availableBalance para tarjetas de débito en listado</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-549">GABI1-549</a>] - Mejora de descripción de availableBalance para tarjetas de débito en detalle</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-551">GABI1-551</a>] - Nuevos indicadores para pago de servicios y recepciones internacionales</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-553">GABI1-553</a>] - Motivos de alta y cancelación de tarjeta</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-555">GABI1-555</a>] - Filtrado de movimientos por divisa</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-613">GABI1-613</a>] - Añadir paginación a los listados</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-663">GABI1-663</a>] - Incluir gasto realizado a la fecha de corte</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>api:</strong> Change include type (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/27abdef">27abdef</a>)</li>
<li><strong>api:</strong> Changes due to validation (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/ac579fa">ac579fa</a>)</li>
<li><strong>cards:</strong> add expands (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/1a6d396">1a6d396</a>)</li>
<li><strong>cards:</strong> add pagination and expands (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/7cae897">7cae897</a>)</li>
<li><strong>cards:</strong> delete card block (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/c7b1895">c7b1895</a>)</li>
<li><strong>cards:</strong> delete related contract from resource (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/eca5f5a">eca5f5a</a>)</li>
<li><strong>cards:</strong> remove expands pin (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/bf9f2db">bf9f2db</a>)</li>
<li><strong>cards:</strong> undoing related contract for patch a post (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/0c50ed3">0c50ed3</a>)</li>
<li><strong>descriptions:</strong> Changed availableBalance descriptions to be more accurate for each card type. (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/ccd2b57">ccd2b57</a>)</li>
<li><strong>indicators:</strong> Fixed some indicators descriptions and the examples where indicators are retriev (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/9a357f9">9a357f9</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li>Corrected the errors of HQ. GABI1-551 (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/ec8f226">ec8f226</a>)</li>
<li>Corrected the errors of HQ. GABI1-551 (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/dc6106f">dc6106f</a>)</li>
<li>Extract types to commons. GABI1-507 (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/2cdc18e">2cdc18e</a>)</li>
<li><strong>paymentMethod:</strong> Added LAST_PERIOD_AMOUNT to paymentAmounts type GABI1-663 (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/328475d">328475d</a>)</li>
<li><strong>relatedContracts:</strong> Added relationTypes values for tracking card substitutions. (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/2431d99">2431d99</a>)</li>
<li><strong>versions:</strong> CL versions (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/a24d6ee">a24d6ee</a>)</li>
</ul>
