<h2 id="the-new-version-of-api-security-0-2-0-is-available-">The new version of API Security 0.2.0 is available.</h2>
<p>This API includes any service related to security management.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /software-tokens</li>
<li>POST /software-tokens</li>
<li>GET /software-tokens/{software-token-id}</li>
<li>PATCH /software-tokens/{software-token-id}</li>
<li>GET /software-tokens/{software-token-id}/opts/{opt-id}</li>
<li>PUT /software-tokens/software-token-id/activation-data/{activation-data-id}
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1247">GABI1-1247</a>] - Análisis de los servicios necesarios para la funcionalidad de TokenSoftware</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>delete:</strong> unused methods (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/08919b2">08919b2</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team | fixes accorded with pa (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/9e34909">9e34909</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/9a4d619">9a4d619</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/21b7612">21b7612</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/08ce32b">08ce32b</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/5b73584">5b73584</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/81b4ce8">81b4ce8</a>)</li>
<li><strong>raml:</strong> (changes requested by session review with security team) for GABI1-1247 (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/556be80">556be80</a>)</li>
<li><strong>raml:</strong> add endpoint activationData (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/b47e822">b47e822</a>)</li>
<li><strong>raml:</strong> fixes to raml and examples post draft team review (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/bd8149c">bd8149c</a>)</li>
<li><strong>traits:</strong> add traits (<a href="https://bitbucket.org/apisbbva/global-apis-security-security-v0.git/commits/cc276cd">cc276cd</a>)</li>
</ul>
