<h2 id="the-new-version-of-api-catalogs-0-2-0-is-available-">The new version of API catalogs 0.2.0 is available.</h2>
<p>An API to get global catalogs info.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /catalogs/{catalog-id}/records</li>
</ul>
<h3 id="modified-methods">Modified methods</h3>
<ul>
<li>GET /catalogs</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1391">GABI1-1391</a>] - Modificaciones al servicio que obtiene los catálogos y nuevo servicio para obtener la información de un catálogo</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>catalogs:</strong> Changed catalog structure to allow pagination in catalog list. (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/7a29d1a">7a29d1a</a>)</li>
<li><strong>enhancedCatalogs:</strong> Removed enhanced catalog definition. (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/6f979ec">6f979ec</a>)</li>
<li><strong>raml:</strong> add filter by id (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/5b95a23">5b95a23</a>)</li>
<li><strong>raml:</strong> add filter by id (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/19843be">19843be</a>)</li>
<li><strong>raml:</strong> delete file (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/a7403ee">a7403ee</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>api:</strong> Added name as queryParam in GET /catalogs (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/9a7e6d9">9a7e6d9</a>)</li>
<li><strong>commonLists:</strong> Added common-list type and record subtype (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/7ae4496">7ae4496</a>)</li>
<li><strong>description:</strong> Improved description about what a catalog is and its aim. (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/953f922">953f922</a>)</li>
<li><strong>enhancedcatalogs:</strong> Added enhanced catalogs (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/732b160">732b160</a>)</li>
<li><strong>examples:</strong> Changed IDs to English. (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/8d6b53a">8d6b53a</a>)</li>
<li><strong>ids:</strong> Renamed catalogId and recordId to just id. Removed typeValue.raml (no longer nee (<a href="https://bitbucket.org/apisbbva/global-apis-data-catalogs-v0.git/commits/dd2f494">dd2f494</a>)</li>
</ul>
