<h2 id="the-new-version-of-api-customers-0-5-0-is-available-">The new version of API customers 0.5.0 is available.</h2>
<p>Adds a few services to creates, searches, gets and updates customers info.</p>
<h3 id="new-methods-added">New methods added</h3>
<ul>
<li>PATCH /customers/{customer-id}/economic-data</li>
</ul>
<h3 id="modified-methods">Modified methods</h3>
<ul>
<li>GET /customers</li>
<li>POST /customers</li>
<li>GET /customers/{customer-id}</li>
<li>GET /customers/{customer-id}/contact-details</li>
<li>GET /customers/{customer-id}/contact-details/{contact-detail-id}</li>
<li>GET /customers/{customer-id}/indicators</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1293">GABI1-1293</a>] - Increase or improve some attributes related to Customers</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1313">GABI1-1313</a>] - Actualización de datos básicos Cliente</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1314">GABI1-1314</a>] - Unificar /Users en /customers</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>customers:</strong> new document types added (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/de94a54">de94a54</a>)</li>
<li><strong>json:</strong> examples (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/f681680">f681680</a>)</li>
<li><strong>json:</strong> examples (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/b6f0893">b6f0893</a>)</li>
<li><strong>raml:</strong> add last access date (<a href="https://bitbucket.org/apisbbva/global-apis-people-customers-v0.git/commits/d81ad5c">d81ad5c</a>)</li>
</ul>
