<h2 id="the-new-version-of-api-cards-0-9-0-is-available-">The new version of API cards 0.9.0 is available.</h2>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /cards/{card-id}/payment-methods</li>
</ul>
<h3 id="modified-methods">Modified methods</h3>
<ul>
<li>GET /cards</li>
<li>GET /cards/{card-id}</li>
<li>GET /balances</li>
<li>GET /cards/{card-id}/blocks/{block-id}</li>
</ul>
<p><br></p>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1325">GABI1-1325</a>] - Eliminar DEBIT_CARD de los posibles valores de filtro de balances</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1272">GABI1-1272</a>] - Añadir atributos a bloqueos de Tarjetas</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1330">GABI1-1330</a>] - Actualización del endpoint GET cards/{card-id}</li>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1338">GABI1-1338</a>] - Cambios de los filtros</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>balances:</strong> Removed DEBIT_CARD as possible values of cardType.id queryParam (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/7a2a423">7a2a423</a>)</li>
<li><strong>raml:</strong> extract payment methods new endpoint (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/4a7940d">4a7940d</a>)</li>
<li><strong>raml:</strong> minor errors warnings (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/343d106">343d106</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>cards:</strong> Modifiying block.raml for method PUT, into GABI1-1272. (<a href="https://bitbucket.org/apisbbva/global-apis-products-cards-v0.git/commits/6c36977">6c36977</a>)</li>
</ul>
