<h2 id="the-new-version-of-api-transactions-0-4-0-is-available-">The new version of API transactions 0.4.0 is available.</h2>
<p>This API includes any service related to transactions on financial products (i.e. cards or accounts).</p>
<h3 id="modified-methods">Modified methods</h3>
<ul>
<li>GET /transactions</li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="story">Story</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-1440">GABI1-1440</a>] - Listado de movimientos</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>cash_income:</strong> Fixed indentation on api.raml file. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/8811128">8811128</a>)</li>
<li><strong>raml:</strong> number format US and pagination (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/7a8ebcb">7a8ebcb</a>)</li>
<li><strong>transaction:</strong> fixed description for toLocalAmount filter. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/3ea79ae">3ea79ae</a>)</li>
<li><strong>transaction:</strong> Updated description for operationDate and localAmount filters. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/c1b9ef5">c1b9ef5</a>)</li>
<li><strong>transaction:</strong> Updated operationDate and localAmount.amount filters (back to from&amp;to criteria) (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/1c1393a">1c1393a</a>)</li>
<li><strong>transaction:</strong> Updated operationDate and localAmount.amount filters (back to from&amp;to criteria) (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/7aafb6d">7aafb6d</a>)</li>
<li><strong>transactions:</strong> added filters and order by criteria. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/0c99395">0c99395</a>)</li>
<li><strong>transactions:</strong> changed details attribute to OPTIONAL on transaction and transactions types. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/28624bc">28624bc</a>)</li>
<li><strong>transactions:</strong> deleted Content-Location header on all endpoints. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/801d1f4">801d1f4</a>)</li>
<li><strong>transactions:</strong> deleted flags on transactionType attribute. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/38d2ee2">38d2ee2</a>)</li>
<li><strong>transactions:</strong> fixed error that does´t allow to show correctly contractNumberType type. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/db917ab">db917ab</a>)</li>
<li><strong>transactions:</strong> Fixed transactionType errors on examples. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/438bd18">438bd18</a>)</li>
<li><strong>transactions:</strong> Fixed transactionType.name indentation to prevent a validation error in ATOM. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/0291564">0291564</a>)</li>
<li><strong>transactions:</strong> updated descriptions in order to match american grammar. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/b4c9a7d">b4c9a7d</a>)</li>
<li><strong>transactions:</strong> updated enum for financyngType in order to match american grammar. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/68ebbee">68ebbee</a>)</li>
<li><strong>transactions:</strong> updated filter description. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/9a056dc">9a056dc</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>cash_withdrawals:</strong> Updated net type and atm type. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/52fd333">52fd333</a>)</li>
<li><strong>filter:</strong> movement status GABI1-133 (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/9e79f62">9e79f62</a>)</li>
<li><strong>purchases:</strong> Updated payment channels (descriptions are needed) (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/c1a85ed">c1a85ed</a>)</li>
<li><strong>purchases:</strong> Updated purchase type (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/6daa0c2">6daa0c2</a>)</li>
<li><strong>transactions:</strong> Added cash income details endpoint and its examples. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/ecde68c">ecde68c</a>)</li>
<li><strong>transactions:</strong> Added cash withdrawal details endpoint and its examples. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/672eebe">672eebe</a>)</li>
<li><strong>transactions:</strong> Added concept filter criteria. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/ea4fcf2">ea4fcf2</a>)</li>
<li><strong>transactions:</strong> Added filters for localAmount.amount and transactionType.internalCode. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/8156a4c">8156a4c</a>)</li>
<li><strong>transactions:</strong> added moneyFlow attribute to transactions a transaction types. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/1e1e610">1e1e610</a>)</li>
<li><strong>transactions:</strong> Added purchases details endpoint and it example. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/b7c20fb">b7c20fb</a>)</li>
<li><strong>transactions:</strong> Added refund details endpoint and its example. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/d645e23">d645e23</a>)</li>
<li><strong>transactions:</strong> Modified types for GNC purposes. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/3e4c7fd">3e4c7fd</a>)</li>
<li><strong>transactions:</strong> Updated query parameters for transactions GET operation. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/33b64ab">33b64ab</a>)</li>
<li><strong>transactions:</strong> Updated transactions and transaction types. (<a href="https://bitbucket.org/apisbbva/global-apis-products-transactions-v0.git/commits/f776bd6">f776bd6</a>)</li>
</ul>
