<h2 id="the-new-api-stores-0-1-0-is-available-">The new API Stores 0.1.0 is available.</h2>
<p>This API includes all the available services to manage information about stores. A store is a business company based on the buy, sale or exchange of goods and services.</p>
<h3 id="new-methods">New methods</h3>
<ul>
<li>GET /stores</li>
<li>GET /stores/{store-id}</li>
<li>GET /operations</li>
<li>GET /operations/{operation-id}</li>
<li>GET /balances
<br></li>
</ul>
<p>See below for bugs solved, user histories and version details.</p>
<h3 id="feature">Feature</h3>
<ul>
<li>[<a href="https://globaldevtools.bbva.com/jira/browse/GABI1-636">GABI1-636</a>] - Funcionalidades sobre tiendas</li>
</ul>
<h2 id="changelog">CHANGELOG</h2>
<h3 id="bug-fixes">Bug Fixes</h3>
<ul>
<li><strong>aggregations:</strong> Updated examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/57e7723">57e7723</a>)</li>
<li><strong>all:</strong> Fixed some errors found on Pair revision - GABI1-30 Jira US (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3d80bee">3d80bee</a>)</li>
<li><strong>api:</strong> Commos refactor (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7f40a70">7f40a70</a>)</li>
<li><strong>balance:</strong> Changed &#39;sales&#39; node type to &#39;balanceOperation.balanceOperation[]&#39; (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/ce8f79e">ce8f79e</a>)</li>
<li><strong>balance:</strong> Changed attributes and examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/6c18ae0">6c18ae0</a>)</li>
<li><strong>balances:</strong> added more examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/d576962">d576962</a>)</li>
<li><strong>balances:</strong> added more examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/cd126b2">cd126b2</a>)</li>
<li><strong>balances:</strong> added more examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/b668f39">b668f39</a>)</li>
<li><strong>balances:</strong> changed property &#39;date&#39; for &#39;fromDate&#39; and &#39;toDate&#39; (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/20f8f9b">20f8f9b</a>)</li>
<li><strong>balances:</strong> Updated &#39;balances&#39; resource (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/f1cf1a3">f1cf1a3</a>)</li>
<li><strong>balances:</strong> Updated &#39;balances&#39; resource (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7c6dd32">7c6dd32</a>)</li>
<li><strong>balances:</strong> Updated &#39;balances&#39; resource (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/6e6ce3a">6e6ce3a</a>)</li>
<li><strong>balances:</strong> updated examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/4c564dd">4c564dd</a>)</li>
<li><strong>balances:</strong> updated examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/fdc32ea">fdc32ea</a>)</li>
<li><strong>cardPayment:</strong> Set required attributes to false (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/99dca6a">99dca6a</a>)</li>
<li><strong>commerces:</strong> Cambios en los dataTypes, headers e incluir spin-case en uriParameters (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/de3c538">de3c538</a>)</li>
<li><strong>commerces:</strong> Change attribute &quot;image&quot; to &quot;images&quot; (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3f1ac57">3f1ac57</a>)</li>
<li><strong>commerces:</strong> Change attribute image to type array (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/c04a1f6">c04a1f6</a>)</li>
<li><strong>commerces:</strong> Changes due to HQ review. (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/e343903">e343903</a>)</li>
<li><strong>commerces:</strong> extracted types to commons (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/fedd7c7">fedd7c7</a>)</li>
<li><strong>commerces:</strong> Refactorización de la versión 0.8 a 1.0 (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/a4aad6e">a4aad6e</a>)</li>
<li><strong>commerces:</strong> the output attributes are as OPTIONAL (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/6d19da2">6d19da2</a>)</li>
<li><strong>commerces-v1:</strong> Added the new structure of folders to the errors. GABI1-119 (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7e581ee">7e581ee</a>)</li>
<li><strong>enum:</strong> rename geographic groups types (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/4fae54b">4fae54b</a>)</li>
<li><strong>examples:</strong> Updated dates to timestamp (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/1bbf23a">1bbf23a</a>)</li>
<li><strong>examples:</strong> Updated dates to timestamp (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/94bf244">94bf244</a>)</li>
<li><strong>examples:</strong> Updated dates to timestamp (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7a7c42e">7a7c42e</a>)</li>
<li><strong>examples:</strong> Updated examples values (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/62a717d">62a717d</a>)</li>
<li><strong>feat:</strong> Refactored with Global API Catalog instructions (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/1681bf5">1681bf5</a>)</li>
<li><strong>feat:</strong> Refactored with Global API Catalog instructions (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7c1f7f8">7c1f7f8</a>)</li>
<li><strong>feat:</strong> Refactored with Global API Catalog instructions (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/742d718">742d718</a>)</li>
<li><strong>pointOfSaleGroup:</strong> removed references to pointOfSaleGroup (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3137d57">3137d57</a>)</li>
<li><strong>raml:</strong> Delete the resourceTypes &quot;read-collection and read-collection-item&quot; (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/63fd3ad">63fd3ad</a>)</li>
<li><strong>raml:</strong> review (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/5838fa4">5838fa4</a>)</li>
<li><strong>raml:</strong> TPV by POS (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3b9d64a">3b9d64a</a>)</li>
<li><strong>rename:</strong> rename endpoints (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/df42d05">df42d05</a>)</li>
<li><strong>rename:</strong> rename queryParam expand (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/737bf72">737bf72</a>)</li>
<li><strong>rename:</strong> views (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/dfbc454">dfbc454</a>)</li>
<li><strong>rename:</strong> views (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3c9af6d">3c9af6d</a>)</li>
<li>Adapted RAML for doc parser (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/6a79a96">6a79a96</a>)</li>
<li>Adapted RAML for doc parser (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/76db8ed">76db8ed</a>)</li>
<li>added originAmount to operation &amp; operations (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/0744659">0744659</a>)</li>
<li>channel -&gt; paymentChannel (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/13af19f">13af19f</a>)</li>
<li>enum balances, /stores/{store-id}, rutas (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/dcbdee1">dcbdee1</a>)</li>
<li>location (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/4ba54ef">4ba54ef</a>)</li>
<li><strong>sortable:</strong> change name (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/3e13019">3e13019</a>)</li>
<li><strong>stores:</strong> Updated examples (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/66374ca">66374ca</a>)</li>
<li>operationId -&gt; id (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/ace6e4f">ace6e4f</a>)</li>
<li>postedTimestamp -&gt; postedDate (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/658028c">658028c</a>)</li>
<li><strong>verision:</strong> change version (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/7b4ac1f">7b4ac1f</a>)</li>
<li><strong>version:</strong> delete changelog (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/14c1bf6">14c1bf6</a>)</li>
</ul>
<h3 id="features">Features</h3>
<ul>
<li><strong>balances:</strong> added balances endpoint (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/a41114e">a41114e</a>)</li>
<li><strong>branches:</strong> Added branches information. Added web attribute to commerce structure. (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/4854225">4854225</a>)</li>
<li><strong>commerce:</strong> First readme (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/bb13899">bb13899</a>)</li>
<li><strong>commerces-v0:</strong> RC2 RAML revision (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/f8b6499">f8b6499</a>)</li>
<li><strong>operations:</strong> added operations and /operations/{id} (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/b924bbe">b924bbe</a>)</li>
<li><strong>refactor:</strong> types (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/194773b">194773b</a>)</li>
<li><strong>refactor:</strong> types (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/18238fc">18238fc</a>)</li>
<li><strong>repositories:</strong> renames repositories (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/10571b5">10571b5</a>)</li>
<li><strong>stores:</strong> Added stores resources and modified operation/pointOfSale/paymentMethod types (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/c582e5b">c582e5b</a>)</li>
<li><strong>view:</strong> Dynamic routing (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/94c001b">94c001b</a>)</li>
<li>added new attributes (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/88f977c">88f977c</a>)</li>
<li>added new attributes (<a href="https://bitbucket.org/apisbbva/global-apis-enterprises-stores-v0.git/commits/176f93a">176f93a</a>)</li>
</ul>
