
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">TAXONOMIES<a href="https://grapi.slack.com/" target="_blank">Taxonomies Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/taxonomies/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-seiri-apis-taxonomies')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-seiri-apis-taxonomies" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-seiri-apis-taxonomies</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-seiri-apis-taxonomies/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the management of taxonomies in document a management scope.

Taxonomy is a hierarchical classification of documents grouped into documentary families according to their functionality in the core banking and in the rest of functional areas of the bank.

The documentary taxonomy is a structured list in the form of a tree, organized in a hierarchical way starting from the more general terms / functions to the more specific ones. The objective is to support the documentary need that exists in each of the processes that are executed in the company, since we are dealing with documentary management oriented to processes.
</p>
    <h2>RESOURCES</h2>
    <div id="/taxonomies" class="resource-table">
      <div ng-click="api.hide('/taxonomies')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/taxonomies</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/taxonomies'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for reading taxonomies inside the document management platform.
A Taxonomy is a hierarchical classification of documents grouped into documentary families according to their functionality in the core banking and in the rest of functional areas of the bank.
It takes specific filters by the main fields.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: taxonomiesActiveButton === 'get'}" ng-click="api.showMethod($event, 'taxonomies', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="taxonomies = 'get'; taxonomiesActiveButton = 'get'" ng-show="taxonomies === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/taxonomies'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the list of taxonomies.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">name</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Bussiness Taxonomy name.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>People</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">children</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Id of a taxonomy child, to find the parent of a given child id.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>GL-TX-12233</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bussiness Taxonomy name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier for the taxonomy. This identifier will be generated automatically, using the next pattern XX-TX-YYYYY, where XX is the country code (ie. SP) and YYYYY is a autogenerated number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'A short description for the Taxonomy.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Creation date for the taxonomy. String based on ISO-8601 date format for specifying the taxonomy creation date.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata display-name">specificMetadata</span><span class="type">metadataFieldDefinition [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This list contains the specific metadata of the document or those which an specific rule applies.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field</span><span class="type">metadataField</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the specific field for the taxonomy. If the field is not present in the document entity it is treated as a new field that should be in the specific metadata.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the specific field for a document that belongs to this taxonomy. If the field is not present in the document entity it is treated as a new field that should be in the specific metadata. If it already exists in the entity, it will apply a definition rule over it.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field.type</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The chosen field type for the metadataField.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">STRING: It means that the field type is a string.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">NUMBER: It means that the field type is a number.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BOOLEAN: It means that the field type is a boolean.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_STRING: It means that the field type is an array of strings.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_NUMBER: It means that the field type is an array of numbers.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DATE: It means that the field type is a date.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_DATE: It means that the field type is an array of dates.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.isMandatory</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This field indicates if the specific metadataField is mandatory or not.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="children display-name">children</span><span class="type">string[]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This list contains the ids of every child node of the taxonomy itself. For example, if a giving node, People, has two children (Identity and Economy Activity), this field will contain the two children ids. Maximum depth for taxonomy is 3. The first two levels are defined globally however, each country can define an extra third level for its own purpose.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;name&quot;: &quot;People&quot;,
            &quot;id&quot;: &quot;GL-TX-12345&quot;,
            &quot;description&quot;: &quot;People&quot;,
            &quot;creationDate&quot;: &quot;2016-02-21T19:00:00Z&quot;,
            &quot;specificMetadata&quot;: [
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;TIPO_PERSONA&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;QNU_ID_FISCAL&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;COD_CLIENTE&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;RAZON_SOCIAL&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                }
            ],
            &quot;children&quot;: [
                &quot;GL-TX-12233&quot;,
                &quot;GL-TX-13344&quot;
            ]
        },
        {
            &quot;name&quot;: &quot;Agreement&quot;,
            &quot;id&quot;: &quot;GL-TX-52494&quot;,
            &quot;description&quot;: &quot;Agreement&quot;,
            &quot;creationDate&quot;: &quot;2016-05-21T19:00:00Z&quot;,
            &quot;specificMetadata&quot;: [
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;Amount&quot;,
                        &quot;type&quot;: &quot;NUMBER&quot;
                    },
                    &quot;isMandatory&quot;: true
                }
            ],
            &quot;children&quot;: [
                &quot;GL-TX-52497&quot;,
                &quot;GL-TX-41675&quot;
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;name&quot;: &quot;People&quot;,
            &quot;id&quot;: &quot;GL-TX-12345&quot;,
            &quot;description&quot;: &quot;People&quot;,
            &quot;creationDate&quot;: &quot;2016-02-21T19:00:00Z&quot;,
            &quot;specificMetadata&quot;: [
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;TIPO_PERSONA&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;QNU_ID_FISCAL&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;COD_CLIENTE&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                },
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;RAZON_SOCIAL&quot;,
                        &quot;type&quot;: &quot;STRING&quot;
                    },
                    &quot;isMandatory&quot;: true
                }
            ],
            &quot;children&quot;: [
                &quot;GL-TX-12233&quot;,
                &quot;GL-TX-13344&quot;
            ]
        },
        {
            &quot;name&quot;: &quot;Agreement&quot;,
            &quot;id&quot;: &quot;GL-TX-52494&quot;,
            &quot;description&quot;: &quot;Agreement&quot;,
            &quot;creationDate&quot;: &quot;2016-05-21T19:00:00Z&quot;,
            &quot;specificMetadata&quot;: [
                {
                    &quot;field&quot;: {
                        &quot;name&quot;: &quot;Amount&quot;,
                        &quot;type&quot;: &quot;NUMBER&quot;
                    },
                    &quot;isMandatory&quot;: true
                }
            ],
            &quot;children&quot;: [
                &quot;GL-TX-52497&quot;,
                &quot;GL-TX-41675&quot;
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/taxonomies/{taxonomy-id}" class="resource-table">
      <div ng-click="api.hide('/taxonomies/{taxonomy-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/taxonomies/{taxonomy-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/taxonomies/{taxonomy-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for doing operation over a specific taxonomy giving its id. The user can retrieve, modify and delete a specific taxonomy.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: taxonomiestaxonomyidActiveButton === 'get'}" ng-click="api.showMethod($event, 'taxonomiestaxonomyid', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="taxonomiestaxonomyid = 'get'; taxonomiestaxonomyidActiveButton = 'get'" ng-show="taxonomiestaxonomyid === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/taxonomies/{taxonomy-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the information of a taxonomy giving an id.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">taxonomy-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>The unique identifier for a taxonomy.</p>
                        </td>
                        <td><span>GL-TX-12345</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Bussiness Taxonomy name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique identifier for the taxonomy. This identifier will be generated automatically, using the next pattern XX-TX-YYYYY, where XX is the country code (ie. SP) and YYYYY is a autogenerated number.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'A short description for the Taxonomy.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="creationDate display-name">creationDate</span><span class="type">datetime</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Creation date for the taxonomy. String based on ISO-8601 date format for specifying the taxonomy creation date.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata display-name">specificMetadata</span><span class="type">metadataFieldDefinition [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This list contains the specific metadata of the document or those which an specific rule applies.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field</span><span class="type">metadataField</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the specific field for the taxonomy. If the field is not present in the document entity it is treated as a new field that should be in the specific metadata.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the specific field for a document that belongs to this taxonomy. If the field is not present in the document entity it is treated as a new field that should be in the specific metadata. If it already exists in the entity, it will apply a definition rule over it.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.field.type</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'The chosen field type for the metadataField.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">STRING: It means that the field type is a string.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">NUMBER: It means that the field type is a number.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">BOOLEAN: It means that the field type is a boolean.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_STRING: It means that the field type is an array of strings.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_NUMBER: It means that the field type is an array of numbers.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DATE: It means that the field type is a date.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ARRAY_OF_DATE: It means that the field type is an array of dates.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="specificMetadata.metadataFieldDefinition display-name">specificMetadata.metadataFieldDefinition.isMandatory</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This field indicates if the specific metadataField is mandatory or not.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="children display-name">children</span><span class="type">string[]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'This list contains the ids of every child node of the taxonomy itself. For example, if a giving node, People, has two children (Identity and Economy Activity), this field will contain the two children ids. Maximum depth for taxonomy is 3. The first two levels are defined globally however, each country can define an extra third level for its own purpose.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: {
        &quot;name&quot;: &quot;People&quot;,
        &quot;id&quot;: &quot;GL-TX-12345&quot;,
        &quot;description&quot;: &quot;People&quot;,
        &quot;creationDate&quot;: &quot;2016-02-21T19:00:00Z&quot;,
        &quot;specificMetadata&quot;: [
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;TIPO_PERSONA&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;QNU_ID_FISCAL&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;COD_CLIENTE&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;RAZON_SOCIAL&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            }
        ],
        &quot;children&quot;: [
            &quot;GL-TX-12233&quot;,
            &quot;GL-TX-13344&quot;
        ]
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: {
        &quot;name&quot;: &quot;People&quot;,
        &quot;id&quot;: &quot;GL-TX-12345&quot;,
        &quot;description&quot;: &quot;People&quot;,
        &quot;creationDate&quot;: &quot;2016-02-21T19:00:00Z&quot;,
        &quot;specificMetadata&quot;: [
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;TIPO_PERSONA&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;QNU_ID_FISCAL&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;COD_CLIENTE&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            },
            {
                &quot;field&quot;: {
                    &quot;name&quot;: &quot;RAZON_SOCIAL&quot;,
                    &quot;type&quot;: &quot;STRING&quot;
                },
                &quot;isMandatory&quot;: true
            }
        ],
        &quot;children&quot;: [
            &quot;GL-TX-12233&quot;,
            &quot;GL-TX-13344&quot;
        ]
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>