section.blog {
    md-input-container {
        label {
            i {
                float: left;
                font-size: 23px;
                color: #BEBEBE;
            }
        }
        &.md-input-focused {
            label {
                i {
                    color: #6371C3;
                }
            }
        }
    }
    .posts {
        margin-bottom: -15px;
        h1.year {
            display: inline-block;
            color: #0065b7;
            font-size: 35px;
            margin-right: 20px;
            &.hide {
                display: none;
            }
        }
        h2.month {
            display: inline-block;
            color: #0065b7;
            font-size: 18px;
            position: relative;
            top: -11px;
        }
        h2.day {
            display: inline-block;
            color: #0065b7;
            font-size: 18px;
            position: relative;
            top: -11px;
            margin-left: -4px;
        }
        a.title {
            display: inline-block;
            font-size: 22px;
            padding: 0px;
            margin-left: 30px;
            text-transform: capitalize;
            color: #000000;
            text-decoration: none;
            position: relative;
            top: -6px;
        }
        &.padding {
            margin-left: 98px;
            margin-bottom: 0px;
        }
    }
}
