section.blog
  md-input-container
    label Search
      i.material-icons search
    input(ng-model="search")
  .posts(ng-repeat="post in blog.posts | filter : search" ng-class="{padding: $index > 0}")
    h1.year(ng-class="{hide: $index > 0}") {{post.year}}
    h2.month {{post.month}}/
    h2.day {{post.day}}
    a.title(ng-href="/#/blog/{{post.year}}-{{post.month}}-{{post.day}}-{{post.title}}") {{post.title}}
