.activity-section(layout="row" layout-align="center center")
  .container
    #myCarousel.carousel.slide(data-ride='carousel')
      .carousel-inner(role='listbox')
        #itemdashboard1.item.active
          .title
div
  section.dashboard.how-dashboard-work
    h1.title Dashboards
    h3.sub-title
      | We measure ourselves to evolve
  section.areasDashboard#Articles
    .dashboard-container(layout-sm"column" layout"row")
      .dashboard-section(flex-sm="100" flex="100" data-show='0')
        .containertabsMenu
          ul.tabsMenu#tabsMenu
            li.activo(data-show='0' data-onlyscroll='false' ng-click="dashboard.selectTab('0')")
              h2(style='text-align:center;') Global API Catalog
            li(data-show='1' data-onlyscroll='false' ng-click="dashboard.selectTab('1')")
              h2(style='text-align:center;') Mexico
            li(data-show='2' data-onlyscroll='false' ng-click="dashboard.selectTab('2')")
              h2(style='text-align:center;') Colombia
            li(data-show='3' data-onlyscroll='false' ng-click="dashboard.selectTab('3')")
              h2(style='text-align:center;') Peru
            li(data-show='4' data-onlyscroll='false' ng-click="dashboard.selectTab('4')")
              h2(style='text-align:center;') Chile
            li(data-show='5' data-onlyscroll='false' ng-click="dashboard.selectTab('5')")
              h2(style='text-align:center;') Argentina
            li(data-show='6' data-onlyscroll='false' ng-click="dashboard.selectTab('6')")
              h2(style='text-align:center;') Spain
            li(data-show='7' data-onlyscroll='false' ng-click="dashboard.selectTab('7')")
              h2(style='text-align:center;') USA
            li(data-show='8' data-onlyscroll='false' ng-click="dashboard.selectTab('8')")
              h2(style='text-align:center;') Venezuela
            li(data-show='9' data-onlyscroll='false' ng-click="dashboard.selectTab('9')")
              h2(style='text-align:center;') Uruguay
            li(data-show='10' data-onlyscroll='false' ng-click="dashboard.selectTab('10')")
              h2(style='text-align:center;') Paraguay
            li(data-show='11' data-onlyscroll='false' ng-click="dashboard.selectTab('11')")
              h2(style='text-align:center;') Turkey
    article(data-show='0')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Global API Catalog Dashboards
            h3(style='text-align:center') API Status in November 2017. Data updated on August 2nd.
          div
            div.chartDescription
              h2 How big is the Global API catalog?
              h3 405 services in 42 different APIs  
            div#globalCatalog1
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each country
            div#globalCatalog6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each country
            div#globalCatalog2
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services implemented by country which are being consumed
            div#globalCatalog3
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING REUSED in the Global API Catalog?
              h3 Number of services implemented by country which are being consumed by two or more APPs
            div#globalCatalog4
            div.chartDescription
              h2 How many services designs are BEING REUSED between countries?
              h3 Number of services defined by a country which are being implemented by another country
            div#globalCatalog5
          hr.dashboard-mark(style='display:none')
          div(style='display:none')
            div.chartDescription
              h2 How are the countries contributing?
              h3 Contributions made by countries in the service definition
            div#globalCatalog7          
          hr.contributions-mark
          br
          div
            h2(style='text-align:center') How much the countries have contributed to the API Catalog?
            p(style='text-align:center') 46 pull requests
            div#acumulado
          hr.dashboard-mark
          div(style='text-align:left')
            br
            h2(style='text-align:center') Contributions by people - pull request accepted
            br
            div.contributions-container(layout="row" layout-sm="column" style='flex-wrap: wrap')
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Milton Mogollón 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') PERU 
                  p(style='text-align:left') 15 pull requests
                  div#persona1
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Edgar Fuentes Desales
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') MEXICO
                  p(style='text-align:left') 10 pull requests
                  div#persona2
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Gorka Siverio 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') MEXICO
                  p(style='text-align:left') 7 pull requests
                  div#persona3
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Milton Chapilliquen 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') PERU
                  p(style='text-align:left') 3 pull requests
                  div#persona4  
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Noelia Martín
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') SPAIN
                  p(style='text-align:left') 2 pull requests
                  div#persona5
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Candi Cole 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') USA
                  p(style='text-align:left') 2 pull requests
                  div#persona10
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Jorge García 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') MEXICO
                  p(style='text-align:left') 1 pull requests
                  div#persona6
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Eduardo Ramos Ibañez 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') SPAIN
                  p(style='text-align:left') 1 pull requests
                  div#persona7
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Alexis Tamayo 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') PERU
                  p(style='text-align:left') 1 pull requests
                  div#persona8
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Bryan Gherard 
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') COLOMBIA
                  p(style='text-align:left') 1 pull requests
                  div#persona9              
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Yaruby Marcano
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') VENEZUELA
                  p(style='text-align:left') 1 pull requests
                  div#persona11
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Roberto Hernandez
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') CHILE
                  p(style='text-align:left') 1 pull requests
                  div#persona12
              div.contributions-section.chart(flex="50" flex-sm="50")
                div(style='margin-bottom:20px')
                  h3 Giancarlo Argote
                  h3(style='float:right; margin-top:-42px; margin-right: 100px;') PERU
                  p(style='text-align:left') 1 pull requests
                  div#persona13            
                  
    article(data-show='1' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Mexico API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#mexico5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#mexico1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#mexico8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#mexico9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#mexico6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#mexico2
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div#mexico3
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div#mexico7
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#mexico10
          hr.dashboard-mark  
          div
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div#mexico4
          hr.dashboard-mark
          div
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in millions
            div#mexicoConsumptions2
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#mexicoConsumptions1
          
    article(data-show='2' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Colombia API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#colombia5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div#colombia1
            
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div#colombia8
            
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div#colombia9
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#colombia6
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#colombia2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div(style='display:none')#colombia3
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div(style='display:none')#colombia7
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#colombia10
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div#colombia4
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in thousands
            div#colombiaConsumptions2
            hr.dashboard-mark  
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#colombiaConsumptions1
            
            
    article(data-show='3' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Peru API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#peru5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#peru1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#peru8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#peru9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#peru6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#peru2
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div#peru3
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div#peru7
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#peru10
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div#peru4
          hr.dashboard-mark
          div
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in millions
            div#peruConsumptions2
            hr.dashboard-mark  
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#peruConsumptions1          
               
    article(data-show='4' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Chile API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#chile5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#chile1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#chile8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#chile9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#chile6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#chile2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div#chile3
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div#chile7      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#chile10
          hr.dashboard-mark  
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div#chile4    
          hr.dashboard-mark
          div
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in millions
            div#chileConsumptions2 
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#chileConsumptions1         
    article(data-show='5' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Argentina API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Services in each API
            div(style='display:none')#argentina5
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Services in each API
            div(style='display:none')#argentina1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Services in each API
            div(style='display:none')#argentina8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Services in each API
            div(style='display:none')#argentina9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION?
              h3 Services under different development stage
            div#argentina6
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED?   
              h3 Services ready to be consumed 
            div#argentina2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED?
              h3 Services being consumed by the three models of API exposition
            div#argentina3
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED?
              h3 Number of services implemented which are being consumed by more than a project
            div#argentina7
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many local services are UNDER CONSTRUCTION?
              h3 Services in each API
            div#argentina10
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Services in each API
            div#argentina4
    article(data-show='6' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Spain API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#spain5
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#spain1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#spain8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#spain9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#spain6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?  
              h3 Number of services distributed by our three platforms
            div#spain2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div#spain3
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div#spain7
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#spain10
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div#spain4
          hr.dashboard-mark 
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in Open Platform?
              h3 Number of services in each API
            div#spain11
          hr.dashboard-mark 
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in Open Platform?
              h3 Number of services in each API
            div#spain12
          hr.dashboard-mark              
          div
            div.chartDescription
              h2 Top 10 consumed Open Platform services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in thousands
            div#spainOPConsumptions2 
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 Open Platform APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in thousands
            div#spainOPConsumptions1
          hr.dashboard-mark              
          div
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in millions
            div#spainConsumptions2 
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#spainConsumptions1
        
    article(data-show='7' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong USA API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#usa5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#usa1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#usa8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#usa9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION between platforms?
              h3 Number of services distributed by our three platforms
            div#usa6
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many local services are IMPLEMENTED between platforms?
              h3 Number of services distributed by our three platforms
            div#usa2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are BEING CONSUMED between platforms?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div(style='display:none')#usa3
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are BEING REUSED between platforms?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div(style='display:none')#usa7
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div(style='display:none')#usa10
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div(style='display:none')#usa4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
           
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are BEING REUSED?
              h3 Number of services in each API
            div(style='display:none')#usa4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;') 
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in Open Platform?
              h3 Number of services in each API
            div#usa13 
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in Open Platform?
              h3 Number of services in each API
            div#usa14 
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are CONSUMED in Open Platform?
              h3 Number of services in each API
            div(style='display:none')
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;') 
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are REUSED in Open Platform?
              h3 Number of services in each API
            div(style='display:none')
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Services distributed API represented in thousands
            div#usaConsumptions2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#usaConsumptions1
          hr.dashboard-mark
          
    article(data-show='8' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Venezuela API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div#venezuela5
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#venezuela1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#venezuela8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#venezuela9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#venezuela6
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div(style='display:none')#venezuela2
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div#venezuela3
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div#venezuela7
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div#venezuela10
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div(style='display:none')#venezuela4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3(style='display:none') Most consumed services. For each service we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#venezuelaConsumptions2
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')     
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3(style='display:none') APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#venezuelaConsumptions1
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')     
    article(data-show='9' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Uruguay API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#uruguay5
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#uruguay1
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#uruguay8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#uruguay9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div(style='display:none')#uruguay6
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div(style='display:none')#uruguay2
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div(style='display:none')#uruguay3
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div(style='display:none')#uruguay7
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div(style='display:none')#uruguay10          
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div(style='display:none')#uruguay4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')      
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3(style='display:none') Most consumed services. For each service we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#uruguayConsumptions2
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')     
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3(style='display:none') APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#uruguayConsumptions1
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')     
    article(data-show='10' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Paraguay API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#paraguay5
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#paraguay1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#paraguay8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#paraguay9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div(style='display:none')#paraguay6
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#paraguay2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div(style='display:none')#paraguay3
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div(style='display:none')#paraguay7
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div(style='display:none')#paraguay10          
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div(style='display:none')#paraguay4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3 Most consumed services. For each service we provide the number of consumptions
              h3 Data represented in thousands
            div#paraguayConsumptions2
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3 APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3 Data represented in millions
            div#paraguayConsumptions1
    article(data-show='11' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Turkey API Dashboards
            h3(style='text-align:center') API Status in March 2017. Data updated on April 2nd.
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#turkey5
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#turkey1
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#turkey8
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How  many services are BEING REUSED in the Global API Catalog?
              h3 Number of services in each API
            div(style='display:none')#turkey9
            img(src='/assets/images/cantidad_00.png' style='max-width:600px; max-height:400px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are UNDER CONSTRUCTION by platform?
              h3 Number of services distributed by our three platforms
            div#turkey6
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are IMPLEMENTED by platform?
              h3 Number of services distributed by our three platforms
            div#turkey2
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING CONSUMED by platform?
              h3 Number of services implemented which are being consumed
              h3 This information is provided for our three platforms
            div(style='display:none')#turkey3
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many services are BEING REUSED by platform?
              h3 Number of services implemented which are being consumed by two or more APPs
              h3 This information is provided for our three platforms
            div(style='display:none')#turkey7
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are UNDER CONSTRUCTION?
              h3 Number of services in each API
            div(style='display:none')#turkey10 
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')         
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 How many local services are IMPLEMENTED?
              h3 Number of services in each API
            div(style='display:none')#turkey4
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')
          hr.dashboard-mark
          div(style='text-align:left;')
            div.chartDescription
              h2 Top 10 consumed local services
              h3(style='display:none') Most consumed services. For each service we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#turkeyConsumptions2
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')     
            hr.dashboard-mark
            div.chartDescription
              h2 Top 10 local APPs
              h3(style='display:none') APPs that consume the largest number of services. For each APP we provide the number of consumptions
              h3(style='display:none') Data represented in millions
            div(style='display:none')#turkeyConsumptions1
            img(src='/assets/images/nodata.jpg' style='max-width:600px; text-align:left;')          
