.activity-section(layout="row" layout-align="center center")
  .container
    #myCarousel.carousel.slide(data-ride='carousel')
      .carousel-inner(role='listbox')
        #itemTeam1.item.active
          .title
            h2 How is The PaaS Team organized?
div
  section.team.how-paas-work
    h1.title How BBVA PaaS works
    h3.sub-title
      | Find out the PaaS organization and how we collaborate. Here you can see the people who works to create the BBVA PaaS through our differents areas and all the countries where we are.
  section.areas#Articles
    .team-container(layout-sm"column" layout"row")
      .team-section(flex-sm="100" flex="100" data-show='0')
        .containertabsMenu
          ul.tabsMenu#tabsMenu
            li.activo(data-show='0' data-onlyscroll='false' ng-click="team.selectTab('0')")
              h2 Global API Catalog
            li(data-show='1' data-onlyscroll='false' ng-click="team.selectTab('1')")
              h2 Global Events Catalog
            li(data-show='2' data-onlyscroll='false' ng-click="team.selectTab('2')")
              h2 APX
            li(data-show='3' data-onlyscroll='false' ng-click="team.selectTab('3')")
              h2 PaaS Cloud Platform
            li(data-show='4' data-onlyscroll='false' ng-click="team.selectTab('4')")
              h2 ASO
            li(data-show='5' data-onlyscroll='false' ng-click="team.selectTab('5')")
              h2 Governance
    article(data-show='0')
     .team-section(flex-sm="100" flex="100" data-show='0')
       p.areas-title
         strong Global API Catalog
       p.areas-description
         | Design, Development and Governance  of a homogeneous API  among countries that meet the functional requirements requested by the business team.
         | Some members of Holding team are supports from different countries for helping to reach a global common achievement, click on them to see it.       
       br
      h3 Holding
     .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
       .team-section(flex-sm="25" flex="25" data-show='0')
        div  
          .chief
            .photo
             .frame
                img(src='/assets/images/300x360_ana_buigues.jpg', alt='Ana Buigues Photo')
          p.name Ana Buigues Grimalt
          p.email(title="anavanesa.buigues.grimalt@bbva.com") anavanesa.buigues.grimalt@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div#alejandro
          .members
            .photo
              .frame
                img(src='/assets/images/alejandro_araguacaima.jpg')
                div.frame
                  h3 Support of Colombia
          img.info-25(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name Alejandro Mendez Araguacaima
          p.email(title="alejandromanuel.mendez.aragua@bbva.com") alejandromanuel.mendez.aragua@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/jorge_manzano.jpg')
          p.name Jorge Manzano 
          p.email(title="jorge.manzano.ropero@bbva.com") jorge.manzano.ropero@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/manuel_jesus.jpg')
          p.name Manuel Jesús García Zafra
          p.email(title="manueljesus.garcia@bbva.com") manueljesus.garcia@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div#santiago
          .members
            .photo
              .frame
                img(ng-click="team.flipTab($event)" src='/assets/images/hombre.jpg')
                div.frame2(ng-click="team.flipTab($event)")
                  h3 Support of Peru
          img.info-25(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')    
          p.name Santiago Juarez Castillo
          p.email(title="santiago.juarez.contractor@bbva.com") santiago.juarez.contractor@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div#luis
          .members
            .photo
              .frame
                img(src='/assets/images/luis_alberto.jpg')
                div.frame              
                  h3 Support of Mexico
          img.info-25(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')              
          p.name Luis Domínguez Ruiz
          p.email(title="luisalberto.dominguez.ruiz.contractor@bbva.com") luisalberto.dominguez.ruiz.contractor@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div#maria
          .members
            .photo
              .frame
                img(src='/assets/images/maria_angeles.JPG')
                div.frame
                  h3 Support of Venezuela
          img.info-25(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name María de los Ángeles Chacón Salcedo
          p.email(title="mariadelosangeles.chacon.contractor@bbva.com") mariadelosangeles.chacon.contractor@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/jose_alberto.jpg')
          p.name Jose Alberto Galan Osorio
          p.email(title="josealberto.galan.contractor@bbva.com") josealberto.galan.contractor@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/alberto_sanchez_serrano.jpg')
          p.name Alberto Sánchez Serrano
          p.email(title="alberto.sanchez.serrano.contractor@bbva.com") alberto.sanchez.serrano.contractor@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/carlos_rioboo.jpg')
          p.name Carlos Rioboo Crespo
          p.email(title="carlos.rioboo@bbva.com") carlos.rioboo@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/javier_gomez.jpg')
          p.name Javier Gómez López
          p.email(title="javier.glopez@bbva.com") javier.glopez@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/mario_javier.jpg')
          p.name Mario Javier Cuellar Yeneris
          p.email(title="mariojavier.cuellar@bbva.com") mariojavier.cuellar@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
        div
          .members
            .photo
              .frame
                img(src='/assets/images/nestor_eli.jpg')
          p.name Nestor Eli Velazquez Macin
          p.email(title="nestoreli.velazquez.contractor@bbva.com") nestoreli.velazquez.contractor@bbva.com
     hr.mark  
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Argentina  
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')
       .team-section(flex-sm="100" flex="100" data-show='0')
        div   
          .chief
            .photo
              .frame
                img(src='/assets/images/hombre.jpg')
          p.name Gustavo Dominico Rekuc
          p.email(title="gdominico@bbva.com") gdominico@bbva.com         
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')   
        h3 Chile
      .team-container.people(layout-sm="column" layout="row")
       .team-section(flex-sm="100" flex="100" data-show='0')
        div 
          .chief
           .photo
              .frame
                img(src='/assets/images/100x120_leonel_rodriguez.jpg', alt='Leonel Rodriguez Photo')
          p.name Leonel Alejandro Ramirez Inzunza
          p.email(title="lramirez@bbva.com") lramirez@bbva.com
     hr.mark 
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Colombia   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;') 
       .team-section(flex-sm="25" flex="25" data-show='0')
        div#oscar
          .chief  
            .photo
              .frame
                  img(src='/assets/images/1OscarPaaS_fb.jpg', alt='Oscar Fabian Photo')
                  div.frame
                    h3 Supported by Alejandro Araguacaima
          img.info-25(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name Oscar Fabian Velasquez Jaime
          p.email(title="oscar.velasquez@bbva.com") oscar.velasquez@bbva.com 
       .team-section(flex-sm="25" flex="25" data-show='0')
         div
          .members
            .photo
              .frame
                img(src='/assets/images/2BryanPaaS_fb.jpg', alt='Bryan Gherard Photo')
          p.name Bryan Gherard Avila Quintero
          p.email(title="bryangherard.avila@bbva.com") bryangherard.avila@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
         div
          .members
            .photo
              .frame
                img(src='/assets/images/3LuisPaaS_fb.jpg', alt='Luis Photo')
          p.name Luis Alberto Espindola Buitrago
          p.email(title="luis.espindola@bbva.com") luis.espindola@bbva.com
       .team-section(flex-sm="25" flex="25" data-show='0')
         div 
          .members
            .photo
              .frame
                img(src='/assets/images/4ElkinPaaS_fb.jpg', alt='Elkin Fidel Photo')
          p.name Elkin Fidel Ariza Gaitan
          p.email(title="elkin.ariza@bbva.com") elkin.ariza@bbva.com  
     hr.mark        
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Mexico   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;') 
       .team-section(flex-sm="100" flex="100" data-show='0')
        div#Diana
          .chief
            .photo
              .frame
                img(src='/assets/images/100x120_diana_lilia.jpg', alt='Diana Lilia Photo')
                div.frame
                  h3 Supported by Luis Dominguez 
          img.info-100(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name Diana Ana Lilia Rangel
          p.email(title="d.garcia8@bbva.com") d.garcia8@bbva.com   
     hr.mark 
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Spain   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')
       .team-section(flex-sm="100" flex="100" data-show='0')
        div
          .chief
           .photo
              .frame
                img(src='/assets/images/mariano.jpg', alt='Mariano de la Escalera Photo')
          p.name Mariano Antonio De La Escalera Grima
          p.email(title="mariano.escalera@bbva.com") mariano.escalera@bbva.com
     hr.mark  
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Paraguay   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;') 
       .team-section(flex-sm="100" flex="100" data-show='0') 
        div
          .chief
           .photo
              .frame
                img(src='/assets/images/uriel_gonzalez.jpg', alt='Uriel Gonzalez Photo')
          p.name Uriel Ivar Gonzalez Benitez
          p.email(title="urielivar.gonzalez.contractor@bbva.com") urielivar.gonzalez.contractor@bbva.com
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Peru   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')
       .team-section(flex-sm="100" flex="100" data-show='0')
        div#luisenrique
          .chief
            .photo
              .frame
                img(src='/assets/images/hombre.jpg')
                div.frame
                  h3 Supported by Santiago Juarez
          img.info-100(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name Luis Enrique Chalco Maldonado
          p.email(title="luis.chalco@bbva.com") luis.chalco@bbva.com
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Turkey   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;') 
       .team-section(flex-sm="100" flex="100" data-show='0')
        div
          .chief
            .photo
              .frame
                img(src='/assets/images/hombre.jpg')
          p.name Murat Ure
          p.email(title="muratur@garanti.com.tr") muratur@garanti.com.tr
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 USA   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')  
       .team-section(flex-sm="100" flex="100" data-show='0') 
        div
          .chief
            .photo
              .frame
                img(src='/assets/images/Diego_blanco.jpg', alt='Diego Blanco Photo')
          p.name Diego Blanco Moreno
          p.email(title="diego.blanco@bbva.com") diego.blanco@bbva.com
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Uruguay   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')
       .team-section(flex-sm="100" flex="100" data-show='0')
        div
          .chief
            .photo
              .frame
                img(src='/assets/images/hombre.jpg')
          p.name Adrian Arturo Bravo Rivera
          p.email(title="abravo@bbva.com") abravo@bbva.com
     hr.mark
     .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Venezuela   
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;')
       .team-section(flex-sm="100" flex="100" data-show='0')
        div#kareni
          .chief
            .photo
              .frame
                img(src='/assets/images/Karen.jpg', alt='Karen Iveth Photo')
                div.frame
                  h3 Supported by Mº Angeles Chacon
          img.info-100(ng-click="team.flipTab($event)" src='/assets/icons/icn_info.png')
          p.name Karen Iveth Pérez Ortuño
          p.email(title="kareni.perez@bbva.com") kareni.perez@bbva.com

    article(data-show='1' style='display:none;')
       .team-section(flex-sm="100" flex="100" data-show='0')
         p.areas-title 
           strong Global Events Catalog
         p.areas-description
           | Definition and governance of functional events
           | By analyzing the events generated when our customers interact with our business, we can make decisions that help BBVA  have a greater knowledge of their needs.
        h3 Holding
       .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/francisco.jpg', alt='Francisco Jiménez Photo')
            p.name Francisco José Jiménez Martínez
            p.email(title="fj.jimenez.martinez@bbva.com") fj.jimenez.martinez@bbva.com 
       hr.mark  
       .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Argentina 
       .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Esteban Ariel Risso
            p.email(title="estebanariel.risso@bbva.com") estebanariel.risso@bbva.com
       hr.mark  
       .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Spain 
       .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/mariano.jpg', alt='Mariano de la Escalera Photo')
            p.name Mariano Antonio De La Escalera Grima
            p.email(title="mariano.escalera@bbva.com") mariano.escalera@bbva.com
    
    article(data-show='2' style='display:none;')
      .team-section(flex-sm="100" flex="100" data-show='0')
        p.areas-title
          strong APX
        p.areas-description
          | Development and Governance  of the services being implemented with an APX Platform. APX Backend services and APX transactions are based on the API Catalog interface.
       h3 Holding
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="25" flex="25")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/marta.jpg', alt='Marta Sanz Photo')
            p.name Marta Sanz Arronte
            p.email(title="marta.sanza@bbva.com") marta.sanza@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/alfonso_fdez_apx.jpg' width="100%")
            p.name Alfonso Fernandez Dominguez
            p.email(title="alfonso.fdez@bbva.com") alfonso.fdez@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/josema_godoy_apx.jpg' width="95%")
            p.name Jose Manuel Godoy Conde
            p.email(title="josemanuel.godoy@bbva.com") josemanuel.godoy@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/mujer.jpg')
            p.name Liliana Vega Leandro
            p.email(title="liliana.vega@bbva.com") liliana.vega@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/mujer.jpg')
            p.name Maria Zazo Torrubias
            p.email(title="maria.zazo@bbva.com") maria.zazo@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Angel Barrera Sanchez
            p.email(title="angel.barrera@bbva.com") angel.barrera@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/jantonio_apx.jpg' width="95%")
            p.name Jose Antonio Gonzalez Blanco
            p.email(title="joseantonio.gonzalez.blanco@bbva.com") joseantonio.gonzalez.blanco@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Julio Martinez Llamas
            p.email(title="julio.martinez@bbva.com") julio.martinez@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Sergio Redondo Gandara
            p.email(title="sergio.redondo.gandara@bbva.com") sergio.redondo.gandara@bbva.com 
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Luis Gonzalez Abundes
            p.email(title="luis.gonzalez.abundes@bbva.com") luis.gonzalez.abundes@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Francisco Javier Lopez Marquez
            p.email(title="franciscojavier.lopez.marquez.contractor@bbva.com") franciscojavier.lopez.marquez.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Adrian Iborra Carreres
            p.email(title="adrian.iborra.contractor@bbva.com") adrian.iborra.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Fernando Gonzalez Lopez-Enriquez
            p.email(title="fernando.gonzalez.lopez-enriq.contractor@bbva.com") fernando.gonzalez.lopez-enriq.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Jose Antonio Navarro de la Torre
            p.email(title="joseantonio.navarro.delatorre.contractor@bbva.com") joseantonio.navarro.delatorre.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Ruben Gutierrez Fernandez
            p.email(title="r.gutierrez.fernande.contractor@bbva.com") r.gutierrez.fernande.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Alberto Hernandez Gonzalez
            p.email(title="alberto.hernandez.gonzalez.contractor@bbva.com") alberto.hernandez.gonzalez.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Jesus Reviriego Vicente
            p.email(title="j.reviriego.vicente.contractor@bbva.com") j.reviriego.vicente.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Carlos Gonzalez Gomez
            p.email(title="carlos.gonzalez.gomez.contractor@bbva.com") carlos.gonzalez.gomez.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Hugo Romero Otero
            p.email(title="hugo.romero.contractor@bbva.com") hugo.romero.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Omar Santiago Clemente
            p.email(title="omar.santiago.contractor@bbva.com") omar.santiago.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/mujer.jpg')
            p.name Madelaine Martin Pazo
            p.email(title="madelaine.martin.contractor@bbva.com") madelaine.martin.contractor@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Argentina 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                    img(src='/assets/images/hombre.jpg')
            p.name Gustavo Dominico Rekuc
            p.email(title="gdominico@bbva.com") gdominico@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Mexico 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/oswin.jpeg', alt='Oswin Alfredo Photo')
            p.name Oswin Alfredo Corona
            p.email(title="oa.corona@bbva.com") oa.corona@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Spain 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/mariano.jpg', alt='Mariano de la Escalera Photo')
            p.name Mariano Antonio De La Escalera Grima
            p.email(title="mariano.escalera@bbva.com") mariano.escalera@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Peru 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Christian Ródriguez Lazo
            p.email(title="christian.rodriguez@bbva.com") christian.rodriguez@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Venezuela 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/Karen.jpg', alt='Karen Iveth Photo')
            p.name Karen Iveth Pérez Ortuño
            p.email(title="kareni.perez@bbva.com") kareni.perez@bbva.com

    article(data-show='3' style='display:none;')
      .team-section(flex-sm="100" flex="100" data-show='0')
        p.areas-title 
          strong PaaS Cloud Platform
        p.areas-description
          | Installation, performance management & tunning,  monitoring, configuration, problem solving related to  our cloud platforms and paas architecture.
       h3 Holding
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="25" flex="25")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Héctor Javier Hurtado Ruesga    
            p.email(title="hector.hurtado@bbva.com") hector.hurtado@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Roberto Alcalde    
            p.email(title="roberto.alcalde.acosta@bbva.com") roberto.alcalde.acosta@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/jonathan_negrin.jpg')
            p.name Jonathan Negrin    
            p.email(title="jonathan.negrin@bbva.com") jonathan.negrin@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Pablo Valiente    
            p.email(title="pa.valiente@bbva.com") pa.valiente@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/pablo_taboas.jpg')
            p.name Pablo Taboas    
            p.email(title="pablo.taboas@bbva.com") pablo.taboas@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Francisco Cuesta    
            p.email(title="francisco.cuesta.urbano.contractor@bbva.com") francisco.cuesta.urbano.contractor@bbva.com
        .team-section(flex-sm="25" flex="25")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Luis Majadas    
            p.email(title="luis.majadas.contractor@bbva.com") luis.majadas.contractor@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Argentina 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="50")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Gustavo Dominico Rekuc
            p.email(title="gdominico@bbva.com") gdominico@bbva.com
        .team-section(flex-sm="100" flex="50")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/carlos.jpg')
            p.name Carlos Patrignani
            p.email(title="cpatrignani@bbva.com") cpatrignani@bbva.com
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Peru 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div 
            .chief
              .photo
                .frame
                  img(src='/assets/images/victor.jpg', alt='Víctor Espíritu Photo')
            p.name Víctor Espíritu Santiago
            p.email(title="victor.espiritu@bbva.com") victor.espiritu@bbva.com    
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 Turkey 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="50")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Ceyhan Demir
            p.email(title="ceyhand@garanti.com.tr") ceyhand@garanti.com.tr
        .team-section(flex-sm="100" flex="50")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Onur Aydin   
            p.email onurayd@garanti.com.tr     
      hr.mark  
      .team-section(flex-sm="100" flex="100" data-show='0')
        h3 USA 
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="50")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/hombre.jpg')
            p.name Michael Dykes
            p.email(title="michael.dykes@bbva.com") michael.dykes@bbva.com      
        .team-section(flex-sm="100" flex="50")
          div
            .members
              .photo
                .frame
                  img(src='/assets/images/kumar.jpg')
            p.name Kumar Sesha
            p.email(title="kumar.sesha.contractor@bbva.com") kumar.sesha.contractor@bbva.com
          
    article(data-show='4' style='display:none;')
      .team-section(flex-sm="100" flex="100" data-show='0')
        p.areas-title 
          strong ASO 
        p.areas-description
          | Provide the maintenance of evolutionary of services arquitecture.
       h3 Holding
      .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
        .team-section(flex-sm="100" flex="100")
          div
            .chief
              .photo
                .frame
                  img(src='/assets/images/david_lopez.jpg', alt='David Lopez Photo')
            p.name David López
            p.email(title="d.lopez@bbva.com") d.lopez@bbva.com
          
    article(data-show='5' style='display:none;')
      .team-section(flex-sm="100" flex="100" data-show='0')
        p.areas-title 
          strong Governance
        p.areas-description
          | Responsible of keeping the Paas Community in order to facilitate the collaboration  among all the members in the countries of the group.
          | Establishment of procedures that help us govern the assets managed in Paas.
          br
         h3 Holding
        .team-container.people(layout-sm="column" layout="row" style='flex-wrap: wrap;' flex-sm="100" flex="100")
          .team-section(flex-sm="25" flex="25" data-show='0')
           div  
             .chief
               .photo
                .frame
                   img(src='/assets/images/olga.jpg', alt='Olga Bravo Albarran')
             p.name Olga Bravo Albarran
             p.email(title="olga.bravo@bbva.com") olga.bravo@bbva.com
           
          .team-section(flex-sm="25" flex="25" data-show='0')
           div
           .members
             .photo
              .frame
                 img(src='/assets/images/jorge.jpg', alt='Jorge Fernandez')
            p.name Jorge Fernandez Romero
            p.email(title="jorge.fernandez@bbva.com") jorge.fernandez@bbva.com
             
          .team-section(flex-sm="25" flex="25" data-show='0')
            div
              .members
                .photo
                 .frame
                    img(src='/assets/images/mujer.jpg', alt='Andrea Garcia')
              p.name Andrea Garcia Arranz
              p.email(title="andrea.garcia.arranz@bbva.com") andrea.garcia.arranz@bbva.com
             
          .team-section(flex-sm="25" flex="25" data-show='0')
            div
              .members
                .photo
                  .frame
                     img(src='/assets/images/hombre.jpg', alt='Victor Ramos')
              p.name Victor Ramos Muñoz
              p.email(title="victor.ramos.munoz.contractor@bbva.com") victor.ramos.munoz.contractor@bbva.com
