#itemTeam1 {
    height: 450px;
    background: url('/assets/images/fondoTeam.jpg') 50% 70% no-repeat;
    background-size: cover;
}

#itemTeam1 .title {
    margin-left: 12%;
    margin-top: 6%;
    float: left;
    width: 500px;
    height: 335px;
    background-color: #fff;
    padding: 0;
    background-image: url('/assets/images/PaaS_organization_2.png');
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

.mark{
  border: 0; height: 2px; text-align: center; background-image: linear-gradient(left, #fff, #2E64FE, #fff);
}

.team {
  padding: 64px 100px;
  .title {
    text-align: center;
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    font-size: 46px;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
  }
  .sub-title {
    text-align: center;
    color: #616161;
    font-size: 16px;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
  }
  background-color: #094fa4;
  margin-top: 45px;
}
  .team .title {
    color: #FFFFFF !important;
    font-family: Roboto Slab;
  }
  .team .sub-title {
    color: #FFFFFF !important;
    font-family: Roboto Slab;
    font-weight: lighter;
    max-width: 800px;
  }
  .team-container {
    a {
       font-weight: bold;
       color: #0065B7;
    }
    .team-section {
      text-align: center;
      padding: 0px 30px 0px 30px;
      margin-bottom: 30px;
      ol {
        text-align: initial;
        li {
          font-weight: bold;
          font-family: Roboto Slab;
          span {
            font-weight: normal;
            font-family: Roboto Slab;
            margin-left: 10px;
          }
        }
      }
      h2 {
        color: #16366F;
      }
      i {
        color: #16366F;
        font-size: 71px;
        width: auto;
      }
    }
  }
.how-paas-work {
  min-height: 180px;
}

.areas {
  padding: 32px 100px;
}
  .gridcontainer {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
    .grid-row {
      margin-left: -10px;
      margin-right: -10px;
      display: block;
    }
      .gridcontainer [class*=grid-col-lg] {
        position: relative;
        float: left;
        display: block;
      }
        .areas .tabsMenu {
          display: table;
          width: 100%;
          border-spacing: 0;
          font-size: 1em;
          border: 1px solid #c8c7c4;
          margin-top: -114px;
          position: relative;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 0px;
        }
          .areas .tabsMenu li.activo, .areas .tabsMenu li.activo:hover {
            background-color: #fff;
          }
          .areas .tabsMenu li.activo, .areas .tabsMenu li.activo:focus {
            width:0px;height:0px;outline:0px;
          }
            .areas .tabsMenu li:first-child {
                border-left: none;
            }
            .areas .tabsMenu li {
                font-size: 1em;
                display: table-cell;
                min-width: 162px;
                text-align: center;
                color: #363636;
                cursor: pointer;
                border-left: 1px solid #c8c7c4;
                background-color: #e1e0de;
                border-collapse: collapse;
                height: 70px;
                vertical-align: middle;
                position: relative;
                padding-top: 10px;
                overflow: visible;
            }
              .areas .tabsMenu li h2 {
                font-size: 20px;
                font-family: Roboto Slab;
              }

.areas-title {
  font-family: Roboto Slab;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #006ec1;
  margin: 60px 0 40px;
}

.areas-description {
  font-family: Roboto Slab;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #363636;
  margin: 0;
}

.info-25{
  margin-right: 30px;
  float: right;
  margin-top: -25px;
}
.info-100{
  margin-right: 42%;
  float: right;
  margin-top: -25px;
}
.people {
  margin: 32px;
}
//  .people .flex-25 {
//    position: relative;
//    border-radius: 3px;
//    background-color: #fff;
//    box-shadow: 0 0 5px 0 rgba(0,0,0,.23);
//    overflow: hidden;
//    padding: 16px;
//  }
  .people .holding {
    background-color: #009ae2;
  }
  .people .holding h2 {
    color: #ffffff;
  }
  .people h2 {
    margin-top: 0;
    text-align: center;
  }
  .people p {
    margin-top: 0;
    text-align: center;
  }
  .people .name{
    text-align: center;
    font-size: 1.4em;
    margin-top: auto;
    margin-bottom: 0;
    height: 50px;
  }
    .people .photo .frame {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 150px;
      height: 150px;
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0,0,0,.23);
      overflow: hidden;
      text-align: center;
      float: inherit;
      vertical-align: middle;
      margin: 0 auto;
    }
    .people .photo .frame2 {

      width: 125px;
      height: 150px;
      background-color: #fff;
      overflow: hidden;
      text-align: center;
      float: inherit;
      vertical-align: middle;
      margin: 0 auto;
    }
    .people .chief {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 7px solid #0099FF;
      width: 150px;
      height: 150px;
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0,0,0,.23);
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
    }
    .people .members {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 7px solid #FFFFFF;
      border-color: transparent;
      width: 150px;
      height: 150px;
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0,0,0,.23);
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
    }
      .people .photo .frame img {
        max-width: 100%;
        height: 165px;
        margin-bottom: -4px;
      }
  .people .email {
    font-family: Roboto Slab;
    font-size: 1em;
    margin-top: 2px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
    .people .holding .email {
      color: #ffffff;
    }

.country {
  text-align: center;
}

#argentina, #chile, #colombia, #mexico, #spain, #paraguay, #peru, #turkey, #usa, #uruguay, #venezuela {
  background-size: 25%;
  background-position: right top;
  background-repeat: no-repeat;
}

#argentina {
  background-image: url('/assets/images/Argentina.jpg');
}

#chile {
  background-image: url('/assets/images/Chile.jpg');
}

#colombia {
  background-image: url('/assets/images/Colombia.jpg');
}

#mexico {
  background-image: url('/assets/images/Mexico.jpg');
}

#spain {
  background-image: url('/assets/images/Spain.jpg');
}

#paraguay {
  background-image: url('/assets/images/Paraguay.jpg');
}

#peru {
  background-image: url('/assets/images/Peru.jpg');
}

#turkey {
  background-image: url('/assets/images/Turkey.jpg');
}

#usa {
  background-image: url('/assets/images/USA.jpg');
}

#uruguay {
  background-image: url('/assets/images/Uruguay.jpg');
}

#venezuela {
  background-image: url('/assets/images/Venezuela.jpg');
}

.country span {
  font-size: 32px;
}

.holding .country {
  color: #FFF;
}
