section.support
  p.slack <a href="">#support <img src="/assets/images/slack.png" height="16"/></a>
  h1.title Support
  h3.sub-title Our mission is your success
  div.support-container(layout="row" layout-sm="column")
    div.support-section(flex="50" flex-sm="100")
      i.material-icons people
      h2 Who we are ?
      p The PaaS team is a multi-country group of architects at BBVA focused on define and mantain the API specification. You can reach us asking for support (preferred option) or writing an e-mail to <a target="_blank" href="mailto:gabi@bbva.com">gabi@bbva.com</a>.
    div.support-section(flex="50" flex-sm="100")
      i.material-icons room_service
      h2 Ask for support
      p First at all, check the following FAQ section. If you have an API domain specific question, please contact us to open an issue at the domain's repository (see API Catalog).
  div.support-container(layout="row" layout-sm="column")
    div.support-section.align-left(flex="100" flex-sm="100")
      div.icon-container
        i.material-icons question_answer
        h2 Frequently answered questions
      ul.list
        li
          a(ng-click="support.scrollTo('faq-1')") How to propose a new feature or suggest a change?
        li
          a(ng-click="support.scrollTo('faq-2')") Do I need specific knowledge?
        li
          a(ng-click="support.scrollTo('faq-3')") Do I need specific software?
        li
          a(ng-click="support.scrollTo('faq-4')") What about versioning?
        li
          a(ng-click="support.scrollTo('faq-5')") What about domain's repository branching?
        li
          a(ng-click="support.scrollTo('faq-6')") Which are the design principles? Are there a API Design guide?
        li
          a(ng-click="support.scrollTo('faq-7')") How is defined the whole issue lifecycle?

      h3(id='faq-1') How to propose a new feature or suggest a change?
      p We embrace the open source best practices, so the process will sound familiar for most of developers:
      ol
        li 
          span First at all: check if some other one had opened a similar issue searching at issue section in the domain's repository (see API Catalog)
        li 
          span Fork the domain's repository on your account and make the changes to the RAML files
        li 
          span Open an issue at the domain's repository to describe the proposal
        li 
          span From your fork, make a pull request indicating at the comment "resolves #111" in a new line, where 111 is the issue number
        li 
          span The pull request will be attended and discussed at the issue thead.
      p This process is extensively described at <a target="_blank" href="https://docs.google.com/document/d/1c4QRTDSgE6PziF7va-s5UaDzBMx3TZ7nrcFlKHPU_2Y/edit">this document</a>.

      h3(id='faq-2') Do I need specific knowledge?
      p If you want to propose new services or suggest mofications on existing ones, you will need almost:
      ul.list.padding
        li <strong>RESTfull</strong> design principles
        li <strong>GIT</strong> operations (clone, commit, pull, push, merge, pull-request, branches)
        li <strong>RAML</strong> language
        li Domain's functional knowledge
      p PaaS team members will also need specific training on processes and design principles.
      p Otherwise, as a developer you know about RESTful APIs.

      h3(id='faq-3') Do I need specific software?
      p If you want to propose new services or suggest mofications on existing ones, you will need almost:
      ul.list.padding
        li <strong>Web browser</strong> and a connection to Internet
        li <strong>GIT</strong> client
        li <strong>Text editor</strong> (preferably with RAML suport to auto-complete, syntax check, etc)
      p PaaS team members will also need NodeJS and specific scripts, so we prepared a wellcome-pack as an all-in-one package.
      p Otherwise, all you need is a web browser.

      h3(id='faq-4') What about versioning?
      p Each released version has a changelog file including these comments. This is specially usefull for API consumers.
      p Domains are versioned independenlty of each others. Following <a target="_blank" href="http://semver.org">Semantic Versioning</a> specification, major version is included in the domain name (cards-v1, accounts-v0, etc); minor versions are each domain releasing and fixes are rarely used (docs erratas).

      h3(id='faq-5') What about domain's repository branching?
      p The initial approach is to use the master brach only for released versions and the devel brach for pull-request merges.
      p We are evolving the development methods and tools, so keep in touch for updates.

      h3(id='faq-6') Which are the design principles? Are there a API Design guide?
      p Yes, it's comming... we will publish a link at this answer.

      h3(id='faq-7') How is defined the whole issue lifecycle?
      p The process is documented at <a target="_blank" href="https://docs.google.com/document/d/1cnoVAXVaHBxLxTKHqzU7Zs52BeurfA6KCebN02moBdg/edit#heading=h.1u8sddjsyt0j">this document</a>.

  div.support-container(layout="row" layout-sm="column")
    div.support-section.align-left(flex="100" flex-sm="100")
      div.icon-container
        i.material-icons folder_shared
        h2 Documents
      h3 Contribution
      ul.list
        li
          a(href="https://docs.google.com/document/d/1Zt0zEJexRDaee8Ybt_VNSLSPu14fCzV-_mZJDSZpKkY/edit") Overview about the contribution procedure
        li
          a(href="https://docs.google.com/document/d/1cqO_8_J0g-GsHX6RCC3fjXAafNWf8ds_66xIwLvslLA/edit?pref=2&pli=1") About the collaborative model
        li
          a(href="https://docs.google.com/document/d/1c4QRTDSgE6PziF7va-s5UaDzBMx3TZ7nrcFlKHPU_2Y/edit") How to make a pull request
        li
          a(href="https://docs.google.com/document/d/1BC1W9sEOkz5F0o7J0femNRV2Cz8a3Flkso_ro0OqyTU/edit#heading=h.uz5lx5rbctsw") Open an issue
        li
          a(href="https://docs.google.com/document/d/1M5-n6SYY7efhBbCMyaxM2SIPd6l1uNF0Yc2LzMkyZ94/edit?pref=2&pli=1") Service request lifecycle
        li
          a(href="https://docs.google.com/document/d/1eHWjPqHQgCMGs1hA0L6uYWfPkgAKzSoiGKkhRVchheY/edit?pref=2&pli=1#heading=h.zhy2x0h87scy") Dealing with a domain's repository
        li
          a(href="https://docs.google.com/document/d/1xKP5ep27Y_byN6Zmt-vQ3QEhauhBQLzmZtULyfu_eMk/edit?pref=2&pli=1#heading=h.tzgx6r1zqdjf") Updating service implementation states

      h3 RAML implementation
      ul.list
        li
          a(href="https://docs.google.com/document/d/18Kyzglp9DWI9pBTaRXQc6tgAShr36tMbO4jNve0nQ_M/edit") Annotations
        li
          a(href="https://docs.google.com/document/d/1XAFdMxbE-GaQHrohjUClGPWLSPt3ZUUotsbTfAg0wJk/edit") Traits

      h3 Gobernance procedures
      ul.list
        li
          a(href="https://docs.google.com/presentation/d/1nu1OTuO6pa0R7zuYPBVJXkKvWfR1w5VEyjPxVkwXzxQ/edit?pref=2&pli=1#slide=id.p") Create a Service
        li
          a(href="https://docs.google.com/presentation/d/1rkM8cOzl8qmBqQH6Z_FZ29jyK7dZP7ea4AMLdncBHB0/edit?pref=2&pli=1#slide=id.p") Modify a Service (critical)
        li
          a(href="https://docs.google.com/presentation/d/1WtSAz92EVXf_XeZEh_BZf5ZsoHLL6DfwqJZ5SDuW6tw/edit?pref=2&pli=1#slide=id.p") Modify a Service (evolution)
        li
          a(href="https://docs.google.com/document/d/1qk7hERStKHqVhabo-G8vo1HMZC2EKTpNhML0szcDWw0/edit?usp=drive_web") Versioning
        li
          a(href="https://docs.google.com/document/d/1cnoVAXVaHBxLxTKHqzU7Zs52BeurfA6KCebN02moBdg/edit?pref=2&pli=1#heading=h.1u8sddjsyt0j") Manage a service request
        li
          a(href="https://docs.google.com/document/d/1qk7hERStKHqVhabo-G8vo1HMZC2EKTpNhML0szcDWw0/edit?pref=2&pli=1") Versioning
