.support {
  padding: 64px 100px;
  .slack {
    text-align: right;
    font-size: 10px;
  }
  .title {
    text-align: center;
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    font-size: 46px;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
  }
  .sub-title {
    text-align: center;
    color: #616161;
    font-size: 16px;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
  }
  .support-container {
    a {
       font-weight: bold;
       color: #0065B7;
    }
    .support-section {
      text-align: center;
      padding: 0px 30px;
      ul {
        padding: 0px;
      }
      ol {
        text-align: initial;
        li {
          font-weight: bold;
          span {
            font-weight: normal;
            margin-left: 10px;
          }
        }
      }
      h2 {
        color: #16366F;
      }
      i {
        color: #16366F;
        font-size: 71px;
        width: auto;
      }
      p {
        text-align: initial;
      }
      .icon-container {
        text-align: center;
     }
     &.align-left {
       text-align: initial;
     }
    }
  }
}

@media handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 800px) {
  .support {
    padding: 50px 30px;
  }
}
