
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">NON-CUSTOMERS<a href="https://grapi.slack.com/" target="_blank">Non-Customers Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/non-customers/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('esapi-es-apis-people-noncustomers')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/esapi/repos/esapi-es-apis-people-noncustomers" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/esapi/repos/esapi-es-apis-people-noncustomers</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/esapi/repos/esapi-es-apis-people-noncustomers/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes all the available services related to noncustomers password.</p>
    <h2>RESOURCES</h2>
    <div id="/non-customers/token-validate" class="resource-table">
      <div ng-click="api.hide('/non-customers/token-validate')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-customers/token-validate</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers/token-validate'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for validating token.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: noncustomerstokenvalidateActiveButton === 'post'}" ng-click="api.showMethod($event, 'noncustomerstokenvalidate', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="noncustomerstokenvalidate = 'post'; noncustomerstokenvalidateActiveButton = 'post'" ng-show="noncustomerstokenvalidate === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers/token-validate'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for validating user token.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="token display-name">token</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'An encrypted token that encapsulates the data to correlate the various steps of the process.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;token&quot;: &quot;eyJ2ZXIiOiIxIiwiZGtpIjoiIiwiZW5jIjoiQTEyOEdDTSIsInRhZyI6InFoai1HcXlXRldpODNkM0ZMUFpjSGciLCJhbGciOiJBMTI4R0NNS1ciLCJpdiI6ImNzYng3Mk1sbFdRQ25Sb0sifQ.Mtk0TfpXJvLQwVGWdUAyvQ.Mh1nUinHG5SC5AyD.0Iq0h8FnT1Y4uPq7IGo4p4bfZwx3XlXBkQJYUyLLP86RsjL-Tp7MFYLMWupgiCyBUbGEFcuzxTZNGYdonkJdEQyNRxPaORHrX3pHNTyW_xgXYj0LkTLZ2zex5Rxhh1kSHls178YNdFr_xH7TCYdfp3h0nDFeeEHtHQWbHSRL5QFs8lb7NsY-eS6QKDWLoTXBbCJs5XCMWUr1Uxz6DbzjSpEa2SGWp5WE4XcTfXPwYuvMlM7U0w.nnkUH9llkScSezXHfb9DfA&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;token&quot;: &quot;eyJ2ZXIiOiIxIiwiZGtpIjoiIiwiZW5jIjoiQTEyOEdDTSIsInRhZyI6InFoai1HcXlXRldpODNkM0ZMUFpjSGciLCJhbGciOiJBMTI4R0NNS1ciLCJpdiI6ImNzYng3Mk1sbFdRQ25Sb0sifQ.Mtk0TfpXJvLQwVGWdUAyvQ.Mh1nUinHG5SC5AyD.0Iq0h8FnT1Y4uPq7IGo4p4bfZwx3XlXBkQJYUyLLP86RsjL-Tp7MFYLMWupgiCyBUbGEFcuzxTZNGYdonkJdEQyNRxPaORHrX3pHNTyW_xgXYj0LkTLZ2zex5Rxhh1kSHls178YNdFr_xH7TCYdfp3h0nDFeeEHtHQWbHSRL5QFs8lb7NsY-eS6QKDWLoTXBbCJs5XCMWUr1Uxz6DbzjSpEa2SGWp5WE4XcTfXPwYuvMlM7U0w.nnkUH9llkScSezXHfb9DfA&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/non-customers/token-renovate" class="resource-table">
      <div ng-click="api.hide('/non-customers/token-renovate')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-customers/token-renovate</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers/token-renovate'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for renovating user token.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: noncustomerstokenrenovateActiveButton === 'post'}" ng-click="api.showMethod($event, 'noncustomerstokenrenovate', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="noncustomerstokenrenovate = 'post'; noncustomerstokenrenovateActiveButton = 'post'" ng-show="noncustomerstokenrenovate === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-customers/token-renovate'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for renovating user token.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="token display-name">token</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'An encrypted token that encapsulates the data to correlate the various steps of the process.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;token&quot;: &quot;eyJ2ZXIiOiIxIiwiZGtpIjoiIiwiZW5jIjoiQTEyOEdDTSIsInRhZyI6InFoai1HcXlXRldpODNkM0ZMUFpjSGciLCJhbGciOiJBMTI4R0NNS1ciLCJpdiI6ImNzYng3Mk1sbFdRQ25Sb0sifQ.Mtk0TfpXJvLQwVGWdUAyvQ.Mh1nUinHG5SC5AyD.0Iq0h8FnT1Y4uPq7IGo4p4bfZwx3XlXBkQJYUyLLP86RsjL-Tp7MFYLMWupgiCyBUbGEFcuzxTZNGYdonkJdEQyNRxPaORHrX3pHNTyW_xgXYj0LkTLZ2zex5Rxhh1kSHls178YNdFr_xH7TCYdfp3h0nDFeeEHtHQWbHSRL5QFs8lb7NsY-eS6QKDWLoTXBbCJs5XCMWUr1Uxz6DbzjSpEa2SGWp5WE4XcTfXPwYuvMlM7U0w.nnkUH9llkScSezXHfb9DfA&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;token&quot;: &quot;eyJ2ZXIiOiIxIiwiZGtpIjoiIiwiZW5jIjoiQTEyOEdDTSIsInRhZyI6InFoai1HcXlXRldpODNkM0ZMUFpjSGciLCJhbGciOiJBMTI4R0NNS1ciLCJpdiI6ImNzYng3Mk1sbFdRQ25Sb0sifQ.Mtk0TfpXJvLQwVGWdUAyvQ.Mh1nUinHG5SC5AyD.0Iq0h8FnT1Y4uPq7IGo4p4bfZwx3XlXBkQJYUyLLP86RsjL-Tp7MFYLMWupgiCyBUbGEFcuzxTZNGYdonkJdEQyNRxPaORHrX3pHNTyW_xgXYj0LkTLZ2zex5Rxhh1kSHls178YNdFr_xH7TCYdfp3h0nDFeeEHtHQWbHSRL5QFs8lb7NsY-eS6QKDWLoTXBbCJs5XCMWUr1Uxz6DbzjSpEa2SGWp5WE4XcTfXPwYuvMlM7U0w.nnkUH9llkScSezXHfb9DfA&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/non-customer-password/token-validate" class="resource-table">
      <div ng-click="api.hide('/non-customer-password/token-validate')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-customer-password/token-validate</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-customer-password/token-validate'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for validating the reset of the password of a customer. The customer sends the new password with a temporary token.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: noncustomerpasswordtokenvalidateActiveButton === 'post'}" ng-click="api.showMethod($event, 'noncustomerpasswordtokenvalidate', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="noncustomerpasswordtokenvalidate = 'post'; noncustomerpasswordtokenvalidateActiveButton = 'post'" ng-show="noncustomerpasswordtokenvalidate === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-customer-password/token-validate'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for validating the reset of the password of a customer.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="token display-name">token</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'String containing the timestamp (uptime) and the user. Both fields are encrypted.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="password display-name">password</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Password specified by user.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;token&quot;: &quot;i7y134nkaf87wdlnwdovuowdci20efih0cdi2309wodihxqojnOIH220CH20IHC2IHBIYVXWOIJT4’954GF0WDCCHC322080WUW009u0rfhcwofnvrjono3230280IDHCE08G03CJBFG3uwf0IHVGR9U3IHWOw08f0D0HC0HQOJBW0FHqdij38q09usvf09usobakbqixby2&quot;,
    &quot;password&quot;: &quot;password1&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;token&quot;: &quot;i7y134nkaf87wdlnwdovuowdci20efih0cdi2309wodihxqojnOIH220CH20IHC2IHBIYVXWOIJT4’954GF0WDCCHC322080WUW009u0rfhcwofnvrjono3230280IDHCE08G03CJBFG3uwf0IHVGR9U3IHWOw08f0D0HC0HQOJBW0FHqdij38q09usvf09usobakbqixby2&quot;,
    &quot;password&quot;: &quot;password1&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/non-customer-password/reset" class="resource-table">
      <div ng-click="api.hide('/non-customer-password/reset')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/non-customer-password/reset</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/non-customer-password/reset'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the reset of the password of a customer. The customer request the reset and receives a url who contains a token to change the password.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: noncustomerpasswordresetActiveButton === 'post'}" ng-click="api.showMethod($event, 'noncustomerpasswordreset', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="noncustomerpasswordreset = 'post'; noncustomerpasswordresetActiveButton = 'post'" ng-show="noncustomerpasswordreset === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/non-customer-password/reset'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting the reset of the password of a customer.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="user display-name">user</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Unique user identifier.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;user&quot;: &quot;user@entity.com&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;user&quot;: &quot;user@entity.com&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>