nav-bar {
    width: 150px;
    height: 100%;
    position: fixed;
    background: #0065B7;
    transition: width 0.3s linear 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    &.show-menu {
        width: 300px;
    }
    button.menu-button {
        background: transparent;
        border: none;
        color: #FAFAFA;
        text-align: center;
        width: 100%;
        padding: 15px;
        outline: none;
        i {
            display: block;
            width: 100%;
            font-size: 40px;
        }
        span {
            font-weight: bold;
        }
        &.active {
            background: rgba(232,232,232,0.2);
            border-left: 5px solid #00AEEB;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }
    button.hamburguer {
        float: right;
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 95px;
        height: 64px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        background: transparent;
        outline: none;
        &.active {
            span {
                transform: rotate(180deg);
                &::after,
                &::before {
                    width: 50%;
                    border-radius: 5px;
                }
                &::before {
                    top: 0;
                    transform: translateX(20px) translateY(6px) rotate(-45deg);
                }
                &::after {
                    bottom: 0;
                    transform: translateX(19px) translateY(-7px) rotate(45deg);
                }
            }
        }
        span {
            display: block;
            position: absolute;
            top: 30px;
            left: 28px;
            right: 31px;
            height: 3px;
            background: #fff;
            border-radius: 5px;
            -webkit-transition: -webkit-transform 0.3s;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 1s, -webkit-transform 1s;
            &::after,
            &::before {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #fff;
                border-radius: 5px;
                content: "";
            }
            &::before {
                top: -10px;
                transition: transform 0.3s,width 0.3s,top 0.3s;
            }
            &::after {
                bottom: -10px;
                transition: transform 0.3s,width 0.3s,bottom 0.3s;
            }
        }
    }
}
