
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">TARIFF SCHEMAS<a href="https://grapi.slack.com/" target="_blank">Tariff Schemas Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/tariff-schemas/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-tariffschemas')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-tariffschemas" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-tariffschemas</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-tariffschemas/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the Tariff Schemas. A Tariff schema is a catalog that includes the fees, interest charges and fixed periods the customers could incur when they obtain a product. 
</p>
    <h2>RESOURCES</h2>
    <div id="/tariff-schemas" class="resource-table">
      <div ng-click="api.hide('/tariff-schemas')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/tariff-schemas</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/tariff-schemas'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the Tariff schemas.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: tariffschemasActiveButton === 'get'}" ng-click="api.showMethod($event, 'tariffschemas', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="tariffschemas = 'get'; tariffschemasActiveButton = 'get'" ng-show="tariffschemas === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/tariff-schemas'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving the tariff schemas of a subproduct.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">subProduct.id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the tariff schemas by subproduct identifier
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>MSC0</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">thirdPartyProvider.id</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Filters the tariff schemas by third party provider identifier
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>TELEFONICA</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">externalProduct.category.type.id</span><span class="type">string</span><i class="required">required</i>
                        </td>
                        <td>
                          <p>Filters the tariff schemas by external product category type identifier
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>CELLPHONE</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">status.id</span><span class="type">enum</span>
                        </td>
                        <td>
                          <p>Filters the tariff schemas by status
                          </p>
                        </td>
                        <td>
                          <ul>
                            <li><span class="value">ENABLED: Status for enabled tariff schemas.</span></li>
                          </ul>
                          <ul>
                            <li><span class="value">DISABLED: Status for disabled tariff schemas.</span></li>
                          </ul>
                        </td>
                        <td><span>ENABLED</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Filters the tariff schemas by tariff schema identifier
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>BBVA001</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">pageSize</span><span class="type">integer</span>
                        </td>
                        <td>
                          <p>Number of elements per page
                          </p>
                        </td>
                        <td><i>Any integer</i>
                        </td>
                        <td><span>20</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">paginationKey</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Key to obtain a single page
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>facb4747f</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Tariff schema identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Tariff schema description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct display-name">subProduct</span><span class="type">subProduct</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Represents the types of financing of an external product provided by a third company.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct.id display-name">subProduct.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Subproduct identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct.name display-name">subProduct.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Subproduct description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="currency display-name">currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the tariff schema.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status of the tariff schema.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status identificator.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ENABLED: Status for enabled tariff schemas.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISABLED: Status for disabled tariff schemas.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions display-name">conditions</span><span class="type">condition [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of conditions related to the tariff schema. This list includes the fees, interest charges and fixed periods that the customer must accept to acquire a product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category</span><span class="type">conditionCategory</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Category of the condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition category identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">TERM: Duration of the available term, is represented only in months.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">EAR: Effective annual rate.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Condition category description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.numericValue</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Numeric value for the Condition. If percentageValue is not used, the attribute is required.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.percentageValue</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Percentage value for the condition. If numericValue is not used, the attribute is required.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;100&quot;,
            &quot;name&quot;: &quot;Financiamiento 18 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ENABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 18
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 15.5
                }
            ]
        },
        {
            &quot;id&quot;: &quot;455&quot;,
            &quot;name&quot;: &quot;Financiamiento 12 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;DISABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 24
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 21.5
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;100&quot;,
            &quot;name&quot;: &quot;Financiamiento 18 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ENABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 18
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 15.5
                }
            ]
        },
        {
            &quot;id&quot;: &quot;455&quot;,
            &quot;name&quot;: &quot;Financiamiento 12 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;DISABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 24
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 21.5
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="206">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Partial content</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Tariff schema identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Tariff schema description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct display-name">subProduct</span><span class="type">subProduct</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Represents the types of financing of an external product provided by a third company.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct.id display-name">subProduct.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Subproduct identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="subProduct.name display-name">subProduct.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Subproduct description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="currency display-name">currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the tariff schema.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">status</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status of the tariff schema.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.id display-name">status.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Status identificator.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ENABLED: Status for enabled tariff schemas.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISABLED: Status for disabled tariff schemas.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status.name display-name">status.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Status description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions display-name">conditions</span><span class="type">condition [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'List of conditions related to the tariff schema. This list includes the fees, interest charges and fixed periods that the customer must accept to acquire a product.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category</span><span class="type">conditionCategory</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Category of the condition.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Condition category identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">TERM: Duration of the available term, is represented only in months.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">EAR: Effective annual rate.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.category.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Condition category description.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.numericValue</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Numeric value for the Condition. If percentageValue is not used, the attribute is required.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="conditions.condition display-name">conditions.condition.percentageValue</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Percentage value for the condition. If numericValue is not used, the attribute is required.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Pagination</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links</span><span class="type">object</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'Pagination links. These links provide relative URIs to reach different useful pages, such as first, last, next or previous pages.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.first</span><span class="type">string</span>
                                </td>
                                <td><span>Mandatory</span>
                                </td>
                                <td><span ng-bind-html="'URI to the first page. It will be the URI to the list without paging element.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.last</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the last page based on the current pagination configuration.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.previous</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the previous page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">links.next</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'URI to the next page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">page</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Current page number. This attribue value is 0 when referring to the first page.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalPages</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of pages for the provided pagination and filtering parameters.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">totalElements</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Total number of items to the requested list, taking into account possible filtering criteria if specified.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="mono"><span class="display-name">pageSize</span><span class="type">number</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Number of items per page. This attribute value matches pageSize query parameter if provided. Otherwise, this attribute may provide the default page size.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;100&quot;,
            &quot;name&quot;: &quot;Financiamiento 18 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ENABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 18
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 15.5
                }
            ]
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 1
    }
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;100&quot;,
            &quot;name&quot;: &quot;Financiamiento 18 meses&quot;,
            &quot;subProduct&quot;: {
                &quot;id&quot;: &quot;MSC0&quot;,
                &quot;name&quot;: &quot;Financiamiento equipos TDP&quot;
            },
            &quot;currency&quot;: &quot;PEN&quot;,
            &quot;status&quot;: {
                &quot;id&quot;: &quot;ENABLED&quot;
            },
            &quot;conditions&quot;: [
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;TERM&quot;
                    },
                    &quot;numericValue&quot;: 18
                },
                {
                    &quot;category&quot;: {
                        &quot;id&quot;: &quot;EAR&quot;
                    },
                    &quot;percentageValue&quot;: 15.5
                }
            ]
        }
    ],
    &quot;pagination&quot;: {
        &quot;links&quot;: {
            &quot;first&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&quot;,
            &quot;last&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=gdfw254sf&quot;,
            &quot;previous&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=dwer342sf&quot;,
            &quot;next&quot;: &quot;https://www.bbvaapis.com/tariff-schemas/v0?subProduct.id=MSC0&amp;status.id=ENABLED&amp;paginationKey=qazx687sf&quot;
        },
        &quot;page&quot;: 1,
        &quot;totalPages&quot;: 1,
        &quot;totalElements&quot;: 1,
        &quot;pageSize&quot;: 1
    }
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>