.develop {
    h1 {
        color: #16366F;
        position: relative;
        opacity: 1;
        font-weight: 700;
        width: auto;
        font-size: 34px;
        line-height: 28px;
        margin: 16px auto;
        padding-top: 20px;
    }
    md-input-container {
        width: 100%;
    }
      button {
          background-color: #16366F !important;
          color: #FAFAFA !important;
          font-weight: bold;
          width: 100%;
      }
}
