
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">API-AGGREGATOR<a href="https://grapi.slack.com/" target="_blank">Api-Aggregator Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/api-aggregator/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-technical-apiaggregator')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-technical-apiaggregator" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-technical-apiaggregator</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-technical-apiaggregator/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes one service that manage several API requests. Each request is made by a body, headers, http method and relative url service.

The API allows you sending several requests that will be processed parallel and a consolidated response will be passed back to you with all responses together.
</p>
    <h2>RESOURCES</h2>
    <div id="/api-aggregator" class="resource-table">
      <div ng-click="api.hide('/api-aggregator')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/api-aggregator</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/api-aggregator'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for making batch query requests. Batching allows you to pass instructions for several query operation in a single HTTP request. This service will process each of request in parallel and once all operations have been completed, the service sends a response which encapsulates the result of all the operations.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: apiaggregatorActiveButton === 'post'}" ng-click="api.showMethod($event, 'apiaggregator', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="apiaggregator = 'post'; apiaggregatorActiveButton = 'post'" ng-show="apiaggregator === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/api-aggregator'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for making batch query requests. The method takes in an array of logical HTTP request represented as JSON arrays - each request has a method (currently only is allowed to use GET method), an unique identifier, a relative service url and optional headers. The method returns an array of logical HTTP responses represented as JSON array - each response has the same identifier that its associated request, a status code, an optional headers array and an optional body (which is a JSON encoded string). If all the answers completed successfully (2XX or 3XX), the method returns http status code 200. Otherwise, the method returns http status code 207.
The method will process each of request using the headers sent in the request to the method and the specific headers of each request. if a header exists in both sets, the header in the request sent to the service has highter priority than the specific header.
Can't include services that require high level of security and the maximum number of requests is 6.
</p>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Identifier to associate each response with its request.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="url display-name">url</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Url relative of the service.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="method display-name">method</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Http method.
'"></span>
                          <div class="enum">
                            <ul>
                              <li><span class="value">GET</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="body display-name">body</span><span class="type">string</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Payload to send.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="headers display-name">headers</span><span class="type">array</span>
                        </td>
                        <td><span>Optional</span>
                        </td>
                        <td><span ng-bind-html="'Specific headers to send.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="headers.key display-name">headers.key</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Header name.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="headers.value display-name">headers.value</span><span class="type">string</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Header value.
'"></span>
                          <div class="enum">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="[
    {
        &quot;id&quot;: &quot;1&quot;,
        &quot;url&quot;: &quot;/users/v0/users/12345123&quot;,
        &quot;method&quot;: &quot;GET&quot;
    },
    {
        &quot;id&quot;: &quot;2&quot;,
        &quot;url&quot;: &quot;/cards/v0/cards/342/activations&quot;,
        &quot;method&quot;: &quot;GET&quot;
    }
]" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>[
    {
        &quot;id&quot;: &quot;1&quot;,
        &quot;url&quot;: &quot;/users/v0/users/12345123&quot;,
        &quot;method&quot;: &quot;GET&quot;
    },
    {
        &quot;id&quot;: &quot;2&quot;,
        &quot;url&quot;: &quot;/cards/v0/cards/342/activations&quot;,
        &quot;method&quot;: &quot;GET&quot;
    }
]</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Ok.</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier to associate each response with its request.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Http status code.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="body display-name">body</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payload to send.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers display-name">headers</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Specific headers to send.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers.key display-name">headers.key</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Header name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers.value display-name">headers.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Header value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: { \&quot;userId\&quot;: \&quot;12345123\&quot;, \&quot;firstName\&quot;: \&quot;Amy\&quot;, \&quot;lastName\&quot;: \&quot;William Moure\&quot;, \&quot;gender\&quot;: \&quot;female\&quot;, \&quot;lastAccessDate\&quot;: \&quot;2015-10-06T09:00:33Z\&quot;, \&quot;birthDate\&quot;: \&quot;1970-08-19\&quot;, \&quot;isEmployee\&quot;: true, \&quot;contactDetails\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;contact\&quot;: \&quot;amy@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1235\&quot;, \&quot;contact\&quot;: \&quot;amy2@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1236\&quot;, \&quot;contact\&quot;: \&quot;612345678\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1237\&quot;, \&quot;contact\&quot;: \&quot;612345679\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: false } ], \&quot;identityDocuments\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;documentNumber\&quot;: \&quot;00000000-A\&quot;, \&quot;documentType\&quot;: { \&quot;id\&quot;: \&quot;PASSPORT\&quot;, \&quot;name\&quot;: \&quot;Passport\&quot; } } ], \&quot;avatar\&quot;: { \&quot;id\&quot;: \&quot;12345678\&quot;, \&quot;name\&quot;: \&quot;Profile picture\&quot;, \&quot;url\&quot;: \&quot;https://.../img/FEMALE.jpg\&quot; } } }&quot;
        },
        {
            &quot;id&quot;: &quot;2&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: [{\&quot;activationId\&quot;: \&quot;ON_OFF\&quot;,\&quot;name\&quot;: \&quot;Activation for global card usage\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;PINLESS_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing pinless operations\&quot;,\&quot;isActive\&quot;: true,\&quot;limits\&quot;: [{\&quot;id\&quot;: \&quot;SINGLE_OPERATION\&quot;,\&quot;name\&quot;: \&quot;Maximum monetary amount for performing a pinless operations\&quot;,\&quot;amountLimit\&quot;: {\&quot;amount\&quot;: 20,\&quot;currency\&quot;: \&quot;EUR\&quot;}},{\&quot;id\&quot;: \&quot;AGGREGATED\&quot;,\&quot;name\&quot;: \&quot;Maximum aggregated amount for pinless operations\&quot;,\&quot;amountLimit\&quot;: {\&quot;amount\&quot;: 100,\&quot;currency\&quot;: \&quot;EUR\&quot;}}]},{\&quot;activationId\&quot;: \&quot;ECOMMERCE_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing eCommerce operations\&quot;,\&quot;isActive\&quot;: true,\&quot;startDate\&quot;: \&quot;2016-01-29T12:03:26Z\&quot;,\&quot;endDate\&quot;: \&quot;2016-01-29T13:03:26Z\&quot;},{\&quot;activationId\&quot;: \&quot;CASHWITHDRAWAL_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing cash withdrawals in the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;PURCHASES_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing purchases in the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;FOREIGN_CASHWITHDRAWAL_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing cash withdrawals out of the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;FOREIGN_PURCHASES_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing purchases out of the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true}]}&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: { \&quot;userId\&quot;: \&quot;12345123\&quot;, \&quot;firstName\&quot;: \&quot;Amy\&quot;, \&quot;lastName\&quot;: \&quot;William Moure\&quot;, \&quot;gender\&quot;: \&quot;female\&quot;, \&quot;lastAccessDate\&quot;: \&quot;2015-10-06T09:00:33Z\&quot;, \&quot;birthDate\&quot;: \&quot;1970-08-19\&quot;, \&quot;isEmployee\&quot;: true, \&quot;contactDetails\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;contact\&quot;: \&quot;amy@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1235\&quot;, \&quot;contact\&quot;: \&quot;amy2@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1236\&quot;, \&quot;contact\&quot;: \&quot;612345678\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1237\&quot;, \&quot;contact\&quot;: \&quot;612345679\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: false } ], \&quot;identityDocuments\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;documentNumber\&quot;: \&quot;00000000-A\&quot;, \&quot;documentType\&quot;: { \&quot;id\&quot;: \&quot;PASSPORT\&quot;, \&quot;name\&quot;: \&quot;Passport\&quot; } } ], \&quot;avatar\&quot;: { \&quot;id\&quot;: \&quot;12345678\&quot;, \&quot;name\&quot;: \&quot;Profile picture\&quot;, \&quot;url\&quot;: \&quot;https://.../img/FEMALE.jpg\&quot; } } }&quot;
        },
        {
            &quot;id&quot;: &quot;2&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: [{\&quot;activationId\&quot;: \&quot;ON_OFF\&quot;,\&quot;name\&quot;: \&quot;Activation for global card usage\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;PINLESS_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing pinless operations\&quot;,\&quot;isActive\&quot;: true,\&quot;limits\&quot;: [{\&quot;id\&quot;: \&quot;SINGLE_OPERATION\&quot;,\&quot;name\&quot;: \&quot;Maximum monetary amount for performing a pinless operations\&quot;,\&quot;amountLimit\&quot;: {\&quot;amount\&quot;: 20,\&quot;currency\&quot;: \&quot;EUR\&quot;}},{\&quot;id\&quot;: \&quot;AGGREGATED\&quot;,\&quot;name\&quot;: \&quot;Maximum aggregated amount for pinless operations\&quot;,\&quot;amountLimit\&quot;: {\&quot;amount\&quot;: 100,\&quot;currency\&quot;: \&quot;EUR\&quot;}}]},{\&quot;activationId\&quot;: \&quot;ECOMMERCE_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing eCommerce operations\&quot;,\&quot;isActive\&quot;: true,\&quot;startDate\&quot;: \&quot;2016-01-29T12:03:26Z\&quot;,\&quot;endDate\&quot;: \&quot;2016-01-29T13:03:26Z\&quot;},{\&quot;activationId\&quot;: \&quot;CASHWITHDRAWAL_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing cash withdrawals in the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;PURCHASES_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing purchases in the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;FOREIGN_CASHWITHDRAWAL_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing cash withdrawals out of the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true},{\&quot;activationId\&quot;: \&quot;FOREIGN_PURCHASES_ACTIVATION\&quot;,\&quot;name\&quot;: \&quot;Activation for performing purchases out of the country where the card was issued.\&quot;,\&quot;isActive\&quot;: true}]}&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="207">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Multi-Status</p>
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier to associate each response with its request.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="status display-name">status</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Http status code.'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="body display-name">body</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Payload to send.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers display-name">headers</span><span class="type">array</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Specific headers to send.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers.key display-name">headers.key</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Header name.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="headers.value display-name">headers.value</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Header value.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: { \&quot;userId\&quot;: \&quot;12345123\&quot;, \&quot;firstName\&quot;: \&quot;Amy\&quot;, \&quot;lastName\&quot;: \&quot;William Moure\&quot;, \&quot;gender\&quot;: \&quot;female\&quot;, \&quot;lastAccessDate\&quot;: \&quot;2015-10-06T09:00:33Z\&quot;, \&quot;birthDate\&quot;: \&quot;1970-08-19\&quot;, \&quot;isEmployee\&quot;: true, \&quot;contactDetails\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;contact\&quot;: \&quot;amy@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1235\&quot;, \&quot;contact\&quot;: \&quot;amy2@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1236\&quot;, \&quot;contact\&quot;: \&quot;612345678\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1237\&quot;, \&quot;contact\&quot;: \&quot;612345679\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: false } ], \&quot;identityDocuments\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;documentNumber\&quot;: \&quot;00000000-A\&quot;, \&quot;documentType\&quot;: { \&quot;id\&quot;: \&quot;PASSPORT\&quot;, \&quot;name\&quot;: \&quot;Passport\&quot; } } ], \&quot;avatar\&quot;: { \&quot;id\&quot;: \&quot;12345678\&quot;, \&quot;name\&quot;: \&quot;Profile picture\&quot;, \&quot;url\&quot;: \&quot;https://.../img/FEMALE.jpg\&quot; } } }&quot;
        },
        {
            &quot;id&quot;: &quot;2&quot;,
            &quot;status&quot;: 409,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;messages\&quot;:[{\&quot;code\&quot;:\&quot;corruptFile\&quot;,\&quot;message\&quot;:\&quot;Therequestedfileiscorrupted.\&quot;,\&quot;parameters\&quot;:[{\&quot;name\&quot;:\&quot;a\&quot;},{\&quot;name\&quot;:\&quot;b\&quot;}],\&quot;type\&quot;:\&quot;ERROR\&quot;}]}&quot;
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;1&quot;,
            &quot;status&quot;: 200,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;data\&quot;: { \&quot;userId\&quot;: \&quot;12345123\&quot;, \&quot;firstName\&quot;: \&quot;Amy\&quot;, \&quot;lastName\&quot;: \&quot;William Moure\&quot;, \&quot;gender\&quot;: \&quot;female\&quot;, \&quot;lastAccessDate\&quot;: \&quot;2015-10-06T09:00:33Z\&quot;, \&quot;birthDate\&quot;: \&quot;1970-08-19\&quot;, \&quot;isEmployee\&quot;: true, \&quot;contactDetails\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;contact\&quot;: \&quot;amy@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1235\&quot;, \&quot;contact\&quot;: \&quot;amy2@gmail.com\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;EMAIL\&quot;, \&quot;name\&quot;: \&quot;email\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1236\&quot;, \&quot;contact\&quot;: \&quot;612345678\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: true, \&quot;isChecked\&quot;: true }, { \&quot;id\&quot;: \&quot;1237\&quot;, \&quot;contact\&quot;: \&quot;612345679\&quot;, \&quot;contactType\&quot;: { \&quot;id\&quot;: \&quot;PHONE_NUMBER\&quot;, \&quot;name\&quot;: \&quot;phone\&quot; }, \&quot;isPreferential\&quot;: false, \&quot;isChecked\&quot;: false } ], \&quot;identityDocuments\&quot;: [ { \&quot;id\&quot;: \&quot;1234\&quot;, \&quot;documentNumber\&quot;: \&quot;00000000-A\&quot;, \&quot;documentType\&quot;: { \&quot;id\&quot;: \&quot;PASSPORT\&quot;, \&quot;name\&quot;: \&quot;Passport\&quot; } } ], \&quot;avatar\&quot;: { \&quot;id\&quot;: \&quot;12345678\&quot;, \&quot;name\&quot;: \&quot;Profile picture\&quot;, \&quot;url\&quot;: \&quot;https://.../img/FEMALE.jpg\&quot; } } }&quot;
        },
        {
            &quot;id&quot;: &quot;2&quot;,
            &quot;status&quot;: 409,
            &quot;headers&quot;: [
                {
                    &quot;key&quot;: &quot;Accept&quot;,
                    &quot;value&quot;: &quot;application/json&quot;
                }
            ],
            &quot;body&quot;: &quot;{\&quot;messages\&quot;:[{\&quot;code\&quot;:\&quot;corruptFile\&quot;,\&quot;message\&quot;:\&quot;Therequestedfileiscorrupted.\&quot;,\&quot;parameters\&quot;:[{\&quot;name\&quot;:\&quot;a\&quot;},{\&quot;name\&quot;:\&quot;b\&quot;}],\&quot;type\&quot;:\&quot;ERROR\&quot;}]}&quot;
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>