h3 Headers
table.table-headers
    tr
        th DisplayName
        th Description
        th Required
        th Example
    each header, index in method.headers
        if (typeof(header))
            tr
                td
                    span.display-name= index
                td
                    pre= header.description
                if (typeof(header.required) !== 'undefined')
                    td= header.required
                else
                    td -
                td= header.example
