h3 Query Parameters
table.table-query-parameters
    tr
        th Name
        th Description
        th Values
        th Example
    each queryParameter, index in method.queryParameters
        tr
            td.mono
                span.display-name= index
                if (typeof(queryParameter.enum) !== 'undefined')
                        span.type= 'enum'
                else
                    if (typeof(queryParameter.type) !== 'undefined')
                        span.type= queryParameter.type
                    
                if (queryParameter.required === true || queryParameter.required === 'true')
                    i.required required
            td
                p #{queryParameter.description}
                    if (queryParameter.default)
                        p 
                            i Default value: #{queryParameter.default}
                if (typeof(queryParameter.annotations) !== 'undefined')
                    each annotation, index in queryParameter.annotations
                        include ../../annotations/countrySpecific
                        include ../../annotations/countryException
            td
                if (typeof(queryParameter.annotations) !== 'undefined')
                    if (typeof(queryParameter.annotations.enumDescription) !== 'undefined')
                        each typeEnum in queryParameter.annotations.enumDescription.structuredValue
                            ul
                                each value, index in typeEnum
                                    li
                                        span.value #{index}: #{value}
                else
                    if (typeof(queryParameter.enum) !== 'undefined')
                        ul
                            each value in queryParameter.enum
                                li
                                    span.value= value
                    else
                        i Any #{queryParameter.type}
            td
                if (typeof(queryParameter.example) !== 'undefined')
                    span= queryParameter.example
                else
                    span -
