h3 URI Parameters
table.table-query-parameters
    tr
        th Name
        th Description
        th Example
    each uriParameters, index in resource.uriParameters
        tr
            td.mono
                span.display-name= index
                if (typeof(uriParameters.type) !== 'undefined')
                    span.type= uriParameters.type
                else 
                    if (typeof(uriParameters.enum) !== 'undefined')
                        span.type enum
                    
                if (uriParameters.required === true || uriParameters.required === 'true')
                    i.required required
            td
                p= uriParameters.description
            td
                span= uriParameters.example
