
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CREDIT SCORES<a href="https://grapi.slack.com/" target="_blank">Credit Scores Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/credit-scores/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('peapi-pe-apis-products-creditscores')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-creditscores" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/peapi/repos/peapi-pe-apis-products-creditscores</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/peapi/repos/peapi-pe-apis-products-creditscores/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes any service related to the credit scores.

A credit score is a number that is calculated using a mathematical formula based on the information in your credit report. You get points for actions that demonstrate to lenders that you can use credit responsibly. You lose points for things that show you have difficulty managing credit. 
</p>
    <h2>RESOURCES</h2>
    <div id="/credit-scores" class="resource-table">
      <div ng-click="api.hide('/credit-scores')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/credit-scores</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/credit-scores'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for retrieving to the credit scores.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: creditscoresActiveButton === 'get'}" ng-click="api.showMethod($event, 'creditscores', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="creditscores = 'get'; creditscoresActiveButton = 'get'" ng-show="creditscores === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/credit-scores'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for consulting to the credit score information.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentTypeId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Document Type. If provided, documentNumber must be also provided.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>DNI</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">documentNumber</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Document number.

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>45635269</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">customerId</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique customer identifier

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>123456</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">initialPeriod</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Initial period

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2016-10</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">finalPeriod</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Final period

                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>2016-12</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Period of a creditscore. Value of period that uses YYYY-MM format.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="percentages display-name">percentages</span><span class="type">percentage [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Percentages of a creditscore.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="percentages.percentage display-name">percentages.percentage.percentageType</span><span class="type">percentageType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Type of creditscore percentage. This type identifies the universal standard of a creditscore percentage.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="percentages.percentage display-name">percentages.percentage.percentageType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to creditscore percentage. This identifier is the standard code to identify a creditscore percentage.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">NORMAL: Good financial standing and profitability, with low debt equity. The cash flow is not subject to a significant worsening</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">POTENTIALLY_DANGEROUS: Good financial and profitability situation with moderate equity debt. Cash flow could weaken within 12 months because it is highly sensitive to changes in relevant variables</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEFICIENT: Weak financial position, cash flow can not meet its obligations. The cash flow projection does not show improvement over time and has high sensitivity to minor modifications and foreseeable significant variables. It has little ability to generate profits</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DOUBTFUL: Insufficient cash flow does not cover its obligations; critical financial situation and high level of equity indebtedness. It is forced to sell ssets of importance and have negative results in the business</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOSS: Cash flow does not cover its costs. It is feasible to assume that also have difficulty meeting any restructuring agreements; It is in a state of insolvency enacted or are forced to sell significant assets</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="percentages.percentage display-name">percentages.percentage.percentageType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name associated to creditscore percentage. This name represents the full name of a creditscore percentage type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="percentages.percentage display-name">percentages.percentage.value</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Value of percentage.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;10.22&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;20.44&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;45.18&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;78.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;5.12&quot;
                }
            ]
        },
        {
            &quot;period&quot;: &quot;2016-11&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;30.33&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;40.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;86.33&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;90.23&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;22.44&quot;
                }
            ]
        },
        {
            &quot;period&quot;: &quot;2016-12&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;78.11&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;59.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;68.18&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;23.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;65.33&quot;
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;period&quot;: &quot;2016-10&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;10.22&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;20.44&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;45.18&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;78.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;5.12&quot;
                }
            ]
        },
        {
            &quot;period&quot;: &quot;2016-11&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;30.33&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;40.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;86.33&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;90.23&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;22.44&quot;
                }
            ]
        },
        {
            &quot;period&quot;: &quot;2016-12&quot;,
            &quot;percentages&quot;: [
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;NORMAL&quot;,
                        &quot;name&quot;: &quot;NORMAL&quot;
                    },
                    &quot;value&quot;: &quot;78.11&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;POTENTIALLY_DANGEROUS&quot;,
                        &quot;name&quot;: &quot;POTENTIALLY DANGEROUS&quot;
                    },
                    &quot;value&quot;: &quot;59.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DEFICIENT&quot;,
                        &quot;name&quot;: &quot;DEFICIENT&quot;
                    },
                    &quot;value&quot;: &quot;68.18&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;DOUBTFUL&quot;,
                        &quot;name&quot;: &quot;DOUBTFUL&quot;
                    },
                    &quot;value&quot;: &quot;23.12&quot;
                },
                {
                    &quot;percentageType&quot;: {
                        &quot;id&quot;: &quot;LOSS&quot;,
                        &quot;name&quot;: &quot;LOSS&quot;
                    },
                    &quot;value&quot;: &quot;65.33&quot;
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>