h3 Examples
md-select(ng-model="selectedExample" aria-label="example" placeholder="Select a example...")
    - var index = 0;
    each example, index in response.body['application/json'].examples
        md-option(ng-value="'#{example.displayName}'")= example.displayName
each example, exampleIndex in response.body['application/json'].examples
    .example
        p(ng-show="selectedExample === '#{example.displayName}'")= example.description
        section.container-buttons(ng-show="selectedExample === '#{example.displayName}'" layout="row" layout-align="left center")
            button(ng-show="selectedExample === '#{example.displayName}'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}") Object
            button(ng-show="selectedExample === '#{example.displayName}'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}") JSON
        if (typeof(example['(exampleInput)']) !== 'undefined')
            table(ng-show="selectedExample === '#{example.displayName}'")
                caption Example input
                tr
                    th Name
                    th Type
                    th Value
                each exampleInput, index in example['(exampleInput)']
                    tr
                        td= exampleInput.inputName
                        td= exampleInput.inputType
                        td= exampleInput.inputValue
        .example-viewer(ng-show="selectedExample === '#{example.displayName}' && api.showTypeExample === 'object'")
            json-formatter.json-formatter-dark(ng-show="selectedExample === '#{example.displayName}'" json="#{JSON.stringify(example.structuredValue, null, 4)}" open="3")
        .example-viewer.json(ng-show="selectedExample === '#{example.displayName}' && api.showTypeExample === 'json'")
            pre= JSON.stringify(example.structuredValue, null, 4)
