if (typeof(response.headers) !== 'string')
    h3 Headers
    table.table-headers
        tr
            th DisplayName
            th Description
            th Required
            th Example
        each header, index in response.headers
            tr
                td
                    span.display-name= header.displayName
                    span.type(class="#{header.type}")= header.type
                td
                    pre= header.description
                td= header.required
                td= header.example
else
    i UNDEFINED
