if(response.body['application/json'].properties.length != 0  && typeof(response.body['application/json'].properties.data.properties) !== 'undefined')
	table
		caption Properties
		tr
			th Name
			th Provided
			th Description
		- var globalUnionTypes = []
		each property, index in response.body['application/json'].properties.data.properties
			include ../requestResponseMethod
