section.api-consumer
  p.slack <a href="">#starting-developer <img src="/assets/images/slack.png" height="16"/></a>
  h1.title Getting started
  h3.sub-title From developers to developers
  div.api-consumer-container(layout="row" layout-sm="column")
    div.api-consumer-section(flex="50" flex-sm="100")
      i.material-icons developer_mode
      h2 API consumers
      p These are application developers that uses the API to deliver some part of its application's funtionality.
      p If you are one of these developers, please continue reading this page below.
    div.api-consumer-section(flex="50" flex-sm="100")
      i.material-icons stay_current_portrait
      h2 API developers
      p These are developers from BBVA Staff that implements the API to inegrate with BBVA internal systems.
      p If you are one of these developers, please <a href="/#/apiDeveloperGuide">follow this link</a> to get specific contents.
  div.api-consumer-container(layout="row" layout-sm="column")
    div.api-consumer-section.align-left(flex="100" flex-sm="100")
      div.icon-container
        i.material-icons play_circle_outline
        h2 Let's build an API client
      h3 TL;DR
      p These are the basic steps to start consuming BBVA's API
      ol
        li 
          a(ng-click="apiConsumer.scrollTo('starting-1')") Find an API you’d like to try
        li 
          a(ng-click="apiConsumer.scrollTo('starting-2')") Test it out in the sandbox
        li 
          a(ng-click="apiConsumer.scrollTo('starting-3')") Register to create your own test app
        li 
          a(ng-click="apiConsumer.scrollTo('starting-4')") Get your app into production
        li 
          a(ng-click="apiConsumer.scrollTo('starting-5')") Monitoring
      
      span.badge 1
      h3.badge-title(id='starting-1') Find an API you’d like to try
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-catalog.png" flex="50")
        p(flex="50") Go to "API Catalog" section and browse through the categories to find an API for your scenario.
      span.badge 2
      h3.badge-title(id='starting-2') Test it out in the sandbox
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-documentation.png" flex='50')
        p(flex='50') Each API comes with its own documentation accompanied by test data and a sandbox where you can play around with the code before you go any further.
      span.badge 3
      h3.badge-title(id='starting-3') Register to create your own test app
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-registration.png" flex='50')
        p(flex='50') Once you’re ready, you can <a href="">register for a free account</a> and <a href="">create an app</a> with any combination of APIs you want and get the credentials to use it in the sandbox.
      span.badge 4
      h3.badge-title(id='starting-4') Get your app into production
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-goproduction.png" flex='50')
        p(flex='50') Once you’re ready to move forward and submit your app for approval, submit a <a href="">Production Access Request</a> and work with our team to complete risk reviews, contracts, system configurations, pricing, and billing arrangements.
      span.badge 5
      h3.badge-title(id='starting-5') Monitoring
      .example(layout="row" layout-sm="column")
        img(src="/assets/images/api-monitoring.png" flex='50')
        p(flex='50') At monitoring dashboard you could monitoring API consumption as well as many Key Performance Indicators. You can also could download raw data to analyze with your favourites business intelligence tools.
