
<div class="api-documentation">
  <div class="api-head">
    <h1 class="api-name">CAMPAIGNS<a href="https://grapi.slack.com/" target="_blank">Campaigns Slack<img src="/assets/images/slack.png"/></a></h1>
    <h4 class="base-uri">Base URI:<span>/campaigns/v0</span></h4>
    <h4 class="version">Version:
      <md-select ng-init="api.getTags('glapi-global-apis-products-campaigns')" ng-model="api.selectedVersion" ng-change="api.navigateToTag()" aria-label="version" placeholder="latest">
        <md-option ng-repeat="(key, tag) in api.tags" value="{{tag}}">{{tag}}</md-option>
      </md-select>
    </h4>
    <h4 class="version">GIT Repository:<a ng-href="https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-products-campaigns" target="_blank">https://globaldevtools.bbva.com/bitbucket/projects/glapi/repos/glapi-global-apis-products-campaigns</a></h4>
    <h4 class="version">Download:<a href="https://globaldevtools.bbva.com/bitbucket/rest/archive/latest/projects/glapi/repos/glapi-global-apis-products-campaigns/archive?format=zip"><i class="material-icons iconCloud">&#xE2C0;</i></a></h4>
  </div>
  <div class="resource">
    <h2>DESCRIPTION</h2>
    <p>This API includes services related to the offers available to a client. An offer corresponds to a set of information that a channel can make available to the customer to offer new products or update the products already contracted with the bank. There are also services that allow you to record the events that the client performs on the offers, then classify and analyze them, and thus provide information to the different areas on the management of the offers.
</p>
    <h2>RESOURCES</h2>
    <div id="/offers" class="resource-table">
      <div ng-click="api.hide('/offers')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing offers available to the client.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: offersActiveButton === 'get'}" ng-click="api.showMethod($event, 'offers', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="offers = 'get'; offersActiveButton = 'get'" ng-show="offers === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for retrieving offers available to the client.
</p>
                    <h3>Query Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Values</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">period.endDate</span><span class="type">date-only</span>
                        </td>
                        <td>
                          <p>Filter by expiration date of the offer.
                          </p>
                        </td>
                        <td><i>Any date-only</i>
                        </td>
                        <td><span>2017-06-09</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">expand</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Expand the selected subresource of each offer. Possible values for this parameter are: metrics.
                          </p>
                        </td>
                        <td><i>Any string</i>
                        </td>
                        <td><span>metrics</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="id display-name">id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique offer identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="name display-name">name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name associated with the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="description display-name">description</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Description associated with the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="offerType display-name">offerType</span><span class="type">offerType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Characteristics of the associated offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="offerType.id display-name">offerType.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Unique code associated with the type of offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="offerType.name display-name">offerType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name associated with the type of offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period display-name">period</span><span class="type">period</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Determines the interval time in which the offer will be available.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.startDate display-name">period.startDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format to specify the start date of the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="period.endDate display-name">period.endDate</span><span class="type">date-only</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-8601 date format to specify the end date of the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts display-name">amounts</span><span class="type">amount [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the offer expressed in different currencies.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.amount display-name">amounts.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.amount display-name">amounts.amount.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="amounts.amount display-name">amounts.amount.description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Additional description of the amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="priority display-name">priority</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Defines the priority that each offer has over offers list availables to the client and determines the order in which the offers are presented to the client.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isSimulationAllowed display-name">isSimulationAllowed</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this offer allows making simulations.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isImproved display-name">isImproved</span><span class="type">boolean</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this offer has been improved.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="isShownInDashboard display-name">isShownInDashboard</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag indicating whether this offer is visible in the main section.
DISCLAIMER: Each geographies will decide if the offer still is visible
in the main section or in other section.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product display-name">product</span><span class="type">product</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product information being offered.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.id display-name">product.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.contractId display-name">product.contractId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the contract.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType</span><span class="type">productType</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARDS: Product type is a card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ACCOUNTS: Product type is an account.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOANS: Product type is a loan.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEPOSITS: Product type is a deposit.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INSURANCES: Product type is an insurance.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="product.productType display-name">product.productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="image display-name">image</span><span class="type">image</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Associated image to the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="image.id display-name">image.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Identifier of the image.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="image.name display-name">image.name</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Name of the image.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="image.url display-name">image.url</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'URL to reach the image.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts display-name">additionalProducts</span><span class="type">additionalProducts [ ]</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Additional products that BBVA considers should be offered in conjunction with the main product of the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.id display-name">additionalProducts.id</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Product identifier.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.contractId display-name">additionalProducts.contractId</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Identifier associated to the contract.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.productType display-name">additionalProducts.productType</span><span class="type">productType</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.productType display-name">additionalProducts.productType.id</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Financial product type identifier.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">CARDS: Product type is a card.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">ACCOUNTS: Product type is an account.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">LOANS: Product type is a loan.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DEPOSITS: Product type is a deposit.</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">INSURANCES: Product type is an insurance.</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.productType display-name">additionalProducts.productType.name</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Name of the financial product type.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.isMandatory display-name">additionalProducts.isMandatory</span><span class="type">boolean</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Flag that indicates if the product must be contracted of obligatory form together with the main product of the offer.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.amounts display-name">additionalProducts.amounts</span><span class="type">amount [ ]</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Amount of the additional product expressed in different currencies.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.amounts display-name">additionalProducts.amounts.amount</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.amounts display-name">additionalProducts.amounts.amount.currency</span><span class="type">string</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'String based on ISO-4217 for specifying the currency related to the monetary amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="additionalProducts.amounts display-name">additionalProducts.amounts.amount.description</span><span class="type">string</span>
                                </td>
                                <td><span>Optional</span>
                                </td>
                                <td><span ng-bind-html="'Additional description of the amount.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Examples</h3>
                            <md-select ng-model="selectedExample" aria-label="example" placeholder="Select a example...">
                              <md-option ng-value="'Basic view JSON output example'">Basic view JSON output example</md-option>
                              <md-option ng-value="'Expand JSON output example'">Expand JSON output example</md-option>
                            </md-select>
                            <div class="example">
                              <p ng-show="selectedExample === 'Basic view JSON output example'">JSON output example for the simplest call GET /offers</p>
                              <section ng-show="selectedExample === 'Basic view JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Basic view JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Basic view JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Basic view JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Basic view JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;A35&quot;,
            &quot;name&quot;: &quot;Verano&quot;,
            &quot;description&quot;: &quot;oferta que no podrás rechazar porque no encontrarás otra igual!!!&quot;,
            &quot;offerType&quot;: {
                &quot;id&quot;: &quot;COCR&quot;,
                &quot;name&quot;: &quot;Consumo Clasico Remoto&quot;
            },
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2016-01-01&quot;,
                &quot;endDate&quot;: &quot;2016-03-30&quot;
            },
            &quot;amounts&quot;: [
                {
                    &quot;amount&quot;: 150000,
                    &quot;currency&quot;: &quot;CLP&quot;,
                    &quot;description&quot;: &quot;Desde&quot;
                }
            ],
            &quot;priority&quot;: 1,
            &quot;isSimulationAllowed&quot;: false,
            &quot;isImproved&quot;: true,
            &quot;isShownInDashboard&quot;: true,
            &quot;product&quot;: {
                &quot;id&quot;: &quot;15&quot;,
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;LOANS&quot;
                }
            },
            &quot;image&quot;: {
                &quot;id&quot;: &quot;Offer&quot;,
                &quot;name&quot;: &quot;Image of the Offer&quot;,
                &quot;url&quot;: &quot;http://.../image.jpg&quot;
            },
            &quot;additionalProducts&quot;: [
                {
                    &quot;id&quot;: &quot;12133&quot;,
                    &quot;isMandatory&quot;: false,
                    &quot;amounts&quot;: [
                        {
                            &quot;amount&quot;: 150000,
                            &quot;currency&quot;: &quot;CLP&quot;
                        },
                        {
                            &quot;amount&quot;: 6,
                            &quot;currency&quot;: &quot;CLF&quot;
                        }
                    ],
                    &quot;productType&quot;: {
                        &quot;id&quot;: &quot;ACCOUNTS&quot;
                    }
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Basic view JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;A35&quot;,
            &quot;name&quot;: &quot;Verano&quot;,
            &quot;description&quot;: &quot;oferta que no podrás rechazar porque no encontrarás otra igual!!!&quot;,
            &quot;offerType&quot;: {
                &quot;id&quot;: &quot;COCR&quot;,
                &quot;name&quot;: &quot;Consumo Clasico Remoto&quot;
            },
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2016-01-01&quot;,
                &quot;endDate&quot;: &quot;2016-03-30&quot;
            },
            &quot;amounts&quot;: [
                {
                    &quot;amount&quot;: 150000,
                    &quot;currency&quot;: &quot;CLP&quot;,
                    &quot;description&quot;: &quot;Desde&quot;
                }
            ],
            &quot;priority&quot;: 1,
            &quot;isSimulationAllowed&quot;: false,
            &quot;isImproved&quot;: true,
            &quot;isShownInDashboard&quot;: true,
            &quot;product&quot;: {
                &quot;id&quot;: &quot;15&quot;,
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;LOANS&quot;
                }
            },
            &quot;image&quot;: {
                &quot;id&quot;: &quot;Offer&quot;,
                &quot;name&quot;: &quot;Image of the Offer&quot;,
                &quot;url&quot;: &quot;http://.../image.jpg&quot;
            },
            &quot;additionalProducts&quot;: [
                {
                    &quot;id&quot;: &quot;12133&quot;,
                    &quot;isMandatory&quot;: false,
                    &quot;amounts&quot;: [
                        {
                            &quot;amount&quot;: 150000,
                            &quot;currency&quot;: &quot;CLP&quot;
                        },
                        {
                            &quot;amount&quot;: 6,
                            &quot;currency&quot;: &quot;CLF&quot;
                        }
                    ],
                    &quot;productType&quot;: {
                        &quot;id&quot;: &quot;ACCOUNTS&quot;
                    }
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                            <div class="example">
                              <p ng-show="selectedExample === 'Expand JSON output example'">JSON output example for expanding metrics GET /offers?expand=metrics</p>
                              <section ng-show="selectedExample === 'Expand JSON output example'" layout="row" layout-align="left center" class="container-buttons">
                                <button ng-show="selectedExample === 'Expand JSON output example'" ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-show="selectedExample === 'Expand JSON output example'" ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="selectedExample === 'Expand JSON output example' &amp;&amp; api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter ng-show="selectedExample === 'Expand JSON output example'" json="{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;A35&quot;,
            &quot;name&quot;: &quot;Verano&quot;,
            &quot;description&quot;: &quot;oferta que no podrás rechazar porque no encontrarás otra igual!!!&quot;,
            &quot;offerType&quot;: {
                &quot;id&quot;: &quot;COCR&quot;,
                &quot;name&quot;: &quot;Consumo Clasico Remoto&quot;
            },
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2016-01-01&quot;,
                &quot;endDate&quot;: &quot;2016-03-30&quot;
            },
            &quot;amounts&quot;: [
                {
                    &quot;amount&quot;: 150000,
                    &quot;currency&quot;: &quot;CLP&quot;,
                    &quot;description&quot;: &quot;Desde&quot;
                }
            ],
            &quot;priority&quot;: 1,
            &quot;isSimulationAllowed&quot;: false,
            &quot;isImproved&quot;: true,
            &quot;isShownInDashboard&quot;: true,
            &quot;product&quot;: {
                &quot;id&quot;: &quot;15&quot;,
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;LOANS&quot;
                }
            },
            &quot;image&quot;: {
                &quot;id&quot;: &quot;Offer&quot;,
                &quot;name&quot;: &quot;Image of the Offer&quot;,
                &quot;url&quot;: &quot;http://.../image.jpg&quot;
            },
            &quot;additionalProducts&quot;: [
                {
                    &quot;id&quot;: &quot;12133&quot;,
                    &quot;isMandatory&quot;: false,
                    &quot;amounts&quot;: [
                        {
                            &quot;amount&quot;: 150000,
                            &quot;currency&quot;: &quot;CLP&quot;
                        },
                        {
                            &quot;amount&quot;: 6,
                            &quot;currency&quot;: &quot;CLF&quot;
                        }
                    ],
                    &quot;productType&quot;: {
                        &quot;id&quot;: &quot;ACCOUNTS&quot;
                    }
                }
            ],
            &quot;metrics&quot;: [
                {
                    &quot;eventType&quot;: &quot;ABANDONED&quot;,
                    &quot;times&quot;: 1
                },
                {
                    &quot;eventType&quot;: &quot;CLOSED&quot;,
                    &quot;times&quot;: 10
                },
                {
                    &quot;eventType&quot;: &quot;DISPLAYED&quot;,
                    &quot;times&quot;: 12
                },
                {
                    &quot;eventType&quot;: &quot;SIMULATED&quot;,
                    &quot;times&quot;: 1
                }
            ]
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="selectedExample === 'Expand JSON output example' &amp;&amp; api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;id&quot;: &quot;A35&quot;,
            &quot;name&quot;: &quot;Verano&quot;,
            &quot;description&quot;: &quot;oferta que no podrás rechazar porque no encontrarás otra igual!!!&quot;,
            &quot;offerType&quot;: {
                &quot;id&quot;: &quot;COCR&quot;,
                &quot;name&quot;: &quot;Consumo Clasico Remoto&quot;
            },
            &quot;period&quot;: {
                &quot;startDate&quot;: &quot;2016-01-01&quot;,
                &quot;endDate&quot;: &quot;2016-03-30&quot;
            },
            &quot;amounts&quot;: [
                {
                    &quot;amount&quot;: 150000,
                    &quot;currency&quot;: &quot;CLP&quot;,
                    &quot;description&quot;: &quot;Desde&quot;
                }
            ],
            &quot;priority&quot;: 1,
            &quot;isSimulationAllowed&quot;: false,
            &quot;isImproved&quot;: true,
            &quot;isShownInDashboard&quot;: true,
            &quot;product&quot;: {
                &quot;id&quot;: &quot;15&quot;,
                &quot;productType&quot;: {
                    &quot;id&quot;: &quot;LOANS&quot;
                }
            },
            &quot;image&quot;: {
                &quot;id&quot;: &quot;Offer&quot;,
                &quot;name&quot;: &quot;Image of the Offer&quot;,
                &quot;url&quot;: &quot;http://.../image.jpg&quot;
            },
            &quot;additionalProducts&quot;: [
                {
                    &quot;id&quot;: &quot;12133&quot;,
                    &quot;isMandatory&quot;: false,
                    &quot;amounts&quot;: [
                        {
                            &quot;amount&quot;: 150000,
                            &quot;currency&quot;: &quot;CLP&quot;
                        },
                        {
                            &quot;amount&quot;: 6,
                            &quot;currency&quot;: &quot;CLF&quot;
                        }
                    ],
                    &quot;productType&quot;: {
                        &quot;id&quot;: &quot;ACCOUNTS&quot;
                    }
                }
            ],
            &quot;metrics&quot;: [
                {
                    &quot;eventType&quot;: &quot;ABANDONED&quot;,
                    &quot;times&quot;: 1
                },
                {
                    &quot;eventType&quot;: &quot;CLOSED&quot;,
                    &quot;times&quot;: 10
                },
                {
                    &quot;eventType&quot;: &quot;DISPLAYED&quot;,
                    &quot;times&quot;: 12
                },
                {
                    &quot;eventType&quot;: &quot;SIMULATED&quot;,
                    &quot;times&quot;: 1
                }
            ]
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services delete">DELETE</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing the information of a specific offer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="delete" ng-class="{active: offersofferidActiveButton === 'delete'}" ng-click="api.showMethod($event, 'offersofferid', 'delete')" class="md-primary button-menu">delete</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="delete" ng-init="offersofferid = 'delete'; offersofferidActiveButton = 'delete'" ng-show="offersofferid === 'delete'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='delete'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to remove an offer.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>A354</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}/metrics" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}/metrics')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}/metrics</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services get">GET</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/metrics'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for measuring, classify and analyze the events that an user performs on his offers.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="get" ng-class="{active: offersofferidmetricsActiveButton === 'get'}" ng-click="api.showMethod($event, 'offersofferidmetrics', 'get')" class="md-primary button-menu">get</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="get" ng-init="offersofferidmetrics = 'get'; offersofferidmetricsActiveButton = 'get'" ng-show="offersofferidmetrics === 'get'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/metrics'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='get'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method to retrieving the metrics related to an offer.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>A354</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="200">
                          <md-content class="md-padding tab-content">
                            <h3>Body</h3>
                            <table>
                              <caption>Properties</caption>
                              <tr>
                                <th>Name</th>
                                <th>Provided</th>
                                <th>Description</th>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="eventType display-name">eventType</span><span class="type">enum</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Type of event related to the offer.
'"></span>
                                  <div class="enum"><strong>Possible values:</strong>
                                    <ul>
                                      <li><span class="value">ABANDONED: Offer closed before completion</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">CLOSED: Offer closed without doing any other action</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">DISPLAYED: Case where the user sees the detail of the offer</span></li>
                                    </ul>
                                    <ul>
                                      <li><span class="value">SIMULATED: Simulated offer</span></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr style="display:">
                                <td class="mono"><span class="times display-name">times</span><span class="type">number</span>
                                </td>
                                <td><span>Required</span>
                                </td>
                                <td><span ng-bind-html="'Number of times the event was run.
'"></span>
                                  <div class="enum">
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <h3>Example</h3>
                            <div class="example">
                              <section layout="row" layout-align="left center">
                                <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                                <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                              </section>
                              <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                                <json-formatter json="{
    &quot;data&quot;: [
        {
            &quot;eventType&quot;: &quot;ABANDONED&quot;,
            &quot;times&quot;: 1
        },
        {
            &quot;eventType&quot;: &quot;CLOSED&quot;,
            &quot;times&quot;: 10
        },
        {
            &quot;eventType&quot;: &quot;DISPLAYED&quot;,
            &quot;times&quot;: 12
        },
        {
            &quot;eventType&quot;: &quot;SIMULATED&quot;,
            &quot;times&quot;: 1
        }
    ]
}" open="3" class="json-formatter-dark"></json-formatter>
                              </div>
                              <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                                <pre>{
    &quot;data&quot;: [
        {
            &quot;eventType&quot;: &quot;ABANDONED&quot;,
            &quot;times&quot;: 1
        },
        {
            &quot;eventType&quot;: &quot;CLOSED&quot;,
            &quot;times&quot;: 10
        },
        {
            &quot;eventType&quot;: &quot;DISPLAYED&quot;,
            &quot;times&quot;: 12
        },
        {
            &quot;eventType&quot;: &quot;SIMULATED&quot;,
            &quot;times&quot;: 1
        }
    ]
}</pre>
                              </div>
                            </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Content</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="404">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Not Found</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}/user-events" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}/user-events')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}/user-events</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/user-events'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service to managing the actions that an user performs over an offer.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: offersofferidusereventsActiveButton === 'post'}" ng-click="api.showMethod($event, 'offersofferiduserevents', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="offersofferiduserevents = 'post'; offersofferidusereventsActiveButton = 'post'" ng-show="offersofferiduserevents === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/user-events'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for recording the actions or events that an user performs over an offer.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>A354</span></td>
                      </tr>
                    </table>
                    <h3>Body</h3>
                    <table>
                      <caption>Properties</caption>
                      <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Description</th>
                      </tr>
                      <tr style="display:">
                        <td class="mono"><span class="eventType display-name">eventType</span><span class="type">enum</span>
                        </td>
                        <td><span>Required</span>
                        </td>
                        <td><span ng-bind-html="'Unique identifier of the event associated with the offer.
'"></span>
                          <div class="enum"><strong>Possible values:</strong>
                            <ul>
                              <li><span class="value">ABANDONED: Offer closed before completion</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">CLOSED: Offer closed without doing any other action</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">DISPLAYED: Case where the user sees the detail of the offer</span></li>
                            </ul>
                            <ul>
                              <li><span class="value">SIMULATED: Simulated offer</span></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <h3>Example</h3>
                    <div class="example">
                      <section layout="row" layout-align="left center">
                        <button ng-click="api.showTypeExample = 'object'" ng-class="{active: api.showTypeExample === 'object'}">Object</button>
                        <button ng-click="api.showTypeExample = 'json'" ng-class="{active: api.showTypeExample === 'json'}">JSON</button>
                      </section>
                      <div ng-show="api.showTypeExample === 'object'" class="example-viewer">
                        <json-formatter json="{
    &quot;eventType&quot;: &quot;ABANDONED&quot;
}" open="3" class="json-formatter-dark"></json-formatter>
                      </div>
                      <div ng-show="api.showTypeExample === 'json'" class="example-viewer json">
                        <pre>{
    &quot;eventType&quot;: &quot;ABANDONED&quot;
}</pre>
                      </div>
                    </div>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
    <div id="/offers/{offer-id}/contact-requests" class="resource-table">
      <div ng-click="api.hide('/offers/{offer-id}/contact-requests')" layout="row" class="table-head">
        <div flex="50">
          <h3 class="resource-uri">/offers/{offer-id}/contact-requests</h3>
        </div>
        <div flex="50"><i class="material-icons">play_circle_outline</i>
          <label class="type-of-services post">POST</label>
          <div ng-repeat="i in api.flags">
            <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/contact-requests'">
              <div ng-repeat="ii in value">
                <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-body">
        <div class="description">
          <h3>Description</h3>
          <p>Service for managing assistance requests about a specific offer to a contact center.
</p>
        </div>
        <div class="methods">
          <h3>Methods</h3>
          <section layout="column" flex="flex" class="methods-table">
            <div layout="row" flex="flex" class="nav-method md-whiteframe-z1">
              <div flex="20" class="nav-title">
                <h3>Method</h3>
              </div>
              <div flex="80" class="button-method-container">
                <button id="post" ng-class="{active: offersofferidcontactrequestsActiveButton === 'post'}" ng-click="api.showMethod($event, 'offersofferidcontactrequests', 'post')" class="md-primary button-menu">post</button>
              </div>
            </div>
            <md-content flex="flex" class="md-whiteframe-z1">
              <div id="post" ng-init="offersofferidcontactrequests = 'post'; offersofferidcontactrequestsActiveButton = 'post'" ng-show="offersofferidcontactrequests === 'post'" class="method-wrapper">
                <h1 style="padding: 16px;background: #BBDEFB;margin-top: 0px;" layout="row" class="title">Request
                  <div ng-repeat="i in api.flagsMethod">
                    <div ng-repeat="(key, value) in i" ng-if="key=='/offers/{offer-id}/contact-requests'">
                      <div ng-repeat="ii in value" style="display:inline-block; margin-left: 10px;">
                        <div class="conteiner-flag"><img ng-src="/assets/flags/{{ ii.country | lowercase}}.png" ng-if="ii.method=='post'" style="width:40px; height:40px;" ng-style="ii.status === 'W' || ii.status === 'M' ? {opacity:0.5} : {opacity:1}"/>
                          <md-tooltip md-direction="top" md-delay="0" ng-if="ii.version">{{ii.version}} </md-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                </h1>
                <div class="request">
                  <div class="content">
                    <h3>Description</h3>
                    <p>Method for requesting assistance about a specific offer to a contact center.
</p>
                    <h3>URI Parameters</h3>
                    <table class="table-query-parameters">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example</th>
                      </tr>
                      <tr>
                        <td class="mono"><span class="display-name">offer-id</span><span class="type">string</span>
                        </td>
                        <td>
                          <p>Unique offer identifier</p>
                        </td>
                        <td><span>A354</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h1 style="padding: 16px;background: #BBDEFB;margin: 0px;" class="title">Response</h1>
                <div class="response">
                  <div class="content">
                    <div class="method-container">
                      <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                        <md-tab label="204">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>No Content.</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="400">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Bad Request</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="401">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Unauthorized</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="403">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Forbidden</p>
                          </md-content>
                        </md-tab>
                        <md-tab label="500">
                          <md-content class="md-padding tab-content">
                            <h3>Description</h3>
                            <p>Server Error</p>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>