#itemdashboard1 {
    height: 450px;
    background: url('/assets/images/dashboard.jpg') 50% 70% no-repeat;
    background-size: cover;
}
.dashboard-mark {
    //width: 110%;
    //border-width: 2px;
    //border-color: #094FA4;
    border: 0; height: 2px; text-align: center; background-image: linear-gradient(left, #fff, #094FA4, #fff);
}
.dashboard {
  padding: 64px 100px;
  .title {
    text-align: center;
    color: #16366F;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    font-size: 46px;
    line-height: 28px;
    margin: 16px auto;
    padding-top: 20px;
  }
  .sub-title {
    text-align: center;
    color: #616161;
    font-size: 16px;
    position: relative;
    opacity: 1;
    font-weight: bold;
    width: auto;
    line-height: 28px;
    margin: 16px auto;
  }
  background-color: #094fa4;
}
  .dashboard .title {
    color: #FFFFFF !important;
    font-family: Roboto Slab;
  }
  .dashboard .sub-title {
    color: #FFFFFF !important;
    font-family: Roboto Slab;
    font-weight: lighter;
    max-width: 800px;
  }
  .dashboard-container {
    a {
       font-weight: bold;
       color: #0065B7;
    }
    .dashboard-section {
      text-align: center;
      padding: 0px 30px;
      ol {
        text-align: initial;
        li {
          font-weight: bold;
          font-family: Roboto Slab;
          span {
            font-weight: normal;
            font-family: Roboto Slab;
            margin-left: 10px;
          }
        }
      }
      h2 {
        color: #16366F;
        text-align: left;
      }
      h3 {
        color: #363636;
        text-align: left;
        font-weight: normal;
      }
      i {
        color: #16366F;
        font-size: 71px;
        width: auto;
      }
    }
  }
.how-dashboard-work {
  min-height: 180px;
}

.areasDashboard {
  padding: 32px 100px;
}
  .gridcontainer {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
    .grid-row {
      margin-left: -10px;
      margin-right: -10px;
      display: block;
    }
      .gridcontainer [class*=grid-col-lg] {
        position: relative;
        float: left;
        display: block;
      }
        .areasDashboard .tabsMenu {
          display: table;
          width: 100%;
          border-spacing: 0;
          font-size: 1em;
          border: 1px solid #c8c7c4;
          margin-top: -114px;
          position: relative;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 0px;
        }
          .areasDashboard .tabsMenu li.activo, .areasDashboard .tabsMenu li.activo:hover {
            background-color: #fff;
          }
          .areasDashboard .tabsMenu li.activo, .areasDashboard .tabsMenu li.activo:focus {
            width:0px;height:0px;outline:0px;
          }
            .areasDashboard .tabsMenu li:first-child {
                border-left: none;
            }
            .areasDashboard .tabsMenu li {
                font-size: 1em;
                display: table-cell;
                text-align: center;
                color: #363636;
                cursor: pointer;
                border-left: 1px solid #c8c7c4;
                background-color: #e1e0de;
                border-collapse: collapse;
                height: 70px;
                vertical-align: middle;
                position: relative;
                padding-top: 10px;
                overflow: visible;
            }
              .areasDashboard .tabsMenu li h2 {
                font-size: 20px;
                font-family: Roboto Slab;
              }

.chartDescription{
  position:absolute;
  margin-left:600px;
  margin-right:95px;
  margin-top:125px;
}

.ancla{
  float: right;
  margin-top: -100px;
}
@media handheld and (max-width: 480px),
screen and (max-device-width: 480px),
screen and (max-width: 800px) {
  .dashboard {
    padding: 50px 30px;
  }
}
