.activity-section(layout="row" layout-align="center center")
  .container
    #myCarousel.carousel.slide(data-ride='carousel')
      .carousel-inner(role='listbox')
        #itemdashboard1.item.active
          .title
div
  section.dashboard.how-dashboard-work
    h1.title Dashboards
    h3.sub-title
      | We measure ourselves to evolve
  section.areasDashboard#Articles
    .dashboard-container(layout-sm"column" layout"row")
      .dashboard-section(flex-sm="100" flex="100" data-show='0')
        .containertabsMenu
          ul.tabsMenu#tabsMenu
            li.activo(data-show='0' data-onlyscroll='false' ng-click="invocations.selectTab('0')" style='width: 300px;')
              h2(style='text-align:center;') Global API Catalog
            li(data-show='6' data-onlyscroll='false' ng-click="invocations.selectTab('6')" style='width: 300px;')
              h2(style='text-align:center;') Spain
    article(data-show='0')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Global API Catalog Dashboards
            h3(style='text-align:center') Results collected in October 2016
          div
            div.chartDescription
              h2 How many local services are consumed by country?
              h3 Countries running on ASO architecture
            div#invocationsGlobalCatalog3

    article(data-show='6' style='display:none;')
      div.dashboard-container(layout="row" layout-sm="column")
        div.dashboard-section(flex="100" flex-sm="100")
          p.areas-title
            strong Spain Services Consumed Dashboards
            h3(style='text-align:center') Results collected in October 2016
          div
            div.chartDescription
              h2 How many local services are being consumed by month?
              h3 Data represented in millions
            div#invocationsSpain2
          hr.dashboard-mark
          div
            div.chartDescription
              h2 How many local services are being consumed by APP?
              h3 Data represented in millions
            div#spainConsumptions1
          hr.dashboard-mark
          div
            div.chartDescription
              h2 Top local services being consumed by Personal Internet Banking App
              h3 Data represented in millions
            div#spainConsumptions2
          hr.dashboard-mark
          
